.post-attachment {
  &__text {
    padding: 10px 0;
    border-top: 1px solid color(gray, light);
    font-size: 0.9rem;
    &__link{

    }
  }

  &__image {
      // content: '';
      // float:left;
      // width: 60px;
      // height: 60px;
      // background-image: url(shape-urls-get(paperclip));
      // background-size: contain;
      // background-repeat: no-repeat;
  }
}
