.post-authors{
    height: 175px;
    overflow: hidden;
    padding-top: 15px;
    @include media-breakpoint(tablet){
      @include flex-order(1);
    }

    @include media-breakpoint(desktop){
      height: auto;
      overflow: visible;
    }

  &__list{
    overflow-x: scroll;
    height: calc(100% + 25px);
    padding-bottom: 25px;
    width: 100%;
    white-space: nowrap;
    .author{
      white-space: normal;
      display: inline-block;
      max-width: calc(50vw - 20px);
      @include media-breakpoint(tablet){
        width: 200px;
      }

      @include media-breakpoint(desktop){
        display: block;
        width: auto;
      }
    }
  }
}
