.postpage .post-heading{
  margin: 0 auto;
}

.post-heading__image img {
  width: 100%;
  height: auto;
}

.policypaperpage .post-heading__text,
.bookpage .post-heading__text{
  text-align: center;
}
