.post-heading{
  position: relative;
  width: 100%;
  margin: 50px 0 75px 0;


  &__image{
    background-size: cover;
    @extend %with-overlay;
    width: 100%;
		height: 100%;
		position: relative;
		z-index: 0;
  }

  &__text{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    &__heading{
      margin-bottom: 10px;
    }
    &__button{
      display: inline-block;
      margin-top: 10px;
    }
  }

  &.with-image{
      height: 350px;
      margin: 50px 0 50px 0;

    .post-heading__text{
      position: absolute;
      @include center;

      &__heading{
        color: color(white);
        text-shadow: 0px 3px 3px color(black, base, .5);
      }

      &__subheading{
        color: color(white);
      }
    }
  }
}
