.post-heading__wrapper{
  margin: 0 auto;
}

.post-heading__image img {
  width: 100%;
  height: auto;
}

.template-policypaper .post-heading__text,
.template-book .post-heading__text{
  text-align: center;
}
