a:not(.button) {
  font-weight: bold;
  border-bottom: 1px solid color(black, base, .65);
  padding-bottom: 2px;
  opacity: 1;
  color: color(black);

  &:hover{
    color: color(turquoise);
    border-bottom: 1px solid color(turquoise);
  }
}
