.responsive-object {
  margin-bottom: 20px;
  @include responsive-iframe(60%);

  a[href^="http://www.ustream.tv/"][target=_blank] {
    display: none !important;
  }

  @include media-breakpoint(tablet) {
    $default-height: 325px;
    float: left;
    position: static;
    height: $default-height;
    width: 100%;
    padding-bottom: 0px !important;

    iframe {
      position: static;
      width: 475px !important;
      height: $default-height !important;
    }
  }
}
