@import 'heading';
@import 'attachment';

.post-body {
  $media-padding: 20px;
  $media-default-aspect: 1;
  // padding-top:$desktop-padding;
  margin-bottom: $desktop-padding;

  &__hidden {
    display: none;
  }

  &__source{
    display: block;
    margin-bottom: 10px;
    font-style: italic;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  [class*="block-"]:nth-child(2){
    // date label is 1st child
    margin-top: 25px;
  }

  @import 'drop-cap';
  @import 'link';
  @import 'lists';
  @import 'data-reference';
  @import 'responsive-object';
  @import 'toggles';
  @import 'blocks/index';
}
