@import 'attachment';

.post-body {
  & > *:first-child {
    margin-top: 0 !important;

    & > *:first-child {
      margin-top: 0 !important;
    }
  }

  @import 'drop-cap';
  @import 'lists';
  @import 'data-reference';
  @import 'responsive-object';
  @import 'toggles';
}

.postpage .post-body{
  max-width: 700px;
  margin: 0 auto;
}

@import 'blocks/index';
