@mixin is-full-width {
   	.full-width & {
     	@content;
     }
}
@mixin is-with-sidemenu-width {
   	.with-sidemenu-width & {
     	@content;
     }
}
	
.picture-grid__entry, .picture-grid__full-image-entry {
	@include breakpoint(medium) {
		$num_columns: 2;
		min-width: 280px;
		width: calc((100% - #{$num_columns * $picture-grid-padding})/#{$num_columns});
		float: left;
		margin: $picture-grid-padding;

		&:nth-of-type(odd) {
			margin-left: 0px;
			margin-right: $picture-grid-padding;
		}
		&:nth-of-type(even) {
			margin-left: $picture-grid-padding;
			margin-right: 0px;
		}
		
		border: 2px solid palette-get(na-black-10);

		$box-shadow: 0px 0px 15px 0px palette-get(na-black-10);
		-webkit-box-shadow: $box-shadow;
			-moz-box-shadow: $box-shadow;
			box-shadow: $box-shadow;
	}

	@include is-with-sidemenu-width {
		@media screen and (min-width: 1250px) {
			$num_columns: 3;
			width: calc((100% - #{4 * $picture-grid-padding})/#{$num_columns});

			&:nth-of-type(3n+1) {
				margin-left: 0px;
				margin-right: $picture-grid-padding;
			}
			&:nth-of-type(3n+2) {
				margin-left: $picture-grid-padding;
				margin-right: $picture-grid-padding;
			}
			&:nth-of-type(3n+0) {
				margin-left: $picture-grid-padding;
				margin-right: 0px;
			}
		}
	}


	@include is-full-width {
		@include breakpoint(large) {
			$num_columns: 3;
			width: calc((100% - #{4 * $picture-grid-padding})/#{$num_columns});

			&:nth-of-type(3n+1) {
				margin-left: 0px;
				margin-right: $picture-grid-padding;
			}
			&:nth-of-type(3n+2) {
				margin-left: $picture-grid-padding;
				margin-right: $picture-grid-padding;
			}
			&:nth-of-type(3n+0) {
				margin-left: $picture-grid-padding;
				margin-right: 0px;
			}
		}
	}

	@include is-full-width {
		@include breakpoint(xlarge) {
			$num_columns: 4;
			width: calc((100% - #{6 * $picture-grid-padding})/#{$num_columns});

			&:nth-of-type(4n+1) {
				margin-left: 0px;
				margin-right: $picture-grid-padding;
			}
			&:nth-of-type(4n+2) {
				margin-left: $picture-grid-padding;
				margin-right: $picture-grid-padding;
			}
			&:nth-of-type(4n+3) {
				margin-left: $picture-grid-padding;
				margin-right: $picture-grid-padding;
			}
			&:nth-of-type(4n+0) {
				margin-left: $picture-grid-padding;
				margin-right: 0px;
			}
		}
	}
}

.picture-grid__entry {
	$entry-height: 500px;
	$entry-image-height: 200px;
	$entry-text-height: $entry-height - $entry-image-height - $desktop-padding;

	height: 100%;

	@include breakpoint(medium) {
		height: $entry-height;
	}

	&__image-container {
		width:100%;
		height:$entry-image-height;
		overflow:hidden;
		background-size: cover;
		background-position: 50% 50%;
	}

	&__text-container {
		@include breakpoint(medium) {
			width:100%;
			height:100%;
			&.has-image {
				height:$entry-text-height;
			}
		}
		text-align: center;
		overflow: hidden;
		@include handle-text-overflow;
		padding: $desktop-padding;
		position: relative;
		background-color: white;
		transform: translateY(0%);
		-webkit-transform:translateY(0%);
    	-ms-transform:translateY(0%);
   		transition: transform .35s ease-out, height .3s ease-out;
   		-webkit-transition: -webkit-transform .35s ease-out, height .3s ease-out;
	    -moz-transition: transform .35s ease-out, height .2s ease-out;
	    -o-transition: transform .35s ease-out, height .2s ease-out;
	}

	&__text-fadeout {
		$linear-gradient: rgba(255, 255, 255, 0) 0%,
	        rgba(255, 255, 255, 1) 60%;
		z-index: 1000;
		position: absolute;
		width: 100%;
		height: 45px;
		bottom: -25px;
		background: -webkit-linear-gradient($linear-gradient); 
	    background-image: -moz-linear-gradient($linear-gradient);
	    background-image: -o-linear-gradient($linear-gradient);
	    background-image: linear-gradient($linear-gradient);
	    background-image: -ms-linear-gradient($linear-gradient);

	    display: none;
	    @include breakpoint(medium) {
	    	display: block;
	    }

	}

	&__description, &__description a {
		@include program-and-content-type-text;
	}

	&__date-time {
		color: palette-get(na-black);
		font-weight: bold;
		font-size: 15px;
		margin-bottom: 0px;

		p {
			line-height: 130%;
			margin:0px;
		}
	}

	&__location {
		color: palette-get(na-black-30);
		font-weight: bold;
		font-size: 15px;
	}

	&__title, &__title a {
		@include grid-title-text;
	}

	&__title {
		padding: 8px 0px;
	}

	&__body {
		color: palette-get(na-black-70);
		font-weight: normal;
		font-size: 17px;
		font-family: "Simplon";
		line-height: 130%;
		margin-bottom: 0px;
		display: none;

		@include breakpoint(medium) {
			display: block;
		}
	}

	&__break {
		border: none;
		height: 2px;
		width: 30%;
		color: palette-get(na-black-10);
		background-color: palette-get(na-black-10);
		display: none;

		@include breakpoint(medium) {
			display: inline-block;
		}
	}

	&__button {
		@include set-color(background-color);
		z-index: 5000;
		margin-top: $desktop-padding;
		display: none;
		position: relative;

		@include breakpoint(medium) {
			display: inline-block;
			
		}
	}
}

.picture-grid__full-image-entry {
	$entry-height: 350px;
		
	height: $entry-height;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-color: palette-get(na-turquoise);

	&__wrapper {
		position: relative;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,.4);
		&:hover {
			background-color: rgba(0,0,0,.6);
		}
	}

	&__text {
		position: relative;
		
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		padding: $desktop-padding;

		* {
			color: white !important;
			display: block;
		}
	}
}

.hide-first {
	& > .picture-grid__entry, & > .picture-grid__full-image-entry {
		@include breakpoint(medium) {
			&:first-child {
				display: none;
			}
			&:nth-of-type(even) {
				margin-left: 0px;
				margin-right: $picture-grid-padding;
			}
			&:nth-of-type(odd) {
				margin-left: $picture-grid-padding;
				margin-right: 0px;
			}
			
		}

		@include breakpoint(large) {
			
			&:nth-of-type(3n+2) {
				margin-left: 0px;
				margin-right: $picture-grid-padding;
			}
			&:nth-of-type(3n+0) {
				margin-left: $picture-grid-padding;
				margin-right: $picture-grid-padding;
			}
			&:nth-of-type(3n+1) {
				margin-left: $picture-grid-padding;
				margin-right: 0px;
			}
			
		}
	
		@include breakpoint(xlarge) {
			
			&:nth-of-type(4n+2) {
				margin-left: 0px;
				margin-right: $picture-grid-padding;
			}
			&:nth-of-type(4n+3) {
				margin-left: $picture-grid-padding;
				margin-right: $picture-grid-padding;
			}
			&:nth-of-type(4n+0) {
				margin-left: $picture-grid-padding;
				margin-right: $picture-grid-padding;
			}
			&:nth-of-type(4n+1) {
				margin-left: $picture-grid-padding;
				margin-right: 0px;
			}
			
		}
	
	}
}