<script type="text/javascript">
  newamericadotorg.actions.addAdHocObserver({
    stateName: 'activePanel',
    onChange: function(state, prevState){
      if(prevState) prevState.classList.remove('active');
      if(state) state.classList.add('active');
    }
  });

  let panelScrollWrapper = document.getElementById('panel-anchor-scroll-wrapper');
  newamericadotorg.actions.addScrollEvent({
    selector: '.panel-section',
    offset: -55,
    onEnter: function(el){
      var activePanel = document.getElementById('panel-nav-link__' + el.getAttribute('id'));
      newamericadotorg.actions.setAdHocState({ activePanel: activePanel });
      newamericadotorg.actions.smoothScroll(activePanel, {
        el: panelScrollWrapper,
        direction: 'horizontal',
        offset: -5
      });
    }
  });
</script>
