<script type="text/javascript">
  var panelScrollWrapper = document.getElementById('panel-anchor-scroll-wrapper'),
  subheader = document.querySelector('.header__subheader'),
  panelToggle = document.querySelector('.subheader__toggle'),
  panelNavLinks = document.querySelectorAll('.panel-nav__anchor-link');

  panelToggle.onclick = function(){
    newamericadotorg.actions.setState(
      'site.subheader.mobileMenuIsOpen',
      !newamericadotorg.actions.getState('site.subheader.mobileMenuIsOpen')
    );
  }

  panelNavLinks.forEach(function(p){
    p.onclick = function(){
      newamericadotorg.actions.setState('site.subheader.mobileMenuIsOpen', false);
    }
  });

  newamericadotorg.actions.addObserver({
    stateName: 'site.subheader.activePanel',
    onChange: function(state, prevState){
      if(prevState) prevState.el.classList.remove('active');
      if(state) state.el.classList.add('active');
    }
  });

  newamericadotorg.actions.addObserver({
    stateName: 'site.subheader.mobileMenuIsOpen',
    onChange: function(isOpen){
        if(isOpen) subheader.classList.add('open');
        else subheader.classList.remove('open');
    }
  });

  newamericadotorg.actions.addScrollEvent({
    selector: '.panel-section',
    offset: -70,
    onEnter: function(el){
      var activePanel = document.getElementById('panel-nav-link__' + el.getAttribute('id'));
      newamericadotorg.actions.setState('site.subheader.activePanel', { el: activePanel });
      newamericadotorg.actions.smoothScroll(activePanel, {
        el: panelScrollWrapper,
        direction: 'horizontal',
        offset: -15
      });
    }
  });
</script>
