.tabs{
  text-align: left;

  @include media-breakpoint(tablet){
    display: inline-block;
    width: 460px;
  }

  &__tab{
    padding-top: 15px;
    padding-bottom: 25px;

    &__list-item{
      font-size: 0.93rem;
      padding-top: 6px;
      padding-bottom: 6px;
      border-bottom: $border;
      @include media-breakpoint(tablet){
        max-width: 280px;
      }
    }
  }
}
