.tabs{
  text-align: middle;

  @include media-breakpoint(tablet){
    display: inline-block;
    width: 460px;
  }

  &__tab{
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;

    &__list-item{
      font-size: 0.93rem;
      border-bottom: $border-light;

      a {
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        width: 100%;
        height: 100%;
      }

      @include media-breakpoint(tablet){
        max-width: 280px;
      }
    }
  }
}
