.header__nav__mobile{
  display: block;
  @include media-breakpoint(desktop){
    display: none;
  }
}

.header__nav__mobile-menu-toggle{
  text-align: right;
  .fa{
    color: color(black);
    font-size: 1.8rem;
    line-height: $header-height;
  }

  .fa-times {
    display: none;
  }

  @include media-breakpoint(desktop){
    display: none;
  }
}

.mobile-menu{
  position: fixed;
  z-index: 2;
  text-align: center;
  //top: $header-height;
  top: 0;
  @include transform(translateY(-120%));
  //bottom: 0;
  //right: -115vw;
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  width: 100vw;
  padding: 15px 25px;
  background: color(white);
  border-bottom: $border;
  box-shadow: 0 0 25px 0 color(black, base, 0.35);
  @include transition(transform 0.3s ease);

  @include media-breakpoint(desktop){
    display: none;
  }
}

body.mobile-menu-open{
  overflow: hidden;
  position: fixed;

  .header__nav__mobile{
    display: block;
  }

  .header .fa-ellipsis-v {
    display: none;
  }

  .header .fa-times{
    display: inline-block;
  }

  .mobile-menu{
    @include transform(translateY($header-height));
  }
}

.header--expanded.mobile-menu-open{
  .mobile-menu{
    @include transform(translateY(100px));
    border-top: $border;
  }
}

@import 'tabs';
