.row
  .small-12.medium-6.columns
    .border-panel
      .border-panel__item
        .border-panel__content
          h1 Subscribe to New America Weekly!
          p Get our weekly digital magazine and events lineup in your inbox
          #subscribe
            input#subscribe__email-field(type='text', placeholder='Your e-mail')
            button#subscribe__link.button Sign up
            #subscribe__modal-container
  .small-12.medium-6.columns
    .border-panel
      ul
        li.border-panel__item
          .border-panel__info
            | Policy Paper - January 18, 2016
          .border-panel__content
            h1 ISIS in the West
            p A new policy paper investigates Westerners drawn to Jihadist groups
            .button Attend Event
        li.border-panel__item
          .border-panel__info
            | Policy Paper - January 18, 2016
          .border-panel__content
            h1 ISIS in the West
            p A new policy paper investigates Westerners drawn to Jihadist groups
        li.border-panel__item
          .border-panel__info
            | Policy Paper - January 18, 2016
          .border-panel__content
            h1 ISIS in the West
            p A new policy paper investigates Westerners drawn to Jihadist groups