footer.footer
  .footer__info
    p New America® is a registered trademark
  .footer__main-nav
    ul
      li
        a(href='https://newamerica.org') Contact
      li
        a(href='https://newamerica.org') Jobs
      li
        a(href='https://newamerica.org') Policies and Procedures
      li
        a(href='https://newamerica.org') Creative Commons
  .footer__social-nav
    ul
      li
        a(href='https://newamerica.org') Facebook
      li
        a(href='https://newamerica.org') Twitter
      li
        a(href='https://newamerica.org') LinkedIn