header.header
  .header__content
    a(class='header__logo',href='/')
      include ./svg/new-america.jade
      h1 New America

    .header__sub-logo
      h1 Education Policy

    .header__secondary-nav
      ul
        each link in [ 'Jobs', 'Subscribe', 'Press', 'Contact' ]
          li
            a(href='')= link

    .mobile-nav
      ul
        li.mobile-nav__button.mobile-nav__button--active
          i.icon-i_new-america
        li.mobile-nav__button
          i.icon-i_calendar
        li.mobile-nav__button
          i.icon-i_book
        li.mobile-nav__button
          i.icon-i_people
        li.mobile-nav__button
          i.icon-i_award
        li.mobile-nav__button
          i.icon-i_heart
        li.mobile-nav__button
          i.icon-i_magnifying-glass

    nav.header__main-nav
      ul
        li.header__main-nav__item
          a.header__button.header__button--dropdown.button Programs
          .header__link-group
            .header__link-group__content
              .row
                .small-12.large-9.columns
                  .row
                    .small-12.large-12.columns
                      h1.header__link-group__heading Programs and Initiatives
                  .row
                    .small-12.large-4.columns
                    .small-12.large-4.columns
                    .small-12.large-4.columns
                .small-12.large-3.columns
                  .row
                    .small-12.large-12.columns
                      h1.header__link-group__heading By Location
                      each office in [ 'Washington DC Head Office', 'New America NYC', 'New America California', 'New America Chicago' ]
                        a.header__link-group__main-element(href='')= office 

        li.header__main-nav__item
          a.header__button.button(href='/events') Events
        li.header__main-nav__item
          a.header__button.button Our Work
        li.header__main-nav__item
          a.header__button.button(href='/experts') Experts
        li.header__main-nav__item
          a.header__button.header__button--dropdown.button About
          .header__link-group
            .header__link-group__content
        li.header__main-nav__item
          a.header__button.button Donate
    .header__search
      form(action='', method='get')
        input(type='text', placeholder='Search')