.hero-grid.has-4-children
  .hero-grid__main
    .hero-grid__element
      .hero-grid__element__wrapper
        .hero-grid__element__background(style='background-image: url(https://40.media.tumblr.com/b534bd03d1a36510d3cc17817672aa9a/tumblr_np58ozBk0E1tpfl1vo1_1280.jpg)')
        .hero-grid__element__overlay
        .hero-grid__element__text-bar
          p Anne-Marie Slaughter
          h1 A Settlement For Syria
  .hero-grid__secondary.has-3-children
    .hero-grid__element
      .hero-grid__element__wrapper
        .hero-grid__element__background(style='background-image: url(http://graphics8.nytimes.com/images/2016/01/11/us/11firstdraft-clinton/11firstdraft-clinton-tmagArticle.jpg)')
        .hero-grid__element__overlay
        .hero-grid__element__text-bar
          p Julian Zelizer
          h1 Hillary Clinton's Defining Moment
    .hero-grid__element
      .hero-grid__element__wrapper
        .hero-grid__element__background(style='background-image: url(http://climatedesk.org/wp-content/uploads/2014/02/drought670x380.jpg)')
        .hero-grid__element__overlay
        .hero-grid__element__text-bar
          p Heather Hurlburt
          h1 How Evangelicals Spread The Gospel Of Climate Change
    .hero-grid__element
      .hero-grid__element__wrapper
        .hero-grid__element__background(style='background-image: url(http://climatedesk.org/wp-content/uploads/2014/02/drought670x380.jpg)')
        .hero-grid__element__overlay
        .hero-grid__element__text-bar
          p Heather Hurlburt
          h1 How Evangelicals Spread The Gospel Of Climate Change