.section
  ul.breadcrumbs
    li
      a(href='/') Education Policy
    li
      a(href='/') Our Work
  .press-releases
    h1.press-releases__title
      | Press releases
    ul.nav-circles
      li.nav-circles__circle.nav-circles__circle--active
      li.nav-circles__circle
      li.nav-circles__circle
      li.nav-circles__circle
      li.nav-circles__circle
    .hero-grid
      .hero-grid__thirds
        each val in [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
          .hero-grid__element
            .hero-grid__element__wrapper
              .hero-grid__element__background(style='background-image: url(http://graphics8.  nytimes.com/images/2016/01/11/us/11firstdraft-clinton/11firstdraft-clinton-  tmagArticle.jpg)')
              .hero-grid__element__overlay
              .hero-grid__element__text-bar
                p Julian Zelizer
                h1 Hillary Clinton's Defining Moment    