- backgroundImageUrl = 'https://40.media.tumblr.com/b534bd03d1a36510d3cc17817672aa9a/tumblr_np58ozBk0E1tpfl1vo1_1280.jpg'

.page-header
  .page-header__background(style='background-image: url(' + backgroundImageUrl + ')')
  .page-header__content
    div
      ul.breadcrumbs.breadcrumbs--white
        li
          a(href='/') Education Policy
        li
          a(href='/') About Education Policy
      h1
        | Our People
    .page-header__form
      select
        option(value='all') All Initiatives and Projects
        option(value='ed',selected) Education Policy
      input(type='text', placeholder='umm')
