.panel
  h1 Our Story
  p
    | Founded in 1999, New America is a think tank and civic enterprise committed to renewing American politics, prosperity, and purpose in the Digital Age. We generate big ideas, bridge the gap between technology and policy, and curate broad public conversation.
  .panel__link
    a.button(href='') Read our story