.row
  .small-12.large-4.columns
    .picture-link
      .picture-link__picture
        img(src='http://climatedesk.org/wp-content/uploads/2014/02/drought670x380.jpg', alt='Climate')
      .picture-link__content
        h1 Reinventing the Think Tank
        p Why we're building a new model of nationwide civic engagement.
  .small-12.large-4.columns
    .picture-link
      .picture-link__picture
        img(src='http://graphics8.nytimes.com/images/2016/01/11/us/11firstdraft-clinton/11firstdraft-clinton-tmagArticle.jpg', alt='Draft')
      .picture-link__content
        h1 The Next Social Contract
        p Why we need to reexamine the role of governments in a sharing economy.
  .small-12.large-4.columns
    .picture-link
      .picture-link__picture
        img(src='http://climatedesk.org/wp-content/uploads/2014/02/drought670x380.jpg', alt='')
      .picture-link__content
        h1 2016 Annual Conference
        p
          | Join us as we explore how big ideas and a new social contract can change America.