- data = [ { title: "Reinventing the Think Tank", text: "Why we're building a new model of nationwide civic engagement.", imageUrl: "http://climatedesk.org/wp-content/uploads/2014/02/drought670x380.jpg" }, { title: "The Next Social Contract", text: "Why we need to reexamine the role of governments in a sharing economy.", imageUrl: "http://graphics8.nytimes.com/images/2016/01/11/us/11firstdraft-clinton/11firstdraft-clinton-tmagArticle.jpg" }, { title: "2016 Annual Conference", text: "Join us as we explore how big ideas and a new social contract can change America.", imageUrl: "http://climatedesk.org/wp-content/uploads/2014/02/drought670x380.jpg" } ]

.row
  each datum in data
    .small-12.large-4.columns
      .picture-link
        .picture-link__picture(style='background-image: url(' + datum.imageUrl + ')')
        .picture-link__content
          h1= datum.title
          p= datum.text
