ol li {
  display: list-item;
  list-style-type: decimal;
  margin-bottom: 15px;
  margin-top: 15px;
}

ul li {
  display: list-item;
  list-style-type: disc;
  margin-bottom: 15px;
  margin-top: 15px;
}
