.header__subheader__panel-list-wrapper{
  position: absolute;
  left: 0;
  right: 0;
  top: $subheader-height;
  box-shadow: 0px 0px 3px 0px color(black, base, 0.15);

  @include media-breakpoint(desktop){
    max-width: 70%;
    position: relative;
    top: 0;
    box-shadow: none;
    display: inline-block;
  }
  &:before, &:after{
    display: block;
    content: ' ';
    position: absolute;
    z-index: 10;
    top: 0;
    height: 100%;
  }

  &:before{
    left: 0;
    width: 5px;
    @include media-breakpoint(desktop){
      @include linear-gradient-horizontal(color(white, base, 1), color(white, base, 0));
    }
  }

  &:after{
    right: 0;
    width: 25px;
    @include media-breakpoint(desktop){
      @include linear-gradient-horizontal(color(white, base, 0), color(white, base, 1));
    }

  }
}

.header__subheader__panel-list{
  background: color(white);
  overflow-y: hidden;
  max-height: 0px;
  @include transition(max-height $transition-function);

  @include media-breakpoint(desktop){
    width: 100%;
    max-height: none !important;
    white-space: nowrap;
    overflow-x: scroll;
    position: relative;
    font-size: 0;
    padding: 0 25px 25px 5px !important;

  }
}

.header__subheader.open{
  .header__subheader__panel-list{
    max-height: 500px;
    overflow-y: scroll;
  }
}

.header__subheader__panel-list__item{
  text-align: center;
  white-space: normal;
  height: 100%;

  @include media-breakpoint(desktop){
    text-align: left;
    display: inline-block;
  }

  a{
    &:hover, &.active{
      background-color: color(gray, ultra-light);
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    }
    padding: 15px 10px !important;
    display: block;
    width: 100%;

    @include media-breakpoint(desktop){
      line-height: 56px;
      padding: 0 10px !important;
    }
  }
}
