.subheader__toggle{
  width: 10px;
  height: 10px;
  border-right: 1px solid color(gray, dark);
  border-bottom: 1px solid color(gray, dark);
  position: absolute;
  right: 25px;
  top: 15px;
  z-index: 1;
  @include transition(transform $transition-function);
  @include transform(rotate(45deg));

  @include media-breakpoint(desktop){
    display: none;
  }
}

.header__subheader.open {
  .subheader__toggle{
    @include transform(rotate(-135deg));
  }
}
