.home__panel__funders-list__body > *:first-child{
  margin-top: 0;
}

.our-funding__nav a, .our-people__nav a{
  color: color(black, base, 0.3);
  @include transition(color 0.15s ease);
  &.active, &:hover {
    color: color(black, base, 1);
  }
}

.our-funding__nav--chart-tabs {
  padding-left: 0;
  h5 {
    margin: 0 0 1em;
    font-size: 1.2rem;
    line-height: 1;
  }
  li a {
    padding-bottom: 3px;
  }
}