@mixin is-full-width {
   	.full-width & {
     	@content;
     }
}
@mixin is-with-sidemenu-width {
   	.with-sidemenu-width & {
     	@content;
     }
}
	
.picture-grid__entry {
	$entry-height: 500px;
	$entry-image-height: 200px;
	$entry-text-height: $entry-height - $entry-image-height - $desktop-padding;

	width: 100%;

	@include breakpoint(medium) {
		$num_columns: 2;
		height: $entry-height;
		min-width: 300px;
		width: calc((100% - #{$num_columns * $picture-grid-padding})/#{$num_columns});
		float: left;
		margin: $picture-grid-padding;

		&:nth-child(odd) {
			margin-left: 0px;
			margin-right: $picture-grid-padding;
		}
		&:nth-child(even) {
			margin-left: $picture-grid-padding;
			margin-right: 0px;
		}
		
		border: 2px solid palette-get(na-black-10);
		-webkit-box-shadow: 0px 0px 15px 0px palette-get(na-black-10);
			-moz-box-shadow: 0px 0px 15px 0px palette-get(na-black-10);
			box-shadow: 0px 0px 15px 0px palette-get(na-black-10);
	}

	@include is-with-sidemenu-width {
		@media screen and (min-width: 1250px) {
			$num_columns: 3;
			width: calc((100% - #{4 * $picture-grid-padding})/#{$num_columns});

			&:nth-child(3n+1) {
				margin-left: 0px;
				margin-right: $picture-grid-padding;
			}
			&:nth-child(3n+2) {
				margin-left: $picture-grid-padding;
				margin-right: $picture-grid-padding;
			}
			&:nth-child(3n+0) {
				margin-left: $picture-grid-padding;
				margin-right: 0px;
			}
		}
	}


	@include is-full-width {
		@include breakpoint(large) {
			$num_columns: 3;
			width: calc((100% - #{4 * $picture-grid-padding})/#{$num_columns});

			&:nth-child(3n+1) {
				margin-left: 0px;
				margin-right: $picture-grid-padding;
			}
			&:nth-child(3n+2) {
				margin-left: $picture-grid-padding;
				margin-right: $picture-grid-padding;
			}
			&:nth-child(3n+0) {
				margin-left: $picture-grid-padding;
				margin-right: 0px;
			}
		}
	}

	@include is-full-width {
		@include breakpoint(xlarge) {
			$num_columns: 4;
			width: calc((100% - #{6 * $picture-grid-padding})/#{$num_columns});

			&:nth-child(4n+1) {
				margin-left: 0px;
				margin-right: $picture-grid-padding;
			}
			&:nth-child(4n+2) {
				margin-left: $picture-grid-padding;
				margin-right: $picture-grid-padding;
			}
			&:nth-child(4n+3) {
				margin-left: $picture-grid-padding;
				margin-right: $picture-grid-padding;
			}
			&:nth-child(4n+0) {
				margin-left: $picture-grid-padding;
				margin-right: 0px;
			}
		}
	}

	&__image-container {
		width:100%;
		height:$entry-image-height;
		overflow:hidden;
		background-size: cover;
	}

	&__text-container {
		@include breakpoint(medium) {
			width:100%;
			height:$entry-text-height;
		}
		text-align: center;
		overflow:hidden;
		padding: 15px;
		padding-bottom: 25px;
		position: relative;
		background-color: white;
		transform: translateY(0%);
   		transition: transform .35s ease-out, height .2s ease-out;
   		-webkit-transition: transform .35s ease-out, height .2s ease-out;
	    -moz-transition: transform .35s ease-out, height .2s ease-out;
	    -o-transition: transform .35s ease-out, height .2s ease-out;
	}

	&__text-fadeout {
		z-index: 1000;
		position: absolute;
		width: 100%;
		height: 45px;
		bottom: -25px;
		background: -webkit-linear-gradient(
	        rgba(255, 255, 255, 0) 0%,
	        rgba(255, 255, 255, 1) 60%
	    ); 
	    background-image: -moz-linear-gradient(
	        rgba(255, 255, 255, 0) 0%,
	        rgba(255, 255, 255, 1) 60%
	    );
	    background-image: -o-linear-gradient(
	        rgba(255, 255, 255, 0) 0%,
	        rgba(255, 255, 255, 1) 60%
	    );
	    background-image: linear-gradient(
	        rgba(255, 255, 255, 0) 0%,
	        rgba(255, 255, 255, 1) 60%
	    );
	    background-image: -ms-linear-gradient(
	        rgba(255, 255, 255, 0) 0%,
	        rgba(255, 255, 255, 1) 60%
	    );

	    display: none;
	    @include desktop-header {
	    	display: block;
	    }

	}

	&__description, &__description a {
		color: palette-get(na-black-70);
		font-weight: bold;
		font-size: 15px;
	}

	&__description a:hover {
		color: palette-get(na-turquoise);
	}

	&__date-time {
		color: palette-get(na-black);
		font-weight: bold;
		font-size: 15px;
		
		p {
			line-height: 130%;
			margin:0px;
		}
	}

	&__location {
		color: palette-get(na-black-70);
		font-weight: bold;
		font-size: 15px;
	}

	&__title {
		a {
			color: palette-get(na-black);
			font-weight: bold;
			font-size: 22px;
			font-family: "Platform";
		}
	}

	&__body {
		color: palette-get(na-black-70);
		font-weight: normal;
		font-size: 17px;
		font-family: "Simplon";
		line-height: 130%;
		margin-bottom: 0px;
	}

	hr {
		border: none;
		height: 2px;
		width: 30%;
		color: palette-get(na-black-10);
		background-color: palette-get(na-black-10);
	}
}

.hide-first {

	& > .picture-grid__entry {
		@include breakpoint(medium) {
			&:first-child {
				display: none;
			}
			&:nth-child(even) {
				margin-left: 0px;
				margin-right: $picture-grid-padding;
			}
			&:nth-child(odd) {
				margin-left: $picture-grid-padding;
				margin-right: 0px;
			}
			
		}

		@include breakpoint(large) {
			
			&:nth-child(3n+2) {
				margin-left: 0px;
				margin-right: $picture-grid-padding;
			}
			&:nth-child(3n+0) {
				margin-left: $picture-grid-padding;
				margin-right: $picture-grid-padding;
			}
			&:nth-child(3n+1) {
				margin-left: $picture-grid-padding;
				margin-right: 0px;
			}
			
		}
	
		@include breakpoint(xlarge) {
			
			&:nth-child(4n+2) {
				margin-left: 0px;
				margin-right: $picture-grid-padding;
			}
			&:nth-child(4n+3) {
				margin-left: $picture-grid-padding;
				margin-right: $picture-grid-padding;
			}
			&:nth-child(4n+0) {
				margin-left: $picture-grid-padding;
				margin-right: $picture-grid-padding;
			}
			&:nth-child(4n+1) {
				margin-left: $picture-grid-padding;
				margin-right: 0px;
			}
			
		}
	
	}
}