$picture-grid-padding: 10px;
.picture-grid {
	height: 100%;
	width: 100%;

	&__divider {
		margin: 0px;
		@include breakpoint(medium) {
			display: none;
		}
	}
}

.event-post-home-page > .picture-grid {
	@include breakpoint(medium) {
		padding: 0px $mobile-padding;
	}
	@include desktop-header {
		padding: 0px;
	}
}

