.program__heading__wrapper{
  background-color: color(white);

  h1 {
    line-height: 1em;
    padding-top: 75px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: type-adjusted-padding(25px);
    label {
      line-height: 1em;
      position: relative;
      top: -50px;
    }
  }
}
