.program-header{
    border-bottom: 1px solid color(gray, base, 0.65);
    border-top: $border;
    background: color(white);
    position: relative;
    top: 1px;
    z-index: 10;
    box-shadow: 0px 4px 0 -2px rgba(169, 169, 172, 0.15);
    z-index: 1;
}
