.program__nav {
  background-color: color(white);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;

  ul.inline li {
    padding-right: 35px;
  }

  .program__nav__link {
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    padding-bottom: 2px;
    @include transition(color 0.15s ease);
    &:after{
      content: '';
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 0;
      position: absolute;
      background: color(turquoise);
      @include transition(transform 0.15s ease);
      @include transform(translateX(-105%));
    }

    &.active:after, &:hover:after{
      @include transform(translateX(0%));
    }
  }

  &.active .program__nav__link:not(.active):not(:hover) {
    color: color(black, base, 0.3);
  }

  .slick-list{
    width: 100%;
  }

  .slick-arrow {
    position: absolute;
    width: 15px;
    height: 100%;
    &.slick-disabled{
      display: none !important;
    }
    &:after{
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      border-top: 1px solid color(black, base, 1);
      border-right: 1px solid color(black, base, 1);
      top: 50%;
      position: relative;
      @include transform(rotate(45deg));

    }
  }

  .slick-prev{
      left: -15px;
      &:after {
        right: 0;
        @include transform(rotate(-135deg));
      }
  }

  .slick-next {
    right: -15px;

    &:after{
      left: calc(100% - 5px);
    }
  }
}
