.program__publications__list-col {
  padding-right: 0px !important;
  min-height: calc(100vh - #{$header-height + 30px});

  .card.list:first-child{
    margin-top: 0;
  }
}

.program__publications-list-load-more {
  text-align: right;

  .is-fetching .load-more-label {
    opacity: 0;
  }
}
