.program {
  background: color(beige);
  padding-top: 35px;
  padding-bottom: 35px;
  min-height: 100vh;
}

@import 'about';
@import 'heading';
@import 'nav';
@import 'publications-list';
@import 'publications-filter';
@import 'publications-filter-sticky-wrapper';
@import 'events';
@import 'topic';
