{% extends "post_page.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
  {% block breadcrumbs %}
    {% include 'components/breadcrumbs.html' %}
  {% endblock %}
  {% include 'components/post_main.html' %}

  {% with surveys=page.assoc_surveys.all %}
    {% if surveys %}
      <div class="post container margin-bottom-35 -margin-top-35">
        <div class="row gutter-30">
          <aside class="col-md-6 col-lg-2 margin-bottom-15"></aside>
          <div class="col-lg-8 margin-bottom-15 post-body-wrapper">
            <div class="row">
              <div class="section-separator margin-bottom-15">
                <div class="section-separator__text">
                  <h6 class="inline margin-0">Related Survey Reports</h6>
                </div>
                <div class="section-separator__line"></div>
              </div>
            </div>
            {% for item in surveys %}
              <a href="{{ item.url }}" class="card--accent card margin-bottom-10">
                <h4 class="card__title">
                  {{ item.title }}
                </h4>
                <div class="card__description">
                  {{ item.description|richtext }}
                </div>
              </a>
            {% endfor %}
          </div>
          <aside class="col-lg-2 "></aside>
        </div>
      </div>
    {% endif %}
  {% endwith %}

{% endblock %}
