{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_id %}na-survey{% endblock %}

{% block header %}{% endblock %}
{% block content %}

  <div style="margin: 4rem 2rem">
    <h2 style="border-bottom: 3px black solid">Survey Title: {{page.study_title}}</h2>
    {% with orgs=page.org.all %}
      {% if orgs %}
        {% for org in orgs %}
          <h3>Organization: {{org.title}}</h3>  
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% with years=page.year.all%}
      {% if years %}
        {% for year in years %}
    <h3>Date:{% if page.month%}{{page.month}} / {% endif %}{{year.title}}</h3>  
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h3>Sample Size: {{page.sample_number}} </h3>  
    {% with demos=page.demos_key.all %}
      {% if demos %}
        <h3>Demographics: </h3>  
        {% for demo in demos%}
          <li style="padding-left: 40px; margin: 1rem 0;"> {{demo.title}}</li>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h3>Key Findings:</h3>  
    <p> {{page.findings|richtext}} </p>  
    {% if page.link or page.file %}
    <h3>Downloads</h3>
    <br>
      {% if page.link %}
        <a href={{page.link}}>Link</a>
      {% endif %}
      {% if page.file %}
        <a href='https://docs.google.com/viewer?url='+{{page.file}}>File</a>
      {% endif %}
    {% endif %}
  </div>

{% endblock%}