{% extends 'base.html' %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_id %}na-survey{% endblock %}

{% block content %}
  {% block breadcrumbs %}
    {% with a=self.get_ancestors %}
      <div class="container margin-top-25 breadcrumb">
        <h6 class="link with-caret--left">
          <a href="{{ a.3.url }}"><u>{{a.3.title}}</u></a>
        </h6>
      </div>
    {% endwith %}
  {% endblock %}
  <main class="survey-page container margin-35 margin-lg-80">
    <div class="row gutter-30">
      <aside class="post__social col-md-6 col-lg-2 margin-bottom-15">
        {% block post_left_aside %}
        {% include 'components/post_share.html' %}
        {% endblock %}
      </aside>
      <div class="col-lg-8 margin-bottom-25">
        <div class="post-body-wrapper">
          <div class="margin-bottom-60">
            {% include 'components/post_heading_text.html' %}
          </div>

          <article class="post-body">

            <div class="margin-bottom-35">
              {% with orgs=page.org.all %}
                {% if orgs %}
                  <div class="post__byline margin-bottom-15">
                    <span>By&nbsp;</span>
                    {% for org in orgs %}
                      <h4 class="inline margin-0">
                        <u>{{ org.title }}</u>
                      </h4>
                      {% if forloop.counter == orgs|length|add:"-1" and orgs|length > 2 %}
                        <span class="separator inline">, and&nbsp;</span>
                      {% elif forloop.counter == orgs|length|add:"-1" %}
                        <span class="separator inline">&nbspand&nbsp;</span>
                      {% elif forloop.counter != orgs|length %}
                        <span class="separator inline">,&nbsp;</span>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              {% endwith %}
              <h6 class="post-body__date margin-top-0">
                {% if page.month != "0" and page.month != null %}
                  {{ page.month }}.
                {% endif %}
                {{ page.year }}
              </h6>
            </div>

            <div class="margin-bottom-60">
              <div class="margin-bottom-15">
                <span>Sample Size:</span>
                {{ page.sample_number }}
              </div>
              <div class="margin-bottom-15">
                {% with demos=page.demos_key.all %}
                  {% if demos %}
                    <span>Demographics:&nbsp;</span>
                    {% for demo in demos %}
                      {{ demo.title }}
                      {% if forloop.counter == demos|length|add:"-1" and demos|length > 2 %}
                        <span class="separator inline">, and&nbsp;</span>
                        {% elif forloop.counter == demos|length|add:"-1" %}
                        <span class="separator inline">&nbspand&nbsp;</span>
                        {% elif forloop.counter != demos|length %}
                        <span class="separator inline">,&nbsp;</span>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </div>
              {% with tags=page.tags.all %}
                {% if tags %}
                  <div class="margin-bottom-15">
                    <span>Topics:&nbsp;</span>
                    {% for tag in tags %}
                      {{ tag.title }}
                      {% if forloop.counter == tags|length|add:"-1" and tags|length > 2 %}
                        <span class="separator inline">, and&nbsp;</span>
                      {% elif forloop.counter == tags|length|add:"-1" %}
                        <span class="separator inline">&nbspand&nbsp;</span>
                      {% elif forloop.counter != tags|length %}
                        <span class="separator inline">,&nbsp;</span>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              {% endwith %}
            </div>

            <div class="margin-bottom-35">
              <h3 class="margin-bottom-35 margin-top-0">Top Findings:</h3>
              {{ page.findings|richtext }}
            </div>

            <div class="survey-page__links margin-bottom-60">
              {% if page.file %}
                <a class="button-secondary" href={{page.file.url}} target="_blank">
                  <i class="fa fa-download"></i>
                  Download Report
                </a>
              {% endif %}
              {% if page.link %}
                <a class="survey-page__link" href={{ page.link }}>View Survey Report on Source Website</a>
              {% endif %}
            </div>

            <div class="survey-page__commentary-list">
              {% with commentary=page.assoc_commentary.all %}
                {% if commentary %}
                  <div class="section-separator">
                    <div class="section-separator__text">
                      <h6 class="inline margin-0">Related Insights & Analysis</h6>
                    </div>
                    <div class="section-separator__line"></div>
                  </div>
                  {% for item in commentary %}
                    <div class="margin-bottom-0 survey-page__commentary">

                      {% for block in item.body %}
                        {% if block.block_type == 'image' %}
                          <div class="card__image fade-in-image" onload="this.classList.add('loaded');">
                            {% include_block block %}
                          </div>
                        {% endif %}
                      {% endfor %}

                      <div class="card__text">
                          <h6 class="card__text__date margin-top-0 margin-bottom-5 margin-bottom-md-15">
                            {{ item.date|date:"M. jS, Y"}}
                          </h6>
                          <h4 class="card__text__title margin-top-0 margin-bottom-10">
                            <a href="{{ item.url }}" class="" target="_blank">
                            <u>{{ item.title }}</u>
                            </a>
                          </h4>
                          <div class="card__text__excerpt margin-top-5 margin-bottom-0">
                            {{ item.subheading }}
                          </div>
                          <div class="card__text__authors margin-top-5 margin-bottom-0">
                            <h6 class="inline margin-0">By </h6>
                            {% generate_byline item|model_name item.authors.all %}
                          </div>

                          <h6 class="card__text__program caption margin-top-5 margin-top-md-15 margin-bottom-0">
                            {{ item|model_display_name }}
                          </h6>

                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </div>
          </article>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
