$header-font-family: 'Platform';
$label-font-family: 'Circular';
$paragraph-font-family: 'Lyon';
$header-height: 70px;
$header-expanded-height: 165px;
$subheader-height: 50px;
$transition-function: 0.15s ease-in-out;
$border: 1px solid color(black, base, 0.3);
$max-site-width: 1280px;
$max-body-width: 700px;
$type-adjustment: 0.16129032258em;
$media-breakpoints: (
  mobile: 576px,
  tablet: 768px,
  desktop: 992px,
  large-desktop: 1200px
);

$colors: (
  turquoise: (
    base: #22C8A3,
    light: #46ccc3,
    dark: #2a8e88
  ),
  blue: (
    base: #10355F
  ),
  purple: (
    base: #9868BE
  ),
  beige: (
    base: #F7F4F2
  ),
  oti-blue: (
    base: #5ba4da,
    light: #75bef4,
    dark: #477da3
  ),
  red: (
    base: #e75c64,
    light: #e75c64,
    dark: #692025
  ),
  black: (
    base: #333333,
    light: #5f6268,
    70: rgba(44,47,53,0.7),
    40: #6b6d71,
    30: #c0c1c3,
    10: #e0e0e1
  ),
  gray: (
    base: #7A7A7A,
    dark: #737378,
    light: #C1C1C1,
    ultra-light: #f6f6f6
  ),
  white: (
    base: #ffffff,
    light: #ffffff,
    dark: #ffffff
  )
);
