.weekly-header{
	position: absolute;
	top: 25px;
	left: 25px;
	z-index: 10;

	&__logo{
		margin-right: 15px;
	}

	&__heading, &__subheading{
		color: color(white) !important;
		display: inline-block;
		vertical-align: middle;
	}

	&__heading {
		margin-right: 30px;
		position: relative;
		font-family: $weekly-font-family;
		font-style: italic;
		&::after{
			position: absolute;
			right: -15px;
			@include transform(rotate(24deg));
			border-right: 1px solid color(white);
			height: 150%;
			top: -25%;
			display: inline-block;
			content: ' ';
		}
	}

	&__subheading{
		max-width: 250px;
	}

	&.article {
		& > * {
			display: inline-block;
			vertical-align: middle;
		}
		.weekly-header{
			&__heading{
				font-size: 1.4rem;
				&::after{
					height: 100%;
    			top: 0%;
				}
			}
			&__subheading{
				font-size: 0.78rem;
				line-height: 1rem;
				max-width: 240px;
			}
		}
	}
}
