
.weekly__lead {
	$lead-text-width-med: 100%/2 + #{$picture-grid-padding};
	$lead-text-width-lrg: 100%/3 + #{20px};
	$lead-text-width: 320px;
	width: 100%;
	height: 504px;
	border: 2px solid palette-get(na-black-10);
	margin: $desktop-padding 0px;
	-webkit-box-shadow: 0px 0px 20px 0px palette-get(na-black-10);
		-moz-box-shadow: 0px 0px 20px 0px palette-get(na-black-10);
		box-shadow: 0px 0px 20px 0px palette-get(na-black-10);

	display: none;
	position: relative;


	@include breakpoint(medium) {
		display: block;
	}
	

	&__image {
		width: 100%;
		height: 500px;

		.hero-grid.has-1-children .hero-grid__main .hero-grid__element {
			height: 500px;
		}

		.hero-grid__element__text-bar {
			width: calc(100% - #{$lead-text-width});
		}
	}

	&__text {
		width: $lead-text-width;
		height: 100%;
		z-index: 10;
		background:linear-gradient(270deg, rgba(0,0,0,.5), rgba(0,0,0,0));
		position: absolute;
		top: 0px;
		right: 0px;

		&__content {
			width: $lead-text-width;
			position: absolute;
			top: 0px;
			right: 0px;
			z-index: 10;
			padding: $desktop-padding;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform:translateY(-50%);
    		-ms-transform:translateY(-50%);
		}
		&__title {
			font-size: 16px;
			color: palette-get(na-white);
			font-weight: bold;
			margin-bottom: 15px;
		}

		&__item {
			margin-bottom: 20px;
			&__name, &__name > a  {
				font-size: 20px;
				line-height: 110%;
				font-family: "Circular";
				color: palette-get(na-white);
				font-weight: bold;
				margin-bottom: 0px;
			}

			&__description, &__description > a {
				font-size: 15px;
				font-family: "Circular";
				color: palette-get(na-white);
				font-weight: 300;
				margin-bottom: 0px;
			}
		}
		
	}

}