&.short-bio{
  .author__image-wrapper{
    display: block;
    width: 100%;
  }
  .author__image{
    width: 100px;
    height: 100px;
  }

  .author__text{
    width: 90%;

    &__position, &__name{
      display: none;
    }
    &__short-bio{
      p{
        color: color(gray);
        font-size: 0.8em;
        font-weight: normal;
        line-height: 1.4em !important;

        b {
          font-size: 1.1em;
          color: color(black);
        }
      }
    }
    &:hover{
      b{
        color: color(turquoise);
      }
    }
  }
}
