&.ultra-compact{
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  .author__image-wrapper{
    @extend %col;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
    padding: 0;
    padding-right: 5px;
  }

  .author__image{
    width: 30px;
    height: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .author__text{
    padding: 0;
    @extend %col;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;

    &__position, &__short-bio{
      display: none;
    }
    &__name{
      font-weight: normal;
      color: color(gray, dark);
      line-height: 30px;
      padding-left: 6px;
      padding-right: 10px;
      margin: 0;
      font-size: 0.8rem;
      line-height: 1.1em;
      white-space: normal;

      &:hover{
        color: color(turquoise);
      }
    }
  }
  &:not(.with-image){
    margin-left: 0px;
    margin-right: 0px;

    .author__image-wrapper{
      display: none;
    }
    .author__text{
      padding: 0;
      -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      text-align: center;

      &:not(:first-child){
        max-width: 100%;
        flex: none;
        text-align: left;
      }
    }
  }
}
