%col{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.author{
  margin: 10px 0;

  &__image{
    border-radius: 300px;
    background-size: cover;
  }

  &__text{
    line-height: 1em;

    &__name{
      line-height: 1em;
    }
  }

  @import 'card';
  @import 'short-bio';
  @import 'compact';
  @import 'ultra-compact';
}
