{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-homepage header--expanded{% endblock %}

{% block content %}
<section class="container container--wide">
	{% include 'components/story_grid.html' with page_context='homepage' %}

	{% if featured_stories %}
		{% include 'components/featured_stories.html' with stories=featured_stories %}
	{% endif %}

</section>

{% include 'components/react/program-event-list.html' %}
{% include 'components/react/program-content-grid.html' %}


<section class="container container--full-width gray">
		<div class='container container--medium home-about-description'>
			<h1 class="home-about-description__heading">Our Story</h1>
			<p class="centered">
				Founded in 1999, New America is a think tank and civic enterprise committed
				to renewing American politics, prosperity, and purpose in the Digital Age.
				We generate big ideas, bridge the gap between technology and policy,
				and curate broad public conversation.
			</p>
			<a class='button black home-about-description__link' href="/our-story/">Read our Story</a>
		</div>
</section>

{% endblock %}
