{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}
{% block sidemenu_status %}no_sidemenu{% endblock %}

{% block content %}
<section class='section section--fixed-width'>
	<div class='row'>
		<div class='columns hero-grid-container'>
			<div class='hero-grid has-{{ other_lead_stories|length|add:"1" }}-children'>

				<div class='hero-grid__main'>

					<div class='hero-grid__element'>
					<a href="{{ page.lead_1.url }}">
						<div class='hero-grid__element__wrapper'>
						{% image page.lead_1.post.story_image original as lead1_image %}
							<div class='hero-grid__element__background' style='background-image: url({{ lead1_image.url }})'></div>
							<div class='hero-grid__element__overlay'></div>
							<div class='hero-grid__element__text-bar'>

								<p class='hero-grid__element__text-bar__subheading' href="{{ page.lead_1.url }}">
								{% for author in page.lead_1.post_author.all %}
									{{ author }}
								{% endfor %}
								</p>
								<h1 class='hero-grid__element__text-bar__heading'>{{ page.lead_1.title }}</h1>
							</div>
						</div>
					</a>
					</div>

				</div>

				{% if other_lead_stories %}
				<div class='hero-grid__secondary'>
				{% for other_lead_story in other_lead_stories %}
					{% if other_lead_story %}
						<div class='hero-grid__element'>
							<a href="{{ other_lead_story.url }}" class='hero-grid__element__content'>
							{% image other_lead_story.post.story_image original as other_lead_story_image %}
								<div class='hero-grid__element__background' style='background-image: url({{ other_lead_story_image.url }})'></div>
								<div class='hero-grid__element__overlay'></div>
								<div class='hero-grid__element__text-bar'>
									<a class='hero-grid__element__text-bar__subheading'>
									{% for author in other_lead_story.post_author.all %}
										{{ author}}
									{% endfor %}
									</a>
									<a class='hero-grid__element__text-bar__heading' href="{{ story.url }}">{{ other_lead_story.title }}</a>
								</div>
							</a>
						</div>
					{% endif %}
				{% endfor %}
				</div>
				{% endif %}
				
			</div>

		</div>
	</div>

</section>

<section class='section section--fixed-width'>

	<div class='row picture-link-container'>

		{% for feature_story in featured_stories %}
		<div class='small-12 large-4 columns'>
			{% image feature_story.post.story_image original as feature_story_image %}
			<div class='picture-link'>
				<a href="{{ feature_story.url }}">
					<div class='picture-link__picture' style='background-image: url({{ feature_story_image.url }})'>
						
					</div>
				</a>
				<div class='picture-link__content'>
					<h1><a href="{{ feature_story.url }}">{{ feature_story.title }}</a></h1>
					<p>{{ feature_story.post.story_excerpt }}</p>
				</div>
			</div>

		</div>
		{% endfor %}

	</div>

</section>


<section class='section section--fixed-width'>

	<div class='row border-panel-container'>

		<div class='small-12 large-6 columns'>

			<div class='border-panel'>

				<ul>
					{% for item in page.recent_carousel %}
					<li class='border-panel__item'>
						<div class='border-panel__info'>{{ item.value.get_parent }} - {{ item.value.post.date }}</div>
						<div class='border-panel__title'><a href="{{ item.value.url }}">{{ item.value.title }}</a></div>
						<a href='{{ item.value.url }}'>
							<div class='border-panel__icon'>
								{% image item.value.post.story_image original as item_image %}
								<div class='border-panel__icon__photo' style='background: no-repeat center/180% url({{ item_image.url }})'>
								</div>
							</div>
						</a>
						<div class='border-panel__content fixed-height'>
							<p>{{ item.value.post.story_excerpt }}</p>
							<a href="{{ item.value.url }}"><div class='button'>Learn More</div></a>
						</div>
					</li>
					{% endfor %}

				</ul>

			</div>

		</div>

		<div class='small-12 large-6 columns'>
	
			<div class='border-panel'>

				<div class='border-panel__item'>
					<div class='border-panel__info'>STAY CONNECTED</div>
					<div class='border-panel__title'><a href='#'>Subscribe to New America Weekly</a></div>
					<a href='#'>
						<div class='border-panel__icon'>
							<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 432.61 286.34"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Untitled-6</title><path class="cls-1" d="M413.9,3.44A33.77,33.77,0,0,0,399.11,0H33.51A33.84,33.84,0,0,0,18.66,3.47,33.38,33.38,0,0,0,0,33.5V252.84a33.54,33.54,0,0,0,33.51,33.5h365.6a33.54,33.54,0,0,0,33.51-33.5V33.5A33.4,33.4,0,0,0,413.9,3.44Zm-389.29,44,110.87,96.32L24.61,239V47.45ZM35.79,24.61h361L223.41,175.22a11.74,11.74,0,0,1-14.2,0ZM154.26,160.09l38.91,33.81a36.28,36.28,0,0,0,46.27,0l38.91-33.81L396.66,261.73H36Zm142.87-16.31L408,47.45V239Z"/>
							</svg>
						</div>
					</a>
					<div class='border-panel__content'>
							<p class= "border-panel__content__subscribe-info">Get our weekly digital magazine and events lineup in your inbox</p>
							<input type='text' placeholder='Your Email' id='border-panel__content__email-field'></input>
							<button class='button' id='border-panel__content__link'>Sign up</button>
					</div>
						
				</div>

			</div>

		</div>



	</div>

</section>

<div class='panel'>

	<h1>Our Story</h1>
	<p>Founded in 1999, New America is a think tank and civic enterprise committed to renewing American politics, prosperity, and purpose in the Digital Age. We generate big ideas, bridge the gap between technology and policy, and curate broad public conversation.</p>

	<div class='panel__link'>
		<a href='' class='button'>Read our story</a>
	</div>

</div>

<script type='text/javascript'>
	window.uiState = { isHeaderExpanded: true };
</script>

{% endblock %}
