{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_class %}homepage{% endblock %}

{% block content %}
<main>
	<section class="container--full-width beige homepage__story-grid-section">
		{% include 'components/story_grid.html' with page_context='homepage' %}
	</section>
	<section class="container--full-width beige homepage__mission-statement-section scroll-target" data-scroll-trigger-point="bottom" data-scroll-enter-offset="25vh">
		<div class="container">
			<h1 class="promo margin-0">
				<span class="block">We are dedicated to</span>
				<span class="block">renewing America</span>
			</h1>
			<h3 class="margin-top-35 margin-bottom-0">
				<a href="/our-story" class="underlined--on-hover">Read about our mission</a>.
			</h3>
		</div>
	</section>
	<section class="container--full-width beige homepage__events-section scroll-target" data-scroll-trigger-point="bottom" data-scroll-enter-offset="25vh">
		<div class="container">
			<h3 class="margin-0">Upcoming Events</h3>
			<div class="row gutter-10 margin-35">
				{% for e in upcoming_events %}
					<div class="col-4">
						{% include 'components/card_event.html' with event=e %}
					</div>
				{% endfor %}
			</div>
			<div class="homepage__events-section__view-all">
				<a class="button--text border-0" href="/events">View All</a>
			</div>
		</div>
	</section>
	<section class="container--full-width beige homepage__weekly-promo-section scroll-target" data-scroll-trigger-point="bottom" data-scroll-enter-offset="25vh">
		<div class="container">
			<h1 class="promo margin-0">
				<span class="block">New ideas & voices in policy,</span>
				<span class="block">delivered every Thursday</span>
			</h1>
			<h3 class="margin-top-35 margin-bottom-0">
				<a href="/weekly" class="underlined--on-hover">Read our digital magazine, The Weekly</a>.
			</h3>
		</div>
	</section>
	<section class="container--full-width beige homepage__publications-section scroll-target" data-scroll-trigger-point="bottom" data-scroll-enter-offset="25vh">
		<div class="container">
			<h3 class="margin-0">Recent Publications</h3>
			<div class="margin-35">
				{% for p in recent_publications %}
					<div class="card-wrapper">
						{% include 'components/card_list.html' with post=p %}
					</div>
				{% endfor %}
			</div>
			<div class="homepage__publications-section__view-all">
				<a class="button--text border-0" href="/publications">View All</a>
			</div>
		</div>
	</section>
	<section class="container--full-width beige homepage__subscribe-section scroll-target" data-scroll-trigger-point="bottom" data-scroll-enter-offset="25vh">
		<div class="container">
			<h1 class="promo margin-0">
				<span class="block">Stay in touch</span>
			</h1>
			<h3 class="margin-top-35 margin-bottom-0">
				<a class="underlined--on-hover">Be the first to hear about the latest events and research from New America.</a>
			</h3>
		</div>
	</section>
</main>
{% endblock %}
