{% extends "about_sidemenu.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-jobspage{% endblock %}

{% block content %}
	<div class="jobs-page">
		{% image page.story_image original as story_image %}

		{% if story_image %}

			<div class="post-header with-image" style="background-image: linear-gradient(
			      rgba(0, 0, 0, 0.3),
			      rgba(0, 0, 0, 0.3)
			    ), 
		    	url({{ story_image.url }})">

				<div class="post-header__text">
				    <h1 class="post-header__text__heading">{{ page.title }}</h1>
				</div>
			</div>
		{% else %}

			<div class="post-header">

				<div class="post-header__text">
				    <h1 class="post-header__text__heading">{{ page.title }}</h1>
				</div>
			</div>

		{% endif %}

		<div class="post-container">
		    <div class="post-body">
			    {{ page.body }}
			</div>

			<script type="text/javascript" src="//app.jazz.co/widgets/basic/create/newamerica" charset="utf-8"></script>
		</div>
	</div>
{% endblock %}