{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}

<meta charset="utf-8">
<script src='../static/dataviz/d3.min.js'></script>
<!-- <script src="../static/dataviz/crossfilter.min.js"></script> -->
<!-- <script src="../static/dataviz/chroniton-only.js"></script> -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<!-- <script src= "http://d3js.org/topojson.v1.min.js"></script> -->
<script src="//d3js.org/queue.v1.min.js"></script>
<script src="../static/dataviz/js/timeslider.js"></script>
<script src="../static/dataviz/js/index.js"></script>
<script src="../static/dataviz/js/heatmap.js"></script>

<style>
	.tooltip {
		position: absolute;
	    z-index: 10;
	    padding: 3px;
	    background: white;
	    border-radius: 10px;
	}

	#viz-block {
		background: #343734;
		padding: 20px 10px 10px 30px;
	}

	#viz-block__title, #viz-block__description {
		color: white;
	}

	#viz-block__title {
	}

	#viz-block__filter-dropdown {

	}


</style>
<script>
	// var dataFile = '{{self.data_file.file}}';

	//find a better way to do this...
	var dataUrl = '{{self.data_url}}';
	dataUrl = dataUrl.replace("https", "http");
	dataUrl = dataUrl.replace("&amp;", "&");
	dataUrl = dataUrl.replace("&amp;", "&");

	console.log(dataUrl);

	var dataFile;
	var response = $.get(dataUrl, function(f) {
		// console.log(f);
		dataFile = f;

		var varSettings = { "status": "success", "filterVariables": [ "\"birth_third_grade_rating\"", "\"educators_ranking\"", "\"kinder_ecelicensereq\"", "\"child_development_license\"", "\"funding_description\"" ], "sideBarVariables": [], "mainVariable": "\"birth_third_grade_rating\"", "timeVariable": "\"name\"", "integratedChartOption": "display integrated chart", "integratedChartType": "1 variable donut chart", "mapZoomOption": "zoomable", "mapType": "heatmap", "colorScale": "default" };
		var divContainer = "map";

		VizController(dataFile, varSettings, divContainer);
	});
	console.log("hello");
	// var varSettings = '{{self.variable_option}}';
	// varSettings = varSettings.replace(/&quot;/g,'"');

	

	
</script>

<section class='section section--fixed-width' id='viz-block'>
	<h2 id='viz-block__title'> {{self.title}}</h1>
	<p class= "small-10" id='viz-block__description'> {{self.short_description}}</p>
	<div class="row">
		<div class= "small-3" id='viz-block__filter-dropdown'>
			<select id="filter"></select>
		</div>
		<fieldset class="small-6" id="viz-block__filter-buttons" >
          <!-- <legend>Check these out</legend> -->
          <!-- <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
          <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
          <input id="checkbox3" type="checkbox"><label for="checkbox3">Checkbox 3</label> -->
        </fieldset>
		<!-- <div class= "small-8">
	        <ul class="button-group radius" id="viz-block__filter-buttons">
			    <li><a href="#" class="small button">Button 1</a></li>
			    <li><a href="#" class="small button">Button 2</a></li>
			    <li><a href="#" class="small button">Button 3</a></li>
			</ul>
		</div> -->
	</div>
	<div class="row" style="height:500px;">
		<div id="map" style="width:100%;height:500px;"></div>
	</div>
	<div class="row small-8">
		<div id="slider-range"></div>
	</div>
</section>	
		<!-- <div class="range-slider" data-slider>
			<span class="range-slider-handle" role="slider" tabindex="0"></span>
			<span class="range-slider-active-segment"></span>
			<input type="hidden">
		</div>
		<!-- <div class="slider" data-slider data-initial-start="25" data-initial-end="75">
	        <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
	        <span class="slider-fill" data-slider-fill></span>
	        <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
	        <input type="hidden">
	        <input type="hidden">
      	</div>
	</div>
</section>

<!-- 
<div class="row">
  <div class="small-2 large-4 columns">1</div>
  <div class="small-4 large-4 columns">2</div>
  <div class="small-6 large-4 columns">3</div>
</div>

<div class="slider" data-slider data-initial-start="25" data-initial-end="75">
        <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
        <span class="slider-fill" data-slider-fill></span>
        <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
        <input type="hidden">
        <input type="hidden">
      </div> -->






















<!-- <script src="../static/geography/us-states.js"></script> -->


<!-- <div id="slider-range"></div>

<div id="map" style="width:100%;height:500px;margin-left:2%;margin-right:2%"></div>

    <select id="filter">
	  <option value="0">Birth Third Rating</option>
	  <option value="1">Educator Ranking</option>
	  <option value="2">Third Option</option>
	  <option value="3">Fourth Option</option>
	  <option value="4">Fifth Option</option>
	</select> -->

<!-- <div id="chart" style="width:20%;height:500px;margin-left:1%"></div> -->