{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}
<meta charset="utf-8">
<script src='../static/js/d3.min.js'></script>
<script src= "http://d3js.org/topojson.v1.min.js"></script>
<script src="//d3js.org/queue.v1.min.js"></script>
<!-- <script src="../static/geography/us-states.js"></script> -->
<style>
	.tooltip {
		position: absolute;
	    z-index: 10;
	    padding: 3px;
	    background: white;
	    border-radius: 10px;
	}
</style>
<script>
	// var data;
	// var heatmap, scatterplot;

	// var states = [
	// "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "District Of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota","Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota","Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"
	// ];

	// // var svg = d3.select(".block-map").append("svg")
	// // 	.attr("width", width)
	// // 	.attr("height", height);

	// d3.csv("../media/" + "{{ self.data_file.file }}", function(d) {
	// 	data = addStateIDs(d);
	// 	console.log(data);
	// 	heatmap = Heatmap().width(1000).height(500).data(data).div_container("#map");
	// 	heatmap();
	// 	scatterplot = Scatterplot().width(1000).height(500).data(data);
	// 	scatterplot();

	// });

	// function addStateIDs(d) {
	// 	for (i in d) {
	// 		for (j in states) {
	// 			if (d[i].name.trim().toLowerCase() == states[j].toLowerCase()) {
	// 				d[i].stateID = j;
	// 				break;
	// 			}
	// 		}
	// 	}
	// 	return d;
	// }

	// function globalMouseover(stateID) {
	// 	console.log("called global mouseover");
	// 	console.log(scatterplot.height());
	// 	scatterplot.hovered(stateID);
	// }

	// function Heatmap()  {
	// 	var width = 1000;
	// 	var height = 500;
	// 	var data;
	// 	var div_container = "body";
	// 	console.log(height);

	// 	function my() {
	// 	// generate chart here, using `width` and `height`
	// 		var path = d3.geo.path();
	// 		console.log("generating chart");
	// 		var tooltip = d3.select(div_container)
	// 		    .append("div")
	// 		    .classed("tooltip", true)
	// 		    .style("visibility", "hidden")
	// 		    .text("");

	// 		var linearColorScale = d3.scale.linear()
	// 			.domain([0,51])
	// 			.range(['#4f38ad','white']);

	// 		var svg = d3.select(div_container).append("svg")
	// 			.attr("width", width)
	// 			.attr("height", height);

	// 		//console.log(data);
	// 		addData();

	// 		function addData() {
	// 			console.log(data);
	// 			d3.json("../static/geography/us-states.json", function(json) {
	// 				for (i in data) {
	// 					var state = data[i];
						
	// 					//console.log(json);
	// 					for (j in json.features) {
	// 						//console.log(json.features[j].properties);
	// 						if (state.name.trim().toLowerCase() == json.features[j].properties.name.toLowerCase()) {
	// 							json.features[j].properties.{{self.color_variable}} = state.{{self.color_variable}};
	// 							json.features[j].properties.stateID = state.stateID;
	// 							break;
	// 						}
	// 					}
	// 				}
	// 				svg.selectAll("path")
	// 			       .data(json.features)
	// 			       .enter()
	// 			       .append("path")
	// 			       .attr("d", path)
	// 			       .attr("fill", function(d) {
	// 	                    var value = d.properties.{{self.color_variable}};
	// 	                    //returns white if value is undefined
	// 	                    return value ? linearColorScale(value) : "#ccc";
	// 	                })
	// 			       .on("mouseover", mouseover)
	// 			       .on("mousemove", mousemove)
	// 			       .on("mouseout", mouseout);

	// 			});
	// 		}

	// 		function mouseover() {
	// 			var elem = d3.select(this)
	// 				.attr("fill", "orange");
	// 			tooltip.style("visibility", "visible");
	// 			globalMouseover(elem[0][0].__data__.properties.stateID);
	// 		}

	// 		function mousemove() {
	// 			var dataProps= d3.select(this)[0][0].__data__.properties;
	// 			tooltip.style("top", (event.pageY-10)+"px").style("left",(event.pageX+10)+"px")
	// 				.text(function() { return dataProps.name + "\n" + dataProps.{{self.color_variable}} ;});
	// 		}

	// 		function mouseout() {
	// 			d3.select(this)
	// 				.attr("fill", function(d) {
	// 					var value = d.properties.{{self.color_variable}};
	// 	                    //returns white if value is undefined
	// 	                return value ? linearColorScale(value) : "#ccc";
	// 				});
	// 			tooltip.style("visibility", "hidden");
	// 		}
	// 	}

	// 	//Getter and Setter functions

	// 	my.width = function(value) {
	// 		if (!arguments.length) return width;
	// 		width = value;
	// 		return my;
	// 	};

	// 	my.height = function(value) {
	// 		console.log("here");
	// 		if (!arguments.length) return height;
	// 		height = value;
	// 		return my;
	// 	};

	// 	my.data = function(value) {
	// 		if (!arguments.length) return data;
	// 		data = value;
	// 		return my;
	// 	};

	// 	my.div_container = function(value) {
	// 		if (!arguments.length) return div_container;
	// 		div_container = value;
	// 		return my;
	// 	};

	// 	return my;
	// }

	// function Scatterplot() {
	// 	//default values - overidden if user passes in arguments
	// 	var width = 1000;
	// 	var height = 500;
	// 	var data;
	// 	var div_container = "#chart";
	// 	var hovered;

	// 	var scatter_data = [];
	// 	var padding = 30;

	// 	var linearColorScale = d3.scale.linear()
	// 		.domain([0,51])
	// 		.range(['#4f38ad','white']);

	// 	var svg = d3.select(div_container).append("svg")
	// 		.attr("width", width)
	// 		.attr("height", height);

	// 	var tooltip = d3.select(div_container)
	// 		.append("div")
	// 		.style("position", "absolute")
	// 		.style("z-index", "10")
	// 		.style("visibility", "hidden");

	// 	my();
		
	// 	function my() {
	// 		processData();
	// 		render();

	// 		function processData() {
	// 			for (i in data) {
	// 				var toAdd = [ Number(data[i].{{ self.x_variable }}), Number(data[i].{{ self.y_variable }}), data[i].name, Number(data[i].stateID) ];
	// 				scatter_data.push(toAdd);
	// 			}
	// 		}
			
	// 		function render() {
	// 			console.log(scatter_data);
	// 			//Create scale functions
	// 			var xScale = d3.scale.linear()
	// 				.domain([0, d3.max(scatter_data, function(d) { return d[0]; })])
	// 				.range([padding*2, width]);

	// 			var yScale = d3.scale.linear()
	// 				.domain([0, d3.max(scatter_data, function(d) { return d[1]; })])
	// 				.range([height - padding, padding]);

	// 			// var colorScale = d3.scale.linear()
	// 			//   	.domain([0,51])
	// 			//   	.range(['#4f38ad','white']);

	// 			//Define X axis
	// 			var xAxis = d3.svg.axis()
	// 				.scale(xScale)
	// 				.orient("bottom")
	// 				.ticks(5);

	// 			//Define Y axis
	// 			var yAxis = d3.svg.axis()
	// 				.scale(yScale)
	// 				.orient("left")
	// 				.ticks(5);

	// 			//Create SVG element
	// 			// var svg = d3.select("body")
	// 			// 	.append("svg")
	// 			// 	.attr("width", width + 2*padding)
	// 			// 	.attr("height", height + padding)
	// 			// 	.style("background", "#00b3b3")
	// 			// 	.style("border-radius", "25px");

	// 			//Create circles
	// 			var points = svg.selectAll("circle")
	// 				.data(scatter_data)
	// 				.enter()
	// 				.append("circle")
	// 				.attr("cx", function(d) {
	// 					return xScale(d[0]);
	// 				})
	// 				.attr("cy", function(d) {
	// 					return yScale(d[1]);
	// 				})
	// 				.attr("r", 5)
	// 				.style("fill", function(d) { 
	// 					if (d[3] == hovered) {
	// 						console.log("hover found" + d[3]);
	// 						return 'orange';
	// 					} else {
	// 						return '#4f38ad';
	// 					}
	// 					//console.log(d[3]); return d[3] == hovered ? "orange" : '#4f38ad';
	// 				})
	// 				.style("stroke", "none")
	// 				.on("mouseover", function(d) {
	// 					var focus = d3.select(this).style("fill", "orange").style("cursor", "pointer");
	// 					console.log(focus);
	// 					tooltip.style("visibility", "visible")
	// 			      	.style("top", (event.pageY-10)+"px")
	// 			      	.style("left",(event.pageX+10)+"px")
	// 			      	.text(d);
	// 				})
	// 				.on("mousemove", function(){
	// 					return tooltip.style("top", (event.pageY-10)+"px").style("left",(event.pageX+10)+"px");
	// 				})
	// 				.on("mouseout", function(d) {
	// 					d3.select(this).style("fill", '#4f38ad');
	// 					tooltip.style("visibility", "hidden");
	// 				});
	// 			/*
	// 			//Create labels
	// 			svg.selectAll("text")
	// 			   .data(dataset)
	// 			   .enter()
	// 			   .append("text")
	// 			   .text(function(d) {
	// 			   		return d[0] + "," + d[1];
	// 			   })
	// 			   .attr("x", function(d) {
	// 			   		return xScale(d[0]);
	// 			   })
	// 			   .attr("y", function(d) {
	// 			   		return yScale(d[1]);
	// 			   })
	// 			   .attr("font-family", "sans-serif")
	// 			   .attr("font-size", "11px")
	// 			   .attr("fill", "red");
	// 		  	*/
				
	// 			//Create X axis
	// 			svg.append("g")
	// 				.attr("class", "axis")
	// 				.attr("transform", "translate(0," + (height - padding) + ")")
	// 				.call(xAxis);
				
	// 			//Create Y axis
	// 			svg.append("g")
	// 				.attr("class", "axis")
	// 				.attr("transform", "translate(" + 2*padding + ",0)")
	// 				.call(yAxis);

	// 			svg.append("text")
	// 			    .attr("class", "xlabel")
	// 			    .attr("text-anchor", "middle")
	// 			    .attr("x", (width)/2)
	// 			    .attr("y", height + padding/2)
	// 			    .style("fill", "white")
	// 			    .text(humanizeString("{{ self.x_variable }}"));

	// 			svg.append("text")
	// 			    .attr("class", "ylabel")
	// 			    .attr("text-anchor", "middle")
	// 			    .attr("y", padding/2 - 5)
	// 			    .attr("x", -height/2)
	// 			    .attr("dy", ".75em")
	// 			    .attr("transform", "rotate(-90)")
	// 			    .style("fill", "white")
	// 			    .text(humanizeString("{{ self.y_variable }}"));

				
	// 		}

	// 		// removes whitespace and capitalizes each word in the input string
	// 		function humanizeString(s) {
	// 			var toRet = s.replace(/_/g, ' ')
	// 			 .replace(/(?: |\b)(\w)/g, function(key, p1) {
	// 			     //console.log('[' + key + '|' + p1 + ']');
	// 			     return key.toUpperCase();    
	// 			 });
	// 			console.log(toRet);
	// 			return toRet;
	// 		}
	// 	}

	// 	my.width = function(value) {
	// 		if (!arguments.length) return width;
	// 		width = value;
	// 		return my;
	// 	};

	// 	my.height = function(value) {
	// 		console.log("here");
	// 		if (!arguments.length) return height;
	// 		height = value;
	// 		return my;
	// 	};

	// 	my.data = function(value) {
	// 		if (!arguments.length) return data;
	// 		data = value;
	// 		return my;
	// 	};

	// 	my.div_container = function(value) {
	// 		if (!arguments.length) return div_container;
	// 		div_container = value;
	// 		return my;
	// 	};

	// 	my.hovered = function(value) {
	// 		if (!arguments.length) return hovered;
	// 		hovered = value;
	// 		console.log(hovered);
	// 		my();
	// 		return my;
	// 	};

	// 	return my;
	// }
		
</script>

<div id="map" style="width:75%;height:500px;margin-left:1%"></div>
<div id="chart" style="width:20%;height:500px;margin-left:1%"></div>