{% extends "base.html" %}
{% block body_class %}homepostpage{% endblock %}

{% block content %}
{% with self.get_ancestors.specific.2 as a %}

  <main class="home__panels">
  <section class="home__heading home__panel__promo">
    <div class="container">
      <div class="row gutter-20">
        <div class="home__heading__text col-9">
          <h1 class="promo margin-25">{% firstof a.title page.title %}</h1>
          <p class="margin-25">{% firstof a.story_excerpt page.story_excerpt %}</p>
        </div>
      </div>
    </div>
  </section>

  <div id="compose__home-panels" data-replace-this="true" data-page-id="{% firstof a.id page.id %}"></div>
  </main>
{% endwith %}
{% endblock %}
