{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-programsimplepage{% endblock %}

{% block extra_js %}
	{% if page.data_project_external_script %}
		<script type="text/javascript" src="https://na-data-projects.s3.amazonaws.com/projects/{{ page.data_project_external_script }}"></script>
	{% endif %}
{% endblock %}

{% block content %}
	{% include 'components/post_heading.html' %}
	<div class="post-container">
	  <div class="post-body">
			{% include 'components/post_body.html' %}
		</div>
	</div>
{% endblock %}
