{% extends "program_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-programsimplepage{% endblock %}

{% block extra_js %}
	{% if page.data_project_external_script %}
		<script type="text/javascript" src="https://na-data-projects.s3.amazonaws.com/projects/{{ page.data_project_external_script }}"></script>
	{% endif %}
{% endblock %}

{% block content %}
	{% image page.story_image min-1100x300 as story_image %}

	<div class="post-header-container">
		{% if story_image %}

			<div class="post-header with-image" style="background-image: linear-gradient(
			      rgba(0, 0, 0, 0),
			      rgba(0, 0, 0, 0.15)
			    ),
		    	url({{ story_image.url }})">

				<div class="post-header__text">
			    	<h1 class="post-header__text__heading">{{ page.title }}</h1>
				</div>
			</div>
			{% if story_image.image.source %}
				<div class="caption">Photo: {{ story_image.image.source}}</div>
			{% endif %}

		{% else %}

			<div class="post-header">
				<div class="post-header__text">
			    	<h1 class="post-header__text__heading">{{ page.title }}</h1>
				</div>
			</div>

		{% endif %}
	</div>

	<div class="post-container">
	  <div class="post-body">
			{% include 'components/post_body.html' %}
		</div>
	</div>

{% endblock %}
