{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_id %}na-post{% endblock %}

{% block content %}
    <main class="post container margin-35 project-requests margin-lg-80">
		<div class="project-requests-container margin-bottom-25">
			<h1 class="margin-top-0">
				{% firstof custom_title page.title %}
			</h1>
		</div>

        <div class="project-request-iframe-container">
            <iframe src="{{ page.embed_url }}"></iframe>    
        </div>
    </main>
{% endblock %}
