{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-subscribepage{% endblock %}

{% block content %}
	<div class="subscribe-page">
		{% image page.story_image min-1100x300 as story_image %}

		<div class="post-header-container">
			{% if story_image %}

				<div class="post-header with-image" style="background-image: linear-gradient(
				      rgba(0, 0, 0, 0),
				      rgba(0, 0, 0, 0.15)
				    ),
			    	url({{ story_image.url }})">

					<div class="post-header__text">
				    	<h1 class="post-header__text__heading">{{ page.title }}</h1>
					</div>
				</div>
				{% if story_image.image.source %}
					<div class="caption">Photo: {{ story_image.image.source}}</div>
				{% endif %}

			{% else %}

				<div class="post-header">
					<div class="post-header__text">
				    	<h1 class="post-header__text__heading">{{ page.title }}</h1>
					</div>
				</div>

			{% endif %}
		</div>

		<p class="subscribe-page__description">{{ page.story_excerpt }}</p>

		<form action="http://newamerica.createsend.com/t/d/s/jdjrz/" method="post" id="subForm">
			<h3 class="subscribe-page__section-heading">Your Information</h3>

			<div class="row">
				<div class="medium-5 columns">
					<label>First &amp; Last Name*
						<input id="fieldName" name="cm-name" type="text" pattern=".+[\s].+" required oninvalid="this.setCustomValidity('Please enter a valid first and last name combination')" oninput="setCustomValidity('')">
					</label>
				</div>
				<div class="medium-5 columns">
					<label>Email*
						<input id="fieldEmail" name="email" type="email" required>
					</label>
				</div>
				<div class="medium-2 columns">
					<label>Zip Code*
						<input id="fieldtdkjdi" name="cm-f-tdkjdi" type="text" required>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<label>Organization
						<input id="fieldzuhg" name="cm-f-zuhg" type="text">
					</label>
				</div>
				<div class="medium-6 columns">
					<label>Job Title
						<input id="fieldzuhw" name="cm-f-zuhw" type="text">
					</label>
				</div>
			</div>

			<h3 class="subscribe-page__section-heading">Your Subscriptions</h3>

			<ul class="tabs" data-tabs id="subscribe-tabs">
				<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Newsletters</a></li>
				<li class="tabs-title"><a href="#panel2">Events</a></li>
			</ul>

			<div class="tabs-content" data-tabs-content="subscribe-tabs">
			  	<div class="tabs-panel is-active" id="panel1">

					<!-- The newsletter ID appears after the word 'list' in the input id, and after the letters 'cm-ol-' in the input name -->
					<div class="row">
						{% for subscription in page.newsletter_subscriptions %}
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="list{{ subscription.value.id }}" class="subscribe-page__list__entry__checkbox" name="cm-ol-{{ subscription.value.id }}" type="checkbox" {% if subscription.value.checked_by_default %}checked{% endif %}/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">{{ subscription.value.title }}</h5>
									<p class="subscribe-page__list__entry__description">{{ subscription.value.description }}</p>
							   	</label>
							</div>
						</div>
						{% endfor %}
					</div>

				</div>
				<div class="tabs-panel" id="panel2">
					<div class="row">
						{% for subscription in page.event_subscriptions %}
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="list{{ subscription.value.id }}" class="subscribe-page__list__entry__checkbox" name="cm-ol-{{ subscription.value.id }}" type="checkbox" {% if subscription.value.checked_by_default %}checked{% endif %}/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">{{ subscription.value.title }}</h5>
									<p class="subscribe-page__list__entry__description">{{ subscription.value.description }}</p>
							   	</label>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<p class="subscribe-page__antispam">Leave this Empty: <input id="subscribe-page__antispam__input" name="url" type="text"></p>

			<button class="button" type="submit" value="Submit">Submit</button>
		</form>

	</div>

{% endblock %}
