{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-subscribepage{% endblock %}

{% block content %}
	<div class="subscribe-page">

		<div class="post-header-container">
		{% if story_image %}

			<div class="post-header with-image" style="background-image: linear-gradient(
			      rgba(0, 0, 0, 0.3),
			      rgba(0, 0, 0, 0.3)
			    ), 
		    	url({{ story_image.url }})">

				<div class="post-header__text">
			    	<h1 class="post-header__text__heading">{{ page.title }}</h1>
				</div>
			</div>
			{% if story_image.image.source %}
				<div class="caption">Photo: {{ story_image.image.source}}</div>
			{% endif %}

		{% else %}

			<div class="post-header">
				<div class="post-header__text">
			    	<h1 class="post-header__text__heading">{{ page.title }}</h1>
				</div>
			</div>

		{% endif %}
	</div>

		<p class="subscribe-page__description">{{ page.story_excerpt }}</p>

		

		<form action="http://newamerica.createsend.com/t/d/s/jdjrz/" method="post" id="subForm">
			<h3 class="subscribe-page__section-heading">Your Information</h3>

			<div class="row">
				<div class="medium-5 columns">
					<label>Full Name*
						<input id="fieldName" name="cm-name" type="text" required>
					</label>
				</div>
				<div class="medium-5 columns">
					<label>Email*
						<input id="fieldEmail" name="cm-jdjrz-jdjrz" type="email" required>
					</label>
				</div>
				<div class="medium-2 columns">
					<label>Zip Code*
						<input id="fieldtdkjdi" name="cm-f-tdkjdi" type="text" required>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<label>Organization
						<input id="fieldzuhg" name="cm-f-zuhg" type="text">
					</label>
				</div>
				<div class="medium-6 columns">
					<label>Job Title
						<input id="fieldzuhw" name="cm-f-zuhw" type="text">
					</label>
				</div>
			</div>

			<h3 class="subscribe-page__section-heading">Your Subscriptions</h3>

			<ul class="tabs" data-tabs id="subscribe-tabs">
				<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Newsletters</a></li>
				<li class="tabs-title"><a href="#panel2">Events</a></li>
			</ul>

			<div class="tabs-content" data-tabs-content="subscribe-tabs">
			  	<div class="tabs-panel is-active" id="panel1">

					<!-- The newsletter ID appears after the word 'list' in the input id, and after the letters 'cm-ol-' in the input name -->
					<div class="row">
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listtkthhd" class="subscribe-page__list__entry__checkbox" name="cm-ol-tkthhd" type="checkbox" checked/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">New America Weekly</h5>
									<p class="subscribe-page__list__entry__description">New America's weekly digital magazine, distributed Thursdays, featuring the big ideas and innovative thinking.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listkjhtji" class="subscribe-page__list__entry__checkbox" name="cm-ol-kjhtji" type="checkbox" />
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">The Week Ahead</h5>
									<p class="subscribe-page__list__entry__description">Our Monday digest of what's happening at New America</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listtkthyk" class="subscribe-page__list__entry__checkbox" name="cm-ol-tkthyk" type="checkbox" />
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">Assets Update</h5>
									<p class="subscribe-page__list__entry__description">Our weekly newsletter on XYZ, plus Asset Building event updates.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listtkthtl" class="subscribe-page__list__entry__checkbox" name="cm-ol-tkthtl" type="checkbox" />
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">Your Life, Better</h5>
									<p class="subscribe-page__list__entry__description">Our weekly newsletter on XYZ, plus Better Life Lab event updates.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listikjhuh" class="subscribe-page__list__entry__checkbox" name="cm-ol-ikjhuh" type="checkbox" />
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">Global Cyber Quarterly Update</h5>
									<p class="subscribe-page__list__entry__description">Our quarterly newsletter on XYZ</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listirluv" class="subscribe-page__list__entry__checkbox" name="cm-ol-irluv" type="checkbox" />
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">DLL National Work Group Newsletter</h5>
									<p class="subscribe-page__list__entry__description">Our newsletter on XYZ, distributed every Monday.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listtkthtd" class="subscribe-page__list__entry__checkbox" name="cm-ol-tkthtd" type="checkbox" />
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">Early &amp; Elementary Ed Update</h5>
									<p class="subscribe-page__list__entry__description">Our weekly newsletter on XYZ, distributed every Tuesday.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listtkthtt" class="subscribe-page__list__entry__checkbox" name="cm-ol-tkthtt" type="checkbox" />
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">Education Weekly &amp; Highlights</h5>
									<p class="subscribe-page__list__entry__description">Our Education Weekly and Highlights newsletters on XYZ, plus Education Policy event updates.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listdyjtn" class="subscribe-page__list__entry__checkbox" name="cm-ol-dyjtn" type="checkbox" />
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">Food and Farming</h5>
									<p class="subscribe-page__list__entry__description">Our newsletter on XYZ.</p>
							   	</label>
							</div>
						</div>
						
					</div>

				</div>
				<div class="tabs-panel" id="panel2">
					<div class="row">
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listiudktd" class="subscribe-page__list__entry__checkbox" name="cm-ol-iudktd" type="checkbox"/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">Bretton Woods II</h5>
									<p class="subscribe-page__list__entry__description">Events updates from X Program.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listikjyut" class="subscribe-page__list__entry__checkbox" name="cm-ol-ikjyut" type="checkbox"/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">Cybersecurity</h5>
									<p class="subscribe-page__list__entry__description">Events updates from X Program.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listtkthty" class="subscribe-page__list__entry__checkbox" name="cm-ol-tkthty" type="checkbox"/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">Economic Growth</h5>
									<p class="subscribe-page__list__entry__description">Events updates from X Program.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listtkthtu" class="subscribe-page__list__entry__checkbox" name="cm-ol-tkthtu" type="checkbox"/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">Fellows</h5>
									<p class="subscribe-page__list__entry__description">Events updates from X Program.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listtkthiy" class="subscribe-page__list__entry__checkbox" name="cm-ol-tkthiy" type="checkbox"/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">Future Tense</h5>
									<p class="subscribe-page__list__entry__description">Events updates from X Program.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listtkthii" class="subscribe-page__list__entry__checkbox" name="cm-ol-tkthii" type="checkbox"/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">ISP</h5>
									<p class="subscribe-page__list__entry__description">Events updates from X Program.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listtkthiu" class="subscribe-page__list__entry__checkbox" name="cm-ol-tkthiu" type="checkbox"/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">NYC</h5>
									<p class="subscribe-page__list__entry__description">Events updates from X Program.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listtkthdr" class="subscribe-page__list__entry__checkbox" name="cm-ol-tkthdr" type="checkbox"/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">Open Markets</h5>
									<p class="subscribe-page__list__entry__description">Events updates from X Program.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listtkthdt" class="subscribe-page__list__entry__checkbox" name="cm-ol-tkthdt" type="checkbox"/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">OTI</h5>
									<p class="subscribe-page__list__entry__description">Events updates from X Program.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listtkthdh" class="subscribe-page__list__entry__checkbox" name="cm-ol-tkthdh" type="checkbox"/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">Political Reform</h5>
									<p class="subscribe-page__list__entry__description">Events updates from X Program.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listijcm" class="subscribe-page__list__entry__checkbox" name="cm-ol-ijcm" type="checkbox"/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">Profits and Purpose</h5>
									<p class="subscribe-page__list__entry__description">Events updates from X Program.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listiudktd" class="subscribe-page__list__entry__checkbox" name="cm-ol-iudktd" type="checkbox"/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">P&amp;P -- Bretton Woods</h5>
									<p class="subscribe-page__list__entry__description">Events updates from X Program.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listdybti" class="subscribe-page__list__entry__checkbox" name="cm-ol-dybti" type="checkbox"/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">Resilient Communities</h5>
									<p class="subscribe-page__list__entry__description">Events updates from X Program.</p>
							   	</label>
							</div>
						</div>
						<div class="small-12 medium-6 large-4 columns">
							<div class="subscribe-page__list__entry">
								<label class="control control--checkbox">
									<input id="listkyvjk" class="subscribe-page__list__entry__checkbox" name="cm-ol-kyvjk" type="checkbox"/>
									<div class="control__indicator"></div>
									<h5 class="subscribe-page__list__entry__title">Resource Security</h5>
									<p class="subscribe-page__list__entry__description">Events updates from X Program.</p>
							   	</label>
							</div>
						</div>

						
					</div>
				</div>
			</div>
			<button class="button" type="submit" value="Submit">Submit</button>
		</form>

		



	</div>

{% endblock %}