*.sqlite3
*.db
*__pycache__/
*.pyc
*.DS_Store
*.env


node_modules
bower_components
npm-debug.log
requirements.txt

media/

mysite/static/js


venv
*.log

*.csv

home/management/api/article_images/
home/management/api/images/