language: python
sudo: true
python:
- '3.6'
addons:
  postgresql: '9.4'
cache: pip
before_install:
- psql -c 'create database "newamerica";' -U postgres
services:
- elasticsearch
before_script:
- sleep 10
install:
- travis_retry pip install --upgrade setuptools
- travis_retry pip install -r requirements.txt
- travis_retry npm install
- STATIC_URL="https://fake.io" npm run build:production
script:
- python manage.py migrate --noinput --settings=newamericadotorg.settings.test
- python manage.py test --noinput --settings=newamericadotorg.settings.test
deploy:
  provider: heroku
  api_key:
    secure: RWv3SXsCVk5KdIFPj9NIcrXh8m7/Ypz71aPOhfFVXIiKSs1NANw+QUapmBjjQxyIUkpIlsllc1BKJrE21nmKgtnSykRj+KnpjFynSC+E5Fgpbaz6BxFfKiIbf9i9FV63rb4F6t1/GlDyTu0p05ibTNaM5yg+mTJVUKIaeBDBLiItTVVsgFDJ6JwuKdJSOk8Q8AlDis36VsQ/C/plT7aOMjwqq10g2WEKdGMIL2+rE0jydSRGZpgseSVO55cpjZ+5kC2Uxv3/BW6rUBSQHa4eTCACvuERouKHFZ57oqsVe5J17E2GBxcEUtB4sGCAfYipPsFclw58WjVlR9tzOCtwh7WgeRxTuukJbmAZxKPGdLUyORN8JGrI5Dr3X2/gtxQv4QatpkMG/kYkh4hKLkDGxIVXZ1znrxUNgm55b9ZhFK+VxUY4omsXqY55QNQC/ht8QscPEupV61vaIaUXLbEa96AHmD2Pc4Ab69SP24icrXKn4pXM8YcIG7AAfGt3R3iVDU+KlnAuEWCrRCt4jxPt4oCdFhlxXRy9OYHw1824K/wGiSqrrIDk9L5qWgiqTszXtfusUoKotqiFOTQ6G19eLLNmK5FHr/cncUpFvmeMGgupx9tTau+Ti30+fdzTcPIRaRH5TkyqYNriteYB5kyGUxmQaHwcBhi/uGKn6evp3lU=
    app:
      staging: na-staging
    on: staging
notifications:
  slack:
    secure: BB9OPeZYwNLTYCGE4BChCot9iOGOKp9DMKCRUKacthp0k2YFQuBni81WC9ECiY6msXEsYh3B+2B1Lu1L8MoelqGuXeT8x0EnOgEphAtUtx7LXsWlezVceu6I4FW4JnVlgMY/mHFHWAuuexnMZq8rQ0EHiRC9aBUbw5/FjyyHmnk1q6Mf0QwOb8OXBrTtblNmtRqQ5go91AeDvqBYxSXKWwrZj/6DrtRVDasHOTsCMy2chAM/azJEWMXfnWmUvWR2XwnW8Ohxl+woqLogLpx0xAgkAFydqZkoDRUCIq3kicWYSN1IY3EYAjrLdfaWDMmTa/yhkI5uJ6mVPw7AqCEj27DYk7fOPGmr004zSslAT0PBBsB2luO7/lUaM5ohdrtZQYjotIcYU6+nf8nwSSE/r3eSC8feNfOD72rJ4RK3VVZgQKZDO7XSmtMlGnTUDE/YDCuKhmS/tAZ6RvO4gbdJLD+L5T+koAARKRPhtHJg+RDIWXgh30KVT0pz8fmxUnJInPxoHlAuspXBatiBsSz4nH/kkffAVTgDsSUQUF6rvBVx+VFcId5VdIjoFVD+Ib9PIijGoD43xJFu/fiG49i76P21FBjH4NjMOsc3/u3b/fUIuZZ9/UhyyXMP44GjBxjE0GheAjZ+MJpcvby+A5AeP+dhagTN7BfhxB998GKnv58=
