Django==3.2.4
Wagtail==2.13.4

# Packages that depend on Django version
Celery==4.4.0
dj-database-url==0.5.0
django-cors-headers==3.7.0
django-storages==1.11.1
django-compressor==2.4
django-anymail==8.3
django-filter==2.4.0
django-modelcluster==5.1
logdna==1.16.0
whitenoise==5.2.0
django-redis==4.12.1
django-basic-auth-ip-whitelist==0.3.4

# Other packages
Wand==0.5.9
createsend==6.1.0
psycopg2==2.8.4
WeasyPrint==51
python-docx==0.8.10
boto3==1.12.5
elasticsearch==5.5.3
redis==3.4.1
#See https://github.com/wagtail/wagtail-autocomplete
wagtail-autocomplete==0.6.3
#See https://pypi.org/project/django-multiselectfield/
django-multiselectfield==0.1.12
# Production packages
newrelic==6.4.3.160
gunicorn==20.0.4
sentry-sdk==0.14.1
wagtail-headless-preview==0.1.4

# Development packages
Faker==4.0.1
