.timeline__see-all-button {
	border-left: 1px solid color(black, base, 1);
	border-bottom: 1px solid color(black, base, 1);
	border-right: 1px solid color(black, base, 1);
	display: inline-block;
	@include timeline-subtext
	cursor: pointer;
	padding: 3px 5px;
	color: color(black) !important;

	&:after {
		content: "See List View";
		.list-view & {
			content: "See Interactive View";
		}
	}
}
