{% extends "events_sidemenu.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block extra_scripts %}
	<script>
        $(function() {
        	$("#content-grid__controls__date-filter").daterangepicker({
        		applyButtonText: 'Confirm',
				clearButtonText: null,
				cancelButtonText: null,
				initialText: 'Select Dates',
				presetRanges: [{
			         text: 'Today',
			         dateStart: function() { return moment() },
			         dateEnd: function() { return moment() }
			    }, {
			         text: 'Tomorrow',
			         dateStart: function() { return moment().add('days', 1) },
			         dateEnd: function() { return moment().add('days', 1) }
			    }, {
			         text: 'Next 7 Days',
			         dateStart: function() { return moment() },
			         dateEnd: function() { return moment().add('days', 6) }
			    }, {
			         text: 'Previous 7 Days',
			         dateStart: function() { return moment().add('days', -6) },
			         dateEnd: function() { return moment() }
			    }, {
			         text: 'Future',
			         dateStart: function() { return moment() },
			         dateEnd: function() { return moment().add('days', 365) }
			    }, {
			         text: 'Past Year',
			         dateStart: function() { return moment().add('days', -365) },
			         dateEnd: function() { return moment() }
			    }],

				datepickerOptions: {
					numberOfMonths : 1,
			        minDate: null,
			        maxDate: null
			    },
			    onChange: function() {
			    	$("#content-grid__controls__submit").prop('disabled', false);
			    },

     		})
     	});

    </script>
{% endblock %}

{% block body_class %}template-alleventshomepage{% endblock %}

{% block content %}
	<div class="post-header-container">
		<div class="post-header">
			<div class="post-header__text">
			    	<h1 class="post-header__text__heading">{{ page.title }}</h1>
			</div>
		</div>
	</div>

	<div class="event-post-home-page">
		<div class="content-grid__controls">
			<form class="content-grid__controls__filter-group" action="{{ pageurl }}" method="get">
				<div class="content-grid__controls__filter">
					<select class="content-grid__controls__program-filter" name="program_id">
						<option value="">All Programs</option>
						{% for program in programs %}
						<option value="{{program.id}}">{{program.title}}</option>
						{% endfor %}
			        </select>
			    </div>
			    <div class="content-grid__controls__filter">
					<input id="content-grid__controls__date-filter" class="date-picker" name="date">
			    </div>
			    <div class="content-grid__controls__buttons">
			    	<button id="content-grid__controls__submit" class="button" type="submit" value="Search" disabled>Update Search</button>
			    	<a href="{{ self.url }}">Reset</a>
				</div>
			</form>
			<div class="content-grid__controls__right">
				<div class="pagination">
					{% if all_events.has_previous %}
						<a class="pagination__arrow" href="?page={{ all_events.previous_page_number }}&{{ query_url }}">
							{% include 'components/svg/arrow-left.html' %}
						</a>
					{% endif %}

					<span>Page</span>
					<form class="pagination__form" action="?page=value" method="get">
						<input class="pagination__input" type="text" placeholder="{{ all_events.number }}" name="page">
						{% if request.GET.program_id %}
							<input type="hidden" value="{{request.GET.program_id}}" name="program_id">
						{% endif %}
						{% if request.GET.date %}
							<input type="hidden" value="{{request.GET.date}}" name="date">
						{% endif %}
					</form>

					<span>of</span>
					<a href="?page={{ all_events.paginator.num_pages|get_range|last }}&{{ query_url }}">{{ all_events.paginator.num_pages|get_range|last }}</a>

					{% if all_events.has_next %}
				    	<a class="pagination__arrow" href="?page={{ all_events.next_page_number }}&{{ query_url }}">
				    		{% include 'components/svg/arrow-right.html' %}
						</a>
					{% endif %}
				</div>
			</div>
		</div>

	{% if all_events %}

		<div class="picture-grid with-sidemenu-width">
			{% for post in all_events %}
				{% if post.related_conference %}
					{% include './event_item.html' with value=post.related_conference %}
				{% else %}
					{% include './event_item.html' with value=post %}
				{% endif %}
			{% endfor %}
		</div>

		<div class="picture-grid__footer">
			<div class="pagination">
				{% if all_events.has_previous %}
					<a class="pagination__arrow" href="?page={{ all_events.previous_page_number }}&{{ query_url }}">
						{% include 'components/svg/arrow-left.html' %}
					</a>
				{% endif %}

				<span>Page</span>
				<form class="pagination__form" action="?page=value" method="get">
					<input class="pagination__input" type="text" placeholder="{{ all_events.number }}" name="page">
					{% if request.GET.program_id %}
						<input type="hidden" value="{{request.GET.program_id}}" name="program_id">
					{% endif %}
					{% if request.GET.date %}
						<input type="hidden" value="{{request.GET.date}}" name="date">
					{% endif %}
				</form>

				<span>of</span>
				<a href="?page={{ all_events.paginator.num_pages|get_range|last }}&{{ query_url }}">{{ all_events.paginator.num_pages|get_range|last }}</a>

				{% if all_events.has_next %}
			    	<a class="pagination__arrow" href="?page={{ all_events.next_page_number }}&{{ query_url }}">
			    		{% include 'components/svg/arrow-right.html' %}
					</a>
				{% endif %}
			</div>
		</div>

	{% else %}
		<h5 class="content-grid__no-results">No results found</h5>
	{% endif %}

	</div>

{% endblock %}
