{% extends "post_page.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-event{% endblock %}

{% block post_right_aside %}
	<aside class="col-md-2">
		<div class="post-authors__list row gutter-0">
			<div class="event-details col-lg-12 col-6 margin-bottom-lg-25">
					<label class="block bold margin-0">When</label>
					<label class="">{% generate_dateline page %}</label>
			</div>
			<div class="event-details col-lg-12 col-6">
				<label class="block bold margin-0">Where</label>
				<label class="margin-bottom-0"><p>{{ page.host_organization }}</p>
					<p>{{ page.street_address }}</p>
					<p>{{ page.city }}, {{ page.state }} {{ page.zipcode }}</p>
				</label>
			</div>
		</div>
		<div class="post-authors__rsvp margin-top-25">
			<a class="button turquoise block" href="">RSVP</a>
		</div>
	</aside>
{% endblock %}

{% block post_extra_body_content %}
	{% if page.soundcloud_url %}
		<div class="event__soundcloud_embed">
			<a href='{{ page.soundcloud_url }}'>Listen to this Event</a>
		</div>
	{% endif %}
{% endblock %}
