{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

<div class="picture-grid__entry">
  {% if value.story_image %}
    {% image value.story_image min-650x200 as post_image %}
    <a href="{{ value.url }}">
      <div class="picture-grid__entry__image-container" style="background-image: url('{{ post_image.url }}') ">
      </div>
    </a>
    <div class="picture-grid__entry__text-container has-image">
  {% else %}
    <div class="picture-grid__entry__text-container">
  {% endif %}
      {% if value.parent_programs %}
        <h5 class="picture-grid__entry__description">
        {% for program in value.parent_programs.all %}
          <a href="{{ program.url }}"> {{ program | upper }}</a>{% list_separator forloop.revcounter0 %}
        {% endfor %}
        </h5>
      {% endif %}
      <h5 class="picture-grid__entry__title">
        <a href="{{ post.url }}">{{ value.title }}</a>
      </h5>
      <h5 class= "picture-grid__entry__date-time">{% generate_dateline value %}</h5>
      <h5 class= "picture-grid__entry__location">{{ value.city }}, {{ value.state }}</h5>

      <hr class="picture-grid__entry__break">
      <p class="picture-grid__entry__body">{% if value.story_excerpt %}{{ value.story_excerpt }}{% endif %}</p>
      <a class="picture-grid__entry__button button" href="{{ value.url }}">Read More</a>
      <div class="picture-grid__entry__text-fadeout"></div>
    </div>

</div>
<hr class="picture-grid__divider">
