{% extends "post_page.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-event{% endblock %}

{% block post_left_aside %}
	<aside class="col-md-12 col-lg-3 event-details container">
		<div class="row">
			<div class="event-details__when col-lg-12 col-6">
					<h4 class="event-details__label narrow-margin">When</h4>
					<label class="event-detail__when__date lg">{% generate_dateline page %}</label>
			</div>
			<div class="event-details__where col-lg-12 col-6">
				<h4 class="event-details__label narrow-margin">Where</h4>
				<label class="event-details__where__organization lg block">{{ page.host_organization }}</label>
				<label class="event-details__where__street lg block">{{ page.street_address }}</label>
				<label class="event-details__where__city-state lg block">{{ page.city }}, {{ page.state }} {{ page.zipcode }}</label>
			</div>
		</div>
	</aside>
{% endblock %}

{% block post_extra_body_content %}
	{% if page.soundcloud_url %}
		<div class="event__soundcloud_embed">
			<a href='{{ page.soundcloud_url }}'>Listen to this Event</a>
		</div>
	{% endif %}
{% endblock %}
