{% extends "program_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-event{% endblock %}

{% block content %}

<div class="post-container">
	<div class="event row">
		<div class="event__left">
			<h3 class="event__heading">When</h3>
			{% generate_dateline page %}
		</div>
		<div class="event__right">
			<h3 class="event__heading">Where</h3>
			<p>{{ page.host_organization }}</p>
			<p>{{ page.street_address }}</p>
			<p>{{ page.city }}, {{ page.state }} {{ page.zipcode }}</p>
		</div>
	</div>

  {% include 'components/post_body.html' %}

	{% if page.soundcloud_url %}
		<div class="event__soundcloud_embed">
			<a href='{{ page.soundcloud_url }}'>Listen to this Event</a>
		</div>
	{% endif %}

	{% include 'components/social_share.html' %}
</div>

{% endblock %}
