{% extends "program_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block extra_scripts %}
	<script>
        $(function() { 
        	$("#content-grid__controls__date-filter").daterangepicker({
        		applyButtonText: 'Confirm',
				clearButtonText: null,
				cancelButtonText: null,
				initialText: 'Select Dates',
				presetRanges: [{
			         text: 'Today',
			         dateStart: function() { return moment() },
			         dateEnd: function() { return moment() }
			    }, {
			         text: 'Tomorrow',
			         dateStart: function() { return moment().add('days', 1) },
			         dateEnd: function() { return moment().add('days', 1) }
			    }, {
			         text: 'Next 7 Days',
			         dateStart: function() { return moment() },
			         dateEnd: function() { return moment().add('days', 6) }
			    }, {
			         text: 'Previous 7 Days',
			         dateStart: function() { return moment().add('days', -6) },
			         dateEnd: function() { return moment() }
			    }],
				datepickerOptions: {
					numberOfMonths : 1,
					defaultDate: +0,
			        minDate: null,
			        maxDate: null
			    }
     		})
     	});
    </script>
{% endblock %}

{% block body_class %}template-programeventspage{% endblock %}

{% block content %}

	<div class="post-header-container">
		<div class="post-header">
			<div class="post-header__text">
			    <h1 class="post-header__text__heading">{{ page.title }}</h1>
			</div>
		</div>
	</div>

	<div class="event-post-home-page">
		<div class="content-grid__controls">
			{% if subprograms %}
				<form class="content-grid__controls__filter-group" action="{{ pageurl }}" method="get">
					<div class="content-grid__controls__filter">
						<select class="content-grid__controls__program-filter" name="subprogram_id">
							<option value="">All Initiatives</option>
							{% for subprogram in subprograms %}
							<option value="{{subprogram.id}}">{{subprogram.title}}</option>
							{% endfor %}
				        </select>
				    </div>
				    <div class="content-grid__controls__filter">
						<input id="content-grid__controls__date-filter" class="date-picker" name="date">
				    </div>
				    <div class="content-grid__controls__buttons">
				    	<button id="content-grid__controls__submit" class="button" type="submit" value="Search" disabled>Update Search</button>
				    	<a href="{{ self.url }}">Reset</a>
					</div>
				</form>
			{% endif %}
			<div class="content-grid__controls__right">
				<div class="pagination">
						{% if all_posts.has_previous %}
							<a class="pagination__arrow" href="?page={{ all_posts.previous_page_number }}">

								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
									<polygon points="66.688,5.188 22.168,49.998 66.688,94.812 77.83,83.595 44.965,50.51 77.832,16.405 "/>
								</svg>

							</a>
						{% endif %}

						<span>Page</span>
						<form class="pagination__form" action="?page=value" method="get">
							<input class="pagination__input" type="text" placeholder="{{ all_posts.number }}" name="page">
						</form>

						<span>of</span>
						<a href="?page={{ all_posts.paginator.num_pages|get_range|last }}">{{ all_posts.paginator.num_pages|get_range|last }}</a>
			
						{% if all_posts.has_next %}
					    	<a class="pagination__arrow" href="?page={{ all_posts.next_page_number }}">
					    		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
									<polygon points="33.312,94.812 77.832,50.002 33.312,5.188 22.17,16.405 55.035,49.49 22.168,83.595 "/>
								</svg>
							</a>
						{% endif %}
				</div>
			</div>
		</div>

		<div class="picture-grid with-sidemenu-width">
			{% for post in all_posts %}
				<div class="picture-grid__entry">
						{% if post.story_image %}
							{% image post.story_image min-650x200 as post_image %}
							<a href="{{ post.url }}">
								<div class="picture-grid__entry__image-container" style="background-image: url('{{ post_image.url }}') ">
								</div>
							</a>
						{% endif %}
						<div class="picture-grid__entry__text-container">
							{% if post.post_subprogram.all %}
								<h5 class="picture-grid__entry__description">
								{% for subprogram in post.post_subprogram.all %}
									<a href="{{ subprogram.url }}"> {{ subprogram | upper }}</a>{% list_separator forloop.revcounter0 %}
								{% endfor %}
								</h5>
							{% endif %}
							<h5 class="picture-grid__entry__title">
								<a href="{{ post.url }}">{{ post.title }}</a>
							</h5>
							<h5 class= "picture-grid__entry__date-time">{% generate_dateline post %}</h5>
							<h5 class= "picture-grid__entry__location">{{ post.city }}, {{ post.state }}</h5>
							
							<hr class="picture-grid__entry__break">
							<p class="picture-grid__entry__body">
								{{ post.story_excerpt }}
							</p>
							<a class="picture-grid__entry__button button" href="{{ post.url }}">Read More</a>
							<div class="picture-grid__entry__text-fadeout"></div>
						</div>
						
				</div>
				<hr class="picture-grid__divider">
	
			{% endfor %}
		</div>

		<div class="picture-grid__footer">
			<div class="pagination">
				{% if all_posts.has_previous %}
					<a class="pagination__arrow" href="?page={{ all_posts.previous_page_number }}">

						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
							<polygon points="66.688,5.188 22.168,49.998 66.688,94.812 77.83,83.595 44.965,50.51 77.832,16.405 "/>
						</svg>

					</a>
				{% endif %}

				<span>Page</span>
				<form class="pagination__form" action="?page=value" method="get">
					<input class="pagination__input" type="text" placeholder="{{ all_posts.number }}" name="page">
				</form>

				<span>of</span>
				<a href="?page={{ all_posts.paginator.num_pages|get_range|last }}">{{ all_posts.paginator.num_pages|get_range|last }}</a>

				{% if all_posts.has_next %}
			    	<a class="pagination__arrow" href="?page={{ all_posts.next_page_number }}">
			    		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
							<polygon points="33.312,94.812 77.832,50.002 33.312,5.188 22.17,16.405 55.035,49.49 22.168,83.595 "/>
						</svg>
					</a>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}