extends layout

block content

  section.section.section--fixed-width
    .row
      .columns
        include ./includes/hero-grid.jade

  section.section.section--fixed-width
    include ./includes/picture-links.jade

  section.section.section--fixed-width
    include ./includes/border-panels.jade

  .modal
    .modal__content
      h1
        | hi

  include ./includes/panel.jade
  
  include ./includes/subscribe.jade

  script(type='text/javascript').
    window.uiState = { isHeaderExpanded: true }
