extends layout

block content
  div(style='text-align: center; margin: 100px auto;')
    h1(style='font-family: Platform; font-weight: bold; font-size: 36px; text-transform: uppercase;') newamerica.org frontend demo
    a.button(href='/home', style='margin: 20px')
      | home
    a.button(href='/press-releases', style='margin: 20px;')
      | press releases
    a.button(href='/post', style='margin: 20px;')
      | post

  script(type='text/javascript').
    window.uiState = { isHeaderExpanded: true }