doctype html
html
  head
    title Atlas
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', async)
    script(src='/static/js/mysite.js')
  body
    .wrapper
      .wrapper__clear-header
        block content