extends layout

block content

  section.section.section--fixed-width
    .row
      .columns
        .section
          .simple-page-title
            ul.breadcrumbs
              li
                a(href='/') Education Policy
              li
                a(href='/') Our Work
            .press-releases
              h1.press-releases__title
                | Press releases
          ul.nav-circles
            li.nav-circles__circle.nav-circles__circle--active
            li.nav-circles__circle
            li.nav-circles__circle
            li.nav-circles__circle
            li.nav-circles__circle
        include ./includes/hero-grid-thirds.jade

  script(type='text/javascript').
    window.uiState = { isHeaderExpanded: false }
