.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: $max-site-width;

  &--full-width{
    width: 100%;
    padding: 0;
  }

  &--wide{
    width: 95%;
  }

  &--center{
    width: 660px;
    max-width: 90%;
  }
}
