@font-face {
    font-family: 'Circular';
    src: url('#{$static-url}/fonts/CircularStd-Black.ttf');
    // src: url('#{$font-url}/fonts/Circular/CircularNorm-Regular-WebS.eot?#iefix') format('embedded-opentype'),
    //      url('#{$font-url}/fonts/Circular/CircularNorm-Regular-WebS.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('#{$static-url}/fonts/CircularStd-Book.ttf');
    // src: url('#{$font-url}/fonts/Circular/CircularNorm-Bold-WebS.eot?#iefix') format('embedded-opentype'),
    //      url('#{$font-url}/fonts/Circular/CircularNorm-Bold-WebS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('#{$static-url}/fonts/CircularStd-BookItalic.ttf');
    // src: url('#{$font-url}/fonts/Circular/CircularNorm-Bold-WebS.eot?#iefix') format('embedded-opentype'),
    //      url('#{$font-url}/fonts/Circular/CircularNorm-Bold-WebS.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$static-url}/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('#{$static-url}/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
