select {
	font-family: $label-font-family;
	border: $standard-border;
	cursor: pointer;
	background: url(shape-urls-get(down-arrow-na-black)) no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
	background-position-y: center;
	background-position-x: 97%;

	@include breakpoint(medium) {
		background-position-x: 95%;
	}
}

input {
	font-family: $label-font-family;
}

input[type="submit"] {
	border: 0;
	outline: 0;
	font-size: 1rem;
}

input[type="text"], select {
	height: $default-input-height;
}

input[type="text"] {
	border: none;
	outline: none;
	border-bottom: 1px solid color(black, base, 0.3);
	font-size: 1.2rem;
	background: transparent;
}

.input {
	position: relative;
	margin-top: 3em;
	input {
		width: 100%;
	}
	label.input__label {
		position: absolute;
		@include transition(all 0.15s ease);
		top: 0;
		left: 0;
	}
	input[type="text"]:active + label,
	input[type="text"]:focus + label,
	input[type="text"]:valid + label {
		top: -2em;
		color: color(black, base, 0.3);
	}

	label.input__submit {
		position: absolute;
		right: 0;
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: color(gray,light);
}
::-moz-placeholder { /* Firefox 19+ */
  color: color(gray,light);
}
:-ms-input-placeholder { /* IE 10+ */
  color: color(gray,light);
}
:-moz-placeholder { /* Firefox 18- */
  color: color(gray,light);
}
