select {
	font-family: $label-font-family;
	border: $standard-border;
	cursor: pointer;
	background-size: 12px 12px;
	padding-right: 30px;
	background-position-y: center;
	background-position-x: 97%;

	@include breakpoint(medium) {
		background-position-x: 95%;
	}
}

input[type="submit"] {
	border: 1px solid color(black);
	background: transparent;
	outline: 0;
}

input[type="text"], select {
	height: $default-input-height;
}

input[type="text"] {
	border: none;
	outline: none;
	border-bottom: 1px solid color(black, base, 0.3);
	background: transparent;
}

.input {
	position: relative;
	input {
		width: 100%;
		position: relative;
		z-index: 1;
	}
	label.input__label {
		position: absolute;
		@include transition(transform 0.15s ease);
		@include transform(translateY(0));
		top: 1.75em;
		left: 0;
		z-index: 0;
	}
	input[type="text"]:active + label,
	input[type="text"]:focus + label,
	input[type="text"]:valid + label {
		@include transform(translateY(-2.75em));
		color: color(black, base, 0.3);
	}

	label.input__submit, button.input__submit {
		position: absolute;
		top: 2.75em;
		right: 0;
		z-index: 2;
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: color(gray,light);
}
::-moz-placeholder { /* Firefox 19+ */
  color: color(gray,light);
}
:-ms-input-placeholder { /* IE 10+ */
  color: color(gray,light);
}
:-moz-placeholder { /* Firefox 18- */
  color: color(gray,light);
}
