select {
	border: $standard-border;
	cursor: pointer;
	background: url(shape-urls-get(down-arrow-na-black)) no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
	background-position-y: center;
	background-position-x: 97%;

	@include breakpoint(medium) {
		background-position-x: 95%;
	}
}

input, select {
	height: $default-input-height;
}

input {
	border: none;
	outline: none;
	border-bottom: 2px solid color(black);
	font-size: 1.2rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: color(black, base, 0.25);
}
::-moz-placeholder { /* Firefox 19+ */
  color: color(black, base, 0.25);
}
:-ms-input-placeholder { /* IE 10+ */
  color: color(black, base, 0.25);
}
:-moz-placeholder { /* Firefox 18- */
  color: color(black, base, 0.25);
}
