@media print {
	ul, ol, img {
	   page-break-inside: avoid;
	}
	.caption {
		display: none !important;
	}

	.sidemenu {
		display: none !important;
	}

	.sidemenu-container {
		display: none !important;
	}

	.container {
		padding-top: 0px !important;
	}

	.footer {
		display: none !important;
	}

	.header {
		display: block !important;
	}

	.mobile-nav {
		display: none !important;
	}

	a[href]:after {
	    content: none !important;
	}

	.hero-grid__main, .hero-grid__secondary {
		height: 100% !important;
	}

	.hero-grid__element {
		margin-top: 20px !important;
		max-height: 100px !important;
	}

	.hero-grid__element__overlay, .hero-grid__element__background {
		display: none !important;
	}

	.picture-link__picture {
		display: none !important;
	}

	.content-grid__controls {
		display: none !important;
	}

	.content-entry__image-container {
		display: none !important;
	}

	.picture-grid__entry__text-container {
		text-align: left !important;
		height: 100% !important;
	}

	.picture-grid__entry__image-container {
		display: none !important;
	}

	.bio-page__heading__icon {
		display: none !important;
	}

	.bio-page__contact {
		display: none !important;
	}

	.post-person {
		min-height: 0px !important;
		&__left {
			display: none !important;
		}
		&__text {
			padding-left: 0px !important;
		}
	}

	.person {
		&__icon {
			display: none !important;
		}
	}

	.person-grid__content {
		& > .small-12 {
			width: 50% !important;
		}
	}

	.post-header {
		height: 100% !important;
	}

	a {
		text-decoration: none !important;
	}

	.button {
		display: none !important;
	}

	.weekly__header {
		&__left {
			border-right: 2px solid palette-get(na-black-10) !important;
		}
		&__middle__text {
			display: table-cell !important;
		}
	}
}
