* {
  -webkit-font-smoothing: antialiased !important;
}

body, html{
  font-size: 16px;
  @include media-breakpoint(tablet){
    font-size: 18px;
  }
}

h1,h2,h3,h4,h5,h6{
  font-family: $header-font-family;
  font-weight: bold;
  letter-spacing: 0.015em;

  &.white{
    color: white !important;
  }

  &.narrow-margin {
    margin: 10px 0;
  }

  &.narrow-top-margin{
    margin-top: 10px;
  }

  &.narrow-bottom-margin{
    margin-bottom: 10px;
  }

  &.no-margin{
    margin: 0;
  }

  &.no-top-margin{
    margin-top: 0;
  }

  &.no-bottom-margin{
    margin-bottom: 0;
  }

  &.centered{
    text-align: center;
  }
}

h1{
  font-size: 2.68rem;
  line-height: 2.89rem;
  letter-spacing: -0.01em;
}

h2 {
  font-size: 2.10rem;
  line-height: 2.28rem;
}

h3 {
  font-size: 1.64rem;
  line-height: 1.78rem;
}

h4 {
  font-size: 1.28rem;
  line-height: 1.39rem;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.25rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.1rem;
}

p,
blockquote,
ul,
li{
  font-size: 1.00rem;
  line-height: 1.6rem;
  text-shadow: 1px 1px 1px color(black, base, 0.004);
  text-rendering: optimizeLegibility !important;
}

p {
  &.no-margin{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.3rem;
  }

  &.narrow-margin{
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.3rem;
  }
  &.gray{
    color: color(gray, dark);
  }

  &.centered{
    text-align: center;
  }
}

.subheading, [class*="subheading--"] {
  color: color(gray, dark);
  font-weight: normal;
  margin: 0;

  &.centered{
    text-align: center;
  }

  &.white{
    color: white !important;
  }
}

.subheading {
  &--h1{
    font-size: 1.22rem;
    line-height: 1.50rem;
  }

  &--h2 {
    font-size: 1.16rem;
    line-height: 1.39rem;
  }

  &--h3 {
    font-size: 1.11rem;
    line-height: 1.28rem;
  }

  &--h4 {
    font-size: 1.06rem;
    line-height: 1.22rem;
  }
}

.fa {
  color: color(gray, dark);
  font-weight: 300;
  padding-right: 10px;

  &.padding-5{
    padding-right: 5px;
  }

  &.no-padding{
    padding-right: 0px;
  }

  &.xs {
    font-size: 0.65rem;
  }

  &.sm {
    font-size: 0.78rem;
  }

  &.lg {
    font-size: 1.2rem;
  }

  &.outline{
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: color(gray, dark);
   color: color(white);
   &.turquoise{
     -webkit-text-stroke-color: color(turquoise);
   }
   &:hover{
     -webkit-text-stroke-width: 0px;
   }
  }
}

a {
  text-decoration: none;
  font-weight: bold;
  color: color(black);

  & > label:hover {
    color: color(turquoise);
    cursor: pointer;
  }

  &:not(.button):hover {
  	color: color(turquoise);
    .fa {
      -webkit-text-stroke-width: 0px;
      color: color(turquoise);
    }
  }

  &:not(:hover) .fa:not(.outline) {
    color: color(gray, dark);
  }

  &.light {
    font-weight: normal;
    color: color(gray, dark);
  }
}

label {
  font-size: 0.82rem;
  line-height: 1.06rem;
  font-weight: normal;
  color: color(gray, dark);
  display: inline-block;

  &.active{
    color: color(black);
    font-weight: bold;
  }

  &.gray {
    color: color(gray, dark);
  }

  &.white{
    color: color(white);
  }

  &.narrow-margin{
    margin: 5px 0;
    display: block;
  }

  &.bold{
    font-weight: bold;
  }

  &.with-description {
    &:after{
      content: '-';
      margin-left: 4px;
      margin-right: 4px;
      display: inline;
    }
  }

  & > a {
    font-weight: inherit !important;
    color: inherit !important;
    &:hover{
      color: color(turquoise) !important;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 0
  }

  &.block{
    display: block;
  }

  &.centered{
    margin: 0 auto;
    text-align: center;
  }

  &.md {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  &.lg{
    font-size: 1rem;
    line-height: 1.35rem;
  }
}

.caption {
	margin-top: 12px;
	color: rgba(44,47,53,.45);
	font-size: 15px;
	line-height: 140%;
}
