* {
  -webkit-font-smoothing: antialiased !important;
}

body, html{
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6,
p,blockquote,label,li,figcaption, a{
  text-shadow: 1px 1px 1px color(black, base, 0.004);
}

h1,h2,h3,h4,h5,h6{
  &.white{
    color: white !important;
  }

  &.centered{
    text-align: center;
  }
}

h1, h2{
  font-family: $header-font-family;
  font-weight: bold;
}

h3, h4{
  font-family: $label-font-family;
  font-weight: bold;
}

h1{
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.020625rem;
}

h2 {
  font-size: 1.875rem;
  line-height: 1.875rem;
  letter-spacing: 0.020625rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.125rem;
}

h4 {
  font-size: 1.28rem;
  line-height: 1.39rem;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.25rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.1rem;
}

p,
li{
  font-family: $paragraph-font-family;
  font-size: 1.125rem;
  line-height: 1.875rem;
  text-rendering: optimizeLegibility !important;
}

p {
  margin-top: 1.3em;
  margin-bottom: 1.4em;

  &.gray{
    color: color(gray, dark);
  }

  &.centered{
    text-align: center;
  }
}

blockquote{
  font-family: $paragraph-font-family;
  font-weight: bold;
  font-size: 2.375rem;
  line-height: 2.95rem;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 0;
  margin-right: 0;
}

.caption p, p.caption {
  font-family: $label-font-family;
  font-size: 0.9375rem;
  line-height: 1.375rem;
}

.subheading, [class*="subheading--"] {
  color: color(gray, dark);
  font-weight: normal;
  margin: 0;

  &.centered{
    text-align: center;
  }

  &.white{
    color: white !important;
  }
}

.subheading {
  &--h1{
    font-size: 1.22rem;
    line-height: 1.50rem;
  }

  &--h2 {
    font-size: 1.16rem;
    line-height: 1.39rem;
  }

  &--h3 {
    font-size: 1.11rem;
    line-height: 1.28rem;
  }

  &--h4 {
    font-size: 1.06rem;
    line-height: 1.22rem;
  }
}

.fa {
  color: color(gray, dark);
  font-weight: 300;
  padding-right: 10px;

  &.padding-5{
    padding-right: 5px;
  }

  &.no-padding{
    padding-right: 0px;
  }

  &.xs {
    font-size: 0.65rem;
  }

  &.sm {
    font-size: 0.78rem;
  }

  &.lg {
    font-size: 1.2rem;
  }

  &.outline{
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: color(gray, dark);
   color: color(white);
   &.turquoise{
     -webkit-text-stroke-color: color(turquoise);
   }
   &:hover{
     -webkit-text-stroke-width: 0px;
   }
  }
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: #20E1B6;

  // & > label:hover {
  //   color: color(turquoise);
  //   cursor: pointer;
  // }

  // &:not(.button):hover {
  // 	color: color(turquoise);
  //   .fa {
  //     -webkit-text-stroke-width: 0px;
  //     color: color(turquoise);
  //   }
  // }

  // &:not(:hover) .fa:not(.outline) {
  //   color: color(gray, dark);
  // }
}

label {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  font-weight: normal;
  color: color(black);
  font-family: $label-font-family;
  display: inline-block;
  text-decoration: none;

  &.white{
    color: color(white);
  }

  &.bold{
    font-weight: bold;
  }

  &.block{
    display: block;
  }

  &.centered{
    margin: 0 auto;
    text-align: center;
  }

  &.inline {
    display: inline;
  }

  &.md {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  &.lg{
    font-size: 1rem;
    line-height: 1.35rem;
  }

  &.caption {
    font-family: $paragraph-font-family;
    font-style: italic;
  }

  &.with-seperator {
    &:after{
      content: '|';
      display: inline;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }

  p, a{
    margin-top: 0;
    margin-bottom: 0;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    text-decoration: inherit;
    color: inherit;
    font-weight: inherit;
  }
}
