@-ms-viewport {
  width: device-width;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

html, body{
  color: color(black);
  background: color(white);
  font-family: $paragraph-font-family;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

hr {
	border-bottom: $standard-border;
}

@import 'fonts';
@import 'type';
@import 'containers';
@import 'bootstrap-grid';
@import 'inputs';
@import 'print';
