{% load wagtailcore_tags %}
{% load cited_html %}
<aside class="block-box">
  {% if value.title %}
  <h4 class="block-box__title">→&nbsp;{{value.title}}</h4>
  {% endif %}
  {% for block in value.body %}
      {% if block.block_type == 'paragraph' %}
        <div class="block-{{ block.block_type }}">
          {{ block.value|cited_html|safe }}
        </div>
      {% elif block.block_type == 'inline_image' %}
        {% include_block block %}
      {% else %}
        <div class="block-{{ block.block_type }}">
          {% include_block block %}
        </div>
      {% endif %}
  {% endfor %}
</aside>
