{% load wagtailcore_tags %}
{% load utilities %}

<figure class="figure figure--new figure--columns-{{ value.columns }} {{value.align}} {{value.width|temp_image_width_map}}">
  {% if value.title %}
    <h3 class="figure__title">{{ value.title }}</h3>
  {% endif %}

  {{ value.text|richtext }}

  <div class="figure__graphics">
    {% for block in value.content %}
      {% include_block block %}
    {% endfor %}
  </div>

  <div class="figure__post-graphics">
    {{ value.caption|richtext }}
  </div>

  {% if value.source %}
    <figcaption>
      <h6>
        Source: {{ value.source }}
      </h6>
    </figcaption>
  {% endif %}

  <div class="figure__footer">
    New America
  </div>
</figure>
