{% load wagtailimages_tags %}
{% load utilities %}

{% if value.image %}
  {% image value.image min-800x800 as img %}
  {% image value.image original as img_original %}
{% else %}
  {% image value min-800x800 as img %}
  {% image value original as img_original %}
{% endif %}

<figure class="figure {{value.align}} margin-35 margin-lg-60">
  <div class="figure__title margin-bottom-15">
    <label class="bold with-seperator">Figure X</label><label>Lorem Ipsum Dolor Sit Amet</label>
  </div>
  <div class="figure__image {{value.width|temp_image_width_map}}">
    {% if value.open_image_on_click %}
      <a href={{ img_original.url }} target='_blank' >
        <img {{ img_original.attrs }}/>
      </a>
    {% else %}
      <img {{ img_original.attrs }}/>
    {% endif %}
  </div>
  <figcaption class="margin-top-10">
    <label class="caption block">
      Source: Lorem Ipsum Dolor Sit Amet / Caption
    </label>
  </figcaption>
</figure>
{% if value.caption or value.source or value.image.caption or value.image.source %}

  <!-- {% firstof value.caption value.image.caption %}
  {% if value.source or value.image.source %}
    ({% firstof value.source value.image.source %})
  {% endif %} -->

{% endif %}
