{% load wagtailimages_tags %}
{% load utilities %}

{% if value.image %}
  {% image value.image min-800x800 as img %}
  {% image value.image original as img_original %}
{% else %}
  {% image value min-800x800 as img %}
  {% image value original as img_original %}
{% endif %}

<figure class="figure {{value.align}} margin-35 margin-lg-60">
  {% if value.figure_number or value.figure_title %}
    <div class="figure__title margin-bottom-15">
      {% if value.figure_number %}
        <label class="bold{% if value.figure_title %} with-separator{% endif %}">Figure {{ value.figure_number }}</label>
      {% endif %}
      {% if value.figure_title %}
        <label>{{ value.figure_title }}</label>
      {% endif %}
    </div>
  {% endif %}
  <div class="figure__image {{value.width|temp_image_width_map}}">
    {% if value.open_image_on_click %}
      <a href="{{ img_original.url }}" target='_blank' >
        <img src="{{img.url}}"/>
      </a>
    {% else %}
      <img src="{{img.url}}"/>
    {% endif %}
  </div>
  {% if value.image.caption or value.image.source %}
    <figcaption class="margin-top-10">
      {% if value.image.caption %}
        <label class="block">
          {{ value.image.caption }}
        </label>
      {% endif %}
      {% if value.image.source %}
        <label class="caption block">
          Source: {{ value.image.source }}
        </label>
      {% endif %}
    </figcaption>
  {% endif %}
</figure>
{% if value.caption or value.source or value.image.caption or value.image.source %}

  <!-- {% firstof value.caption value.image.caption %}
  {% if value.source or value.image.source %}
    ({% firstof value.source value.image.source %})
  {% endif %} -->

{% endif %}
