{% load wagtailcore_tags %}
<div class="panel-group">
  <a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>
  <nav id="cd-vertical-nav" class="panel-nav">
    <ul>
      {% for panel in value %}
        <li>
          <a href="#{{ panel.value.title|slugify }}"
            id="nav-{{ panel.value.title|slugify }}"
            style="border:none;">
            <span class="cd-dot"></span>
            <span class="cd-label">{{ panel.value.title }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="panel-sections">
    {% for panel in value %}
      <section id="{{ panel.value.title|slugify }}" class="panel-section">
        <h3 class="panel-title">
          <a href="#{{panel.value.title|slugify}}" class="panel-anchor-link">
            {{ panel.value.title }}
            <i class="fa fa-link"></i>
          </a>
        </h3>
        <div class="panel-body-block">
          {% for block in panel.value.body %}
            {% include 'components/post_body_block.html' %}
          {% endfor %}
        </div>
      </section>
    {% endfor %}
  </div>
</div>
