{% load utilities %}
{% load timeline %}
{% load wagtailimages_tags %}
{% load static %}
<div data-timeline-data='{{ settings_json }}' class="timeline {% if self.default_view == 'list' %}list-view{% endif %} timelineViz" id="tl_{{ self.title|slugify }}">
	<div class="timeline__title-block">
		<div class="timeline__see-all-button"></div>
		{% if self.title %}
			<h5 class="timeline__title-block__pre-text">Timeline</h5>
			<h2 class="timeline__title-block__title">{{ self.title }}</h2>
			{% if self.subheading %}
				<h3 class="timeline__title-block__subheading">{{ self.subheading }}</h3>
			{% endif %}
		{% endif %}
	</div>
	{% if self.major_timeline_splits %}
		<div class="timeline__split-button-container"></div>
	{% endif %}
	<div class="timeline__nav"></div>
	<div class="timeline__category-legend-container"></div>
	<div class="timeline__navigation-prompt">&larr;<span class="timeline__navigation-prompt__content"></span>&rarr;</div>
	<div class="timeline__content">
		<div class="timeline__visible-event-window">
			<div class="timeline__full-event-container">
				{% for event in sorted_event_list %}
					<div class="timeline__event {{ event.category|slugify }}" id="event-{{ forloop.counter0 }}">
						<div class="timeline__event__text">
							<div class="timeline__event__date">{% timeline_format_date event.start_date event.end_date event.date_display_type %}</div>
							<div class="timeline__event__title {% if event.italicize_title %}italicize{% endif %}">{{ event.title }}</div>
							{% if event.description %}
								<div class="timeline__event__description post-body">
									<div class="block-paragraph">{{ event.description }}</div>
								</div>
							{% endif %}
						</div>
						{% if event.image or event.video %}
							<div class="timeline__event__media">
								{% if event.video %}
									{{ event.video }}
								{% else %}
									{% image event.image min-800x800 as img %}
									<img class="timeline__event__media__image" {{ img.attrs }}/>
								{% endif %}
							</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="timeline__next-prev-container">
			<div class="timeline__prev">
				{% include 'components/svg/full-arrow.html' %}
				<h5 class="timeline__next-prev__date"></h5>
				<h6 class="timeline__next-prev__title"></h6>
			</div>
			<div class="timeline__next">
				{% include 'components/svg/full-arrow.html' %}
				<h5 class="timeline__next-prev__date"></h5>
				<h6 class="timeline__next-prev__title"></h6>
			</div>
		</div>
	</div>

</div>

<script async src="{% static 'js/timeline.js' %}"></script>
