{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-404{% endblock %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
    <div class="search-results-page">
        <div class="post-header-container">
            <div class="post-header">
                <div class="post-header__text">
                	<h1 class="post-header__text__heading">Page not found</h1>
                	<h2 class="post-header__text__subheading">Sorry, this page could not be found.</h2>
                </div>
            </div>
        </div>
        <hr class="search-results-page__page-divider" style="margin: 50px 0px">
        {% if search_results %}
            <h1 class="post-header__text__heading">Related Results</h1>
        {% else %}
            <h1 class="post-header__text__heading">Search New America</h1>
        {% endif %}

        <div class="content-grid__controls search-results">
            <form class="content-grid__controls__filter-group" action="/search/" method="get">
                <div class="content-grid__controls__search">
                    <input type='text' name='query' value='{{ search_query }}' placeholder='Search' autocomplete="off"></input>
                    <button class="search-box__submit" type="submit">
                        {% include 'ui_elements/svg/magnifying-glass.html' %}
                    </button>
                </div>
            </form>
        </div>

        {% if search_results %}
            <div class="content-grid__entries">

            {% for post in search_results|slice:":10" %}

                {% if post.specific.content_type|stringformat:"s" == "person"  %}
                    <div class="content-entry">
                        {% if post.specific.profile_image %}
                            <div class="post-person with-image">
                                <a href="{{ post.specific.url }}">
                                    <div class='person__icon'>
                                        {% image post.specific.profile_image min-100x100 as person_image %}
                                    <div class='person__icon__photo' style='background: no-repeat center/100% url({{ person_image.url }})'>
                                    </div>
                                    </div>
                                </a>
                                <div class="post-person__text">
                                    {% if post.specific.belongs_to_these_programs.all %}
                                        <h5 class="content-entry__text__program">
                                        {% for program in post.specific.belongs_to_these_programs.all %}
                                            <a href="{{ program.url }}"> {{ program | upper }}</a>{% list_separator forloop.revcounter0 %}
                                        {% endfor %}
                                        PERSON</h5>
                                    {% endif %}
                                    <h5 class= "content-entry__text__title"><a href="{{ post.specific.url }}">{{ post.specific.first_name }} {{ post.specific.last_name }}</a></h5>

                                    {{ post.specific.short_bio | richtext }}
                                </div>
                            </div>
                        {% else %}
                            <div class="post-person">
                                <div class="post-person__text">
                                    {% if post.specific.belongs_to_these_programs.all %}
                                        <h5 class="content-entry__text__program">
                                        {% for program in post.specific.belongs_to_these_programs.all %}
                                            <a href="{{ program.url }}"> {{ program | upper }}</a>{% list_separator forloop.revcounter0 %}
                                        {% endfor %}
                                        PERSON</h5>
                                    {% else %}
                                        <h5 class="content-entry__text__program">PERSON</h5>
                                    {% endif %}
                                    <h5 class= "content-entry__text__title"><a href="{{ post.specific.url }}">{{ post.specific.first_name }} {{ post.specific.last_name }}</a></h5>

                                    {{ post.specific.short_bio | richtext }}
                                </div>
                            </div>
                        {% endif %}
                        
                    </div>

                {% else %}

                    <div class="content-entry">
                        {% if post.specific.story_image %}
                            {% image post.specific.story_image min-650x200 as post_image %}

                            <a href="{{ post.specific.url }}">
                                <div class="content-entry__image-container" style="background-image: url('{{post_image.url}}') ">
                                </div>
                            </a>
                        <div class="content-entry__text-container has-image">
                        
                        {% else %}
                        <div class="content-entry__text-container">
                        {% endif %}
                            <div class="content-entry__text">
                                {% if post.specific.parent_programs.all %}
                                    <h5 class="content-entry__text__program">
                                    {% for program in post.specific.parent_programs.all %}
                                        <a href="{{ program.url }}"> {{ program | upper }}</a>{% list_separator forloop.revcounter0 %}
                                    {% endfor %}
                                    {% generate_content_type_line post.specific.content_type %}</h5>
                                {% else %}
                                    <h5 class="content-entry__text__program">{% generate_content_type_line post.specific.content_type %}</h5>
                                {% endif %}
                                <h5 class= "content-entry__text__title"><a href="{{ post.specific.url }}">{{ post.specific.title }}</a></h5>

                                {% if post.specific.authors.all %}
                                    <h5 class= "content-entry__text__author">{% generate_byline post.content_type post.specific.authors.all %}
                                    </h5>
                                {% endif %}

                                {% if post.specific.date %}
                                    <h5 class= "content-entry__text__date-time">{% generate_dateline post.specific %}</h5>
                                {% endif %}
                                <p class= "content-entry__text__excerpt">{{ post.specific.story_excerpt }}</p>
                                
                            </div>
                        </div>
                    </div>
                

                {% endif %}
                <hr>
            {% endfor %}

            </div>

        {% endif %}
        
    </div>
{% endblock %}

   
