{% extends "base.html" %}

{% block sidemenu_status %}has_sidemenu simple{% endblock %}


{% block sidebar %}
<div class='sidemenu-container'>
	<div class="sidemenu simple">
		<div class="sidemenu__link-group">
			<ul class="menu vertical sidemenu__link-group__content">
				<li class="menu-text sidemenu__link-group__title">About</li>
				<li class="sidemenu__link-group__link"><a href='/our-story/'>Our Story</a></li>
				<li class="sidemenu__link-group__link has-sublinks"><a href='/our-people/'>Our People</a>
					<ul class="menu vertical sidemenu__sub-link-group">
						<li class="sidemenu__sub-link-group__sub-link"><a href='/board/'>Board of Directors</a></li>
						<li class="sidemenu__sub-link-group__sub-link"><a href='/leadership/'>Leadership Team</a></li>
						<li class="sidemenu__sub-link-group__sub-link"><a href='/central-staff/'>Central Staff</a></li>
						<li class="sidemenu__sub-link-group__sub-link"><a href='/former-board/'>Former Board of Directors</a></li>
					</ul>
				</li>
				<li class="sidemenu__link-group__link has-sublinks"><a href='/our-funding/'>Our Funding</a>
					<ul class="menu vertical sidemenu__sub-link-group">
						<li class="sidemenu__sub-link-group__sub-link"><a href='/our-funding/our-funders/'>Our Funders</a></li>
						<li class="sidemenu__sub-link-group__sub-link"><a href='/our-funding/circles-and-councils/'>Circles and Councils</a></li>
						<li class="sidemenu__sub-link-group__sub-link"><a href='/our-funding/donate/'>Donate</a></li>
					</ul>
				</li>
				<li class="sidemenu__link-group__link"><a href='/press-room/'>Press</a></li>
				<li class="sidemenu__link-group__link"><a href='/jobs/'>Jobs</a></li>
			</ul>
		</div>
	</div>
</div>

<div class='content-container has-sidemenu'>
{% endblock %}
