{% extends "base.html" %}

{% block sidemenu_status %}has_sidemenu simple{% endblock %}

{% block sidebar %}
<div class='sidemenu-container'>
	<div class="sidemenu simple">
		<div class="sidemenu__link-group">
			<ul class="menu vertical sidemenu__link-group__content">
				<li class="menu-text sidemenu__link-group__title">Publications</li>
				<li class="sidemenu__link-group__link"><a href='/articles/'>Articles & Op-Eds</a></li>
			    <li class="sidemenu__link-group__link"><a href='/blogs/'>Blog Posts</a></li>
			 	<li class="sidemenu__link-group__link"><a href='/books/'>Books</a></li>
			 	<li class="sidemenu__link-group__link"><a href='/in-the-news/'>In the News</a></li>
			 	<li class="sidemenu__link-group__link"><a href='/weekly/'>New America Weekly</a></li>
			 	<li class="sidemenu__link-group__link"><a href='/podcasts/'>Podcasts</a></li>
			    <li class="sidemenu__link-group__link"><a href='/policy-papers/'>Policy Papers</a></li>
				<li class="sidemenu__link-group__link"><a href='/press-releases/'>Press Releases</a></li>		  
			</ul>
		</div>
	</div>
</div>

<div class='content-container has-sidemenu'>
{% endblock %}