{% extends "program_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-postpage{% endblock %}

{% block content %}

	{% block post-header %}
	{% endblock %}

	<div class="post-container">

	    {% if page.post_author.all %}
		    	
		    <h5 class="post-author">
		    	{% block byline-prefix %}
				{% endblock %}
				
				{% for author in authors %}
					
						<p><a href="{{ author.author.url }}">{{ author.author.first_name }} {{ author.author.last_name }}</a>{% listify forloop.revcounter0 %}</p>
					
				{% endfor %}
			</h5>
			
		{% endif %}

		<h5 class="post-date">{{ page.date }}</h5>

		{% block post-body %}
		{% endblock %}

		{% if page.post_author.all %}
		<h1 class="post-subheading">Author{{ authors|pluralize }}</h1>
			{% for author in authors %}
			<div class="post-person">
				<a href="{{ author.author.url }}">
					<div class='person__icon'>
						{% image author.author.profile_image original as author_image %}
						<div class='person__icon__photo' style='background: no-repeat center/100% url({{ author_image.url }})'>
						</div>
					</div>
				</a>
				<p class="post-person__text">{{ author.author.short_bio }}</p>
			</div>
			{% endfor %}
		{% endif %}			

	</div>
    
{% endblock %}