{% extends "program_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-postpage{% endblock %}

{% block content %}

	{% block post-header %}
	{% endblock %}

	<div class="post-container">

	    {% if authors %}	
		    <h5 class="post-author">{% generate_byline page.content_type authors %}</h5>
		{% endif %}

		<h5 class="post-date">{{ page.date }}</h5>

		{% block post-body %}
		{% endblock %}

		{% include 'ui_elements/social_share.html' %}

		{% if authors %}
			<h1 class="post-subheading">{% get_author_block_prefix page.content_type authors %}</h1>
			<div class="post-person-container">
				{% for author in authors %}
					{% if author.author.profile_image %}
						<a href="{{ author.author.url }}">
							<div class="post-person with-image">
								<div class="post-person__left">
									<div class='person__icon'>
										{% image author.author.profile_image min-100x100 as author_image %}
										<div class='person__icon__photo' style='background: no-repeat center/100% url({{ author_image.url }})'>
										</div>
									</div>
								</div>
								<div class="post-person__text">
									{% if author.author.short_bio %}
										{{ author.author.short_bio | richtext }}
									{% else %}
										<h5 class="post-person__text__author-name">{{ author.author.first_name }} {{ author.author.last_name }}</h5>
									{% endif %}
								</div>
							</div>
						</a>
					{% else %}
						<a href="{{ author.author.url }}">
							<div class="post-person">
								<div class="post-person__text">
									{% if author.author.short_bio %}
										{{ author.author.short_bio | richtext }}
									{% else %}
										<h5 class="post-person__text__author-name">{{ author.author.first_name }} {{ author.author.last_name }}</h5>
									{% endif %}
								</div>
							</div>
						</a>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}	

	</div>
{% endblock %}