{% extends "program_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-postpage{% endblock %}

{% block content %}

	{% block post-header %}
	{% endblock %}

	<div class="post-container">

	    {% if page.post_author.all %}
		    	
		    <h5 class="post-author">{% generate_byline page.content_type page.post_author.all %}
			</h5>
			
		{% endif %}

		<h5 class="post-date">{{ page.date }}</h5>

		{% block post-body %}
		{% endblock %}

		{% if page.post_author.all %}
		<h1 class="post-subheading">Author{{ authors|pluralize }}</h1>
			{% for author in authors %}
			<div class="post-person">
				<a href="{{ author.author.url }}">
					<div class='person__icon'>
						{% image author.author.profile_image original as author_image %}
						<div class='person__icon__photo' style='background: no-repeat center/100% url({{ author_image.url }})'>
						</div>
					</div>
				</a>
				<p class="post-person__text">{{ author.author.short_bio }}</p>
			</div>
			{% endfor %}
		{% endif %}	

		<ul class="vertical menu" data-accordion-menu>
  <li>
    <a href="#">Item 1</a>
    <ul class="menu vertical nested">
      <li><a href="#">Item 1A</a></li>
      <li><a href="#">Item 1B</a></li>
    </ul>
  </li>
  <li><a href="#">Item 2</a></li>
</ul>	

	</div>
    
{% endblock %}