{% extends "program_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-postpage{% endblock %}

{% block content %}
	{% image page.story_image original as story_image %}

	{% if story_image %}

	<div class="post-header with-image" style="background-image: linear-gradient(
	      rgba(0, 0, 0, 0.3),
	      rgba(0, 0, 0, 0.3)
	    ), 
    	url({{ story_image.url }})">

		<div class="post-header__text">
		    	<h1 class="post-header__text__headline">{{ page.headline }}</h1>
		    	<h2 class="post-header__text__sub-headline">{{ page.sub_headline }}</h2>
		</div>
	</div>
	{% else %}

	<div class="post-header">

		<div class="post-header__text">
		    	<h1 class="post-header__text__headline">{{ page.headline }}</h1>
		    	<h2 class="post-header__text__sub-headline">{{ page.sub_headline }}</h2>
		</div>
	</div>

	{% endif %}

	<div class="post-container">

	    {% block post-content %}

	    {% endblock %}

	</div>
	
	<div class='border-panel post-subscribe'>
		<div class='border-panel__item'>
			<div class='border-panel__content'>
				<h1>Subscribe</h1>
				<p>Get our weekly digital magazine and events lineup in your inbox</p>
				<div id='subscribe'>
					<input type='text' placeholder='Your e-mail' id='subscribe__email-field'></input>
					<button class='button' id='subscribe__link'>Sign up</button>
					<div id='subscribe__modal-container'></div>
				</div>
			</div>
		</div>
	</div>
    
{% endblock %}