{% extends "program_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-issueortopicpage{% endblock %}

{% block content %}
	{% image page.story_image min-1100x300 as story_image %}

	<div class="post-header-container">
		{% if story_image %}

			<div class="post-header with-image" style="background-image: linear-gradient(
			      rgba(0, 0, 0, 0),
			      rgba(0, 0, 0, 0.15)
			    ), 
		    	url({{ story_image.url }})">

				<div class="post-header__text">
			    	<h1 class="post-header__text__heading">{{ page.title }}</h1>
				</div>
			</div>
			{% if story_image.image.source %}
				<div class="caption">Photo: {{ story_image.image.source}}</div>
			{% endif %}

		{% else %}

			<div class="post-header">
				<div class="post-header__text">
			    	<h1 class="post-header__text__heading">{{ page.title }}</h1>
				</div>
			</div>

		{% endif %}
	</div>

	<div class="post-container">
		 <div class="post-body">
		    {% for block in self.body %}
		    	<div class="block-{{ block.block_type }}">
			       {% if block.block_type == 'image' %}
		            	{{ block }}
		            	{% if block.value.caption or block.value.source %}
		            		<div class="caption">{{ block.value.caption }} {% if block.value.source %}({{ block.value.source }}){% endif %}</div>
		            	{% endif %}
			        {% else %}
			            {{ block }}
			        {% endif %}
		   		</div>
		    {% endfor %}
		</div>

    {% if topics %}
  
    	<div class="row issue-grid">
    		<hr>

		    {% for topic in topics %}
		    	{% if forloop.counter0|divisibleby:2 %}
		    		<div class="row">
		    	{% endif %}
				    	<div class="small-12 medium-6 column issue-grid__entry">
					    	<h5 class="issue-grid__entry__title"><a href="{{ topic.url }}">{{ topic.title }}</a></h5>
					    	<p class="issue-grid__entry__text">{{ topic.specific.story_excerpt }}</p>

					    	{% if topic.get_children %}
					    		<p>Topics:
						    		<ul class="issue-grid__entry__child-list">
							    		{% for child_topic in topic.get_children %}
							    			<li class="issue-grid__entry__child">&bull;<!--
							    			--><a class="issue-grid__entry__child__link" href="{{ child_topic.url }}">{{ child_topic.title }}</a>
							    			</li>
							    		{% endfor %}
						    		</ul>
					    		</p>
					    	{% endif %}
					    </div>
			    {% if forloop.counter|divisibleby:2 %}
		    		</div>
		    	{% endif %}
			    
		    {% endfor %}
		</div>

	{% endif %}
	</div>
{% endblock %}