$subtext-size: .8rem;
$sub-color: rgba(138, 138, 138, 0.7);
$desktop-next-prev-width: 120px;
@mixin timeline-subtext {
	color: $sub-color;
	font-size: $subtext-size;
}


.timeline {
	padding: 2*$desktop-padding $desktop-padding;
	margin: $desktop-padding 0px;
	border: 2px solid palette-get(na-black-10);
	position: relative;

	&__see-all-button {
		border-left: 2px solid palette-get(na-black-10);
		border-bottom: 2px solid palette-get(na-black-10);
		position: absolute;
		top: 0px;
		right: 0px;
		@include timeline-subtext
		cursor: pointer;
		padding: 3px 4px;

		&:hover {
			color: palette-get(na-black);
		}

		&:after {
			content: "Show all Events";
			.show-all & {
				content: "Return to Interactive Version";
			}
		}
	}

	&__nav {
		.show-all & {
			display: none !important;
		}
		&__dot {
			cursor: pointer;
			fill: white;
			stroke: $sub-color;

			&.selected {
				fill: palette-get(na-black) !important;
				stroke: none !important;
			}
			&.hovered {
				stroke: palette-get(na-black) !important;
			}
		}

		&__hover-info {
			display: block;
			font-size: $subtext-size;
			color: palette-get(na-black);

			&.hidden {
				display: none;
			}
		}

		&__axis {
			&.year-axis {
				/*path {
					display: none;
				}*/
			}
			path {
				stroke: $sub-color;
				stroke-width: .7px;
			}
			.tick {
				text {
					font-family: Simplon;
					fill: $sub-color;
					font-size: $subtext-size;
					line-height: .7;
				}
				line {
					stroke: $sub-color;
					stroke-width: .7px;
				}
			}

		}

		&__era-section {

		}
		&__era-divider {
			stroke: $sub-color;
			stroke-dasharray: 4, 4;
		}
		&__era-text {
			font-family: Simplon;
			fill: $sub-color;
			font-size: $subtext-size;
			line-height: .7;
			text-anchor: middle;
		}

	}
	&__content {
		$transition: height 100ms linear;
		position: relative;

		-webkit-transition: $transition;
	    -moz-transition: $transition;
	    -o-transition: $transition;
	    transition: $transition;

	}

	&__visible-event-window {
		max-width: 700px;
		width: calc(100vw - 125px);
		overflow: hidden;
		margin: auto;
		position: relative;


		@include breakpoint(medium) {
			width: calc(100% - #{2*$desktop-next-prev-width});

			.show-all & {
				width: 100%;
			}
		}


	}

	&__full-event-container {
		$transition: transform 500ms ease-in-out;
		width: 10000%;
		position: relative;
		-webkit-transition: $transition;
	    -moz-transition: $transition;
	    -o-transition: $transition;
	    transition: $transition;

	    .show-all & {
			transform: translateX(0) !important;
		}
	}

	&__event {
		float: left;
		
		.show-all & {
			float: none;
			padding-bottom: $desktop-padding;
		}

		@include breakpoint(medium) {
			max-width: 700px;
			min-height: 100px;
		}

		&__date {
			@include timeline-subtext;
		}

		&__title {
			font-size: 20px;
			color: palette-get(na-black);
			font-weight: bold;
			padding-bottom: 10px;
		}

		&__description {
			padding-top: 0px;
			& p {
				font-size: .9rem;
				color: palette-get(na-black) !important;
			}
		}

		&__media {
			&__image {
				width: 100%;
			}
		}
	}

	&__next-prev {
		&-container {
			width: 100%;
			display: table;
			margin: auto;
			padding-top: $desktop-padding;

			@include breakpoint(medium) {
				display: block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				/*top: 0px;*/
			}

			.show-all & {
				display: none;
			}
		}
		&__date {
			@include timeline-subtext;
			margin-bottom: 0px;
		}
		&__title {
			@include timeline-subtext;
			color: $sub-color;
			font-weight: bold;
			margin-bottom: 0px;
		}
	}
	&__next, &__prev {
		display: table-cell;
		width: 50%;
		cursor: pointer;

		@include breakpoint(medium) {
			display: block;
			position: absolute;
			width: $desktop-next-prev-width;
			top: 0px;
		}

		&.hidden {
			display: none;
		}
		&:hover {
			* {
				fill: palette-get(na-black);
				color: palette-get(na-black);
			}
		}
	}
	&__next {
		padding-left: 25px;
		@include breakpoint(medium) {
			right: 0px;
		}

		svg {
			width: 20px;
			fill: $sub-color;
			transform: rotate(90deg);
			/*left: 17px;
			top: -28px;*/
		}
	}
	&__prev {
		padding-right: 25px;

		text-align: right;
		@include breakpoint(medium) {
			left: 0px;
		}

		svg {
			width: 20px;
			fill: $sub-color;
			transform: rotate(-90deg);
			/*right: 15px;
			top: -28px;*/
		}
	}
}