$subtext-size: .8rem;
$sub-color: rgba(138, 138, 138, 0.7);
@mixin timeline-subtext {
	color: $sub-color;
	font-size: $subtext-size;
}


.timeline {
	&__nav {
		&__dot {
			cursor: pointer;
			fill: white;
			stroke: $sub-color;

			&.selected {
				fill: palette-get(na-black) !important;
				stroke: none !important;
			}
			&.hovered {
				stroke: palette-get(na-black) !important;
			}
		}

		&__hover-info {
			display: block;
			font-size: $subtext-size;
			color: palette-get(na-black);

			&.hidden {
				display: none;
			}
		}

		&__axis {
			&.year-axis {
				/*path {
					display: none;
				}*/
			}
			path {
				stroke: $sub-color;
				stroke-width: .7px;
			}
			.tick {
				text {
					font-family: Simplon;
					fill: $sub-color;
					font-size: $subtext-size;
					line-height: .7;
				}
				line {
					stroke: $sub-color;
					stroke-width: .7px;
				}
			}

		}

		&__era-section {

		}
		&__era-divider {
			stroke: $sub-color;
			stroke-dasharray: 4, 4;
		}
		&__era-text {
			font-family: Simplon;
			fill: $sub-color;
			font-size: $subtext-size;
			line-height: .7;
			text-anchor: middle;
		}

	}
	&__content {

	}

	&__event {
		display: none;
		max-width: 700px;
		margin: auto;
		&.visible {
			display: block;
		}

		&__date {
			@include timeline-subtext;
		}

		&__title {
			font-size: 20px;
			color: palette-get(na-black);
			font-weight: bold;
			padding-bottom: 10px;
		}

		&__description {
			padding-top: 0px;
			& p {
				font-size: .9rem;
				color: palette-get(na-black) !important;
			}
		}

		&__media {
			&__image {
				width: 100%;
			}
		}
	}
}