.timeline__title-block {
	max-width: $max-body-width;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;

	&__pre-text {
		@include timeline-subtext;
		margin-bottom: 0px;
	}

	&__title {
		color: palette-get(na-black);
		font-size: 26px;
		font-weight: bold;
		margin-bottom: 5px;
	}
	&__subheading {
		font-size: .9rem;
		color: palette-get(na-black) !important;
	}
}