<section id="counters" class="section align-center overlay bg-cover bg5 light-text">
  <div class="container">

    <div class="row counters-wrapper">
      <div class="col-sm-3">
        <div class="counter-block counter-block-no-border">
          <div class="counter-box">
            <div class="counter-content">
              <span class="count" data-from="0" data-to="136">0</span>

              <p class="title">speakers</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="counter-block counter-block-no-border">
          <div class="counter-box">
            <div class="counter-content">
              <span class="count" data-from="0" data-to="5">0</span>

              <p class="title">days</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="counter-block counter-block-no-border">
          <div class="counter-box">
            <div class="counter-content">
              <span class="count" data-from="0" data-to="25">0</span>

              <p class="title">workshops</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="counter-block counter-block-no-border">
          <div class="counter-box">
            <div class="counter-content">
              <span class="count" data-from="0" data-to="200">0</span>

              <p class="title">speeches</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
