.in-depth__footer {
	background-color: palette-get(na-black);
	color: white;
	border-top: 2px solid palette-get(na-black-40);

	&__next-prev {
		max-width: $max-site-width;
		padding: $desktop-padding 0px;
		width: 100%;
		margin: auto;

		display: table;

		&__prev, &__next {
			padding: 0px $desktop-padding;

			&:nth-child(2) {
				border-top: 2px solid palette-get(na-black-40);
				padding-top: $desktop-padding;
				margin-top: $desktop-padding;

				@include breakpoint(medium) {
					padding-top: 0px;
					margin-top: 0px;
					border-top: none;
					border-left: 2px solid palette-get(na-black-40);
				}
			}

			@include breakpoint(medium) {
				display: table-cell;
				width: 50%;

			}
		}

		
	}

	&__title-block {
		padding: 0px $desktop-padding;
	}

	&__main {
		border-top: 2px solid palette-get(na-black-40);
		padding: $desktop-padding 0px;

		&__content {
			display: table;
			width: 100%;

			.in-depth__navigation-subheading {
				margin: $desktop-padding 0px;
			}
		}

		&__left, &__right {
			padding-left: $desktop-padding;
	    	padding-right: $desktop-padding;

			@include desktop-header {
				display: table-cell;
				width: 50%;
	    	}
		}

		.post-person {
			margin-top: 0px;
			&__text {
				color: palette-get(na-black-10);

				b, strong {
					color: white;
				}
			}
		}

		&__directory {
			&__item {
				width: 100%;
				margin-bottom: 3px;
				
				&__text {
					margin-bottom: 0px;

					a {
						color: palette-get(na-black-10);
						.active & {
							font-weight: bold;
							color: white;
						}
					}
				}
			}
		}
		
	}
}