.in-depth__footer {
	background-color: palette-get(na-black);
	color: white;
	/*border-top: 2px solid palette-get(na-black-40);*/


	&__next-prev {
		
		width: 100%;

		display: table;

		&__wrapper {
			
			background-repeat: no-repeat;
		    background-size: cover;
		    background-position: 50% 50%;

			@include breakpoint(medium) {
				display: table-cell;
				width: 50%;
			}

			&.no-image {
				border-top: 2px solid palette-get(na-black-40);
				border-bottom: 2px solid palette-get(na-black-40);
			}
		}

		&__prev, &__next {
			width: 100%;
			max-width: $max-site-width;
			margin: auto;
			padding: 95px $desktop-padding;
			.has-both & {
				max-width: $max-site-width/2;
				margin: 0px;
			}
		}

		&__prev {
			.has-both & {
				@media screen and (min-width: 1350px) {
					margin-left: calc(100% - #{$max-site-width}/2);
				}
			}
		}
	}

	&__title-block {
		padding: 0px $desktop-padding;

		@include breakpoint(medium) {
			height: 85px;
		}
	}

	&__main {
		padding: 2*$desktop-padding 0px;

		&__content {
			display: table;
			width: 100%;

			.in-depth__navigation-subheading {
				margin: $desktop-padding 0px 15px 0px;
			}
		}

		&__left, &__right {
			padding-left: $desktop-padding;
	    	padding-right: $desktop-padding;

			@include desktop-header {
				display: table-cell;
				width: 50%;
	    	}
		}

		.post-person {
			&__text {
				color: palette-get(na-black-10);

				b, strong {
					color: white;
				}
			}
		}

		&__directory {
			&__item {
				width: 100%;
				margin-bottom: 3px;
					a {
						color: palette-get(na-black-10);
					}

					a.active {
						font-weight: bold;
						color: white;
					}
			}
		}
		
	}

	&__about {
		color: palette-get(na-black-10);

		b {
			color: white;
		}
		a:not(.button) {
			color: white;
		    font-weight: 800;
		    border-bottom: $standard-border;
		    padding-bottom: 2px;
		    opacity: 1;
		}

		a:not(.button):hover {
			@include set-color(color);
		}
	}

	&__subordinate-text {
		padding-top: 10px;
		color: palette-get(na-black-10);
	}
}