@mixin panel-title-text {
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;

	@include breakpoint(medium) {
		font-size: 2.35rem;
	}
}

.in-depth__panel {
	$panel-padding: 2*$desktop-padding;

	padding: $panel-padding $desktop-padding;
	@include breakpoint(medium) {
		padding: $panel-padding;
	}
	
   	&__max-width-wrapper {
    	max-width: $max-site-width - 2*$desktop-padding;
    	margin: auto;
    	width: 100%;
    }

	&.white {
		background-color: white;
	}
	&.grey {
		background-color: palette-get(na-black-10);
	}
	&.black {
		background-color: palette-get(na-black);

		.post-body {
			color: white;
		}
		
		h1, p, a, b, strong {
			color: white;
		}

		blockquote:not(.pullquote) {
			color: white;
		}

		a:not(.button):hover {
			color: palette-get(na-turquoise);
		}

		.in-depth__panel__title-label {
			color: palette-get(na-black-10);
		}
	}

	&__title-label {
		text-align: center;
		font-weight: bold;
		color: palette-get(na-black-40);
		opacity: .8;
		font-size: 1rem;
		line-height: 1;
		padding: 35px 0px 0px 0px;
		margin-bottom: 5px;
	}

	&__title {
		@include panel-title-text;
		max-width: $max-body-width;
		margin: auto;
		padding: 0px 0px 35px 0px;
	}

	/* centers all body content + iframes */
	&__body > *, .block-iframe__max-bounds-container {
		margin-left: auto;
		margin-right: auto;
	}

	&__anchor {
		display: block;
	    position: relative;
	    visibility: hidden;
	    top: -$mobile-header-height;

	    @include desktop-header {
	    	top: -$desktop-header-height;
	    }
	}
}

.title-panel {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	margin-left: -$desktop-padding;
	margin-right: -$desktop-padding;
	padding: 0px $desktop-padding;
	text-align: center;
	position: relative;

	@include breakpoint(medium) {
		height: 500px;
	}

	@include breakpoint(large) {
		height: 700px;
	}

	&__logo-wrapper {
		position: relative;
		width: 100%;
		max-width: $max-site-width;
		margin: auto;
		display: none;

		@include breakpoint(medium) {
			display: block;
		}
		
	}

	&__logo {
		position: absolute;
		top: 15px;

		.sidemenu__logo {
			margin-left: 15px;
		}

		@include desktop-header {
			top: $desktop-padding;

			.sidemenu__logo {
				margin-left: $desktop-padding;
			}
		}
	}

	&__text-box {
		color: white;
		text-align: center;
		max-width: 1000px;
		margin: auto;
		padding: 5*$desktop-padding $desktop-padding;

		@include breakpoint(medium) {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			padding: 0px $desktop-padding;
		}
		
	}

	&__title {
		@include panel-title-text;

		padding: 0px;

		@include breakpoint(medium) {
			font-size: 3rem;
		}
	}

	&__subheading {
		font-weight: normal;
		font-size: 1.3rem;
		line-height: 1.2;
	}

	&__button-container {
		padding-top: 15px;
		.button {
			margin: 5px 3px;


			&:not(:first-child) {
				background-color: white;
				color: palette-get(na-black);
			}
		}
	}

	&__scroll-down {
		position: absolute;
		bottom: 25px;
		left: 45%;
		right: 45%;

		@include breakpoint(medium) {
			bottom: 50px;
		}
		
		svg {
			fill: white;
			height: 25px;
			transition: all .2s ease-in-out;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

.contents-panel {
	&__heading {
		@include page-subheading-text(grey);
		padding-bottom: $desktop-padding;
	}

	&__item-container {
		@include breakpoint(medium) {
		  	-moz-column-count:2; 
  			-webkit-column-count:2; 
  			column-count:2;
		}
	}

	&__item {
		width: 100%;
		padding: 5px 0px;
		display: inline-block;

		@include breakpoint(medium) {
			padding-right: 20px;
		}

		&__title {
			font-weight: bold;
			font-size: 1.4rem;

			a {
				line-height: 120%;
			}
		}

		&__description {
			font-size: 16px;
			color: palette-get(na-black-40);
			line-height: 150%;
		}
	}

	& > .in-depth__panel__max-width-wrapper {
		max-width: $max-body-width;
	}
}