.in-depth__panel {
	padding: $desktop-padding;
	/*text-align: center;*/

	@include breakpoint(medium) {
		margin-left: -1000px;
   	 	margin-right: -1000px;
   	 	padding-left: 1000px;
   	 	padding-right: 1000px;
	}
	
   &__inner-wrapper {
    	max-width: $max-site-width;
    	margin: auto;
    	width: 100%;
    }

	&.white {
		background-color: white;
	}
	&.grey {
		background-color: palette-get(na-black-10);
	}
	&.black {
		background-color: palette-get(na-black);
		color: white;
	}

	&.title-panel {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		margin-top: 0px;
		height: 100vh;
		margin: 0px;
		padding:0px;
	}
}