.in-depth__profile {
	padding-left: $desktop-padding;
	padding-right: $desktop-padding;
	max-width: $max-body-width;
	margin: auto;

	& > .content-grid__controls__filter {
		float: none;
	}

	&__title-block-container {
		display: table;
		padding: 45px 0px 25px 0px;
		width: 100%;
	}

	&__title-block, &__other-value-selector-container {
		display: table-cell;
		vertical-align: middle;
	}

	&__title-block {
		
		width: calc(100% - 250px);
		&__subheading {
			margin-bottom: 0px;
			color: palette-get(na-black-40);
			font-size: 14px;
			line-height: 1;
		}
		&__title {
			margin-bottom: 0px;
			font-size: 32px;
			color: palette-get(na-black);
		}
	}

	&__other-value-selector-container {
		width: 250px;
		padding-top: 25px;
	}

	&__other-value-selector {
		text-transform: capitalize;
		
	}

	&__body {
		padding-top: 0px;
	}
}