.in-depth__section {
	$section-header-height: 140px;
   $header-right-width: (
      small: 300px,
      medium: 450px,
      large: 600px,
   );
   $header-logo-width: 180px;

	width: 100%;
	&__header {
      height: 100%;
	 	background-color: palette-get(na-black);
	 	color: white;
	 	padding: $desktop-padding 0px;
      z-index: 15;
      position: relative;

      @include desktop-header {
         height: $section-header-height;
         padding: 0px;

         .in-depth__panel__max-width-wrapper {
            height: $section-header-height;
         }
      }

	 	&__left {
	 		display: inline-block;
	 		
	 		color: white;
         width: 100%;

         @include desktop-header {
            width: calc(100% - #{map-get($header-right-width, small)});
            height: $section-header-height;
         }

         @include breakpoint(large) {
            width:  calc(100% - #{map-get($header-right-width, medium)});
         }

         @media screen and (min-width: 1200px) {
            width:  calc(100% - #{map-get($header-right-width, large)});
         }

         &__logo {
            width: $header-logo-width;
            padding-bottom: $desktop-padding;

            @include breakpoint(medium) {
               float: left;
               padding-bottom: 0px;
               margin-right: $desktop-padding;
            }

            @include desktop-header {
               position: relative;
               top: 50%;
               transform: translateY(-50%);
            }

            .sidemenu__logo {
               margin: 0px;
            }
            
         }

         &__text {
            display: inline-block;
            width: 100%;

            @include breakpoint(medium) {
               width: calc(100% - #{$header-logo-width} - #{$desktop-padding});
            }

            @include desktop-header {
               position: relative;
               top: 50%;
               transform: translateY(-50%);
            }
         }

	 		&__prefix {
	 			font-weight: bold;
	 			font-size: 16px;
	 			margin-bottom: 0px;
	 		}
	 		&__title {
	 			font-size: 28px;
	 			font-weight: bold;
	 			margin-bottom: 0px;
            line-height: 1.2;
	 			a {
	 				color: white;
	 			}
	 		}
	 	}

	 	&__right {
	 		float: right;
	 		height: $section-header-height;
	 		overflow: hidden;
	 		position: relative;
         display: none;
         padding-left: $desktop-padding;
         @include desktop-header {
            display: inline-block;
	 		   width: map-get($header-right-width, small);
         }
	 		@include breakpoint(large) {
	 			width: map-get($header-right-width, medium);
	 		}

	 		@media screen and (min-width: 1200px) {
	 			width: map-get($header-right-width, large);
	 		}
	 		
	 	}

	 	&__item-container {
	 		height: $section-header-height;
	 		width: 100%;
	 		padding: 0px 35px;
	 		margin: auto;
	 	}

	 	&__item {
	 		height: $section-header-height;
	 		&__text {
	 			margin-bottom: 0px;
	 			padding: 10px 10px;
	 			position: relative;
	 			top: 50%;
	 			transform: translateY(-50%);
	 			line-height: 110%;
            text-align: center;
	 			a {
	 				color: palette-get(na-black-40);
   	 			font-weight: bold;
   	 			font-size: 1.1rem;
   	 			
   	 			
   	 			.active & {
   	 				color: white;
   	 			}
	 			}
	 		}
	 	}

	 	&__arrow__previous, &__arrow__next {
	 		height: 20px;
	 		width: 20px;
	 		position: absolute;
	 		cursor: pointer;
	 		z-index: 10;
	 		svg {
	 			fill: white;
	 		}
	 	}
	 	&__arrow__previous {
	 		top: 50%;
	 		transform: translateY(-50%);
	 	}

	 	&__arrow__next {
	 		right: 0;
	 		top: 50%;
	 		transform: translateY(-50%);
	 	}
	}

   &__mobile-selector {
      background-color: palette-get(na-black);
      padding: 0px $desktop-padding $desktop-padding;
      z-index: 15;
      position: relative;

      @include desktop-header {
         display: none;
      }

      select {
         border: 2px solid palette-get(na-black-40);
         background: url(shape-urls-get(down-arrow-na-white)) no-repeat;
         background-size: 12px 12px;
         padding-right: 30px;
         background-position-y: center;
         background-position-x: 97%;
         margin-bottom: 0px;
         color: white;
         padding-top: 0px;
         padding-bottom: 0px;
      }
      
   }
}