.in-depth__section {
   width: 100%;
	
   &__mobile-selector {
      background-color: palette-get(na-black);
      padding: 0px $desktop-padding $desktop-padding;
      z-index: 15;
      position: relative;

      @include desktop-header {
         display: none;
      }

      select {
         border: 2px solid palette-get(na-black-40);
         background: url(shape-urls-get(down-arrow-na-white)) no-repeat;
         background-size: 12px 12px;
         padding-right: 30px;
         background-position-y: center;
         background-position-x: 97%;
         margin-bottom: 0px;
         color: white;
         padding-top: 0px;
         padding-bottom: 0px;
      }
      
   }
}