- offices = [ 'Washington DC Head Office', 'New America NYC', 'New America California', 'New America Chicago' ]

nav.header__main-nav
  ul
    li.header__main-nav__item.header__has-link-group
      a.header__button.header__button--dropdown.button Programs
      .header__cover-bottom-shadow
      .header__link-group
        .header__link-group__content
          .row
            .small-12.large-9.columns
              .row
                .small-12.large-12.columns
                  h1.header__link-group__heading Programs and Initiatives
              .row
                .small-12.large-4.columns
                .small-12.large-4.columns
                .small-12.large-4.columns
            .small-12.large-3.columns
              .row
                .small-12.large-12.columns
                  h1.header__link-group__heading By Location
                  each office in offices
                    a.header__link-group__main-element(href='')= office

    li.header__main-nav__item
      a.header__button.button(href='/events') Events
    li.header__main-nav__item
      a.header__button.button Our Work
    li.header__main-nav__item
      a.header__button.button(href='/experts') Experts
    li.header__main-nav__item.header__has-link-group
      a.header__button.header__button--dropdown.button About
      .header__cover-bottom-shadow
      .header__link-group
        .header__link-group__content
    li.header__main-nav__item
      a.header__button.button Donate
