.mobile-nav
  ul
    li.mobile-nav__button.mobile-nav__button--active
      i.icon-i_new-america
    li.mobile-nav__button
      i.icon-i_calendar
    li.mobile-nav__button
      i.icon-i_book
    li.mobile-nav__button
      i.icon-i_people
    li.mobile-nav__button
      i.icon-i_award
    li.mobile-nav__button
      i.icon-i_heart
    li.mobile-nav__button
      i.icon-i_magnifying-glass