.mobile-nav
  ul
    li.mobile-nav__button.mobile-nav__button--active
      include ./../svg/new-america.html
    li.mobile-nav__button
      include ./../svg/calendar.html
    li.mobile-nav__button
      include ./../svg/book.html
    li.mobile-nav__button
      include ./../svg/people.html
    li.mobile-nav__button
      include ./../svg/award.html
    li.mobile-nav__button
      include ./../svg/heart.html
    li.mobile-nav__button
      include ./../svg/magnifying-glass.html