.header__sub-logo.header__has-link-group
  h1 Education Policy
  .header__link-group
    .header__link-group__content
      .row
        .small-12.large-6.columns
          .header__link-group__heading Programs and Initiatives
          a.header__link-group__main-element Early and Elementary Education
          a.header__link-group__main-element Learning Technologies Project
          a.header__link-group__main-element Dual Language Learners Workgroup
          a.header__link-group__main-element PreK-12 Education
          a.header__link-group__main-element Higher Education
          a.header__link-group__main-element Federal Education Budget
        .small-12.large-6.columns
          .header__link-group__heading About Education Policy
          a.header__link-group__main-element Our Story
          a.header__link-group__main-element Our Funders
          a.header__link-group__main-element Our People
          a.header__link-group__main-element Our Issues
          a.header__link-group__main-element Our Data Projects