{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block sidemenu_status %}has_sidemenu simple{% endblock %}

{% block sidebar %}
<div class='sidemenu-container'>
	<div class="sidemenu weekly-sidemenu">
		<div class="weekly-sidemenu__title-block">
			<h1 class="weekly-sidemenu__title"><a href="/weekly/">NEW AMERICA WEEKLY</a><h1>
			<h3 class="weekly-sidemenu__subtitle"><a href="{{ self.get_parent.url }}">{{ self.get_parent }}</a></h3>
		</div>
		<h5 class="weekly-sidemenu__subheading">In this Edition:</h5>

		<div class="weekly-sidemenu__sibling-list">
			{% for sibling in siblings %}
				<a class="weekly-sidemenu__sibling-list__link" href="{{ sibling.specific.url }}">
					<div class="weekly-sidemenu__sibling-list__entry">
						{% if sibling.specific.story_image %}
							{% image sibling.specific.story_image fill-60x60 as sibling_image %}
							<div class='weekly-sidemenu__sibling-list__entry__picture' style='background-image: url({{ sibling_image.url }})'>
								<div class='weekly-sidemenu__sibling-list__entry__picture__label'>{{ forloop.counter }}</div>
							</div>
						{% else %}
							<div class='weekly-sidemenu__sibling-list__entry__picture'>
								<div class='weekly-sidemenu__sibling-list__entry__picture__label no-image'>{{ forloop.counter }}</div>
							</div>
						{% endif %}
					
						<div class='weekly-sidemenu__sibling-list__entry__text'>
							<h1>{{ sibling.specific.title | truncatechars:60 }}</h1>
						</div>
					</div>
				</a>
				
			{% endfor %}
		</div>

		<h5 class="weekly-sidemenu__subheading"><a href="/subscribe/">Subscribe</a></h5>
		<h5 class="weekly-sidemenu__subheading">Change Edition</h5>
		<select onchange="location = this.value;">
			<option disabled selected value>Select an Edition</option>
			{% for edition in self.get_parent.get_siblings %}
				{% if edition != self.get_parent and edition.get_children|length > 0 %}
					<option value="{{ edition.url }}">{{ edition.title }}</option>
				{% endif %}
			{% endfor %}
		</select>
	</div>
</div>

<div class='content-container has-sidemenu'>
{% endblock %}

{% block content %}
	{% image page.story_image min-1100x650 as story_image %}

	<div class="post-header-container">
		{% if story_image %}

			<div class="post-header with-image large" style="background-image: linear-gradient(
			      rgba(0, 0, 0, 0),
			      rgba(0, 0, 0, 0.15)
			    ), 
		    	url({{ story_image.url }})">

				<div class="post-header__text">
			    	<h1 class="post-header__text__heading">{{ page.title }}</h1>
			    	{% if page.subheading %}
			    		<h2 class="post-header__text__subheading">{{ page.subheading }}</h2>
			    	{% endif %}
				</div>
			</div>
			{% if story_image.image.source %}
				<div class="caption">Photo: {{ story_image.image.source}}</div>
			{% endif %}

		{% else %}

			<div class="post-header">
				<div class="post-header__text">
			    	<h1 class="post-header__text__heading">{{ page.title }}</h1>
			    	{% if page.subheading %}
			    		<h2 class="post-header__text__subheading">{{ page.subheading }}</h2>
			    	{% endif %}
				</div>
			</div>

		{% endif %}
	</div>

	<div class="post-container">

	    {% if authors %}	
		    <h5 class="post-author">{% generate_byline page.content_type authors %}</h5>
		{% endif %}

		<h5 class="post-date">{{ page.date }}</h5>

	     <div class="post-body with-dropcap">
		    {% for block in self.body %}
		    	<div class="block-{{ block.block_type }}">
			       {% if block.block_type == 'image' %}
		            	{{ block }}
		            	{% if block.value.caption or block.value.source %}
		            		<div class="caption">{{ block.value.caption }} {% if block.value.source %}({{ block.value.source }}){% endif %}</div>
		            	{% endif %}
			        {% else %}
			            {{ block | safe }}
			        {% endif %}
		   		</div>
		    {% endfor %}
		</div>
	    
	    {% if authors %}
		<h1 class="post-subheading">{% get_author_block_prefix page.content_type authors %}</h1>
			{% for author in authors %}
				{% if author.author.profile_image %}
					<a href="{{ author.author.url }}">
						<div class="post-person with-image">
							<div class="post-person__left">
								<div class='person__icon'>
									{% image author.author.profile_image min-100x100 as author_image %}
									<div class='person__icon__photo' style='background: no-repeat center/100% url({{ author_image.url }})'>
									</div>
								</div>
							</div>
							<div class="post-person__text">
								{% if author.author.short_bio %}
									{{ author.author.short_bio | richtext }}
								{% else %}
									<h5 class="post-person__text__author-name">{{ author.author.first_name }} {{ author.author.last_name }}</h5>
								{% endif %}
							</div>
						</div>
					</a>
				{% else %}
					<a href="{{ author.author.url }}">
						<div class="post-person">
							<div class="post-person__text">
								{% if author.author.short_bio %}
									{{ author.author.short_bio | richtext }}
								{% else %}
									<h5 class="post-person__text__author-name">{{ author.author.first_name }} {{ author.author.last_name }}</h5>
								{% endif %}
							</div>
						</div>
					</a>
				{% endif %}
			
			{% endfor %}

		{% endif %}	
	</div>
{% endblock %}