{% load wagtailimages_tags utilities %}
<div class="weekly-content-list__item {{ post.get_page_type }} container">
  <div class="weekly-content-list__item__link-wrapper row {% if post.story_image %} with-image{% endif %}">
    <div class="weekly-content-list__item__text-wrapper col-md-6">
      <div class="weekly-content-list__item__text">
        {% if post.authors.all %}
          <label class="active weekly-content-list__item__text__author">
            {% generate_byline post.content_type post.authors.all %}
          </label>
        {% endif %}

        <h3 class= "weekly-content-list__item__text__title narrow-margin">
          <a href="{{post.url}}">{{ post.title }}</a>
        </h3>

        <!-- <p class= "weekly-content-list__item__text__description">{{ post.story_excerpt }}</p> -->
      </div>
    </div>
    <div class="weekly-content-list__item__image-wrapper col-md-6">
      {% if post.story_image %}
        {% image post.story_image fill-225x125 as post_image %}
        <img class="weekly-content-list__item__image" src="{{post_image.url}}" />
      {% endif %}
    </div>
  </div>
</div>
