{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-weekly{% endblock %}

{% block content %}
	<div class="weekly__header">
		<div class="weekly__header__left">
			<h1 class="weekly__header__left__text">NEW<br>AMERICA<br>WEEKLY</h1>
		</div>
		<div class="weekly__header__middle">
			<p class="weekly__header__middle__text">New America's weekly digital magazine, featuring the big ideas and innovative thinking to confront today's most pressing challenges. <a href="#">Subscribe</a> today to receive the weekly every Thursday.</p>
		</div>
	</div>

	<div class="weekly__lead">
		{% with first_edition=all_posts.0 %}
			{% with first_story=first_edition.get_children.all.0 %}

			<div class="weekly__lead__image">
				<div class='hero-grid has-1-children'>
					<div class='hero-grid__main'>
						<div class='hero-grid__element'>
						<a href="{{ first_edition.specific.url }}">
							<div class='hero-grid__element__wrapper'>
								{% image first_story.specific.story_image original as edition_image %}
								<div class='hero-grid__element__background' style='background-image: url({{ edition_image.url }})'></div>
								<div class='hero-grid__element__overlay'></div>
								<div class='hero-grid__element__text-bar'>
									<h5 class="hero-grid__element__text-bar__program"><a href="#">Edition {{ first_edition.specific.title }}</a></h5>
									<h1 class='hero-grid__element__text-bar__heading'>{{ first_story.specific.title }}</h1>
									{% if first_story.specific.post_author.all %}
										<p class='hero-grid__element__text-bar__subheading' href="{{ first_story.specific.url }}">{% generate_byline first_story.content_type first_story.specific.post_author.all %}</p>
									{% endif %}
									<p class= "hero-grid__element__text-bar__excerpt">{{ first_story.specific.story_excerpt }}</p>
								</div>
							</div>
						</a>
						</div>
					</div>
				</div>
			</div>

			<div class="weekly__lead__text">
				<h3 class="weekly__lead__text__title">Also in this Edition</h3>

				{% for story in first_edition.get_children.all %}
					<div class="weekly__lead__text__item">
						<h3 class="weekly__lead__text__item__name"><a href="{{ story.url }}"> {{ story.title }}</a></h3>
						{% if story.specific.post_author.all %}
							<h3 class="weekly__lead__text__item__description">{% generate_byline story.content_type story.specific.post_author.all %}</h3>
						{% endif %}
					</div>
				{% endfor %}

			</div>
		
			{% endwith %}
		{% endwith %}
	</div>

	<div class="picture-grid hide-first">
	{% for edition in all_posts %}
		{% with first_story=edition.get_children.all.0 %}

			<div class="picture-grid__entry">
				{% image first_story.specific.story_image original as edition_image %}
				<div class="picture-grid__entry__image-container" style="background-image: url('{{ edition_image.url }}') ">
				</div>
				<div class="picture-grid__entry__text-container">
					<h5 class="picture-grid__entry__description">
						<a href="{{ edition.url }}">Edition {{ edition }}</a>
					</h5>
					<h5 class="picture-grid__entry__title">
						<a href="{{ edition.url }}">{{ first_story.specific.title }}</a>
					</h5>
					<hr>
					<p class="picture-grid__entry__body">
						{{ first_story.specific.story_excerpt }}
					</p>
				</div>
				
			</div>
		{% endwith %}
	{% endfor %}
	</div>

	<div class="pagination">
		{% if all_posts.has_previous %}
			<a class="pagination__arrow" href="?page={{ all_posts.previous_page_number }}">

				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
					<polygon points="66.688,5.188 22.168,49.998 66.688,94.812 77.83,83.595 44.965,50.51 77.832,16.405 "/>
				</svg>

			</a>
		{% endif %}

		<span>Page</span>
		<form class="pagination__form" action="?page=value" method="get">
			<input class="pagination__input" type="text" placeholder="{{ all_posts.number }}" name="page">
		</form>

		<span>of</span>
		<a href="?page={{ all_posts.paginator.num_pages|get_range|last }}">{{ all_posts.paginator.num_pages|get_range|last }}</a>

		{% if all_posts.has_next %}
	    	<a class="pagination__arrow" href="?page={{ all_posts.next_page_number }}">
	    		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
					<polygon points="33.312,94.812 77.832,50.002 33.312,5.188 22.17,16.405 55.035,49.49 22.168,83.595 "/>
				</svg>
			</a>
		{% endif %}
	</div>
{% endblock %}