{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-weeklyeditionpage the-weekly{% endblock %}

{% block header %}
  {% include './header.html' %}
{% endblock %}

{% block content %}
  {% include './weekly_heading.html' with post=self.get_children.first.specific page_context="edition" %}
  <section class="container--narrow weekly-content-list">
    {% for post in self.get_children.specific|slice:"1:10" %}
        {% include './weekly_edition_content_list_item.html' with post=post %}
    {% endfor %}
  </section>


{% endblock %}
