{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-weeklyeditionpage{% endblock %}

{% block content %}
    <div class="weekly-edition">
    	<div class="weekly__header">
			<div class="weekly__header__left">
				<h1 class="weekly__header__left__text">NEW<br>AMERICA<br>WEEKLY</h1>
			</div>
			<div class="weekly__header__middle">
				
					<h1 class="weekly__header__middle__title">{{ page.title }}</h1>
				
			</div>
		</div>

		{% if program.get_subprograms|length > 1 %}
		<div class="tags-container">
			<div class="tags">
				<ul class="tags__taglist">
					<li class="tags__title">Topics</h3>
					{% for subprogram in program.get_subprograms %}
						<li class="label"><a>{{ subprogram }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
		

		{% with post=self.get_children.first.specific %}
			<div class='blog-lead-story'>
				<div class='hero-grid has-1-children'>
					<div class='hero-grid__main'>
						<div class='hero-grid__element'>
						<a href="{{ post.url }}">
							<div class='hero-grid__element__wrapper'>
							{% image post.story_image original as post_image %}
								<div class='hero-grid__element__background' style='background-image: url({{ post_image.url }})'></div>
								<div class='hero-grid__element__overlay'></div>
								<div class='hero-grid__element__text-bar'>
									<h1 class='hero-grid__element__text-bar__heading'>{{ post.title }}</h1>
									{% if post.post_author.all %}
										<p class='hero-grid__element__text-bar__subheading' href="{{ post.url }}">{% generate_byline post.content_type post.post_author.all %}</p>
									{% endif %}
									<h5 class= "hero-grid__element__text-bar__date">{{ post.date }} </h5>
									<p class= "hero-grid__element__text-bar__excerpt">{{ post.story_excerpt }}</p>
								</div>
							</div>
						</a>
						</div>
					</div>
				</div>
			</div>
		{% endwith %}


		<div class="content-grid__entries blog">

			{% for post in self.get_children.specific %}
				<div class="content-entry {{ post.get_page_type }}">
					{% if post.story_image %}
						{% image post.story_image original as post_image %}

						<a href="{{ post.url }}">
							<div class="content-entry__image-container" style="background-image: url('{{post_image.url}}') ">
							</div>
						</a>
					<div class="content-entry__text-container has-image">
					
					{% else %}
					<div class="content-entry__text-container">
					{% endif %}
						<div class="content-entry__text">
							<h5 class= "content-entry__text__title"><a href="{{ post.url }}">{{ post.title }}</a></h5>
							{% if post.post_author.all %}
								<h5 class= "content-entry__text__author">{% generate_byline post.content_type post.post_author.all %}</h5>
							{% endif %}
							<h5 class= "content-entry__text__date-time">{{ post.date }}</h5>
							<p class= "content-entry__text__excerpt">{{ post.story_excerpt }}</p>
							
						</div>
					</div>
				</div>
				<hr>
			{% endfor %}

		</div>
	</div>
{% endblock %}