{% load wagtailimages_tags utilities %}

{% image post.story_image original as lead_image %}
<section class="container--full-width weekly-heading">
  <div class="weekly-heading__image with-overlay--black {{page_context}}"
    style="background-image: url({{lead_image.url}})"></div>

  <div class="weekly-heading__lead-story">
    <div class="weekly-heading__lead-story__text {{page_context}}">
      {% if post.authors.all %}
        <label class="active weekly-heading__lead-story__text__author">
          {% generate_byline post.content_type post.authors.all %}
        </label>
      {% endif %}
      <div class="weekly-heading__lead-story__text__title">
        <a href="{{post.url}}">
          <h1 class="narrow-margin">{{ post.title }}</h1>
        </a>
      </div>
    </div>
  </div>

  <div class="weekly-heading__also-in-this-edition {{page_context}}">
    <label class="active lg">Also In This Edition <i class="fa fa-arrow-down sm"></i></label>
  </div>
</section>
