.in-depth__about{
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;

  @include media-breakpoint(tablet){
    padding-left: 35px;
    padding-right: 35px;
  }

  &__text{
    padding-right: 35px;
    margin-bottom: 50px;
  }

  &__text__body{
    max-height: 250px;
    overflow: hidden;
    @include fade-out(35px, $in-depth-color);
    @include transition(max-height $transition-function);

    &.active{
      @include fade-out(0px, $in-depth-color);
      max-height: 1200px;
    }
    @include media-breakpoint(desktop){
      max-height: none;
    }
  }

  .read-more label{
    cursor: pointer;
    font-size: 0.7rem;
    @include media-breakpoint(desktop){
      display: none;
    }
  }
}
