$section-header-height-medium: 100px;
$section-header-height: 80px;

#compose__in-depth-section-nav, .in-depth__title-block__text{
  display: inline-block;
	vertical-align: middle;
}

.in-depth__header__left, .in-depth__header__right{
		&:before{
			content: '';
			display: inline-block;
			height: $section-header-height;
			vertical-align: middle;
		}
}

#compose__in-depth-section-nav{
	width: 100%;
	.slick-slide {
		position: relative;
		height: $section-header-height;
		label {
			margin: 0;
			width: 100%;
			position: relative;
	    top: 50%;
	    @include transform(translateY(-50%));
		}
	}

	.slick-disabled{
		visibility: hidden;
	}
}

.in-depth__header {

    $header-right-width: (
		small: 300px,
		medium: 450px,
		large: 600px,
    );

	background-color: color(black);
	color: white;
	padding: $desktop-padding;
	z-index: 15;
	position: relative;

    @include desktop-header {
        height: $section-header-height;
        padding-top: 0px;
        padding-bottom: 0px;

        .in-depth__panel__max-width-wrapper {
            height: $section-header-height;
        }
    }

	&__left {
 		display: inline-block;
 		color: white;
		width: 100%;

		@include breakpoint(medium) {
			height: $section-header-height-medium;
		}

	    @include desktop-header {
	        width: calc(100% - #{map-get($header-right-width, small)});
	       	height: $section-header-height;
	    }

	    @include breakpoint(large) {
	        width:  calc(100% - #{map-get($header-right-width, medium)});
	    }

	    @media screen and (min-width: 1200px) {
	        width:  calc(100% - #{map-get($header-right-width, large)});
	    }

	    .in-depth__title-block {
	    	/*&__logo, &__text {
	    		@include desktop-header {
		           position: relative;
		           top: 50%;
		           transform: translateY(-50%);
		        }
	    	}*/

	    }

	}

	&__right {
		float: right;
		height: $section-header-height;
		overflow: hidden;
		position: relative;
		display: none;
		padding-left: $desktop-padding;

        @include desktop-header {
            display: inline-block;
	 		width: map-get($header-right-width, small);
        }
	 	@include breakpoint(large) {
	 		width: map-get($header-right-width, medium);
	 	}

	 	@media screen and (min-width: 1200px) {
	 		width: map-get($header-right-width, large);
	 	}

	}

 	&__item-container {
 		height: $section-header-height;
 		width: 100%;
 		padding: 0px 35px;
 		margin: auto;
 	}

 	&__item {
 		height: $section-header-height;
 		&__text {
 			margin-bottom: 0px;
 			padding: 10px 10px;
 			position: relative;
 			top: 50%;
 			transform: translateY(-50%);
        	text-align: center;

 			a {
 				color: palette-get(na-black-40);
	 			font-weight: bold;
	 			font-size: 1.1rem;

           		@include line-clamp(5, 1.3);

	 			.active & {
	 				color: white;
	 			}
 			}
 		}
 	}

 	&__arrow__previous, &__arrow__next {
 		height: 20px;
 		width: 20px;
 		position: absolute;
 		cursor: pointer;
 		z-index: 10;
 		svg {
 			fill: white;
 		}
 	}

 	&__arrow__previous {
 		top: 50%;
 		transform: translateY(-50%);
 	}

 	&__arrow__next {
 		right: 0;
 		top: 50%;
 		transform: translateY(-50%);
 	}
}
