.in-depth__header{
  background: color(black);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 100;

  &__project-title{
    margin-top: 10px;
    padding-right: 50px;
    padding-left: 15px;
  }

  &__project-title label{
    color: color(white);
    vertical-align: middle;
  }

  &__project-title, &__section-list{
    position: absolute;
    @include transition(opacity $transition-function);
    @include media-breakpoint(desktop){
      position: static;
    }
  }

  &__project-title{
    @include media-breakpoint-down(desktop){
      @include vertical-center;
      margin-top: 0px;
      opacity: 1;
      z-index: 1;
    }
  }

  &__section-list {
    @include media-breakpoint-down(desktop){
      opacity: 0;
      z-index: 0;
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
  }
}

.section .in-depth__header.scroll-in-view{
  .in-depth__header__project-title{
    @include media-breakpoint-down(desktop){
      z-index: 0;
      opacity: 0;
      user-select: none;
    }
  }
  .in-depth__header__section-list{
    @include media-breakpoint-down(desktop){
      z-index: 1;
      opacity: 1;
    }
  }
}
