.in-depth__intro{
  &__text{
    position: absolute;
    @include center;
  }
  &__text__logo{
    text-align: center;
    & > * {
      vertical-align: middle;
    }
    h4{
      display: inline-block;
    }
  }

  &__text__heading{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .fa {
    padding-left: 10px;
  }
  a:not(:hover) .fa{
    color: color(black);
  }

  &__text__link{
    text-align: center;
  }
}
