.in-depth__section__header{
    position: absolute;
    padding-left: 25px;
    z-index: 5;
    top: 0;
    padding: 15px 25px;
    background-color: color(white, base, 0.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;

  .newamerica-name{
    font-size: 0.9em;
    line-height: 1em;
    display: inline-block;
    position: relative;
  }

  h4 {
    margin-top: 10px;
  }

  .in-depth-name{
    display: inline-block;
  }


  &__project-title label, &__project-title a{
    color: color(white);
  }
  &__section-list {
    white-space: nowrap;
    margin-top: 0.5em;
    position: relative;
    @include transition(max-height 0.6s ease);

    .slick-slider {
      overflow: hidden;
    }
    .slick-arrow {
      cursor: pointer;
      display: none !important;
      font-size: 1.4rem;
      position: absolute;
      margin-top: -15px;
      @include vertical-center;
      i {
        color: color(white);
      }

      &.slick-next{
        right: 10px;
      }

      &.slick-prev{
        left: -15px;
      }
    }

    &__item{
      white-space: normal;
      display: inline-block;
      vertical-align: top;
      padding-right: 7.5px;
      padding-left: 7.5px;
      margin-bottom: 0;
      &__image{
        max-height: 0px;
        overflow: hidden;
        width: 125px;
        @include transition(max-height 0.6s ease);
        background: color(black);
        img{
          height: 125px;
          width: 125px;
          opacity: 0.6;
          display: block;
        }
      }

      &__text{
        color: color(white);
        display: inline-block;
        max-width: 95%;
      }

      &.active, &:hover{
        label {
          font-weight: bold;
          padding-bottom: 5px;
          box-shadow: 0px 2px 0px 0px color(white);
        }
        img {
          opacity: 0.95 !important;
        }
      }

    }
    &:hover{
      .in-depth__section__header__section-list__item__image {
        max-height: 140px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 1px 0px color(black, base, 0.35);
      }
      .slick-arrow{
        display: block !important;
        &.slick-disabled{
          display: none !important;
        }
      }
    }
  }
}
