.in-depth__section-nav{
  @extend %clearfix;
  background: #CDDEDA;
  width: 100%;
  box-shadow: inset 0px 0px 12px 0px color(black, base, 0.25);

  label {
    color: color(black);
  }

  &__next, &__prev{
    width: 350px;
    max-width: 50%;
    height: 100%;
    padding: 15px 30px;
    position: relative;
    &:after{
      height: 5px;
      width: 5px;
      position: absolute;
      content: ' ';
      border-radius: 10px;
      border-top: 2px solid color(black);
      border-right: 2px solid color(black);
      @include vertical-center;
    }

    @include media-breakpoint-down(desktop){
      float: none !important;
      display: table-cell;
      height: 100%;
      width: 50%;
      vertical-align: top;
    }
  }

  &__prev{
    float: left;
    border-right: 1px solid color(black, base, .25);
    &:after{
      @include transform(rotate(-135deg));
      left: 10px;
    }
  }

  &__next{
    float: right;
    border-left: 1px solid color(black, base, .25);
    &:after{
      @include transform(rotate(45deg));
      right: 10px;
    }
  }
}
