#splash{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.splash__image-wrapper{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  background: color(black, base);
}

.splash__image{
  height: inherit;
  width: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: color(black, base, 0.2);
  background-blend-mode: luminosity;
  opacity: 0.6;
}
