.in-depth__table-of-contents{
  margin-top: 33px;
  margin-bottom: 50px;
  max-width: 500px;
  h4{
    margin-bottom: 2px;
  }
  li{
    margin-bottom: 35px;
    p {
      font-size: 0.9rem;
    }
  }
}
