.fade-enter, .fade-appear{
  opacity: 0;
  z-index: 1;
  &.fade-enter-active, &.fade-appear-active{
    @include transition(opacity 500ms ease);
    opacity: 1;
  }
}

.fade-leave{
  z-index: 0;
  position: absolute;
  opacity: 1;

  &.fade-leave-active{
    @include transition(opacity 500ms ease);
    opacity: 0;
  }
}
