.in-depth-window{
  background: $in-depth-color;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  @include transition(all 0.35s ease);
  box-shadow: 0px 0px 8px 3px color(black, base, 0.15);
  // from weekly mixins
  @extend %animate-fade-in;

  @include media-breakpoint(desktop){
    width: 95vw;
    height: 80vh;
    max-width: $max-site-width;
    max-height: 800px;
    @include center;
  }

  @include media-breakpoint(large-desktop){
    width: 80vw;
    height: 80vh;
  }

  &.section {
    padding-left: 0;
    padding-right: 0;
    width: 100vw;
    height: 100vh;
    max-width: 10000px;
    max-height: 10000px;

    //@include transform(translate(0%, 0%));
  }
}

.in-depth__content{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 50px;
}
