.in-depth-label{
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: color(black);
}

@import 'heading';
@import 'project-header';
@import 'project-body';
@import 'project-heading';
@import 'section-heading';
@import 'section-header';
@import 'section-body';
@import 'transition';
@import 'splash';
@import 'window';
@import 'intro';
@import 'header';
@import 'logo';
@import 'header-nav';
@import 'panel';
@import 'about';
@import 'table-of-contents';
@import 'author';
