.report__bottom-nav{
  margin-top: 100px;
  height: 65px;
  @extend %clearfix;

  &__button {
    cursor: pointer;
    &.previous{
      float: left;
    }
    &.next{
      float: right;
    }
  }
}
