.report__bottom-nav{
  margin-top: 100px;
  height: 65px;
  @extend %clearfix;

  &__button {
    cursor: pointer;
    &.previous{
      float: left;
    }
    &.next{
      float: right;
    }
  }

  &__tooltip {
    @include transition(all 0.35s ease);
    @include transform(translateY(-100%));
    text-align: left;
    background: color(black);
    width: 240px;
    padding: 12px 15px 15px 15px;
    position: absolute;
    top: -15px;
    right: 75px;
    white-space: normal;

    &__caret {
      background: color(black);
      height: 20px;
      width: 20px;
      @include transform(rotate(45deg));
      position: absolute;
      bottom: -10px;
    }
  }
}

.report__bottom-nav-bar{
  white-space: nowrap;
  height: 65px;
  width: 100vw;
  max-width: 1200px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 19px;
  border: 1px solid rgba(#D5D5D5,0);
  box-shadow: 0px 0px 10px 0px rgba(#252525,.20);
  position: fixed;
  bottom: 0px;
  background: color(white);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  @include horizontal-center;
  @include transition(box-shadow 0.15s ease, border 0.15s ease, bottom 0.4s ease 0.25s);
  z-index: 500;

  & > div {
    display: inline-block;
  }
}

.bottom-nav-wrapper.hide {
  visibility: hidden;
  opacity: 0;
  .report__bottom-nav-bar {
    bottom: -70px;
  }
}

.bottom-nav-wrapper {
  height: 65px;
  //max-width: 1200px;
  margin: 0 auto 0 auto;
}

.report__bottom-nav-bar__chapter-nav > div:not(.report__bottom-nav__tooltip) {
    display: inline-block;
    vertical-align: middle;
    height: 36px;
    min-width: 36px;
}

@include media-breakpoint(desktop){
  .report__bottom-nav-bar__menu {
    &:hover{
      cursor: pointer;
      i {
        background: color(black);
        color: color(white);
      }
    }
  }
}

.report__bottom-nav-bar__menu > * {
  display: inline-block;
  vertical-align: middle;
}

.report__bottom-nav-bar__menu i{
  background: #d5d5d5;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  position: relative;
  margin-right: 15px;

  &:before{
    font-size: 12px;
    position: absolute;
    @include center;
  }
}

.report__bottom-nav-bar__button-wrapper{

  &:nth-child(2) {
    margin-right: 10px;
  }

  &:last-child {
    margin-left: 10px;
  }

  @include media-breakpoint(desktop){
    &:nth-child(2) {
      margin-right: 15px;
    }

    &:last-child {
      margin-left: 15px;
    }
  }

  a {
   width: 36px;
   height: 36px;
   background: #D5D5D5;
   border-radius: 36px;
   display: inline-block;
   position: relative;
   overflow: hidden;
   @include transition(width 0.15s ease);

   &:after {
     display: block;
     content: '';
     height: 6px;
     width: 6px;
     @include center;
     position: absolute;
     border-right: 2px solid color(black);
     border-bottom: 2px solid color(black);
     @include transition(opacity 0.15s ease);
     opacity: 1;
   }

   &.next-button:after {
     @include transform(translate(-50%,-50%) rotate(-45deg));
   }

   &.prev-button:after {
     @include transform(translate(-50%,-50%) rotate(-225deg));
   }

   &:hover {
     background: color(black);
     h6 {
       color: color(white);
     }
     &:after {
       border-right: 2px solid color(white);
       border-bottom: 2px solid color(white);
     }
   }
 }

  h6 {
    text-align: center;
    line-height: 36px;
    overflow: hidden;
    @include transition(transform 0.15s ease);
    @include transform(translateX(150%));
  }
}

.bottom-nav-wrapper.scroll-entered {
  //border-top: 1px solid rgba(#D5D5D5,0.6);
  box-shadow: 0px 0px 10px 0px rgba(#252525,.20);
}

.bottom-nav-wrapper.scroll-entered .report__bottom-nav-bar{
  position: static;
  @include transform(none);
  box-shadow: none;
  margin: 0 auto;
  border-radius: 0;
  box-shadow: 0px 0px 10px 0px rgba(#252525,0);

  &:not(.last-section) .report__bottom-nav__tooltip{
    right: calc(75px + 85px);
  }

  .report__bottom-nav-bar__button-wrapper.next {
    a {
      width: 120px !important;
    }

    a:after {
      opacity: 0 !important;
    }

    h6 {
      @include transform(translateX(0%));
    }
  }
}

.report__bottom-nav-bar__chapter-list{
  margin-left: 10px;
  margin-right: 10px;

  @media (max-width: 650px){
    display: none !important;
  }
}

.report__bottom-nav-bar__chapter-list ul {
  padding: 0;
  margin: 0;
  @include transition(all 0.15s ease);
}
.report__bottom-nav-bar__chapter-list li {
  display: inline-block;

  &.active {
    h6 {
      font-weight: bold;
      border-bottom: 2px solid color(black);
    }

  }
}
