.report__menu__subsection{
  background: #DEDEDE;
  border-top: 1px solid #BABABA;
  a {
    box-shadow: inset 0px 0 0 0 color(black);
    @include transition(box-shadow 0.15s ease);
    padding: 25px;
    display: block;

    &:hover{
      box-shadow: inset 5px 0 0 0 color(black);
    }
  }
}

.report__menu__section__subsections {
  @include transition(all 0.35s ease);
  opacity: 0;
  overflow: hidden;
}

.report__menu__section__title{
  border-top: 1px solid color(gray);
  padding-right: 25px;
  overflow: hidden;
  cursor: pointer;

  .interactive-div{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 16px;
    @include transition(all 0.3s ease);
    position: relative;
    i {
      color: color(black); z-index: 1; position: relative;
      background: color(white);
      padding: 5px;
      border-radius: 25px;
    }


    &__text{
      z-index: 0;
      position: absolute;
      left: -25px;
      top: -27px;
      height: calc(100% + 52px);
      width: 100%;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      background: color(turquoise);
      @include transition(all 0.3s ease);

      &:after {
        content: '';
        position: absolute;
        background: color(turquoise);
        height: 20px;
        width: 20px;
        right: -10px;
        top: calc(50% - 10px);
        transform: rotate(-45deg);
      }

      h6 {
        font-size: 14px;
        position: absolute;
        top: -13px;
        right: 25px;
        width: 150px;
      }
    }
  }

  .col-11 a{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    display: block;
    box-shadow: inset 0px 0 0 0 color(black);
    @include transition(box-shadow 0.15s ease);
    &:hover{
      box-shadow: inset 5px 0 0 0 color(black);


      .interactive-div{
        width: 250px;

        &__text{
          visibility: visible;
          overflow: visible;
          opacity: 1;
          width: 100%;
        }
      }
    }
  }

  h4{
    display: inline-block;
    vertical-align: middle;
  }
}

.report__menu__section:last-child .report__menu__section__title{
  border-bottom: 1px solid color(gray);

  .report__menu__subsection:first-child{
    border-top: none;
  }

  .report__menu__subsection:last-child{
    border-bottom: 1px solid color(gray);
  }

}

.down-arrow-icon-circle{
  position: relative;
  top: calc(50% - 8px);
  float: right;
  height: 16px;
  width: 16px;
  border: 1px solid color(black);
  border-radius: 16px;
  @include transform(rotate(-90deg));
  @include transition(transform 0.35s ease);
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 4px;
    height: 6px;
    width: 6px;
    border-right: 1px solid color(black);
    border-bottom: 1px solid color(black);
    @include transform(rotate(45deg));
  }
}

.report__menu__section.expanded {
  .report__menu__section__subsections {
    opacity: 1;
  }
  .down-arrow-icon-circle{
    @include transform(rotate(0deg));
    // background: color(black);
    // &:before{
    //   border-right: 1px solid color(white);
    //   border-bottom: 1px solid color(white);
    // }
  }
}

.report__menu__section .col-1:hover{
  .down-arrow-icon-circle{
    background: color(black);
    &:before{
      border-right: 1px solid color(white);
      border-bottom: 1px solid color(white);
    }
  }
}
