.report__featured-button {
  padding: 30px;
  //border: 1px solid color(black, base, 0.2);
  border-radius: 5px;

  @include transition(all 0.15s ease);
  box-shadow: 0px 2px 4px 0px color(black, base, 0.15);
  @include transform(translateY(0px));

  &:hover{
    box-shadow: 0px 1px 6px 1px color(black, base, 0.15);
    @include transform(translateY(-5px));

    .circle-gray{
      background-color: color(turquoise);
      color: color(white);
    }
  }
}
