.report__featured-button {
  padding: 30px;
  border: 1px solid color(black, base, 0.2);
  border-radius: 5px;

  @include transition(all 0.35s ease);
  box-shadow: 0px 1px 3px 0px color(black, base, 0.0);
  @include transform(translateY(0px));

  &:hover{
    box-shadow: 0px 1px 3px 0px color(black, base, 0.25);
    @include transform(translateY(-5px));
  }
}
