.report__heading {
  padding-top: 90px;
  padding-bottom: 90px;

  &--full-width {
    max-width: none;
    padding: 0;
    height: calc(100vh - 70px - 20px);
    min-height: 600px;
    max-height: calc(150vw + 275px);
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;

    @media (min-height: 800px) {
      height: calc(100vh - 70px - 2.5vh);
    }

    @media (min-height: 1200px) {
      height: calc(100vh - 70px - 2.3vh);
    }

    .single-page & {
      margin-bottom: 80px;
    }
  }
}

.report__heading__programs {
  margin-bottom: 35px;

  .report__heading--full-width & {
    margin-bottom: 20px;
    @media (min-height: 800px) {
      margin-bottom: 2.5vh;
    }

    @media (min-height: 1400px) {
      margin-bottom: 35px;
    }
  }
}

.report__heading__title {
  max-width: 750px;
  width: 90%;
  margin: 0 auto;
}

.report__heading__post-title {
  max-width: 365px;
  margin: 35px auto 0;

  .report__heading--full-width & {
    margin-top: 20px;
    @media (min-height: 800px) {
      margin-top: 2.5vh;
    }

    @media (min-height: 1400px) {
      margin-top: 35px;
    }
  }
}

.report__cover-image {
  margin: 0 auto;
  max-width: 1600px;

  &--full-width {
    flex-grow: 1;
    width: 100%;
    margin: 0;
    max-width: none;
    display: flex;
    flex-direction: column;

    .card__image__background-image:last-child {    
      margin-bottom: 1.75rem;
    }
  }

  .card__image__background {
    padding-bottom: 48.461538461%;
    position: static;

    @include media-breakpoint-down(tablet) {
      padding-bottom: 75% !important;
    }
  }
}

.card__image__background-image {
  flex-grow: 1;
  height: 0;
  object-fit: cover;
}

.report__cover-image__source {
  opacity: 0.5;
  text-align: right;
  margin: 0 15px;
}

.report__authors {
  margin-bottom: -30px;
}

.post-heading__image img {
  @include media-breakpoint-down(tablet) {
    width: auto;
    height: 100%;
    @include center;
  }
}
