.report__social__item{
   display: inline-block;
   position: relative;
   z-index: 1000;

   .fa, h6 {
     display: inline-block;
     vertical-align: middle;
   }

   .fa{
     margin-right: 25px;
   }

   h6 {
     display: none !important;
     padding-top: $type-adjustment;
   }

   @include media-breakpoint(desktop){
     display: block;
     h6{
       display: inline-block !important;
     }
   }

   @include media-breakpoint(large-desktop){
     h6 {
       display: inline-block !important;
     }
   }
}

.report__social{
  display: none;
  @include transition(opacity 0.35s ease);
  text-align: right;
  height: 0px;
  top: 0px;
  right: 22.5px;
  @include media-breakpoint(tablet){
    display: block;
  }
  @include media-breakpoint(desktop){
    height: auto;
    text-align: left;
  }
}

.social__print, .social__download{
  display: none;
  @include media-breakpoint(desktop){
    display: block;
  }
}
