.report__top-nav{
  width: 100vw;
  height: 65px;
  top: 0;

  &__sticky-wrapper{
    top: -65px;
    left: 0;
    height: 65px;
    color: color(white);
    width: 100vw;
    @include transition(top 0.35s ease);
    z-index: 500;
    background: color(black);
  }

  &__left {
    &:before{
      display: inline-block;
      content: '';
      vertical-align: middle;
      height: 65px;
    }
  }

  .logo {
    height: 28px;
    width: 102px;
    display: inline-block;
    vertical-align: middle;
  }

  &__right {
    text-align: right;
    white-space: nowrap;

    &:before {
      content: '';
      display: inline-block;
      height: 65px;
      vertical-align: middle;
    }
  }

  &__title{
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    overflow: hidden;
    max-width: 1px;
    display: none;
    padding-left: 1px;
    @include transition(all 0.35s ease);
    border-right: 1px solid #cdcdcd;
    padding-right: 15px;

    @include media-breakpoint(tablet){
      max-width: 500px;
      display: inline-block;
      &:hover {
        max-width: 800px;
      }
    }
  }

  &__icon {
    padding-left: 20px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;

    &:before{
      display: inline-block;
      content: '';
      vertical-align: middle;
      height: 30px;
    }

    &.attch {
      cursor: pointer;
      padding-right: 20px;
      border-right: 1px solid #cdcdcd;
      @include media-breakpoint-down(tablet){
        display: none;
      }

      h6 {
        margin-left: 10px;
        vertical-align: middle;
      }
    }

  }

  &__icon i {
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
}

.report__top-nav__icon.attch i{
  &:after {
    display: block;
    content: attr(data-attachments-n);
    font-family: 'Circular';
    color: color(white);
    font-size: 10px;
    border-radius: 10px;
    width: 18px;
    height: 18px;
    text-align: center;
    padding-top: 3px;
    font-weight: bold;
    font-style: normal;
    position: absolute;
    top: -9px;
    left: -9px;
    background: color(turquoise);
  }
}

.report__top-nav__icon.attch.clicked i:after{
  display: none;
}

.scroll-left > .report__top-nav__sticky-wrapper{
  position: fixed;
}

.scroll-reverse .scroll-left > .report__top-nav__sticky-wrapper{
  top: 0px;
}
