.report__top-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 65px;
  color: color(white);
  background: color(black);
  z-index: 500;

  &__left {
    &:before{
      display: inline-block;
      content: '';
      vertical-align: middle;
      height: 65px;
    }
  }

  .logo {
    height: 28px;
    width: 102px;
    display: inline-block;
    vertical-align: middle;
  }

  &__right {
    text-align: right;
  }

  &__title{
    line-height: 65px;
    vertical-align: middle;
    overflow: hidden;
    max-width: 1px;
    display: inline-block;
    white-space: nowrap;
    padding-left: 1px;
    @include transition(max-width 0.35s ease);

    @include media-breakpoint(tablet){
      max-width: 650px;
    }
  }

  &__icon {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid color(gray);
    height: 30px;
    display: inline-block;
    vertical-align: middle;

    &:before{
      display: inline-block;
      content: '';
      vertical-align: middle;
      height: 30px;
    }
  }

  &__icon i {
    display: inline-block;
    vertical-align: middle;
  }
}
