.report__top-nav{
  height: 65px;

  &__contents, &__title{
    height: 65px;
  }

  &__contents{
    position: relative;
    z-index: 11;
  }

  &__sticky-wrapper{
    width: 100vw;
    height: 65px;
    color: color(white);
    background: color(black);
  }

  &.scroll-entered .report__top-nav__sticky-wrapper{
    z-index: 150;
    position: fixed;
    top: -65px;
    @include transition(transform $header-transition-function);
    @include transform(translateY(0));
  }

  &.scroll-left .report__top-nav__sticky-wrapper{
    @include transform(translateY(65px));
  }
}

.scroll-reverse:not(.scroll-disabled) .report__top-nav.scroll-left .report__top-nav__sticky-wrapper{
  z-index: 150;
  position: fixed;
  @include transform(translateY(calc(65px + #{$header-height})));
}

.report__top-nav__title{
  position: relative;
  z-index: 11;
  overflow: hidden;
  background: color(black);
  text-align: right;

  &__wrapper{
    max-width: 85%;
    position: absolute;
    right: 22.5px;
    white-space: nowrap;
    margin-top: type-adjusted-padding(0px);
    overflow: hidden;
    @include vertical-center;
  }

  label{
    display: none;
    white-space: nowrap;
    vertical-align: middle;
    padding-left: 5px;
    &:first-child{
      padding-left: 20px;
    }
  }

  &__chapter{
    display: none;
    @include media-breakpoint(desktop){
      display: inline;
    }
  }
}

.report__top-nav.scroll-left .report__top-nav__title label {
  display: inline-block;
}

.menu-open .report__top-nav__title{
  display: none;

  @include media-breakpoint(tablet){
    display: block;
  }

  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100% - 280px);
  -ms-flex: 0 0 calc(100% - 280px);
  flex: 0 0 calc(100% - 280px);
  max-width: calc(100% - 280px);

}

.report__top-nav__contents{
  position: relative;
  z-index: 12;
  padding-left: 0 !important;
  padding-right: 0 !important;
  &__button .button--text{
    line-height: 65px;
  }
}


.report__top-nav__contents__menu-wrapper{
  max-height: 65px;
  overflow: hidden;
  width: 280px;
  padding-left: 22.5px;
  padding-right: 22.5px;
}

.report__top-nav__contents__button{
  height: 65px;
  width: 280px;
  white-space: nowrap;
  position: relative;
  z-index: 13;
  padding-right: 22.5px;
  padding-left: 22.5px;
  margin-left: -22.5px;

  &:hover{
    cursor: pointer;
  }

  .fa, label{
    cursor: pointer;
    line-height: 65px;
    color: color(white) !important;
  }
}

.menu-open {
  .report__top-nav__contents__menu-wrapper{
    max-height: 100vh;
    @include box-shadow( 0px 2px 8px 0px color(black, base, 0.5) );
  }

  .report__top-nav__contents{
    min-width: 280px;
  }

  .report__top-nav__contents__button{
    background: color(gray);
  }
}
