{% extends "std_post_page.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-podcast{% endblock %}

{% block post-content %}

	{% if page.post_author.all %}
	    	
	    <h5 class="post-author">By 
			{% for author in authors %}
				<a class= "" href="{{ author.author.url }}">{{author.author.name}}</a>
			{% endfor %}
		</h5>
		
	{% endif %}

    <h5 class="post-date"> {{ page.date }} </h5>

    <div class="post-body">
	    {{ page.body }}
	</div>

    {{ page.soundcloud }}

{% endblock %}
