{% extends "post_page.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-podcast{% endblock %}

{% block post-header %}
	{% image page.story_image original as story_image %}

	{% if story_image %}

		<div class="post-header with-image" style="background-image: linear-gradient(
		      rgba(0, 0, 0, 0.3),
		      rgba(0, 0, 0, 0.3)
		    ), 
	    	url({{ story_image.url }})">

			<div class="post-header__text">
			    	<h1 class="post-header__text__headline">{{ page.headline }}</h1>
			    	<h2 class="post-header__text__sub-headline">{{ page.sub_headline }}</h2>
			</div>
		</div>

	{% else %}

		<div class="post-header">

			<div class="post-header__text">
			    	<h1 class="post-header__text__headline">{{ page.headline }}</h1>
			    	<h2 class="post-header__text__sub-headline">{{ page.sub_headline }}</h2>
			</div>
		</div>

	{% endif %}

	<div class="post-soundcloud">
		<div class="post-soundcloud__logo"></div>
    	{{ page.soundcloud }}
    </div>

{% endblock %}

{% block post-body %}

    <div class="post-body">
	    {{ page.body }}
	</div>


{% endblock %}
