{% extends "post_page.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block post-header %}
	{% include 'components/post_heading.html' %}
	<div class="post-soundcloud">
		<div class="post-soundcloud__logo">
    	{{ page.soundcloud }}
    </div>
  </div>
{% endblock %}

{% block post_extra_body_content %}
	{% if page.itunes_url %}
		<div class="podcast__itunes_link">
			<a href="{{ page.itunes_url }}">Listen on iTunes</a>
		</div>
	{% endif %}
{% endblock %}
