.wrapper {
  display: block;
  width: 100%;
  /*position:absolute;*/
  margin: auto;
  overflow-x: hidden;
  &__clear-header {
    width: 100%;
    height: 100%;
    /*padding-top: $mobile-header-height;*/
    @include desktop-header() {
      padding-top: $desktop-header-height;
    }
    @include expanded-header() {
      padding-top: 0;
    }
  }
}
