.about-tab {
  &__section {
    margin-bottom: 50px;
  }
  &__section-title {
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  img {
    max-width: 400px;
    max-height: 200px;
    margin-left: 0;
  }
}
