container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py migrate --noinput"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ebdjango.settings

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "mysite.settings.production"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "mysite/wsgi.py"
  aws:elasticbeanstalk:container:python:staticfiles:
    static: "static/"