{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-indepthsection{% endblock %}
{% block sidemenu_status %}no_sidemenu{% endblock %}

{% block content %}

	<!-- side navigation -->

	{% if page.panels|length > 1 %}
		<a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>
		<nav id="cd-vertical-nav">
			<ul>
				{% if page.generate_title_panel %}
					<li>
						<a href="#title-panel" data-number="0">
							<span class="cd-dot"></span>
							<span class="cd-label">Title Panel</span>
						</a>
					</li>
				{% endif %}

				{% for panel in page.panels %}
					<li>
						<a href="#{{ panel.value.panel_title|slugify }}" data-number="{% if page.generate_title_panel %}{{ forloop.counter }}{% else %}{{ forloop.counter0 }}{% endif %} ">
							<span class="cd-dot"></span>
							<span class="cd-label">{{ panel.value.panel_title }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	{% endif %}

	<!-- header navigation -->

	<div class="in-depth__header">
		<div class="in-depth__panel__max-width-wrapper">
			<div class="in-depth__header__left">
				{% if project_root.specific.project_logo %}
					{% image project_root.specific.project_logo min-200x100 as logo %}
					<div class="in-depth__title-block__logo">
						<a href="{% if project_root.specific.project_logo_link %}{{ project_root.specific.project_logo_link }}{% endif %}">				      
						    <img class="sidemenu__logo" src="{{ logo.url }}">
	  					</a>
					</div>
					<div class="in-depth__title-block__text has-logo">
				{% else %}
					<div class="in-depth__title-block__text">
				{% endif %}
						<h5 class="in-depth__navigation-subheading">In Depth</h5>
						<h3 class="in-depth__navigation-heading"><a href="{{ project_root.url }}">{{ project_root }}</a></h3>
					</div>
			</div>
			
			{% if siblings|length > 1 %}
				<div class="in-depth__header__right">
					<div class="in-depth__header__arrow__previous">{% include 'ui_elements/svg/arrow-left.html' %}</div>
					<div class="in-depth__header__item-container" data-slick='{"initialSlide":	{{ index }}}'>
						{% for sibling in siblings %}
							<div class="in-depth__header__item {% if sibling.pk == page.pk %}active{% endif %}">
								<h5 class="in-depth__header__item__text"><a href="{{ sibling.url }}">{{ sibling.title }}</a></h5>
							</div>
						{% endfor %}
					</div>
					<div class="in-depth__header__arrow__next">{% include 'ui_elements/svg/arrow-right.html' %}</div>
				</div>
			{% endif %}
		</div>
	</div>
	{% if siblings|length > 1 %}
	<div class="in-depth__section__mobile-selector">
		<select class="in-depth__section__mobile-selector__select" onchange="location = this.value;">
			{% for sibling in siblings %}
				<option value="{{ sibling.url }}" {% if sibling.pk == page.pk %}selected{% endif %}>{{ sibling.title }}</option>
			{% endfor %}
		</select>
	</div>
	{% endif %}

	<!-- page content -->

	{% if page.generate_title_panel %}
		<a id="title-panel" class="in-depth__panel__anchor"></a>
		<section id="title-panel" class="in-depth__panel title-panel" style="background-image: linear-gradient(
		      rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0)
		    ), 
	    	url({{ story_image.url }})">
		    <div class="title-panel__text-box">
				<h1 class="title-panel__title">{{ page.title }}</h1>
				<h3 class="title-panel__subheading">{{ page.subheading|richtext }}</h3>
			</div>
			{% if page.panels %}
				<a class="title-panel__scroll-down" href="#{{ page.panels.0.value.panel_title|slugify }}">{% include 'ui_elements/svg/arrow-down.html' %}</a>
			{% endif %}
		</section>
	{% endif %}
	{% for panel in page.panels %}
		<a id="{{ panel.value.panel_title|slugify }}" class="in-depth__panel__anchor"></a>
		<section id="{{ panel.value.panel_title|slugify }}" class="in-depth__panel {{ panel.value.panel_color_theme }}">
			<div class="in-depth__panel__max-width-wrapper">
				<h1 class="in-depth__panel__title">{{ panel.value.panel_title }}</h1>
				<div class="in-depth__panel__body post-body">{{ panel.value.panel_body }}</div>
			</div>
		</section>
	{% endfor %}

	<!-- footer -->

	<div class="in-depth__footer">
		{% if previous_sibling or next_sibling %}
		<div class="in-depth__footer__next-prev">
			{% if previous_sibling %}
				<div class="in-depth__footer__next-prev__prev">
					<h5 class="in-depth__navigation-subheading">Previous Section</h5>
					<h5 class="in-depth__navigation-heading"><a href="{{ previous_sibling.specific.url }}">{{ previous_sibling }}</a></h5>
				</div>
			{% endif %}
			{% if next_sibling %}
				<div class="in-depth__footer__next-prev__next">
					<h5 class="in-depth__navigation-subheading">Next Section</h5>
					<h5 class="in-depth__navigation-heading"><a href="{{ next_sibling.specific.url }}">{{ next_sibling }}</a></h5>
				</div>
			{% endif %}
		</div>
		{% endif %}
		<div class="in-depth__footer__main">
			<div class="in-depth__max-width-wrapper">
				<div class="in-depth__footer__title-block">
					{% if project_root.specific.project_logo %}
						{% image project_root.specific.project_logo min-200x100 as logo %}
						<div class="in-depth__title-block__logo">
							<a href="{% if project_root.specific.project_logo_link %}{{ project_root.specific.project_logo_link }}{% endif %}">				      
							    <img class="sidemenu__logo" src="{{ logo.url }}">
		  					</a>
						</div>
						<div class="in-depth__title-block__text has-logo">
					{% else %}
						<div class="in-depth__title-block__text">
					{% endif %}
							<h5 class="in-depth__navigation-subheading">In Depth</h5>
							<h3 class="in-depth__title-block__title"><a href="{{ project_root.url }}">{{ project_root }}</a></h3>
						</div>
				</div>
				<div class="in-depth__footer__main__content">
					<div class="in-depth__footer__main__left">
						{% if project_root.specific.about_the_project %}
							<h5 class="in-depth__navigation-subheading">About this Project</h5>
							<div class="in-depth__footer__about">{{ project_root.specific.about_the_project | richtext }}</div>
						{% endif %}
						{% if authors %}
							<h5 class="in-depth__navigation-subheading">Authors</h5>
						
							<div class="post-person-container">
								{% for author in authors %}
									{% if author.author.profile_image %}
										<a href="{{ author.author.url }}">
											<div class="post-person with-image">
												<div class="post-person__left">
													<div class='person__icon'>
														{% image author.author.profile_image min-100x100 as author_image %}
														<div class='person__icon__photo' style='background: no-repeat center/100% url({{ author_image.url }})'>
														</div>
													</div>
												</div>
												<div class="post-person__text">
													{% if author.author.short_bio %}
														{{ author.author.short_bio | richtext }}
													{% else %}
														<h5 class="post-person__text__author-name">{{ author.author.first_name }} {{ author.author.last_name }}</h5>
													{% endif %}
												</div>
											</div>
										</a>
									{% else %}
										<a href="{{ author.author.url }}">
											<div class="post-person">
												<div class="post-person__text">
													{% if author.author.short_bio %}
														{{ author.author.short_bio | richtext }}
													{% else %}
														<h5 class="post-person__text__author-name">{{ author.author.first_name }} {{ author.author.last_name }}</h5>
													{% endif %}
												</div>
											</div>
										</a>
									{% endif %}
								{% endfor %}
							</div>
						{% endif %}
						
					</div>
					<div class="in-depth__footer__main__right">
						<h5 class="in-depth__navigation-subheading">Data Project Outline</h5>
						<ul class="in-depth__footer__main__directory">
								<li class="in-depth__footer__main__directory__item">
									<p class="in-depth__footer__main__directory__item__text"><a href="{{ project_root.url }}">{{ project_root.title }} Home Page</a></p>
								</li>
							{% for sibling in siblings %}
								<li class="in-depth__footer__main__directory__item {% if sibling.pk == page.pk %}active{% endif %}">
									<p class="in-depth__footer__main__directory__item__text"><a href="{{ sibling.url }}">{{ sibling.title }}</a></p>
								</li>
							{% endfor %}
						</ul>

						<h5 class="in-depth__navigation-subheading">Dataset</h5>
					</div>
				</div>
			</div>
		</div>

	</div>

{% endblock %}