{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-indepthsection{% endblock %}
{% block sidemenu_status %}no_sidemenu{% endblock %}

{% block content %}
	<nav id="cd-vertical-nav">
		<ul>
			{% for panel in page.panels %}
				<li>
					<a href="#{{ panel.value.panel_title|slugify }}" data-number="{{ forloop.counter }}">
						<span class="cd-dot"></span>
						<span class="cd-label">{{ panel.value.panel_title }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
	<a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>

	{% for panel in page.panels %}
		<!-- <a name="{{ panel.value.panel_title|slugify }}"></a> -->
		<section id="{{ panel.value.panel_title|slugify }}" class="in-depth__panel {{ panel.value.panel_color_theme }}">
			<div class="in-depth__panel__inner-wrapper">
				<h1 class="in-depth__panel__title">{{ panel.value.panel_title }}</h1>
				<div class="in-depth__panel__body">{{ panel.value.panel_body }}</div>
			</div>
		</section>
	{% endfor %}

{% endblock %}