{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}
{% block header %}
  {% include 'components/header.html' with transparent=True %}
{% endblock %}
{% block extra_js %}
	{% if not DEBUG %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	{% endif %}
	{% if page.data_project_external_script %}
		<script type="text/javascript" async="true" src="https://na-data-projects.s3.amazonaws.com/projects/{{ page.data_project_external_script }}"></script>
    {% include './style-shim.html' %}
  {% endif %}
{% endblock %}

{% block body_class %}template-indepthproject{% endblock %}
{% block sidemenu_status %}no_sidemenu{% endblock %}

{% block content %}
	<section class="in-depth__panel title-panel home-title-panel">
		<div class="title-panel__image">
        {% image page.story_image original as story_image %}
				{% image page.story_image fill-32x15 as story_image_thumb %}
				<div class="title-panel__image__background" style="background-image: url({{story_image_thumb.url}});"></div>
				<img src="{{story_image.url}}" class="fade-in-image" onload="this.classList.add('loaded');document.querySelector('.title-panel__image__background').classList.add('loaded');">
		</div>
		<div class="title-box-wrapper container">
			<div class="title-panel__text-box home-title">
        <div class="row gutter-20 margin-bottom-35">
          {% if page.project_logo %}
            <div class="col-6">
        			{% image page.project_logo min-200x100 as logo %}
        			<div class="title-panel__logo">
        				<a href="{% if page.project_logo_link %}{{ page.project_logo_link }}{% endif %}">
        				    <img class="sidemenu__logo" src="{{ logo.url }}">
        				</a>
        			</div>
            </div>
            <div class="col-6">
              <h5 class="white" style="line-height:25px;">
          {% else %}
            <div class="col-12">
              <h5 class="centered white">
    			{% endif %}
				      In Depth</h6>
            </div>
        </div>
				<h1 class="title-panel__title white promo margin-bottom-35 centered">{{ page.title }}</h1>
				{% if page.subheading %}
				<h6 class="title-panel__subheading pullquote white centered">{{ page.subheading|richtext }}</h6>
				{% endif %}
				{% if page.buttons %}
					<div class="title-panel__button-container margin-top-35">
						{% for button in page.buttons %}
							<a class="button white-outline margin-bottom-5" href="{{ button.value.button_url }}">{{ button.value.button_text }}</a>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</section>
	{% if story_image.image.source %}
		{% if page.body %}
		<h6 class="caption inline" style="padding-left:10px">Photo: {{ story_image.image.source}}</h6>
		{% else %}
			<h6 class="caption inline white" style="padding-left:10px; position: absolute;z-index: 5;">Photo: {{ story_image.image.source}}</h6>
		{% endif %}
	{% endif %}

	{% if page.body %}
		<section class="in-depth__panel margin-top-80 container--800">
			<div class="in-depth__panel__body post-body">
			    {% for block in page.body %}
            {% if block.block_type == "inline_image" %}
              {% include_block block %}
            {% else %}
              <div class="block-{{ block.block_type }}">
                 {% include_block block %}
              </div>
            {% endif %}
          {% endfor %}
			</div>
		</section>
	{% endif %}

	{% if project_sections|length > 0 %}
		<section class="in-depth__panel contents-panel container--full-width black{% if page.body %} margin-top-80{% endif %}">
			<div class="container--800">
				<h1 class="contents-panel__heading white margin-bottom-35">Contents</h1>
				{% for section in project_sections.specific %}
					<div class="contents-panel__item margin-bottom-35">
						<h3 class="contents-panel__item__title block bold white"><a href="{{ section.url }}">{{ section.title }}</a></h3>
						<h6 class="contents-panel__item__description paragraph white">{{ section.story_excerpt }}</h6>
					</div>
				{% endfor %}
			</div>
		</section>
	{% endif %}
{% endblock %}
