.weekly-article-content{
	@extend %shift-and-fade-in;
	animation-delay: 1s;
	.post-body__date{
		display: none;
	}
}

.weekly-body{
	font-size: 1.2em;
	font-family: $weekly-font-family;
}

.weekly-social{
	text-align: center;
	.fa{
		padding-right: 0;
	}
}
