.weekly__authors-list *{
  font-family: $paragraph-font-family !important;
  font-size: 1.125rem !important;
  text-rendering: optimizeLegibility !important;
  a {
    color: color(black);
    font-weight: normal;
    padding-bottom: 2px;
    margin-bottom: -2px;
  }
}

.weekly__authors-list__author label {
  margin: 0;
}

.weekly__authors-list__author > *{
  display: inline-block;
  vertical-align: middle;
}
