&__edition-list {
  max-width: 16.66667%;
  height: calc(100vh - 50px);
  min-height: 0;
  overflow: hidden;
  z-index: 50;

  &__scroll-wrapper{
    height: 100%;
    overflow-y: scroll;
    padding-right: 25px;
    width: calc(100% + 25px);
  }
  &__item{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    border-bottom: 1px solid color(weekly, black, .2);

    &__label{
      color: color(weekly, black, 0.6);
      display: block;
      font-size: 0.7rem;
    }
    &__edition-number{
      color: color(weekly, black, 0.6);
      font-size: 1.6rem;
      display: block;
      font-weight: bold;
      margin-top: 2.5px;
      margin-bottom: 5px;
      &:hover{

      }
    }
    &:hover, &.active{
      cursor: pointer;
      .weekly-edition-grid__edition-list__item__edition-number{
        cursor: pointer;
        color: color(weekly, turquoise, 0.4);
      }
    }
  }
}

&.scroll-in-view{
  .weekly-edition-grid__edition-list{
    width: 16.666667vw;
    max-width: 200px;
    position: fixed;
    top: 25px;
    left: 83.333333vw;
    @include media-breakpoint(large-desktop){
      left: initial;
      right: calc(50vw - 599px);
    }
  }
}

&.scroll-left{
  .weekly-edition-grid__edition-list{
    width: 16.666667vw;
    max-width: 200px;
    position: absolute;
    bottom: 0;
    right: 1px;
  }
}
