.weekly-edition-fixed-content {
  position: absolute;
  width: 100%;
}

.scroll-in-view{
  height: auto;
  @include media-breakpoint(tablet){
    .weekly-edition-fixed-content{
      position: fixed;
      top: 25px;
    }
  }
}

.scroll-left{
  height: auto;
  @include media-breakpoint(tablet){
    .weekly-edition-fixed-content{
      bottom: 0;
    }
  }
}
