.weekly-header{
	background: color(weekly, black);
	height: $weekly-header-height;
	margin-bottom: 25px;

	&__logo{
		width: 100%;
		height: auto;
	}

	&__heading{
		color: color(weekly, gray) !important;
		text-align: center;
		line-height: $weekly-header-height;
	}

}
