.weekly-edition__header{
	background: color(black);
	max-height: $weekly-header-height;
	@include transition(max-height 0.6s ease);
	overflow-y: hidden;
	overflow-x: hidden;

	&.open {
		max-height: 800px;
		overflow-y: scroll;
	}

	&__nav{
		height: $weekly-header-height;
	}

	&__nav__btn {
		height: 100%;
		display: inline-block;
		cursor: pointer;
		label, a {
			display: block;
			line-height: $weekly-header-height;
		}
	}
}
