.weekly-edition__header{
	background: color(black);
	max-height: $weekly-header-height;
	@include transition(max-height 0.4s cubic-bezier(.33,0,.2,1));
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
	z-index: 10;

	&.open {
		max-height: 2000px;
		@include media-breakpoint(desktop){
			max-height: 800px;
		}
	}

	&__nav{
		height: $weekly-header-height;
	}

	&__nav__btn {
		height: 100%;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		label, a {
			display: block;
			line-height: $weekly-header-height;
		}
	}

	&__nav__heading {
		float: right;
		line-height: $weekly-header-height;
	}

	&__page{
		display: inline-block;
		vertical-align: top;
		float: right;
		@extend %clearfix;

		@include media-breakpoint(desktop){
			margin-right: 65px;
		}
	}

	.next-page, .prev-page{
		display: inline-block;
		cursor: pointer;
		line-height: $weekly-header-height;

		.icon-arrow, span {
			vertical-align: middle;
			display: inline-block;
		}
	}

	.next-page{
		float: right;
	}

	.prev-page{
		padding-right: 35px;
	}

	.next-page span{
		padding-right: 15px;
	}

	.prev-page span {
		padding-left: 15px;
	}
}

.weekly-edition__header__nav__sticky {
	top: -$weekly-header-height;
}

.weekly-edition__header__nav.scroll-left .weekly-edition__header__nav__sticky {
	position: fixed;
	top: 0;
	left: 0;
	background: color(black);
	width: 100vw;
	@include transition(transform 0.35s ease, top 0.35s ease);
	@include transform(translateY(0));

	.container {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}

body.scroll-reverse .weekly-edition__header__nav.scroll-left .weekly-edition__header__nav__sticky {
	@include transform(translateY(#{$header-height}));
}
