&__lead{
  height: 100%;
  max-width: 100%;
  position: static;
  border-left: none;

  @include media-breakpoint(tablet){
    width: auto;
    max-width: 50%;
  }

  @include media-breakpoint(desktop){
    width: auto;
    max-width: 44.44444%;
  }

  &__edition-title{
    position: absolute;
    top: 0;
    padding: 15px;
    padding-top: 25px;
    z-index: 10;
    label{
      padding: 2.5px;
      padding-left: 5px;
      padding-right: 5px;
      display: inline-block;
      color: color(white);
      background: color(weekly, turquoise);
      text-align: center;
      text-transform: uppercase;
    }
  }
  &-wrapper{
    display: block;
    position: relative;
    margin-bottom: 15px;
  }
  &__text{
    position: absolute;
    bottom: 0;
    padding: 15px;
    z-index: 2;
    width: 80%;

    &__title{
      color: color(white) !important;
    }
  }

  &__image{
    opacity: 0.8;
    width: 100%;
    padding-bottom: 66%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    @include transition(filter 0.3s ease-in-out);

    @include media-breakpoint(tablet){
      height: calc(100vh - 75px);
      padding-bottom: 0;
      width: auto;
    }
  }

  &__image-wrapper{
    @include turquoise-overlay;
    @extend %with-overlay;
    &:hover{
      .weekly-edition-grid__lead__image{
        filter: grayscale(0%);
      }
    }
  }
}

&.scroll-in-view{
  height: auto;
  @include media-breakpoint(tablet){
    .weekly-edition-grid__lead-wrapper{
      position: fixed;
      width: calc(50vw - 30px);
      max-width: 570px; // 1200px *.5 - 30;
      top: 25px;
    }
  }

  @include media-breakpoint(desktop){
    .weekly-edition-grid__lead-wrapper{
      width: calc(44.44444vw - 30px);
      max-width: 503.33328px; // 1200px *.4444444 - 30;
    }
  }
}

&.scroll-left{
  @include media-breakpoint(tablet){
    .weekly-edition-grid__lead-wrapper{
      position: absolute;
      width: calc(50vw - 30px);
      max-width: 570px; // 1200px *.5 - 30;
      bottom: 25px;
    }
  }

  @include media-breakpoint(desktop){
    .weekly-edition-grid__lead-wrapper{
      width: calc(44.44444vw - 30px);
      max-width: 503.33328px; // 1200px *.4444444 - 30;
    }
  }
}
