&__lead{
  height: 100%;
  max-width: 44.44444%;
  position: static;
  border-left: none;
  &__edition-title{
    position: absolute;
    top: 0;
    padding: 15px;
    padding-top: 25px;
    z-index: 10;
    label{
      padding: 2.5px;
      padding-left: 5px;
      padding-right: 5px;
      display: inline-block;
      color: color(white);
      background: color(weekly, turquoise);
      text-align: center;
      text-transform: uppercase;
    }
  }
  &-wrapper{
    display: block;
    position: relative;
  }
  &__text{
    position: absolute;
    bottom: 0;
    padding: 15px;
    z-index: 2;
    width: 80%;

    &__title{
      color: color(white) !important;
    }
  }

  &__image{
    opacity: 0.8;
    height: calc(100vh - 75px);
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    @include transition(filter 0.3s ease-in-out);
  }

  &__image-wrapper{
    @include turquoise-overlay;
    @extend %with-overlay;
    &:hover{
      .weekly-edition-grid__lead__image{
        filter: grayscale(0%);
      }
    }
  }
}

&.scroll-in-view{
  height: auto;
  .weekly-edition-grid__lead-wrapper{
    position: fixed;
    width: calc(44.44444vw - 30px);
    max-width: 503.33328px; // 1200px *.4444444 - 30;
    top: 25px;
  }
}

&.scroll-left{
  .weekly-edition-grid__lead-wrapper{
    position: absolute;
    width: calc(44.44444vw - 30px);
    max-width: 503.33328px; // 1200px *.4444444 - 30;
    bottom: 25px;
  }
}
