.weekly-loading-icon{
  text-align: center;
  position: fixed;
  @include center;
  .loading-icon{
    font-size: 0.8rem;
    &__circle, &__rect{
      background: color(weekly, turquoise, 0.65);
    }
  }
}
