@font-face {
    font-family: 'Lyon';
    src: url('#{$static-url}/fonts/Lyon-Bold.otf');
    // src: url('#{$font-url}/fonts/.eot?#iefix') format('embedded-opentype'),
    //      url('#{$font-url}/fonts/.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lyon';
    src: url('#{$static-url}/fonts/Lyon-BoldItalic.otf');
    // src: url('#{$font-url}/fonts/.eot?#iefix') format('embedded-opentype'),
    //      url('#{$font-url}/fonts/.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
