@mixin turquoise-overlay($opacity:0.62) {
  position: relative;
  &::before{
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: $opacity;
    background-image: -webkit-linear-gradient(135deg, color(weekly, turquoise, .7) 0%, color(weekly, blue, .3) 100%); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(135deg, color(weekly, turquoise, .7) 0%, color(weekly, blue, .3) 100%); // Opera 12
    background-image: linear-gradient(135deg, color(weekly, turquoise, .7) 0%, color(weekly, blue, .3) 100%); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
  }
}

@mixin gray-multiply-overlay {
  background-color: color(weekly, gray, 1);
  background-blend-mode: multiply;
  filter: grayscale(75%);
  @include transition(filter 0.3s ease-in-out);
  &:hover{
    filter: grayscale(0%);
  }
}

%animate-fade-in {
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-name: animate-fade-in;
  animation-duration: .6s;
  opacity: 0;
}

%shift-and-fade-in {
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-name: shift-and-fade-in;
  animation-duration: 0.6s;
  opacity: 0;
  @include transform(translate3d(0, 75px, 0));
}

@include keyframes(animate-fade-in){
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include keyframes(shift-and-fade-in){
  0% {
    opacity: 0;
    @include transform(translate3d(0, 75px, 0));
  }

  100% {
    opacity: 1;
    @include transform(translate3d(0, 0, 0));
  }
}
