.weekly-article__nav{
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border-top: 1px solid color(weekly, black, 0.2);
  border-bottom: 1px solid color(weekly, black, 0.2);
  height: 33px;
  @extend %animate-fade-in;
  
  &__text{
    text-transform: uppercase;
    a{
      color: color(weekly, black, .75);
    }
    a{
      font-size: 0.8rem;
      line-height: 2em;
      vertical-align: middle;
      letter-spacing: -0.04em;
    }
  }
}

.weekly-article__nav-wrapper{
  height: 33px;
  &.scroll-entered{
    .weekly-article__nav{
      position: fixed;
      top: 0;
      z-index: 100;
      @include horizontal-center;
      background: color(weekly, beige, 0.9);
    }
  }
}
