$transition-function: .35s ease-in-out;

.weekly-page-fade-enter{
  position: absolute;
  transition-delay: .2s;
  &.weekly-edition-grid{
    @include transform(translate3d(-100%, 0, 0));
  }
  &.weekly-article{
    @include transform(translate3d(100%, 0, 0));
  }
  &.weekly-page-fade-enter-active{
    &.weekly-edition-grid{
      @include transform(translate3d(0, 0, 0));
      transition: all $transition-function;
    }
    &.weekly-article{
      @include transform(translate3d(0, 0, 0));
      transition: all $transition-function;
    }
  }
}

.weekly-page-fade-leave{
  position: absolute;
  &.weekly-edition-grid{
    @include transform(translate3d(0, 0, 0));
  }
  &.weekly-article{
    @include transform(translate3d(0, 0, 0));
  }
  &.weekly-page-fade-leave-active{
    &.weekly-edition-grid{
      @include transform(translate3d(-100%, 0, 0));
      transition: all $transition-function;
    }
    &.weekly-article{
      @include transform(translate3d(100%, 0, 0));
      transition: all $transition-function;
    }
  }
}
