.weekly-frame {
  width: 100vw;
  white-space: normal;
  background: color(white);
  opacity: 1;
}

.weekly-edition {
  padding-top: 150px;
  padding-bottom: 100px;
  z-index: 1;
}

.weekly-article {
  z-index: 0;
}
