.weekly-content {
	position: absolute;
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden; 
	-webkit-overflow-scrolling: touch;
	@extend %clearfix;
  padding-bottom: 200px;
  top: 0;

	& > .container{
		padding-top: #{$weekly-header-height + 25px};
	}

}
