$weekly-font-family: 'Lyon Display', serif;
$weekly-header-height: 60px;
@import 'lyon-font';
@import 'mixins';
#compose__weekly{
	display: block;
	min-height: 100vh;
}
.the-weekly {
	background: color(weekly, beige);

	h1, h4 {
		font-family: $weekly-font-family;
		color: color(weekly, black);
	}

	h1{
		font-size: 2rem;
		line-height: 1.75rem;
	}

	h2, h3 {
		font-family: $paragraph-font-family;
		color: color(weekly, black);
	}

	h2 {
		font-size: 0.9rem;
		line-height: 0.9rem;
	}

	p,
	blockquote,
	ul,
	li{
		font-family: $weekly-font-family;
	}

	p {
		font-size: 1.1rem;
	}

	.subheading, [class*="subheading--"] {
		font-family: $paragraph-font-family;
	}

	.footer{
		box-shadow: 0px 0px 1px 1px color(weekly, black, 0.1);
		border-top: 1px solid color(weekly, black, 0.15);
		background: color(weekly, black, 0.2);
		* {
			font-family: $paragraph-font-family;
			color: color(white);
		}
	}

	.footer__logo{
		background-image: url('/static/logo-white.svg');
	}
}

@import 'article';
@import 'edition-grid';
@import 'content-list';
@import 'header';
@import 'heading';
@import 'nav';
@import 'transition';
@import 'loading-page';
@import 'loading-icon';
