.survey-page {
  .post__byline .separator {
    font-weight: 100;
    margin-left: -2px;
  }
  &__links {
    display: block;
    @include  media-breakpoint(tablet) {
      display: flex;
      align-items: center;
    }
  }
  .button-secondary {
    display: inline-block;
    margin-right: 15px;
    width: fit-content;
    margin-bottom: 35px;
    @include media-breakpoint(tablet) {
      margin-bottom: 0;
    }
  }
  .card {
    position: relative;
    display: flex;
    align-items: center;
  }
  .card__image {
    background: color(white);
    max-width: 40%;
    padding-right: 20px;
    @include media-breakpoint(tablet) {
      padding-left: 25px;
      padding-right: 0;
      max-width: none;
    }
  }
  .card__text {
    padding-left: 0;
    padding-right: 0;
    @include media-breakpoint(tablet) {
      padding: 25px;
    }
  }
  .card__text p {
    font-size: 15px;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .card__text__title:hover u {
    text-decoration: underline;
    text-decoration-color: color(turquoise);
    display: inline;
    background-image: linear-gradient(90deg, #2ebcb3 100%, transparent 0);
    background-position: 0 1.04em;
    background-repeat: repeat-x;
    background-size: 100% 2px;
  }
  .card__text__excerpt {
    display: none;
    @include media-breakpoint(tablet) {
      display: block;
    }
  }
  .card__text__authors u {
    font-weight: 100;
  }
  .separator {
    margin: 0 0 0 -2px;
  }
}
