.survey-page {
  &__links {
    display: block;
    @include  media-breakpoint(tablet) {
      display: flex;
      align-items: center;
    }
  }
  .button-secondary {
    display: inline-block;
    margin-right: 15px;
    width: fit-content;
    margin-bottom: 35px;
    @include media-breakpoint(tablet) {
      margin-bottom: 0;
    }
  }
  &__link {
    display: block;
  }
  .card {
    display: flex;
    align-items: center;
  }
  .card__image {
    background: color(white);
    max-width: 40%;
    padding-right: 20px;
    @include media-breakpoint(tablet) {
      padding-left: 25px;
      padding-right: 0;
      max-width: none;
    }
  }
  .card__text {
    padding-left: 0;
    padding-right: 0;
    @include media-breakpoint(tablet) {
      padding: 25px;
    }
  }
  .card__text p {
    font-size: 15px;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .card__text__excerpt {
    display: none;
    @include media-breakpoint(tablet) {
      display: block;
    }
  }
  .card__text__authors u {
    font-weight: 100;
  }
  .separator {
    margin: 0 0 0 -2px;
  }
}
