.surveys-about-tab {
  background-color: color(white);
  margin-left: -25px;
  margin-right: -25px;
  padding: 25px;

  img {
    max-width: 400px;
    max-height: 200px;
    margin-left: 0;
  }
  .report__authors {
    max-width: 650px;
  }
}
