.cta-card {
  background: white;
  padding: 25px 15px;
  h4 {
    font-family: $paragraph-font-family;
    font-size: 21px;
  }
  p,
  &--email a {
    font-size: 15px;
    font-weight: 100;
    line-height: 19px;
    color: color(black);
    font-family: $label-font-family;
  }
  &--email a {
    text-decoration: underline;
    font-family: $label-font-family;
  }
  &--link {
    min-height: 130px;
    @include media-breakpoint(tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        margin-left: 20px;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
