.survey-search {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  margin-bottom: 25px;
  &__label {
    font-size: 21px;
  }
  input {
    border: 0;
    padding: 0 0 0 10px;
    margin: 0;
    font-size: 19px;
    line-height: 24px;
  }
  .search-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
    .glass {
      width: 13px;
      height: 13px;
    }
    .handle {
      height: 9.5px;
      top: 9px;
      right: 7px;
    }
  }
}
