@mixin mini-mobile-header-logo-text {
  margin: 0;
  line-height: 100%;
  font-family: 'Platform';
  font-weight: bold;
  text-transform: uppercase;
  font-size: rem-calc(14);
  color: palette-get(na-black);
}

@mixin mobile-header-logo-text {
  margin: 0;
  line-height: 100%;
  font-family: 'Platform';
  font-weight: bold;
  text-transform: uppercase;
  font-size: rem-calc(17);
  color: palette-get(na-black);
}

@mixin desktop-header-logo-text {
  margin: 0;
  line-height: 100%;
  font-family: 'Platform';
  font-weight: bold;
  text-transform: uppercase;
  font-size: rem-calc(20);
  color: palette-get(na-black);
}
@mixin expanded-header-logo-text {
  margin: 0;
  line-height: 100%;
  font-family: 'Platform';
  font-weight: bold;
  text-transform: uppercase;
  font-size: rem-calc(23);
  color: palette-get(na-black);
}

@mixin page-title-text {
  font-weight: bold;
  color: palette-get(na-black);
  font-size: 32px;

  @include breakpoint(medium) {
    font-size: 40px;
  }
}

@mixin page-subtitle-text {
  font-weight: normal;
  color: palette-get(na-black-40);
  font-size: 25px;
  margin-bottom: 0px;

  @include breakpoint(medium) {
    font-size: 30px;
  }

  a:hover {
    color: palette-get(na-turquoise);
  }
}

@mixin page-section-title-text {
  font-weight: bold;
  color: palette-get(na-black);
  font-size: 20px;
  margin-bottom: 0px;

  @include breakpoint(medium) {
    font-size: 26px;
  }
}
