@mixin program-and-content-type-text {
  font-size:16px;
  font-weight:bold;
  color: palette-get(na-black-40);
  line-height: 100%;
  text-transform: uppercase;

  &:hover {
    @include set-color(color);
  }
}

@mixin page-title-text {
  font-weight: bold;
  color: palette-get(na-black);
  font-size: 32px;

  @include breakpoint(medium) {
    font-size: 40px;
  }
}

@mixin page-subtitle-text {
  font-weight: normal;
  color: palette-get(na-black-40);
  font-size: 25px;
  margin-bottom: 0px;

  @include breakpoint(medium) {
    font-size: 30px;
  }

  a:hover {
    @include set-color(color);
  }
}

@mixin page-body-text {
  font-size: rem-calc(20);
  color: palette-get(na-black-70);
  line-height: 1.65;
  font-family: Simplon;
  font-style: normal;
}

@mixin page-section-title-text {
  font-weight: bold;
  color: palette-get(na-black);
  font-size: 26px;
  margin-bottom: 0px;
}
