@mixin space-out($breakpoint) {
  margin-top: $gutter / 2;
  margin-bottom: $gutter / 2;
  @include breakpoint($breakpoint) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@mixin standard-shadow {
  $s: 0 0 15px 0 palette-get(shadow);
  -webkit-box-shadow: $s;
  box-shadow: $s;
}
