@mixin space-out($breakpoint) {
  margin-top: $gutter / 2;
  margin-bottom: $gutter / 2;
  @include breakpoint($breakpoint) {
   /* margin-top: 0;
    margin-bottom: 0;*/
  }
}
@mixin standard-shadow {
	$s: 0 2px 5px 0 rgba(0,0,0,0.15), 0 2px 10px 0 rgba(0,0,0,0.10);
	-webkit-box-shadow: $s;
	box-shadow: $s;
}

@mixin hover-shadow {
	$s: 0 2px 5px 0 rgba(0,0,0,0.20), 0 2px 10px 0 rgba(0,0,0,0.20);
	-webkit-box-shadow: $s;
	box-shadow: $s;
}

@mixin handle-text-overflow {
  -webkit-word-break: break-word;
  word-break: break-word;
  -webkit-word-wrap: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /*Moz and IE hyphenation fallbacks due to lack of "word-break:break-word" support
   and word-wrap only working on fixed width containers*/
  -moz-hyphens: auto;
  -ms-hyphens: auto;
/*  -webkit-hyphens: auto;
   hyphens: auto;*/
}


@mixin limit-body-width {
  @include desktop-header {
    max-width: $max-body-width;
  }

  @include expanded-header {
    max-width: $max-body-width;
  }
}

@mixin responsive-iframe($height-width-ratio) {
  @if $height-width-ratio {
    padding-bottom: $height-width-ratio !important;
  }
  position: relative;
  height: 0px;
  overflow: hidden;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

@mixin is-in-depth-template {
  .template-indepthsection &, .template-indepthproject & {
    @content;
  }
}