
.breadcrumbs {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  a {
    color: color(gray);

    &:hover {
      text-decoration: none;
      color: color(turquoise);
    }
  }

  &__item{
    display: inline-block;
    margin: 0 8px;
    &:after{
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      position: relative;
      left: 8px;
      top: -1px;
      @include transform(rotate(45deg));
      border-top: 1px solid color(gray);
      border-right: 1px solid color(gray);
    }

    &.active, &:last-child{
      font-weight: bold;
      &:after{
        display: none;
      }
    }
  }
}
