.breadcrumbs {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  margin-top: 35px;
  margin-bottom: 35px;

  a {
    color: color(gray, dark);
    font-weight: normal;
    &:hover {
      text-decoration: none;
      color: color(turquoise);
    }
  }

  &__item{
    display: inline-block;
    margin: 0 10px;

    &:first-child{
      margin-left: 0;
    }

    &:after{
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      position: relative;
      left: 10px;
      top: -1px;
      @include transform(rotate(45deg));
      border-top: 1px solid color(gray);
      border-right: 1px solid color(gray);
    }

    &.active, &:last-child{
      a{
        font-weight: bold;
        color: color(black);

        &:hover{
          color: color(turquoise);
        }

      }
    }
  }
}
