.button--text{
  &.with-border {
    border-bottom: 1.5px solid color(turquoise);
  }

  &.with-caret, &.with-caret--right {
    &:after {
      content: ' ';
      display: inline-block;
      position: relative;
      margin-left: 10px;
      margin-bottom: 10px;
      top: calc(0.5em + 2px);
      width: 4px;
      height: 4px;
      border-right: 1px solid color(white);
      border-bottom: 1px solid color(white);
      @include transform(rotate(45deg));
    }
  }

  &.with-caret--right {
    &:after{
      @include transform(rotate(-45deg));
    }
  }

  &.with-caret--left{
    &:before{
      content: ' ';
      display: inline-block;
      position: relative;
      margin-right: 10px;
      margin-bottom: 10px;
      top: calc(0.5em + 2px);
      width: 4px;
      height: 4px;
      border-left: 1px solid color(white);
      border-bottom: 1px solid color(white);
      @include transform(rotate(45deg));
    }
  }

}
