button {
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
}

.button, .tag{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 25px;
	white-space: nowrap;
	display: inline-block;
	border-radius: 2px;
	position: relative;
	@include transition(all $transition-function);
	cursor: pointer;
}

.tag {
	margin-right: 6px;
  margin-bottom: 6px;
}

.button {
	border: 1px solid color(black, base, 1);
	&:hover {
		background: color(black, base, 1);
		border: 1px solid color(black, base, 0);
		color: color(white);
	}

	&.block {
		display: block;
	}

	&.white {
		border: 1px solid color(white, base, 0);
		background: color(white);
		color: color(black);
		&:hover {
			border: 1px solid color(white, base, 0);
			background: color(white);
		}
	}

	&.black {
		border: 1px solid color(black, base, 0);
		background: color(black);
		color: color(white) !important;
		&:hover {
			border: 1px solid color(black, base, 0);
			background: color(black, base, 0.75);
		}
	}

	&.turquoise {
		border: 1px solid color(turquoise, base, 1);
		color: color(turquoise);
		background: color(turquoise, base, 0);
		&:hover{
			color: color(white) !important;
			background: color(turquoise, base, 1);
		}
	}
}

.tag {
	background-color: color(black, base, 0.1);

	&:hover{
		background-color: color(black, base, 0.3);
	}
}
