.button {
	color: white;
	background: color(turquoise);
	font-weight: normal;
	text-align: center;
	padding: 0.5em 0.4em;
	display: inline-block;
	border-radius: $border-radius;
	@include transition(all $transition-function);
	cursor: pointer;

	&:hover {
		background: color(turquoise, light);
		color: color(white);
	}

	&.white {
		background: color(white);
		color: color(black);
		&:hover {
			background: color(white);
		}
	}

	&.transparent {
		background: rgba(color(turquoise),0);
		border: 1px solid color(turquoise);
		color: color(turquoise);

		&:hover {
			background: color(turquoise, light);
			color: color(white);
		}

		&.white{
			border: 1px solid color(white);
			color: color(white);

			&:hover {
				background: color(white);
				color: color(black);
			}
		}
	}

	&.gray {
		border: 1px solid color(gray, dark);
		color: color(gray, dark);
		&:hover{
			background: color(black);
			color: color(white);
			border: 1px solid color(black);
		}
	}

	&.black {
		background: color(black);
		&:hover {
			background: color(black,light);
		}
	}
}

.button-wrapper {
	&.centered{
		text-align: center;
	}
}
