
.button {
	color: white;
	background: color(turquoise);
	font-weight: normal;
	text-align: center;
	padding: 0.5em;
	border-radius: $border-radius;
	@include transition(background $transition-function)

	&:hover {
		background: color(turquoise, light);
		color: white;
	}

	&.black {
		background: color(black);
		&:hover {
			background: color(black,light);
		}
	}

	&.transparent {
		background: rgba(color(turquoise),0);
		border: 1px solid color(turquoise);
		color: color(turquoise);
	}
}
