.button--text, label{
  &.with-border {
    border-bottom: 1.5px solid color(turquoise);
  }
  $caret-padding: 10px;
  &.with-caret, &.with-caret--right {
    padding-right: $caret-padding;
    &:after {
      content: ' ';
      position: relative;
      right: -$caret-padding;
      top: type-adjusted-padding(1px);
      display: inline-block;
      vertical-align: middle;
      width: 5px;
      height: 5px;
      border-right: 1px solid color(black);
      border-bottom: 1px solid color(black);
      @include transform(rotate(45deg));
    }
  }

  &.with-caret--right {
    &:after{
      @include transform(rotate(-45deg));
    }
  }

  &.with-caret--left{
    padding-left: $caret-padding;
    &:before{
      content: ' ';
      position: relative;
      left: -$caret-padding;
      top: type-adjusted-padding(1px);
      vertical-align: middle;
      display: inline-block;
      width: 5px;
      height: 5px;
      border-left: 1px solid color(black);
      border-bottom: 1px solid color(black);
      @include transform(rotate(45deg));
    }
  }

}

.button--text.with-caret--left:after
label.bold.with-caret--left:after{
  border-left: 2px solid color(black);
  border-bottom: 2px solid color(black);
}

.button--text.with-caret--right:after,
label.bold.with-caret--right:after{
  border-right: 2px solid color(black);
  border-bottom: 2px solid color(black);
}
