.card {
  background: color(white);
  margin-top: 10px;

  & > a {
    width: 100%;
    height: 100%;
  }

  &__image{
    width: 100%;
    height: 100%;

    &__background{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }

  &__text{
    padding: 25px;
    position: relative;
    //border-bottom: 1.5px solid color(turquoise);
    &:after{
      //content: '';
      bottom: 0px;
      position: absolute;
      width: 105px;
      border: 1.5px solid color(turquoise);
    }
  }

  &.lg {
    height: 375px;
    .card__text{
      height: 100%;
    }
  }

  &.md {
    .card__image__background {
      width: 100%;
      padding-bottom: 77.143%;
    }

    .card__text{
      max-width: 300px;
    }
  }

  &.sm {
    height: 185px;
    .card__text{
      height: 100%;
    }
  }

  &.lg, &.md, &.sm, &.event, &.list {
    position: relative;
    top: 0;

    .card__text__title {
      @include transition(color 0.15s ease);
    }

    &:hover{
      cursor: pointer;
      .card__text__title {
        color: color(black, base, 0.55);
      }
    }
  }
}

.highlights__highlight{
  background: color(white);

  &:last-child{
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
    .card__text__title {
      color: color(black, base, 0.55);
    }
  }
}

.card.event {
  .card__image__background{
    width: 100%;
    padding-bottom: 72.857%;
  }

  .card__text{
    height: 230px;
  }
}

.card.list {
  padding: 15px;
  height: 150px;
  white-space: nowrap;
  
  .card__image {
    white-space: normal;
    vertical-align: middle;
    display: inline-block;
    width: 150px;
    height: 120px;
  }

  .card__text{
    white-space: normal;
    vertical-align: middle;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    max-width: calc(100% - 200px);
  }
}
