.carousel{
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;

  &__group-wrapper{
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    position: relative;
    &::before{
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      z-index: 5;
      @include linear-gradient-horizontal(color(white,base,1), color(white,base,0));
      width: 50px;
      left: 0;
      top: 0;
    }
    &::after{
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      z-index: 5;
      right: 0;
      top: 0;
      @include linear-gradient-horizontal(color(white,base,0), color(white,base,1));
      width: 50px;
    }
  }
  &__group{
    display: inline-block;
    padding-right: 50px;
    padding-left: 50px;
    width: 100%;
    vertical-align: top;
    white-space: normal;
    position: relative;
    @include transition(left 0.75s ease-in-out);
  }

  &__left-arrow, &__right-arrow{
    height: 20px;
    width: 20px;
    position: absolute;
    opacity: 0.65;
    top: calc(33.3333% - 10px);
    cursor: pointer;
    z-index: 10;
    &:hover{
      border-color: color(turquoise) !important;
    }
  }

  &__left-arrow{
    @include transform(rotate(-45deg));
    border-top: 10px solid color(gray);
    border-left: 10px solid color(gray);
    left: 5px;
  }

  &__right-arrow{
    @include transform(rotate(45deg));
    border-top: 10px solid color(gray);
    border-right: 10px solid color(gray);
    right: 5px;
  }
}
