.content-grid{
  &__item{
    padding-bottom: 50px;

    &__image-wrapper{
      width: 100%;
      padding-bottom: 5px;
    }
    &__image{
      width: 100%;
      height: auto;
      display: block;
    }
    &__text{
      &__content-type{
        &__program:after{
          display: inline;
          content: '•';
          margin-left: 4px;
          margin-right: 4px;
          font-size: 0.75em;
          position: relative;
          bottom: .1em;
        }
      }
      &__title{

      }
      &__description{

      }
    }
  }
}
