.content-grid{
  &__item{
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: $border-light;

    @include media-breakpoint(tablet){
      border-bottom: 0 !important;
    }

    &__image-wrapper{
      width: 100%;
      padding-bottom: 5px;
    }
    &__image{
      width: 100%;
      height: auto;
      display: block;
    }
    &__text{
      @include media-breakpoint-down(tablet){
        padding-left: 15px;
        padding-right: 15px;
      }
      &__content-type{
        &__program:after{
          display: inline;
          content: '•';
          margin-left: 4px;
          margin-right: 4px;
          font-size: 0.75em;
          position: relative;
          bottom: .1em;
        }
      }
    }
  }
}
