@import 'react-dates/lib/css/_datepicker';
.DateRangePicker{
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint(tablet){
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
.CalendarMonth--horizontal .CalendarMonth__caption, .CalendarMonth--vertical .CalendarMonth__caption{
  padding: 15px 0 55px;
}

.DateRangePicker__picker{
  z-index: 5;
}

.DateRangePickerInput {
  border-radius: $border-radius;
  border: 1px solid #dededf;
  box-shadow: 0px 0px 3px 0px rgba(40, 40, 48, 0.2);
  position: relative;
  top: -2px;
  width: 100%;

  &:before{
    content: 'Date Range';
    font-weight: bold;
    font-size: 0.78rem;
    line-height: 1.06rem;
    display: block;
    padding: 0.4em;
    padding-bottom: 0;
  }
}

.DateInput{
  padding-bottom: 5px !important;
}

.DateInput:first-child{
  padding-left: 0.4em;
}

.CalendarDay--selected-span, .CalendarDay--hovered-span{
  background: color(turquoise, light) !important;
  border: 1px double color(turquoise, light) !important;
  color: color(white);
}

.DateInput__display-text--focused {
    background: color(turquoise, light);
    border-color: color(turquoise, light);
    border-radius: $border-radius;
    color: color(white);
}

.CalendarDay--selected-start, .CalendarDay--selected-end, .CalendarDay--selected{
  background: color(turquoise, dark) !important;
  border: 1px double color(turquoise, dark) !important;
  color: color(white);
}

.DateRangePickerInput__clear-dates{
  border-radius: 100%;
  font: normal normal normal 14px/1 FontAwesome;
  @extend .fa-times;
  @extend .fa;

  &:before{
    color: color(gray);
  }

  &:hover:before{
    color: color(turquoise);
  }

  svg {
    display: none;
  }
}

.DateRangePickerInput__clear-dates:focus, .DateRangePickerInput__clear-dates--hover {
    background: color(gray, ultra-light, 0);
}
