.featured-stories{
  height: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  @include fade-out(55px);

  &.side-image{
    .featured-story{
      padding: 0 10px;
      height: 70%;

      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
      &__link-wrapper{
        height: 100%;
        width: 100%;
      }

      &__image{
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &__text{
        padding-left: 15px !important;

        &.no-image{
          max-height: 100%;
          width: 70%;
          position: absolute;
          padding-left: 0 !important;
          @include center;
          .featured-story__text{
            &__heading {
              text-align: center;
            }
          }
        }

        &__label{
          display: block;
          margin: 0 0 5px 0;
          color: color(gray);
        }
        &__heading{
          margin: 0 0 5px 0;
          font-size: 1em;
          line-height: 1.2em;
        }
        &__description{
          color: color(gray);
          font-weight: normal;
          line-height: 1.2em;
          margin: 0;
          height: 80px;
          overflow: hidden;
        }
      }
    }
  }

  &.top-image{
    height: auto;
    margin: 50px 0;
    .featured-story{
      height: auto;
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
      &__link-wrapper{
        height: 100%;
        display: block;
      }
      &__image-wrapper{
        width: 100% !important;
        height: 175px;
        max-width: none !important;
      }

      &__image{
        height: 100%;
        width: 100% !important;
        max-width: none !important;
        background-size: cover;
        background-repeat: no-repeat;
      }

      &__text{
        height: 30%;
        width: 100% !important;
        max-width: none !important;
        margin: 10px 0;

        &__label{
          display: block;
          margin: 0 0 5px 0;
          color: color(gray);
        }

        &__heading{
          margin: 0;
        }
      }
    }
  }
}
