.fixed-banner {
	position: fixed;
	height: 68px;
	background-color: palette-get(na-turquoise);
	color: white;
	bottom: 0px;
	text-align: center;
	width: 100%;
	z-index: 1000;
	display: none;

	@include breakpoint(medium) {
		display: block;
	}

	&__text {
		position: relative;
		top: 50%;
		transform: translateY(-50%);

		a {
			font-weight: bold;
			color: white;

			&:hover {
				color: white;
			}
		}
	}

	&__close {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
	}

	& ~ .footer {
		transition: all .1s ease-in-out;

		@include breakpoint(medium) {
			margin-bottom: 68px;
		}

	}
}