.footer{
  padding: 50px 0 25px 0;
  border-top: $border;
  margin-top: 75px;

  h4{
    margin: 10px 0;
    font-size: 1.1rem;
  }

  li {
    line-height: 1.2em;
  }

  &__logo-wrapper{
    margin-bottom: 15px;
  }
  &__content{

  }
}
