body:not(.homepage):not(.programpage) .footer > div,
body:not(.homepage):not(.programpage) .footer.mobile{
  box-shadow: 0px -1px 0px 0px color(black, base, 0.075);
}

.footer.desktop{
  display: none;
  background: color(white);
  @include media-breakpoint(desktop){
    display: block;
  }

  & > div {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__social i {
  margin-right: 15px;
}

.footer.mobile{
  padding-top: 25px;
  padding-bottom: 25px;
  background: color(white);
  @include media-breakpoint(desktop){
    display: none;
  }
  .footer__logo-wrapper {
    text-align: center;
  }
  .footer-mobile__content-list {
    text-align: center;
    li{
      display: inline-block;
      label{
        color: color(black);
      }
      &:not(:last-child):after{
        font-size: 0.8em;
        content: '•';
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}
