.inline-toggles-wrapper{
  overflow-y: hidden;
  overflow-x: visible;
  margin-left: -15px;
  margin-right: -15px;
  height: 2.6rem;
  text-align: center;
  .inline-toggles{
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.inline-toggles{
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;

  &__item{
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid color(black, base, 0.15);
    a{
      padding: 0.5em 0.75em;
      cursor: pointer;
      display: block;
      color: color(black) !important;
      border-bottom: 3px solid color(turquoise, base, 0) !important;
    }

    &.selected, &:hover{
      a{
        border-bottom: 3px solid color(turquoise) !important;
        color: color(turquoise) !important;
        font-weight: bold;
      }
    }
  }
}
