.inline-toggles-wrapper{
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: visible;
  height: 2.6rem;
  text-align: center;
  .inline-toggles{
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 25px;
  }
}

.inline-toggles{
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;

  &__item{
    display: inline-block;
    padding: 0.5em 0.75em;
    text-align: center;
    border-bottom: 3px solid color(turquoise, base, 0) !important;
    box-shadow: 0px 2px 0px -1px color(black, base, 0.15);
    a{
      cursor: pointer;
      display: block;
      color: color(black) !important;
    }

    &.selected, &:hover{
      border-bottom: 3px solid color(turquoise) !important;
      a{
        color: color(turquoise) !important;
        font-weight: bold;
      }
    }
  }
}
