.lazyload--background, .lazyload {
  filter: blur(1px);
  opacity: 0.35;
  @include transition(opacity 0.5s ease-in-out, filter 0.5s ease-in-out);
  transition-delay: 0.4s;
  &[data-was-processed="true"]{
    opacity: 1;
    filter: blur(0px);
  }
}
