.logo{
  display: inline-block;
  background-size: cover;
  background-image: url('#{$static-url}/logo-black.svg');

  &.lg {
    width: 200px;
    height: 50px;
  }

  &.md{
    width: 134px;
    height: 34px;
  }

  &.sm{
    width: 100px;
    height: 25px;
    //background-image: url('/static/logo-black-mini.svg');
  }

  &.white{
    background-image: url('#{$static-url}/logo-white.svg');
  }


}
