.flip-arrow-black {
	width: 20px;
	height: 20px;
	background-image: url(shape-urls-get(down-arrow-na-black));
	background-size: contain;
}

li:hover > .flip-arrow-black{
	background-image: url(shape-urls-get(down-arrow-na-white));
}

.flip-arrow-white {
	width: 20px;
	height: 20px;
	background-image: url(shape-urls-get(down-arrow-na-white));
	background-size: contain;
}

.rotate {
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
}

.active-nav{
	.rotate{
		-moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
	}
}
