.menu-list, [class*="menu-list--"] {
  & > *, .menu-list__item {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      position: relative;
      border-top: 1px solid color(black, base, 0.3);

      &:last-child {
        border-bottom: 1px solid color(black, base, 0.3);
      }

      a {
        display: block;
        padding-top: 25px;
        padding-bottom: 25px;

        &.active {
          font-weight: bold;
        }
      }
  }

  &.with-arrow--right > *:after{
    content: '\f178';
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    @include vertical-center;
    opacity: 0.3;
  }
}

.menu-list--padding-15 > * a {
  padding-top: 15px;
  padding-bottom: 15px;
}
