.picture-link {
  $size: 75px;
  $local-gutter: 15px;
  @include clearfix;
  width: auto;
  height: $size;

  &__picture,
  &__content {
    float: left;
  }
  &__picture {
    width: $size;
    height: $size;
    background-size: cover;
    background-position: 50% 50%;
    background-color: palette-get(na-black-10);
    margin-top: 3px;

    &__text {
      width: 10px;
      z-index: 500;
      color: white;
      font-weight: bold;
      font-size: 35px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform:translateY(-50%);
      -ms-transform:translateY(-50%);
      margin: auto;
    }
  }
  &__content {
    width: calc(100% - #{$size + $local-gutter});
    display: inline-block;
    margin-left: $local-gutter;
    line-height: 120%;

    @include handle-text-overflow;
    
    h1,
    p {
      width: 100%;
      margin: 0;
      line-height: 120%;
    }
    h1 {
      font-weight: bold;
      font-size: rem-calc(20);
      line-height: 120%;
    }
    p {
      margin-top: 3px;
      font-size: rem-calc(16);
    }
  }
}
