.portrait-content-grid{
  &__item{
    margin-bottom: 25px;
    cursor: pointer;

    label{
      padding: 1px 0;
    }

    &__image-wrapper{
      background: color(gray, light);
      z-index: 1;
      width: 100%;
      padding-bottom: 145%;
      position: relative;
      opacity: 1;
      cursor: pointer;

      @include transition(opacity $transition-function);
      &:hover{
        opacity: 0.8;
      }
    }

    &__image{
      width: 100% !important;
      height: auto;
      display: block;
      position: absolute;
    }

    &__no-image{
      color: color(gray);
      position: absolute;
      font-size: 1.44rem;
      @include center;
    }
    &__text{
      margin-top: 5px;
    }

  }
}
