.portrait-content-grid{
  &__item{
    margin-bottom: 25px;
    cursor: pointer;

    &__image-wrapper{
      position: relative;
      background: color(gray, light);
    }
    &__image{
      width: 100% !important;
      height: auto;
    }
    &__no-image{
      color: color(gray);
      position: absolute;
      font-size: 1.44rem;
      @include center;
    }
    &__text{
      margin-top: 5px;
    }
  }
}
