.slick-slider{
  white-space: nowrap;
}

.slick-list, .slick-arrow {
  display: inline-block !important;
  vertical-align: middle;
}

.slick-list{
  white-space: normal;
  width: 80%;
}

.slick-arrow {
  width: 10%;
}

.slick-arrow.slick-prev {
  text-align: right;
}
