.social-share{
  margin: 10px 0;
  &__item{
    padding-right: 10px;
  }
}

.post-social {
  &__sticky-wrapper{
    padding-top: 15px;
  }
  &.scroll-entered {
    .post-social__sticky-wrapper{
      background: color(white, base, 0.9);
      position: fixed;
      top: 0;
      max-width: 22.5%;
      padding-right: 30px;
      @include transition(top 0.35s ease-in-out);
    }

    &[data-scroll-enter-offset]{
      .post-social__sticky-wrapper{
        top: $subheader-height;
      }
    }
  }
}

body.scroll-reverse{
  .post-social.scroll-entered{
    top: -$header-height;

    .post-social__sticky-wrapper{
      top: $header-height !important;
    }
    &[data-scroll-enter-offset]{
      .post-social__sticky-wrapper{
        top: #{$header-height + $subheader-height} !important;
      }
    }
  }
}
