.subscribepage {
  background: color(beige);
}

.subscribe{
  .input {
    margin-top: 25px;
  }

  #g-recaptcha{
    margin-top: 25px;
  }
}

.desktop-submit{
  display: none;
  @include media-breakpoint(tablet){
    display: block;
  }
}

.mobile-submit{
  display: block;
  @include media-breakpoint(tablet){
    display: none;
  }
}

.home__subscribe{
  white-space: nowrap;
  width: 100%;
  padding-bottom: 115px;
  .primary, .secondary {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    width: 100%;
    max-width: 925px;
    position: relative;
    visibility: visible;
    @include transition(transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease);
    @include transform(translateX(0));
  }

  .subscribe__lists {
    max-height: 250px;
    overflow: hidden;
  }

  .secondary {
    opacity: 0;
    visibility: hidden;
  }

  &__toggles{
    span {
      padding-left: 10px;
      padding-right: 10px;
    }

    label{
      cursor: pointer;
    }
  }

  &.shifted{
    .subscribe__lists {
      max-height: none;
    }

    .primary, .secondary {
      @include transform(translateX(-100%));
    }

    .primary{
      opacity: 0;
      visibility: hidden;
    }

    .secondary{
      opacity: 1;
      visibility: visible;
    }

    .home__subscribe__next{
      right: -20%;
    }
  }

}
