.subscribe{
  .input {
    margin-top: 25px;
  }
}


.home__subscribe{
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  margin-right: 100px;
  margin-left: 100px;
  padding-bottom: 115px;
  .primary, .secondary {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    width: 80%;
    position: relative;
    @include transition(left 0.5s ease);
    left: 0;
  }

  .secondary {
    padding-left: 20%;
    width: 100%;
    height: calc(100vh - 50px);
    overflow: hidden;

    &__wrapper{
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
      width: calc(100% + 50vw);
      padding-right: 50vw;
    }
  }

  &__next{
    position: absolute;
    right: 15%;
    @include vertical-center;
    @include transition(right 0.5s ease);
    z-index: 2;
    cursor: pointer;
  }

  &.shifted{
    .primary, .secondary {
      left: -89%;
    }

    .home__subscribe__next{
      right: -20%;
    }
  }

}
