.tag{
  border-radius: $border-radius;
  color: color(black, light, 0.75);
  background: color(gray, base, 0.25);
  padding: 0.25em 0.5em;
  display: inline-block;
  text-decoration: none;
  border-bottom: none !important;
  font-weight: normal;
  cursor: pointer;
  font-size: 0.8em;
  margin: 3px 0;

  &:hover{
    background: color(black);
    color: color(white) !important;
  }
}
