.tag{
  border-radius: $border-radius;
  color: color(gray, dark);
  background: color(gray, light);
  padding: 0.25em 0.5em;
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 3px 0;
  border: 1px solid color(gray, base, 0);

  &.with-gutter{
    margin-right: 5px;
  }

  &.transparent{
    background: transparent;
    border: 1px solid color(gray, base, 1);
  }

  &:hover{
    background: color(black);
    color: color(white) !important;
    border: 1px solid color(gray, base, 0);
  }
}
