blockquote {
  padding: 0;
  padding-left: 25px;
  border: none;
  border-left: 1px solid color(gray, base, 0.45);
  color: color(gray);
  margin: 25px 0;

  &.pullquote {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: color(turquoise);
    border-top: 1px solid color(turquoise);
    border-bottom: 1px solid color(turquoise);
    border-left: none;
    width: 100%;
    padding-left: 0;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
