.block-box{
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid color(black);
  border-bottom: 1px solid color(black);
  padding-bottom: 20px;

  p, li, blockquote, a{
    font-family: $label-font-family !important;
    font-size: 0.9375rem !important;
    line-height: 1.75rem !important;
  }

  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  blockquote {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
