.post-body p,
.block-paragraph {
  font-family: $paragraph-font-family;
  font-size: 1.00em;
  line-height: 1.6em;
  text-shadow: 1px 1px 1px color(black, base, 0.004);
  text-rendering: optimizeLegibility !important;;
}
