.post-soundcloud {
  margin-bottom: 20px;

  .block-soundcloud_embed iframe {
    opacity: 0;
    transition: 0.35s opacity ease-in;
    -webkit-transition: 0.35s opacity ease-in;
    -moz-transition: 0.35s opacity ease-in;
    -o-transition: 0.35s opacity ease-in;

    &.loaded{
      opacity: 1;
    }
  }

  iframe {
    height: 180px;
  }
}
