.block-table {
  margin-top: 50px;
  margin-bottom: 50px;
  overflow-x: scroll;

  table {
    border-collapse: collapse;
  }

  tbody tr:nth-of-type(odd) {
    background-color: rgba(44, 47, 53, 0.05);
  }

  th, td {
    padding: 10px;
    min-width: 130px;
    vertical-align: middle;
    text-align: left;
    line-height: 1.3;

    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }

  th {
    vertical-align: bottom;
    border-top: 1px solid color(black, base, 0.3);
    border-bottom: 1px solid color(black);
  }
}
