{% load wagtailcore_tags wagtailimages_tags %}
<section id="about" class="section align-center">
  <div class="container">
    <span class="line-icon section-icon line-icon-multimedia-12"></span>
    <h3>About the Event</h3>
    <div class="row">
      <div class="small-12 medium-5 columns">
        {% image page.about_image original as about_image %}
        <img src="{{about_image.url}}" alt="{{about_image.alt}}" class="img-responsive" />
      </div>
      <div class="small-12 medium-7 columns">
        {{ page.description|richtext }}
      </div>
    </div>

  </div>
</section>
