{% load wagtailcore_tags wagtailimages_tags utilities %}
<section id="about" class="conference__section section-nav margin-top-80">
  {% if page.live_stream %}
    <div class="block-video">
    {% include 'blocks/embed.html' with value=page.live_stream %}
    </div>
  {% endif %}
  <span class="line-icon section-icon line-icon-multimedia-12"></span>
  <h1 class="centered">About the Event</h1>
  <div class="">
    {% if page.about_image %}
    {% image page.about_image original as about_image %}
      <div class="about__image">
        <img src="{{about_image.url}}" alt="{{about_image.alt}}" class="img-responsive" />
      </div>
    {% endif %}
    <div class="post-body">
      {{ page.description|richtext }}
    </div>
  </div>
</section>
