{% extends 'base.html' %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}conference-template{% endblock %}

{% block content %}

  {% include 'conference/intro.html' %}
  {% include 'conference/nav.html' %}
  {% include 'conference/about.html' %}

  <section id="speakers" class="section section-nav align-center">
    <div class="container">
      <span class="line-icon section-icon line-icon-faces-users-04"></span>
      <h3>Speakers</h3>
    </div>
    {% if page.publish_speakers %}
      {{ page.speakers }}
    {% else %}
      <div class="tba container"><h4><i>To be announced.</i></h4></div>
    {% endif %}
  </section>

  <section id="schedule" class="section section-nav schedule-section align-center">
    <div class="container">
      <span class="line-icon section-icon line-icon-office-21"></span>
      <h3>Schedule</h3>
    </div>
    {% if page.publish_sessions %}
      {% include_block page.sessions %}
    {% else %}
      <div class="tba container"><h4><i>To be announced.</i></h4></div>
    {% endif %}
  </section>

  {% if page.partners|length > 0 %}
  <section id="sponsors" class="section section-nav align-center">
    <div class="container">
      <span class="line-icon section-icon line-icon-seo-icons-24"></span>
      <h3>Sponsors & Partners</h3>
    </div>
    {{ page.partners }}
  </section>
  {% endif %}

  {% if page.venue_details %}
  <section id="venue" class="section section-nav align-center">
    {% include './venue_and_hotel.html' %}
  </section>
  {% endif %}

  <section id="directions" class="section align-center">
    <div class="container">
      <span class="line-icon section-icon line-icon-seo-icons-36"></span>
      <h3>Directions</h3>
    </div>
    <div class="container">
      {{ page.directions }}
    </div>
  </section>

{% endblock %}
