{% extends 'base.html' %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}{% endblock %}

{% block content %}

  {% include 'conference/intro.html' %}
  {% include 'conference/nav.html' %}
  <main class="container--1080">
    {% include 'conference/about.html' %}

    <section id="speakers" class="section section-nav align-center">
        <span class="line-icon section-icon line-icon-faces-users-04"></span>
        <h1 class="centered">Speakers</h1>

      {% if page.publish_speakers %}
        {{ page.speakers }}
      {% else %}
        <h4><i>To be announced.</i></h4>
      {% endif %}
    </section>

    <section id="schedule" class="section section-nav schedule-section align-center">

      <span class="line-icon section-icon line-icon-office-21"></span>
      <h1 class="centered">Schedule</h1>
      {% if page.publish_sessions %}
        {% include_block page.sessions %}
      {% else %}
        <h4><i>To be announced.</i></h4>
      {% endif %}
    </section>

    {% if page.partners|length > 0 %}
    <section id="sponsors" class="section section-nav align-center">
      <span class="line-icon section-icon line-icon-seo-icons-24"></span>
      <h1 class="centered">{{ page.partner_heading }}</h1>
      {{ page.partners }}
    </section>
    {% endif %}

    {% if page.venue_details %}
    <section id="venue" class="section section-nav align-center">
      {% include './venue_and_hotel.html' %}
    </section>
    {% endif %}

    {% if page.directions %}
    <section id="directions" class="section align-center">
        <span class="line-icon section-icon line-icon-seo-icons-36"></span>
        <h1 class="centered">Directions</h1>
        {{ page.directions }}
    </section>
    {% endif %}
  </main>
{% endblock %}
