{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% image page.story_image original as cover %}
<section id="hero" class="conference__intro">
  <div class="conference__intro__background">
    <img src="{{cover.url}}" />
  </div>
  <div class="heading-block centered-block align-center">
      <div class="conference__title">
        <div class="na-logo">
          <a href="http://newamerica.org/" target="_blank">
          {% if page.alternate_logo %}
            {% image page.alternate_logo original as alt_logo %}
            <img class="" src="{{alt_logo.url}}" />
          {% else %}
            <!-- <h1 class="centered margin-bottom-60">
              <div class="logo white" style="width:150px;height: 37px"></div>
            </h1> -->
          {% endif %}
          </a>
      	</div>
        <div class="conference__title__location-date row">
          <h4 class="white margin-0 col-6" style="text-align:right">
            <span>
              <span class="fa fa-calendar-o base-clr-txt" style="padding-right: 10px;"></span>
              {% if page.end_date %}
                {{ page.date|date:'F' }} {{ page.date|date:'j' }}&ndash;{{ page.end_date|date:'j' }} {{ page.date|date:'Y' }}
              {% else %}
                {{ page.date|date:'F' }} {{ page.date|date:'j' }}, {{ page.date|date:'Y' }}
              {% endif %}
            </span>
          </h4>
          <h4 class="white margin-0 col-6">
            <span>
              <span class="fa fa-map-marker base-clr-txt" style="padding-right: 10px;"></span>
              {{page.city}}, {{page.state}}
            </span>
          </h4>
        </div>
        <h1 class="promo white centered margin-35">{{page.title}}</h1>
        <h6 class="pullquote white centered">{{ page.subheading }}</h6>
        <p class="white centered">{{page.search_description}}</p>
        <div class="btns-container {%if page.invitation_only %}invite-only{% endif %}" style="text-align:center;">
          {% if page.invitation_only %}
            <a href="mailto:events@newamerica.org?Subject={{page.title}}" target="_top" class="button white-outline" style="width:175px;">Request Invitation</a>
          {% elif page.rsvp_link %}
            <a href="{{page.rsvp_link}}" target="_blank" class="button white-outline" style="width:175px;">Register</a>
          {% endif %}
            <a href="#about" class="button white-outline" style="width:175px;">About </a>
        </div>
      </div>

  </div>
</section>
