<header class="conference__header scroll-target">
  <div class='conference__header__sticky-wrapper'>
    <div class="container--1080">
      <div class="row">
        <div class="conference__nav col-9">
            <ul class="inline">
              <li class="navigation-item active">
                <label class="white">
                  <a href="#about" id="nav__about" class="navigation-link">About</a>
                </label>
              </li>
              <li class="navigation-item">
                <label class="white">
                  <a href="#speakers" id="nav__speakers" class="navigation-link">Speakers</a>
                </label>
              </li>
              <li class="navigation-item">
                <label class="white">
                  <a href="#schedule" id="nav__schedule" class="navigation-link">Schedule</a>
                </label>
              </li>
              {% if page.partners|length > 0 %}
                <li class="navigation-item">
                  <label class="white">
                    <a href="#sponsors" id="nav__sponsors" class="navigation-link">{{ page.partner_heading }}</a>
                  </label>
                </li>
              {% endif %}
              {% if page.venue_details %}
                {% if page.hotel_details %}
                  <li class="navigation-item">
                    <label class="white">
                      <a href="#venue" id="nav__venue" class="navigation-link">Venue & Hotel</a>
                    </label>
                  </li>
                {% else %}
                  <li class="navigation-item">
                    <label class="white">
                      <a href="#venue" id="nav__venue" class="navigation-link">Venue</a>
                    </label>
                  </li>
                {% endif %}
              {% endif %}
              {% if page.directions %}
                <li class="navigation-item">
                  <label class="white">
                    <a href="#directions" id="nav__directions" class="navigation-link">Directions</a>
                  </label>
                </li>
              {% endif %}
            </ul>
        </div>
        <div class="col-3">
          {% if page.invitation_only %}
          <a href="mailto:events@newamerica.org?Subject={{page.title}}" target="_top" class="pull-right button black register">Request Invitation</a>
          {% elif page.rsvp_link %}
          <a href="{{page.rsvp_link}}" target="_blank" class="pull-right button black register">Register</a>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</header>
