<header class="header header-white">
  <div class="header-wrapper">
    <div class="container row">
      <div class="small-12 medium-2 columns navigation-header">
        <a href="http://newamerica.org" target="_blank" class="logo">
          {% include 'ui_elements/svg/new-america-white.html' %}
        </a>
      </div>

      <div class="medium-12 large-10 columns navigation-container">
        <div class="navbar">
          <ul class="navigation-list pull-left light-text">
            <li class="navigation-item active"><a href="#about" class="navigation-link">About</a></li>
            <li class="navigation-item"><a href="#speakers" class="navigation-link">Speakers</a></li>
            <li class="navigation-item"><a href="#schedule" class="navigation-link">Schedule</a></li>
            {% if page.partners|length > 0 %}
              <li class="navigation-item"><a href="#sponsors" class="navigation-link">{{ page.partner_heading }}</a></li>
            {% endif %}
            {% if page.venue_details %}
              {% if page.hotel_details %}
                <li class="navigation-item"><a href="#venue" class="navigation-link">Venue & Hotel</a></li>
              {% else %}
                <li class="navigation-item"><a href="#venue" class="navigation-link">Venue</a></li>
              {% endif %}
            {% endif %}
            {% if page.directions %}
              <li class="navigation-item"><a href="#directions" class="navigation-link">Directions</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% if page.invitation_only %}
      <a href="mailto:events@newamerica.org?Subject={{page.title}}" target="_top" class="pull-right button register">Request Invitation</a>
      {% elif page.rsvp_link %}
      <a href="{{page.rsvp_link}}" target="_blank" class="pull-right button register">Register</a>
      {% endif %}
    </div>
  </div>
</header>
