{% extends "post_page.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-pressrelease{% endblock %}


{% block post-header %}
	{% image page.story_image min-1100x300 as story_image %}

	<div class="post-header-container">
		{% if story_image %}

			<div class="post-header with-image" style="background-image: linear-gradient(
			      rgba(0, 0, 0, 0),
			      rgba(0, 0, 0, 0.15)
			    ), 
		    	url({{ story_image.url }})">

				<div class="post-header__text">
			    	<h1 class="post-header__text__heading">{{ page.title }}</h1>
			    	{% if page.subheading %}
			    		<h2 class="post-header__text__subheading">{{ page.subheading }}</h2>
			    	{% endif %}
				</div>
			</div>
			{% if story_image.image.source %}
				<div class="caption">Photo: {{ story_image.image.source}}</div>
			{% endif %}

		{% else %}

			<div class="post-header">
				<div class="post-header__text">
			    	<h1 class="post-header__text__heading">{{ page.title }}</h1>
			    	{% if page.subheading %}
			    		<h2 class="post-header__text__subheading">{{ page.subheading }}</h2>
			    	{% endif %}
				</div>
			</div>

		{% endif %}
	</div>

{% endblock %}

{% block post-body %}

    <div class="post-body with-dropcap">
	    {% for block in self.body %}
	    	<div class="block-{{ block.block_type }}">
		       {% if block.block_type == 'image' %}
	            	{{ block }}
	            	{% if block.value.caption or block.value.source %}
	            		<div class="caption">{{ block.value.caption }} {% if block.value.source %}({{ block.value.source }}){% endif %}</div>
	            	{% endif %}
		        {% else %}
		            {{ block }}
		        {% endif %}
	   		</div>
	    {% endfor %}
	</div>
	
	{% if page.attachment %}
		<div class="post-attachment">
			<div class="post-attachment__image"></div>
			<div class="post-attachment__text">
				{% with page.attachment|length as num_attachments %}
					<h3>{% pluralize num_attachments "ATTACHMENT" %}</h3>
					{% for block in page.attachment %}
						<div class="post-attachment__text__item"><a href='{{ block.value.file.url }}'>{{ block.value.title }}</a></div>
					{% endfor %}
				{% endwith %}
			</div>
		</div>
	{% endif %}

{% endblock %}
