.bio-page {
 	$icon-height: 150px;
 	margin: 35px 0px $desktop-padding 0px;

	@include breakpoint(medium) {
		margin: 35px $desktop-padding $desktop-padding $desktop-padding;
	}

	@include desktop-header {
		width: $max-body-width;
		margin: 35px auto;
		margin-bottom: 0px;
	}

	&__heading {
		margin-left: $mobile-padding;
		margin-right: $mobile-padding;
		@include breakpoint(medium) {
			height: $icon-height;
			margin: 0px;	
		}

		&__text {
			position:relative;
	  		padding-top: 15px;

	  		@include handle-text-overflow;

		  	@include breakpoint(medium) {
		  		padding-top: 0px;
		  		top: 50%;
				transform: translateY(-50%);
				-webkit-transform:translateY(-50%);
    			-ms-transform:translateY(-50%);
		  	}
			&__name {
				@include page-title-text;
				margin: 0px;
				line-height: 110%;
			}

			&__position, &__position > a {
				@include page-subheading-text(grey);
				font-weight: bold;
				margin: 0px;
				line-height: 100%;
			}
		}
	}

	.with-image {
		.bio-page__heading {
			&__icon {
			    background-color: palette-get(na-black-10);
			    border-radius: 50%;
			    width: $icon-height;
			    height: $icon-height;

			    @include breakpoint(medium) {
			    	float:left;
			    	margin: 0px;
			    }

				&__photo {
					width: $icon-height;
					height: $icon-height;
					border-radius: 50%;
					background-repeat: no-repeat;
					background-size: cover !important;
					box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.04);
				}
		  	}

		  	&__text {
		  		@include breakpoint(medium) {
		  			padding-left: $desktop-padding + $icon-height;
		  		}
		  	}
		}
	}

	&__content {
		max-width: $max-body-width;
	    color: palette-get(na-black-70);
	    padding-top: $desktop-padding;
	    margin-left: $mobile-padding;
		margin-right: $mobile-padding;

		@include breakpoint(medium) {
			margin: 0px;	
		}

		@include desktop-header {
			padding: $desktop-padding 0px $mobile-padding 0px;
		}

		@include page-body-text;

		p {
			@include page-body-text;
		}

	}

	&__contact {
		margin: 0px $mobile-padding 45px $mobile-padding;

		@include breakpoint(medium) {
			margin-left: 0px;
			margin-right: 0px;
		}

		& > .button {
			margin: 0px 5px;
			
	  		&:first-child {
	  			margin-left: 0px;
	  		}
		}
	}

  &__work {
  	margin-top: $desktop-padding;
  	margin-bottom: -$desktop-padding;
  	background-color: palette-get(na-white);

  	@include breakpoint(medium) {
  		background-color: palette-get(na-black-10);
  		margin-left:-1000px;
    	margin-right:-1000px;
    	padding-left: 1000px;
    	padding-right: 1000px;
  	}

    &__title {
		@include page-section-title-text;
		padding: $desktop-padding;
		padding-left: 0px;

		margin: 0px $mobile-padding;

      	@include breakpoint(medium) {
			margin-left: 0px;
			margin-right: 0px;
		}
    }

    .content-entry {
    	padding-bottom: $desktop-padding;
    }

    hr {
    	width: 100%;
    	@include breakpoint(medium) {
	  		display: none;
	  	}
    }
  }

}

