.border-panel {
  /*$border-color: palette-get(na-black-10);*/
  $border-color: rgba(44, 47, 53, 0.2);
  $mobile-height: 375px;
  $height: 375px;
  $arrow-size: 30px;
  $info-offset: 26px;
  $nav-offset: 19px;
  $border-panel-content-padding: 16px;
  @mixin show-circle-nav {
    @include breakpoint(medium) {
      @content;
    }
  }
  border: 1px solid $border-color;
  
  width: 100%;
  @include space-out(medium);
  overflow: hidden;
  position: relative;
  height: $mobile-height;

  @media screen and (min-width: $home-border-panel-foldup) {
    height: $height;
  }
  &__item {
    padding: 0 30px;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    opacity: 0;
    &--active {
      opacity: 1;
    }
    transition: all 0.75s;
  }
  &__circle-nav,
  &__arrow-nav {
    z-index: 2;
  }
  &__circle-nav {
    display: none;
    @include show-circle-nav {
      display: block;
    }
    position: absolute;
    width: 100%;
    bottom: $nav-offset;
    ul {
      text-align: center;
    }
  }
  &__arrow-nav {
    display: block;
    @include show-circle-nav {
      display: none;
    }
    position: static;
    &__left,
    &__right {
      cursor: pointer;
      z-index: 2;
      width: $arrow-size;
      height: $arrow-size;
      position: absolute;
      top: ($height - $arrow-size) / 2;
      svg {
        fill: palette-get(na-black-10);
      }
      &:hover svg {
        fill: palette-get(na-black);
      }
    }
    &__left {
      left: 5px;
    }
    &__right {
      right: 5px;
    }
  }
  &__info {
    opacity: 1;
    position: relative;
    width: 100%;
    text-align: center;
    top: $info-offset;
    color: palette-get(na-black-40);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 100%;
  }

  &__title {
    opacity: 1;
    position: relative;
    width: 100%;
    text-align: center;
    top: $info-offset;
    padding: $border-panel-content-padding 0px;
    color: palette-get(na-black);
    font-weight: bold;
    font-size: rem-calc(28);
    line-height: 100%;
  }

  &__icon {
    position: relative;
    top: $info-offset;
    margin-top: $border-panel-content-padding;
    background-color: palette-get(na-black-10);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    position: relative;

      & > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65px;
      }

      &__photo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;

      }
  }

  &__content {
    opacity: 1;
    position: relative;
    width: 100%;
    text-align: center;
    top: $info-offset;
    padding: $border-panel-content-padding 0px;
    /*width: 100%;
    max-width: 400px;
    padding: 50px 0px;
    display: table-cell;
    vertical-align: middle;
    position: relative;

    h1 {
      font-weight: bold;
      font-size: rem-calc(28);
      margin-bottom: $border-panel-content-padding;
    }

    p {
      margin-bottom: $border-panel-content-padding;
      color: palette-get(na-black-40);
    }

    &__header {
      padding: 0 $mobile-padding;
    }

    label {
      font-weight: bold;
      font-size: rem-calc(18);
      padding-top: 6px;
    }

    &__icon {
      background-color: palette-get(na-black-10);
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin: auto;
      position: relative;
      margin-bottom: $border-panel-content-padding;

      & > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65px;
        
      }
    } */

  }

  input {
    max-width: 180px;
    margin-right: 5px;
    margin-bottom: 0px;
    display: inline-block;
  }
}
