.breadcrumb-overlay {
  position: relative;
  top: 0;
  left: 0px;
  display: block;
  height: 25px;
  width: 100%;
  z-index: 2;
  background-image:linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0) 80%, white);
  pointer-events: none;
}


.breadcrumbs {
  position: relative;
  top: -27px;
  li {
    display: inline-block;
    float: none;
  }
  
  li.active {
    color: palette-get(na-black);
    font-weight: 800;
  }
  a {
    color: palette-get(na-black-70);

    &:hover {
      text-decoration: none;
      @include set-color(color);
    }
  }
  li:not(:last-child)::after {
    content: url(shape-urls-get(right-arrow-na-black));
    font-weight: bold;
    font-family: 'Platform';
    margin: 0 $breadcrumbs-item-margin;
    position: relative;
    opacity: .5;
    width:10px;
    height: 10px;
  }
}