$content-entry-desktop-image-container-width: 240px;
$content-entry-desktop-image-container-height: 150px;
$content-entry-side-margins: 20px;
$content-entry-text-gutter: 10px;

.content-entry {
	width: 100%;
	/*height: 300px;*/

	&__image-container {
		width:100%;
		height:150px;
		overflow:hidden;

		@include breakpoint(medium) {
			width:$content-entry-desktop-image-container-width;
			height:$content-entry-desktop-image-container-height;
			float:left;
			padding-left: $content-entry-side-margins;
			padding-right: $content-entry-side-margins;
		}	
	}


	&__text-container {
		width: 100%;
		padding: 20px 20px 0px 20px;

		@include breakpoint(medium) {
			width:100%;
			padding-left:$content-entry-desktop-image-container-width;
			padding-top:0px;
		}
	}

	&__text {
		font-size:16px;
		color: palette-get(na-black);

		h5, p {
			margin-bottom: $content-entry-text-gutter;
		}

		&__program {
			font-size:16px;
			font-weight:bold;
			color: palette-get(na-black-40);
			padding-top: 2px;
			line-height: 100%;
		}

		&__title {
			font-weight:bold;
			font-size:26px;
		}

		&__author {
			font-weight:bold;
			font-size:16px;
			line-height: 130%;
		}

		&__date {
			color: palette-get(na-black-40);
			font-size:16px;
			line-height: 130%;
		}

		&__excerpt {
			color: palette-get(na-black-40);
			font-size:16px;
			line-height: 150%;
		}
	}
}