$content-entry-desktop-image-container-width: 200px;
$content-entry-desktop-image-container-height: 130px;
$content-entry-side-margins: 20px;
$content-entry-text-gutter: 10px;

.content-entry {
	width: 100%;
	min-height: $content-entry-desktop-image-container-height;

	&__image-container {
		width:100%;
		height:200px;
		overflow:hidden;
		background-size: cover;
		background-position: 50% 50%; 

		@include breakpoint(medium) {
			width:$content-entry-desktop-image-container-width;
			height:$content-entry-desktop-image-container-height;
			float:left;
			margin-left: $desktop-padding;
			margin-right: $desktop-padding;
			
		}	
	}

	&__text-container {
		width: 100%;
		padding: 20px 20px 0px 20px;
		min-height: $content-entry-desktop-image-container-height;

		@include breakpoint(medium) {
			width:100%;
			padding-top:0px;

			&.has-image {
				padding-left:$content-entry-desktop-image-container-width + 2*$desktop-padding;
			}
		}
	}

	&__text {
		font-size:16px;
		color: palette-get(na-black);

		a {
			width: 100%;
			
		}

		h5, p {
			margin-bottom: $content-entry-text-gutter;
			width: 100%;
		}

		&__program, &__program > a {
			@include program-and-content-type-text;
		}

		&__title, &__title > a {
			font-weight:bold;
			font-size: 26px;
			line-height: 110%;
		}

		&__author {
			font-weight:bold;
			font-size: 16px;
			line-height: 130%;
		}

		&__date-time {
			color: palette-get(na-black-70);
			font-size: 14px;
			line-height: 130%;
			text-transform: uppercase;
			letter-spacing: 1px;
			& > p {
				margin-bottom: 0px;
			}

		}

		&__excerpt {
			color: palette-get(na-black-70);
			font-size:16px;
			line-height: 150%;
		}
	}

	.post-person {
		padding-left:$desktop-padding;
	}
}