.data-reference {

	padding: 20px 0px;
	&__table, &__table tr, &__table td {
		/*border: 2px solid palette-get(na-black-10);
		border-collapse: collapse;*/
	}

	&__table {
		border-collapse: collapse;
		.data-reference__value, .data-reference__label {
			display: table-cell;
		}

		td {
			padding: 5px 10px;
		}

		tr:hover + tr.data-reference__table__footnote-row, tr.data-reference__table__footnote-row:hover {
			.data-reference__table__footnote__inner-wrapper {
				max-height: 100px;
			}
		}

		&__row {

		}

		&__footnote {
			font-size: 12px;
			color: palette-get(na-black-40);
			padding: 0px 10px !important;
			
			&-row {
				border-top: none !important;
				border-bottom: none !important;
			}

			&__inner-wrapper {
				padding-left: 5px;
				height: auto;
				max-height: 0;
				transition: max-height .5s ease-in-out;
				overflow: hidden ;
			}
		}
	}

	&__value, &__label {
		display: inline;
		font-size: 14px;
	}

	&__label {
		font-weight: bold;
		color: palette-get(na-black);
	}


}