.dataviz {
	$icon-horizontal-spacing: 37px;
	$icon-vertical-spacing: 30px;
	$icon-horizontal-padding: 20px;
	position: relative;

	&__title-container {
		@include limit-body-width;

		@include is-in-depth-template {
			margin-left: auto;
			margin-right: auto;
		}
		position: relative;

		&.with-buttons {
			.dataviz__title, .dataviz__subheading {
				@include breakpoint(medium) {
					margin-right: 3*$icon-horizontal-spacing;
				}
			}
		}
	}

	.dataviz__title, .dataviz__subheading {
		@include breakpoint(medium) {
			margin-left: $icon-horizontal-spacing;
		}
	}

	
	&__title {
		color: palette-get(na-black);
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 130%;
	}

	&__subheading {
		color: palette-get(na-black-40);
		margin-bottom: 10px;

		p {
			border-left: 2px solid rgba(169, 169, 169, 0.47);
		    padding-left: 15px;
		    margin-left: 1px;
		    font-size: 16px;
		    line-height: 140%;
		}
	}

	&__icon {
		position: absolute;
		border: none !important;
		display: none;

		@include breakpoint(medium) {
			display: block;
		}

		svg {
			margin-top: 3px;
			width: 21px;
			fill: palette-get(na-black-30);

			& > path, & > line {
				stroke: palette-get(na-black-30);
				stroke-width: 5px;
			}
		}
	}
	&__download-link, &__print-link {
		svg {
			margin-top: 6px;
		}
	}

	&__share-link {
		top: 4px;
		right: 0px;
		svg:hover {
			fill: palette-get(na-black);
		}
	}

	&__download-link {
		top: 0px;
		right: $icon-horizontal-spacing;	
		svg:hover {
			fill: palette-get(na-black);
		}
	}

	&__print-link {
		top: 0px;
		right: 2*$icon-horizontal-spacing;
		svg {
			height: 25px;

			&:hover {
				& > path, & > line {
					stroke: palette-get(na-black);
				}
			}
		}
	}

	&__share-popup {
		display: none;
		position: absolute;
		z-index: 10;
		top: 0px;
		right: 30px;
		background-color: white;
		@include standard-shadow;
		padding: 10px 20px;

		&__title, &__item {
			width: 100%;
			display: block;
			padding-top: 3px;
			padding-bottom: 3px;
		}

		&__title {
			font-weight: bold;
		}

		&__item {
			padding-left: 7px;
			color: palette-get(na-black-40);

			&:hover {
				color: palette-get(na-turquoise);
			}
		}
	}

	&__chart-container {
		@include is-in-depth-template {
			margin: auto;
		}
		position: relative;
	}

	&__chart-area {
		position: relative;
		visibility: hidden;
		min-height: 300px;
	}
	
	&__loading-gif {
		position: absolute; 
		width: 100%; 
		height: 100%;
		z-index: 1000;
		background: url(shape-urls-get(spinner)) no-repeat center center;
	}
}

.chart-wrapper {
	overflow-x: scroll;
	padding-bottom: 15px;

	&::-webkit-scrollbar {
    	-webkit-appearance: none; 
    	width: 7px; 
    	height: 7px;
	}
	/* Handle */
	&::-webkit-scrollbar-thumb {
	    border-radius: 10px; 
		background-color: rgba(0,0,0,.2); 
		-webkit-box-shadow: 0 0 1px rgba(255,255,255,.2);
	}
	&::-webkit-scrollbar-thumb:window-inactive {
		background-color: rgba(0,0,0,.2); 
		-webkit-box-shadow: 0 0 1px rgba(255,255,255,.2);
	}
	& > svg {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.block-dataviz {
    margin-top: $desktop-padding;
    margin-bottom: $desktop-padding;
}
