$event-column-padding: 30px;
$event-right-column-width: 250px;

.event {
	font-weight:bold;
	color:palette-get(na-black);
	width: 100%;

	&__left {
		padding: 0px $event-column-padding 0px 0px;
		float: left;
	}

	&__right {
		padding-left: 30px;
		border-left: 2px solid palette-get(na-black-10);
		width: $event-right-column-width;
		float:left;
	}

	p {
		margin: 0px;
	}

	&__heading {
		font-size: 16px;
		color:palette-get(na-black-40);
	}
}

