.event {
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-left: 5px solid black;
	/*line-height:.5;*/

	& > p {
		margin-bottom:0px;
	}
	&__title {
		font-weight:bold;
	}

	&__date {
		
	}

	&__address {
		
	}

	&__rsvp{
		
	}
}

