@mixin inverted {
    .mobile-sidemenu & {
      @content;
    }
 }

.mobile-menu {
	$icon-right-padding: 15px;
	width: 100%;
	z-index: 500;

	.menu > li > a {
		padding: $mobile-menu-item-padding;
	}

	&__toggle {
		position:absolute;
	    right: $icon-right-padding;
	    margin-top: -40px;
	    vertical-align: middle;
	    pointer-events: none;
	    z-index: 20;
	    width: 20px;
	    height: 20px;
	}

	&__link {
		&__main, &__secondary {
	    	& > a {
	    		height: 60px;
	    		border: 1px solid palette-get(na-black-10);
	    		@include inverted {
					border: 1px solid palette-get(na-black-40);
				}
	    		&:hover {
		    		@include set-color(background-color);
			    	@include set-color(border-color);
			      	color: palette-get(na-white) !important;
				    @include inverted {
						color: palette-get(na-white);
					}
			    }
			}
		}

		&__main {
			& > a {
				font-weight: bold;
				font-size: 16px;
				color: palette-get(na-black);

				@include inverted {
					color: palette-get(na-white);
				}
			}
		}

		&__secondary {
			& > a {
				padding-left: 35px !important;
				font-weight: normal;
				font-size: 16px;
				color: palette-get(na-black-70);
				@include inverted {
					color: palette-get(na-black-40);
				}
			}
		}
	}

	.search-box {
		& > input {
			height: 60px;
			padding-left: 20px;
			border-width: 1px;
			border-bottom: 2px solid palette-get(na-black-10);
		}

		&__submit {
			right: -5px;
			height: 50px;
			width: 60px;
		}

		&__icon {
			width: 30px;
		}
	}
	
}

.mobile-header {
	display: none;
	top: $mobile-header-height;
    position: relative;
	background-color: palette-get(na-white);

	@include desktop-sidemenu {
		display:none;
	}
}

.mobile-sidemenu {
	display: none;
	background-color: palette-get(na-black);
}
	