.pagination {
	$pagination-spacing: 7px;
	display:inline-block;
	margin: auto;
	padding:0px;

	span {
		color: palette-get(na-black);
		margin-right: 0px;
	}
	
	&__form {
		display: inline-block;
	}

	&__input {
		height: $default-input-height;
		width: $default-input-height;
		margin: 0px $pagination-spacing;
		padding: 0px;
		text-align: center;
	}

	a {
		margin-left: $pagination-spacing;
	}

	&__arrow {
		position: relative;
		top: 50%;
		transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
    	-ms-transform:translateY(-50%);
		height: 12px;
		padding-left: 5px;
		padding-right: 5px;

		svg {
			height: 12px;
			width: 12px;

			polygon {
				fill: palette-get(na-black);
			}
		}
	}
}