.pagination {
	$pagination-spacing: 7px;
	display:inline-block;
	margin: auto;
	padding:0px;
	height: $default-input-height;

	span {
		color: palette-get(na-black);
		margin-right: 0px;
    	float: left;
    	position: relative;
    	display: inline-block;
    	top: 50%;
    	transform: translateY(-50%);
    	-moz-transform: translateY(-50%);
    	-webkit-transform: translateY(-50%);
	}
	
	&__form {
		display: inline-block;
		float: left;
	}

	&__input {
		height: $default-input-height;
		width: $default-input-height;
		margin: 0px $pagination-spacing;
		padding: 0px;
		text-align: center;
	}

	a {
		margin-left: $pagination-spacing;
		float: left;
		display: inline-block;
		top: 50%;
		position: relative;
    	transform: translateY(-50%);
    	-moz-transform: translateY(-50%);
    	-webkit-transform: translateY(-50%);
	}

	&__arrow {
		float: left;
		position: relative;
		top: 50%;
		transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
    	-ms-transform:translateY(-50%);
		margin-left: 7px;
		margin-right: 7px;

		svg {
			float: left;
			position: relative;
			height: 12px;
			width: 12px;

			polygon {
				fill: palette-get(na-black);
			}
		}
	}
}