.person {
  $info-offset: 26px;
  $nav-offset: 19px;
  $border-panel-content-padding: 16px;

  border: $standard-border;
  padding: $desktop-padding;
  height: 100%;

  @include breakpoint(medium) {
    height: 260px;
  }


  &__icon {
    top: $info-offset;
    margin-top: $border-panel-content-padding;
    background-color: palette-get(na-black-10);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
  
      & > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65px;
      }

      &__photo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover !important;
        box-shadow: inset 0 0 0 100px rgba(0,0,0,.1);
      }
  }

  &__name {
    opacity: 1;
    width: 100%;
    text-align: center;
    padding: $border-panel-content-padding 0px;
    color: palette-get(na-black);
    font-weight: bold;
    font-size: rem-calc(24);
    line-height: 100%;
    margin-bottom: 0px;
  }

  

  &__position {
    opacity: 1;
    width: 100%;
    text-align: center;
    padding: 0px;
    color: palette-get(na-black-40);
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 0px;
  }

}
