.post-body {
  padding-top:$desktop-padding;
  
  & > .block-paragraph {
    &:first-letter {
      font-size:110px;
      font-weight:bold;
      float: left;
      padding: 20px 10px 5px 0px;
      height: 55px;
      margin-right: 0px;
      line-height: 70px;
    }
  }

  & > .block-paragraph ~ .block-paragraph {
    &:first-letter {
      font-size:1.25rem;
      font-weight:initial;
      float: initial;
      padding: initial;
      height: initial;
      /*margin-right: inherit;*/
      line-height: initial;
    }
  }

  p,
  blockquote {
    font-size: rem-calc(20);
    color: palette-get(na-black);
  }
  blockquote {
    margin: 20px 0;
    border-left-width: 4px;
    border-color: palette-get(na-black);
    padding: 0 15px;
    font-style: italic;
  }
}

.post-subscribe {
  margin-top: 30px;
  height: 300px;
  border-width: 2.5px;
  /*width: 100%;*/
}

.post-author {
  margin-top: 8px;
  font-size: 16px;
  font-weight:bold;
}

.post-date {
  font-size: 15px;
  color: palette-get(na-black-40);
  margin-bottom: 0px;
}
