.post-body {
  $media-padding: 20px;
  $media-default-aspect: 1;
  padding-top:$desktop-padding;
  margin-bottom: $desktop-padding;

  @include page-body-text;
  
  & > .block-heading {
    color: palette-get(na-black);
    font-size:1.50rem;
    font-weight: bold;
  }

  /*dropcap styling*/
  &.with-dropcap > .block-paragraph {
    p:first-child {
      font-weight: bold;
      color: palette-get(na-black);
    }
    &:first-letter {
      font-size: 118px;
      color: palette-get(na-black);
      font-weight: bold;
      opacity: 1;
      float: left;
      padding: 20px 10px 5px 0px;
      height: 55px;
      margin-right: 0px;
      line-height: 70px;
      font-style: normal;
    }
  }
  &.with-dropcap > .block-paragraph ~ .block-paragraph {
    p {
      font-weight: normal;
      color: palette-get(na-black-70);
    }
    &:first-letter {
      color: palette-get(na-black-70);
      font-size:1.25rem;
      font-weight:initial;
      float: initial;
      padding: initial;
      height: initial;
      line-height: initial;
    }
  }

  p,
  blockquote {
    @include page-body-text;
  }
  blockquote {
    margin: 20px 0;
    border-left-width: 4px;
    border-color: palette-get(na-black);
    padding: 0 15px;
    font-style: italic;
  }

  a {
    font-weight: 800;
    border-bottom: $standard-border;
    padding-bottom: 2px;
  } 

  .block-video {
    .responsive-object {
      padding: $media-padding 0px !important;
    }

    iframe {
      width: 100% !important;
      height: 320px;
      @include breakpoint(medium) {
        height: 450px;
      } 

      @include breakpoint(large) {
        height: 500px;
      }
    }
  }

  .block-paragraph {

    img {
      padding: $media-padding 25px;
    }

    .full-width {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }

    .left {
      float: left;
      padding-left: 0px;
      padding-right: $desktop-padding;
    }

    .right {
      float: right;
      padding-right: 0px;
      padding-left: $desktop-padding;
    }

    .responsive-object {
      padding: $media-padding $media-padding $media-padding 0px !important;
      width: 100%;
      float: left;
    }
  }

  .block-image {
    img {
      padding: 20px 0px;
    }
  }

}

.post-attachment {
    background-color: palette-get(na-black-10);
    max-width: $max-body-width/2;
    padding: 40px $desktop-padding;
    margin-bottom: $desktop-padding;

    h3 {
      font-weight: normal;
      color: palette-get(na-black-40);
      font-size: 17px;
      margin-bottom: 5px;
    }
    a {
      font-weight: bold;
      font-size: 20px;
      line-height: 100%;
    }

    &__text {
      padding-left: 80px;
      
    }

    &__image {
        content: '';
        float:left;
        width: 60px;
        height: 60px;
        background-image: url(shape-urls-get(paperclip));
        background-size: contain;
    }
}

.post-author {
  color: palette-get(na-black);
  font-size: 16px;
  font-weight:bold;

  p {
    margin: 0px;
    display:inline-block;
  }
}

.post-date {
  color: palette-get(na-black-70);
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.post-source {
  margin-top: 8px;
  font-size: 16px;
  font-weight:bold;
  color: palette-get(na-black);
}

.post-subscribe {
  margin-top: 30px;
  height: 300px;
  border-width: 2.5px;
  /*width: 100%;*/
}

.post-soundcloud {
  margin-bottom: 20px;

  iframe {
    height: 180px;
  }
}

.post-subheading {
  color: palette-get(na-black);
  font-size: 28px;
}
