.post-body {
  max-width: $max-body-width;
  width: 100%;
  margin: auto;
  padding: 0 $gutter / 2;
  padding-top: 20px;


  p,
  blockquote {
    font-size: rem-calc(20);
    color: palette-get(na-black);
  }
  blockquote {
    margin: 20px 0;
    border-left-width: 4px;
    border-color: palette-get(na-black);
    padding: 0 15px;
    font-style: italic;
  }
}
