.post-person {
	
	height: 100%;
	display: table;
	margin-top: $desktop-padding;

	&__left {
		display: table-cell;
		margin: 0px;
	}

	&__text {
		display: table-cell;
		vertical-align: middle;
		height: 100%;
		color: palette-get(na-black-70);

		h5 {
			font-weight: bold;
			font-size: 16px;
		}
	}

	&.with-image {
		$person-icon-width: 100px;
		min-height: $person-icon-width;

		.post-person__text {
			padding-left: $desktop-padding;
		}
	}
}