.post-body {
  padding-top:$desktop-padding;
  margin-bottom: $desktop-padding;
  
  & > .block-heading {
    color: palette-get(na-black);
    font-size:1.50rem;
    font-weight: bold;
  }

  /*dropcap styling*/
  & > .block-paragraph {
    &:first-letter {
      font-size:110px;
      color: palette-get(na-black);
      font-weight: bold;
      opacity: 1;
      float: left;
      padding: 20px 10px 5px 0px;
      height: 55px;
      margin-right: 0px;
      line-height: 70px;
    }
  }
  & > .block-paragraph ~ .block-paragraph {
    &:first-letter {
      color: palette-get(na-black-70);
      font-size:1.25rem;
      font-weight:initial;
      float: initial;
      padding: initial;
      height: initial;
      /*margin-right: inherit;*/
      line-height: initial;
    }
  }

  & > .block-video {
    div {
      padding-bottom: 0px !important;
    }
  }

  p,
  blockquote {
    font-size: rem-calc(20);
    color: palette-get(na-black-70);
  }
  blockquote {
    margin: 20px 0;
    border-left-width: 4px;
    border-color: palette-get(na-black);
    padding: 0 15px;
    font-style: italic;
  }

}

.post-attachment {
    background-color: palette-get(na-black-10);
    max-width: $max-body-width/2;
    padding: 40px $desktop-padding;
    margin-bottom: $desktop-padding;

    h3 {
      font-weight: normal;
      color: palette-get(na-black-40);
      font-size: 17px;
      margin-bottom: 5px;
    }
    a {
      font-weight: bold;
      font-size: 20px;
      line-height: 100%;
    }

    &__text {
      padding-left: 80px;
      
    }

    &__image {
        content: '';
        float:left;
        /*display: inline-block;*/
        width: 60px;
        height: 60px;
        background-image: url(shape-urls-get(paperclip));
        background-size: contain;
    }
}

.post-author {
  color: palette-get(na-black);
  font-size: 16px;
  font-weight:bold;

  p {
    margin: 0px;
    display:inline-block;
  }
}

.post-date {
  font-size: 15px;
  color: palette-get(na-off-black);
  margin-bottom: 0px;
}

.post-source {
  margin-top: 8px;
  font-size: 16px;
  font-weight:bold;
}

.post-subscribe {
  margin-top: 30px;
  height: 300px;
  border-width: 2.5px;
  /*width: 100%;*/
}

.post-soundcloud {
  margin-bottom: 20px;

  iframe {
    height: 180px;
  }
}

.post-subheading {
  color: palette-get(na-black);
  font-size: 28px;
}
