.search-box {
    &__icon {
    	width: 25px;
    	height: 100%;
	    position: absolute;
	    z-index: 10000;
	    fill: palette-get(na-black-10);
	    top: 0px;

	    @include desktop-header {
	    	right: 30px;
	    }

	    @include expanded-header {
	    	right: 5px;
	    }
    }
}