.search-box {
	$search-offset: 7px;

	&__submit {
		position: absolute;
	    z-index: 10000;
	    fill: palette-get(na-black-10);
	    background-color: white;

	    @include desktop-header {
	    	top: $desktop-padding;
	    	right: $desktop-padding + $search-offset;
	    }

	    @include expanded-header {
	    	top: 11px;
	    	right: $search-offset;
	    }
	}

    &__icon {
    	width: 25px;
    }
}