.search-box {
	$search-offset: 7px;
	position: relative;

	&__submit {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform:translateY(-50%);
    	-ms-transform:translateY(-50%);
		right: $search-offset;
	    z-index: 1;
	    fill: palette-get(na-black-10);
	    background-color: white;
	}
		

    &__icon {
    	width: 25px;
    }


}