#share {
	margin-bottom: $desktop-padding;
}

.fa {
	font-size: 18px;
}

.jssocials-share {
	margin-right: 12px;

	&-label {
		font-size: 1rem; 
		font-family: Simplon; 
		font-weight: 700; 
		opacity: 1; 
		text-decoration: none; 
		line-height: inherit; 
	}

	&-email {
		.jssocials-share-label {
			padding-left: 7px;
		}
	}

	&-twitter {
		.jssocials-share-label {
			padding-left: 5px;
		}
	}

	&-facebook {
		margin-left: 0px;
		.jssocials-share-label {
			padding-left: 2px;
		}
	}
}