.social-icons {
  width: 194px;
  padding: 2.5px 0px;
  height: 100%;
  float: right;

  svg {
    opacity: 1;
    margin-right: 7%;
    height: 100%;
    &:hover {
      opacity: 1;
      -webkit-transition: 0.4s;
      transition: 0.4s;

      .cls-1 {
        fill: palette-get(na-black);
        opacity: 1;
      }
    }

    &#youtube-icon {
      margin-right: 0px;
    }
  }

  .cls-1 {
    fill: palette-get(na-black-10);
    opacity: 1;
  }

  .st0 {
    fill: #2C2F35;
  }

  

}