.social-icons {
  width: 200px;
  padding: 0px;
  float: right;
  svg {
    opacity: 1;

    &:hover {
      opacity: 1;
      -webkit-transition: 0.4s;
      transition: 0.4s;

      .cls-1 {
        fill: palette-get(na-black);
        opacity: 1;
      }
    }
  }

  .cls-1 {
    fill: palette-get(na-black-40);
    opacity: 1;
  }

  svg#facebook-icon {
    width: 10%;
    margin-right: 7%;
  }

  svg#twitter-icon {
    width: 11%;
    margin-right: 7%;
  }

  svg#google-plus-icon {
    width: 14%;
    margin-right: 7%;
  }

  svg#linked-in-icon {
    width: 10%;
    margin-right: 7%;
  }

  svg#youtube-icon {
    width: 12%;
  }

  .st0 {
    fill: #2C2F35;
  }

  

}