.weekly-sidemenu {
	$active-link-border-width: 5px;
	padding-left: $desktop-padding;
	padding-right: $desktop-padding;

	&__title-block {
		margin-bottom: $desktop-padding;
	}

	&__title, &__subtitle {
		line-height: 100%;
		font-weight: bold;
		font-family: "Platform";
	}

	&__title {
		color: palette-get(na-black);
	}

	&__subtitle {
		color: palette-get(na-black-40);
	}

	&__subheading {
		font-weight: bold;
		color: palette-get(na-black);
	}

	&__sibling-list {
		padding-bottom: $desktop-padding;
		a {
			font-size: 18px;
			color: palette-get(na-black-40);
		}

		.picture-link {
			&.active {
				margin-left: $active-link-border-width * -1;
				border-left: $active-link-border-width solid palette-get(na-turquoise);

				a {
					color: palette-get(na-black);
				}
			}

			&__picture {
				margin-top: 0px;
			}
		}
		
	}
}