html, body {
	background-color: white;
	color: palette-get(na-black);
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: bold;
}

hr {
	border-bottom: $standard-border;
}

select {
	border: $standard-border;
	cursor: pointer;
	background: url(shape-urls-get(down-arrow-na-black)) no-repeat;
	background-position-y: center;
	background-size: 12px 12px;
	background-position-x: 97%;

	@include breakpoint(medium) {
		background-position-x: 95%;
	}
}
	

a:not(.button):hover {
	@include set-color(color);
}

.button {
	font-weight: bold;
	color: white;
	vertical-align: initial;
	@include set-color(background-color);
	@include standard-shadow;

	&:hover {
		@include set-light-color(background-color);
		@include hover-shadow;
		color: white;
	}

	&.black {
		background-color: palette-get(na-black);
		&:hover {
			background-color: palette-get(na-light-black);
		}
	}
}

input, select {
	height: $default-input-height;
}
