html, body {
	background-color: white;
	color: palette-get(na-black);
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: bold;
}

hr {
	border-bottom: $standard-border;
}

select {
	border: $standard-border;
}

a:hover {
	@include set-color(color);
}

.button {
	color: palette-get(na-white);
	@include set-color(background-color);
	@include standard-shadow;

	&:hover {
		@include set-light-color(background-color);
		@include hover-shadow;
	}

	&.black {
		background-color: palette-get(na-black);
		&:hover {
			background-color: palette-get(na-light-black);
		}
	}
}

input, select {
	height: $default-input-height;
}
