html, body {
	background-color: white;
	color: palette-get(na-black);
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: bold;
}

hr {
	border-bottom: $standard-border;
}

select {
	border: $standard-border;
}

input, select {
	height: $default-input-height;
}
