<script>
  var mobileMenuToggle = document.querySelector('.header__nav__mobile-menu-toggle');
  mobileMenuToggle.onclick = function(){
    newamericadotorg.actions.toggleMobileMenu();
  }

  var pageYOffset = 0;

  newamericadotorg.actions.addObserver({
    stateName: 'site.mobileMenuIsOpen',
    onChange: function(state){
      console.log(state);
      if(state===true){
        pageYOffset = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
        document.body.style.top = -pageYOffset + 'px';
        document.body.classList.add('mobile-menu-open');
      } else {
        document.body.classList.remove('mobile-menu-open');
        document.body.style.top = '';
        window.scroll(0, pageYOffset);
      }
    }
  });
</script>

<script>
  var searchIcon = document.querySelector('.search-icon');
  searchIcon.onclick = function(){
    newamericadotorg.actions.toggleSearch();
  }

  newamericadotorg.actions.addObserver({
    stateName: 'site.searchIsOpen',
    onChange: function(state){
      if(state===true){
        pageYOffset = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset
        document.body.style.top = -pageYOffset + 'px';
        document.body.classList.add('with-open-search');
      } else {
        document.body.classList.remove('with-open-search');
        document.body.style.top = '';
        window.scroll(0, pageYOffset);
      }
    }
  });
</script>
