<script type="text/javascript">
  document.querySelector('.program-heading__mobile-menu-toggle').onclick = function(){
    newamericadotorg.actions.setState('program.mobileMenuIsOpen', !newamericadotorg.actions.getState('program.mobileMenuIsOpen'));
  }
  
  var programMobileMenu = document.querySelector('.program-heading__heading-wrapper');
  newamericadotorg.actions.addObserver({
    stateName: 'program.mobileMenuIsOpen',
    onChange: function(isOpen){
        if(isOpen)
          programMobileMenu.classList.add('open');
        else
          programMobileMenu.classList.remove('open');
    }
  });
</script>
