{% extends "post_page.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-quoted{% endblock %}

{% block post-content %}
	{% image page.story_image original as story_image %}

	{% if story_image %}

	<div class="post-header with-image" style="background-image: linear-gradient(
	      rgba(0, 0, 0, 0.3),
	      rgba(0, 0, 0, 0.3)
	    ), 
    	url({{ story_image.url }})">

		<div class="post-header__text">
		    	<h1 class="post-header__text__headline">{{ page.headline }}</h1>
		    	<h2 class="post-header__text__sub-headline">{{ page.sub_headline }}</h2>
		    	<a class="post-header__text__button button" href='{{ page.source_url }}'>Read Original Article</a>
		</div>
	</div>
	{% else %}

	<div class="post-header">

		<div class="post-header__text">
		    	<h1 class="post-header__text__headline">{{ page.headline }}</h1>
		    	<h2 class="post-header__text__sub-headline">{{ page.sub_headline }}</h2>
		    	<a class="post-header__text__button button" href='{{ page.source_url }}'>Read Original Article</a>
		</div>
	</div>

	{% endif %}

	<div class="post-container">

	    {% if page.post_author.all %}
		    	
		    <h5 class="post-author">In the News:  
				{% for author in authors %}
					<a href="{{ author.author.url }}">{{ author.author.first_name }} {{ author.author.last_name }}</a>
				{% endfor %}
			</h5>
			
		{% endif %}

		<h5 class="post-source">Media Outlet: {{ page.source }} </h5>
	    <h5 class="post-date"> {{ page.date }} </h5>

	    <div class="post-body">
		    {{ page.body }}
		</div>

	</div>

{% endblock %}
