.content-grid {
	&__title {
		color: palette-get(na-black);
		font-size: 50px;
	}

	&__controls {

		&__program-filter {
			width:220px;
			padding-left: 0px;

		}
		&__date-filter {
			width:220px;
		}
		&__search {
			width:220px;
			padding-right: 0px;
		}
	}

	&__entries {
		max-width: 950px;
	}
}