$submit-width: 200px;

@mixin show-side-pagination {
	@media screen and (min-width: 1290px) {
		@content;
	}
}

.content-grid {
	&__title, &__controls {
		margin: $mobile-padding;

		@include desktop-header {
			margin-left: 0px;
			margin-right: 0px;
		}

		@include expanded-header {
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	&__title {
		color: palette-get(na-black);
		font-size: 40px;
		margin-bottom: $desktop-padding;
	}

	&__controls {
		width: 100%;
		margin-bottom: $mobile-padding;
		margin-right: $mobile-padding;

		@include breakpoint(medium) {
			margin-bottom: $desktop-padding;
			height: 100%;
		}

		.columns, .column {
			padding-left: 0px;
			height: 49px;
		}

		&__filter-group {
			width: 100%;
			padding-right: $mobile-padding;
			
			@include show-side-pagination {
				width: calc(100% - #{$pagination-width});
				display: inline-block;
				padding-right: 0px;
			}

			.search-box {
				max-width: calc(100% - 40px);
			}
		}

		&__filter {
			padding-right: $mobile-padding;
			@include breakpoint(medium) {
				float: left;
				display: inline-block;
				width: calc((100% - #{$submit-width} - 25px)/2);
				max-width: 290px;
				padding-right: 10px;
			}
		}

		&__right {
			width: $pagination-width;
			height: 100%;
			float: right;
			text-align: center;
			display: none;

			.pagination {
				padding-right: 10px;
				@include desktop-header {
					float: right;
				}
			}

			@include show-side-pagination {
				display:block;
			}
		}

		&__program-filter {
			@include breakpoint(medium) {
				padding-left: 0px;
			}
		}
		&__search {
			@include breakpoint(medium) {
				padding-right: 0px;
			}
		}

		input, select {
			background-color: white;
			margin-bottom: 10px;
			padding: 0px 15px;
			white-space: nowrap;
			text-overflow: ellipsis;

			@include breakpoint(medium) {
				margin-bottom: 0px;
			}
		}

		&__buttons {
			margin: 10px 0px 25px 0px;

			a {
				margin-left: 10px;
				color: palette-get(na-black-40);
			}

			@include breakpoint(medium) {
				margin: 0px;
				margin-right: $desktop-padding;
			}

			@include desktop-header {
				margin-right: 0px;
			}

			/*@media screen and (min-width: 1260px) {
				margin-top: 0px;
			}*/
		}
	}

	

	&__entries {
		max-width: 950px;

		&.blog {
			.content-entry:first-child {
				display: inline;
				@include breakpoint(medium) {
					display: none;
				}
			}
		}

		hr {
			margin-bottom: 0px;
			border-bottom: $standard-border;

			@include breakpoint(medium) {
				margin-top: 25px;
				margin-bottom: 25px;
			}
		}
	}

	&__footer {
		width: 100%;
		overflow:auto;
		text-align: center;
		padding-top: $desktop-padding;
	}
}