{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-expertpage{% endblock %}


{% block content %}
    <h1>Experts</h1>

    {% for expert in experts %}
        <a href="{{ expert.url }}">{{ expert.name }}</a>
        <br>
        {{ expert.short_bio }}
        <br>
        {{ expert.role }}
        <br>
        {% if expert.program %}
            <a href="{{expert.program.url }}">{{ expert.program }}</a>
        {% endif %}
        <br> 
        <br>
    {% endfor %}

{% endblock %}
