{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-expertpage{% endblock %}


{% block content %}
{% image page.story_image original as story_image %}
    <div class="post-header with-image" style="background-image: linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3)
        ), 
        url({{ story_image.url }})">

        <div class="post-header__text">
                <h1 class="post-header__text__heading">Experts</h1>
        </div>
    </div>

    <div class="our-people__body">
        <p>{{ page.page_description|richtext }}</p>
        <hr>
        <h3>Search our Staff</h3>
        <p>Search for an expert by name or area of policy expertise</p> 
        <!-- <input type='text' placeholder='Search'></input> -->
        <hr>
        <h3>Contact our Communications Team</h3>
        <p>{{ page.contact_information|richtext }}</p>
        <hr>
        <h3>Find Experts by Program</h3>
        <p>Our experts are really great and have a lot of expertise in many different areas</p>
    

        <div class="row our-people__item-list">
            <ul class="our-people__item-list__list">
                {% for program in all_programs %}
                    <li><a href="{{ program.url }}our-people/">{{ program }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
