{% extends "about_sidemenu.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-ourpeoplepage{% endblock %}

{% block content %}

<div class="post-header with-image" style="background-image: linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3)
        ), 
        url(https://i.ytimg.com/vi/QOrQywoovhY/maxresdefault.jpg)">

    <div class="post-header__text">
            <h1 class="post-header__text__heading">Our People</h1>
            <h2 class="post-header__text__subheading">New America's Staff, Fellows, and Board of Directors</h2>
    </div>
</div>
    <div class="post-container">
        <div class="our-people__body">
            <p>This is where the intro text will go - which needs to pull from some kind of intro text field in the experts page model.</p>
            <hr>
            <h3>Search our Staff</h3>
            <p>Search for a staff member by name or area of policy expertise</p> 
            <!-- <input type='text' placeholder='Search'></input> -->
            <hr>
            <h3>Board of Directors & Leadership</h3>
            <p>This is some text about the Board of Directors and Leadership Team</p>
            <div class="our-people__item-list">
            	<ul class="our-people__item-list__list">
            		<li><a href="#">Board of Directors</a></li>
            		<li><a href="#">Leadership Team</a></li>
            	</ul>
            </div>
            <hr>
            <h3>Program Staff</h3>
            <p>Our experts are really great and have a lot of expertise in many different areas</p>

            <div class="row our-people__item-list">
                <ul class="our-people__item-list__list">
                    {% for program in all_programs %}
                        <li><a href="{{ program.url }}our-people/">{{ program }}</a></li>
                    {% endfor %}
                </ul>
            </div>

                
            <hr>
            <h3>Central Staff</h3>
            <p>Our administrative staff provides support for programs through development, finance, talent development, communications, editorial, and production operations. <a href='#'>Find out more about Central Staff</a</p>
        </div>
    </div>
{% endblock %}