{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}homepostpage{% endblock %}

{% block content %}
{% with self.get_ancestors.specific.2 as a %}

  <main class="home__panels">
  <section class="home__heading home__panel__promo">
    <div class="container">
      <div class="row gutter-20">
        <div class="home__heading__text col-9">
          <h1 class="promo margin-25">{{ ourpeoplepage.title }}</h1>
          {{ ourpeoplepage.page_description|richtext }}
        </div>
      </div>
    </div>
  </section>
  <div id="compose__our-people" data-replace-this="true"></div>

  </main>
{% endwith %}
{% endblock %}
