{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-person{% endblock %}

{% block content %}
<div class="bio-page">
    <div class="bio-page__heading">
        <div class='bio-page__icon'>
            {% image page.profile_image original as bio_image %}
            <div class='bio-page__icon__photo' style='background: no-repeat center/100% url({{ bio_image.url }})'>
            </div>
        </div>
        <div class="bio-page__heading-text">
            <h1 class= "bio-page__heading-text__name">{{ page.first_name }} {{ page.last_name }}</h1>
            <h3 class= "bio-page__heading-text__position">{{ page.position_at_new_america }}<!--
                -->{% if page.belongs_to_these_programs %}<!--
                    -->{% for program in page.belongs_to_these_programs.all %}<!--
                        -->, <a href="{{ program.url }}">{{ program }}</a>
                    {% endfor %}
                {% endif %}
            </h3>
        </div>
    </div>

    <div class="bio-page__content">
        {% if page.long_bio %}
            {{ page.long_bio|richtext|linebreaks }}
        {% endif %}
    </div>

    <div class="bio-page__contact">
        <a class= "button" href="mailto:{{ page.email }}">Contact {{ page.first_name }}</a>
        <a class= "button" href="mailto:{{ page.email }}">Contact {{ page.first_name }}</a>
    </div>

    {% if featured_work.0.title %}
    <div class="bio-page__work">
        <h3 class="bio-page__work__title">Featured Work</h3>

        <div class="content-grid__entries">

            {% for item in featured_work %}
                {% if item.title %}
                    <div class="content-entry {{ item.post.get_page_type }}">
                        {% if item.post.story_image %}
                            {% image item.post.story_image original as post_image %}

                            <a href="{{ item.post.url }}">
                                <div class="content-entry__image-container" style="background-image: url('{{ post_image.url }}') ">
                                </div>
                            </a>
                        <div class="content-entry__text-container has-image">
                        
                        {% else %}
                        <div class="content-entry__text-container">
                        {% endif %}
                            <div class="content-entry__text">
                                {% if item.post.post_program.all %}
                                    <h5 class="content-entry__text__program">
                                    {% for program in item.post.post_program.all %}
                                        <a href="{{ program.url }}"> {{ program | upper }}</a>{% list_separator forloop.revcounter0 %}
                                    {% endfor %}
                                    </h5>
                                {% endif %}
                                <h5 class= "content-entry__text__title"><a href="{{ item.post.url }}">{{ item.post.title }}</a></h5>

                                {% if item.post.post_author.all %}
                                    <h5 class= "content-entry__text__author">{% generate_byline item.post.content_type item.post.post_author.all %}</h5>
                                {% endif %}
                                <h5 class= "content-entry__text__date-time">{% generate_dateline item.post %}</h5>
                                <p class= "content-entry__text__excerpt">{{ item.post.story_excerpt }}</p>
                                
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endif %}
            {% endfor %} 
        </div>
        
        
    </div>
    {% endif %}

</div>

{% endblock %}