{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-person{% endblock %}

{% block content %}

    <h1>{{ page.title }}</h1>
    {{ page.position_at_new_america }}
    <br>
    {{ page.role }}
    <br>
    {% if page.long_bio %}
    	{{ page.long_bio }}
    	<br>
    {% endif %}
    {% if page.program %}
    	<a href="{{ page.program.url }}">{{ page.program }}</a>
    	<br>
    {% endif %}
    {{ page.email }}

{% endblock %}