{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-person{% endblock %}

{% block content %}
<div class="bio-page">
    <div class="bio-page__heading">
        <div class='bio-page__icon'>
            {% image page.profile_image original as bio_image %}
            <div class='bio-page__icon__photo' style='background: no-repeat center/100% url({{ bio_image.url }})'>
            </div>
        </div>
        <div class="bio-page__heading-text">
            <h1 class= "bio-page__heading-text__name">{{ page.first_name }} {{ page.last_name }}</h1>
            <h3 class= "bio-page__heading-text__position">{{ page.position_at_new_america }}<!--
                -->{% if page.belongs_to_these_programs %}<!--
                    -->{% for program in page.belongs_to_these_programs.all %}<!--
                        -->, <a href="{{ program.url }}">{{ program }}</a>
                    {% endfor %}
                {% endif %}
            </h3>
        </div>
    </div>

    <div class="bio-page__content">
        {% if page.long_bio %}
            {{ page.long_bio | linebreaks }}
        {% endif %}
    </div>

    <div class="bio-page__contact">
        <a class= "button" href="mailto:{{ page.email }}">Contact {{ page.first_name }}</a>
        <a class= "button" href="mailto:{{ page.email }}">Contact {{ page.first_name }}</a>
    </div>

    <div class="bio-page__work">
        <h3 class="bio-page__work__title">Related Work</h3>
    </div>
</div>

{% endblock %}