{% extends "program_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-programpeoplepage{% endblock %}

{% block content %}

<section class='section section--fixed-width'>
	<div class="post-header-container">
	    <div class="post-header">
	        <div class="post-header__text">
	            <h1 class="post-header__text__heading">{{ page.title }}</h1>
	        </div>
	    </div>
	</div>

	<div class="row person-grid__controls">
		<div class="column person-grid__controls__filter">
			<select>
				<option value="all">All Subprograms</option>
			{% for subprogram in program.get_subprograms %}
				<option value="{{ subprogram }}">{{ subprogram }}</option>
			{% endfor %}
			</select>
        </div>
	</div>

	<div class="row person-grid__content">
		{% for person in people %}
			<div class="small-12 medium-6 large-4 columns">
				<div class="person">
					<a href="{{ person.url }}">
						<div class='person__icon'>
							{% image person.profile_image original as person_image %}
							<div class='person__icon__photo' style='background: no-repeat center/100% url({{ person_image.url }})'>
							</div>
						</div>
					</a>
					<h5 class='person__name'>
						<a href="{{ person.url }}">{{ person.first_name }} {{ person.last_name }}</a>
					</h5>
					<h5 class='person__position'>{{ person.position_at_new_america }}</h5>
					
				</div>
			</div>
		{% endfor %}
	</div>
</section>

{% endblock %}