{% extends "program_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-programblogpostspage{% endblock %}

{% block content %}
	<div class="post-header-container">
		<div class="post-header">
			<div class="post-header__text">
		    	<h1 class="post-header__text__heading">{{ page.title }}</h1>
		    	{% if page.subheading %}
		    		<h2 class="post-header__text__subheading">{{ page.subheading | richtext }}</h2>
		    	{% endif %}
			</div>
		</div>
	</div>
	
	{% with post=all_posts|first %}
		<div class='blog-lead-story'>
			<div class='hero-grid has-1-children'>
				<div class='hero-grid__main'>
					<div class='hero-grid__element'>
					<a href="{{ post.url }}">
						<div class='hero-grid__element__wrapper'>
						{% image post.story_image min-1100x500 as post_image %}
							<div class='hero-grid__element__background' style='background-image: url({{ post_image.url }})'></div>
							<div class='hero-grid__element__overlay'></div>
							<div class='hero-grid__element__text-bar'>
								{% if post.post_subprogram.all %}
									<h5 class="hero-grid__element__text-bar__program">
									{% for subprogram in post.post_subprogram.all %}
										<a href="{{ subprogram.url }}"> {{ subprogram | upper }}</a>{% list_separator forloop.revcounter0 %}
									{% endfor %}
									</h5>
								{% endif %}
								<h1 class='hero-grid__element__text-bar__heading'>{{ post.title }}</h1>
								{% if post.authors.all %}
									<p class='hero-grid__element__text-bar__subheading' href="{{ post.url }}">{% generate_byline post.content_type post.authors.all %}</p>
								{% endif %}
								<h5 class= "hero-grid__element__text-bar__date">{{ post.date }} </h5>
								<p class= "hero-grid__element__text-bar__excerpt">{{ post.story_excerpt }}</p>
							</div>
						</div>
					</a>
					</div>
				</div>
			</div>
		</div>
	{% endwith %}


	<div class="content-grid__entries blog">
		
		{% for post in all_posts %}
			<div class="content-entry blog">
				{% if post.story_image %}
					{% image post.story_image min-650x200 as post_image %}

					<div class="content-entry__image-container">
						<a href="{{ post.url }}"><img class="content-entry__image" src="{{post_image.url}}"></a>
					</div>
				<div class="content-entry__text-container has-image">
				
				{% else %}
				<div class="content-entry__text-container">
				{% endif %}
					<div class="content-entry__text">
						{% if post.post_subprogram.all %}
							<h5 class="content-entry__text__program">
							{% for subprogram in post.post_subprogram.all %}
								<a href="{{ subprogram.url }}"> {{ subprogram | upper }}</a>{% list_separator forloop.revcounter0 %}
							{% endfor %}
							</h5>
						{% endif %}
						<h5 class= "content-entry__text__title"><a href="{{ post.url }}">{{ post.title }}</a></h5>

						{% if post.authors.all %}
							<h5 class= "content-entry__text__author">{% generate_byline post.content_type post.authors.all %}</h5>
						{% endif %}
						<h5 class= "content-entry__text__date-time">{% generate_dateline post %}</h5>
						<p class= "content-entry__text__excerpt">{{ post.story_excerpt }}</p>
						
					</div>
				</div>
			<hr>
			</div>
			
		{% endfor %}

	</div>

	<div class="content-grid__footer">
		<div class="pagination">
			{% if all_posts.has_previous %}
				<a class="pagination__arrow" href="?page={{ all_posts.previous_page_number }}">

					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
						<polygon points="66.688,5.188 22.168,49.998 66.688,94.812 77.83,83.595 44.965,50.51 77.832,16.405 "/>
					</svg>

				</a>
			{% endif %}

			<span>Page</span>
			<form class="pagination__form" action="?page=value" method="get">
				<input class="pagination__input" type="text" placeholder="{{ all_posts.number }}" name="page">
			</form>

			<span>of</span>
			<a href="?page={{ all_posts.paginator.num_pages|get_range|last }}">{{ all_posts.paginator.num_pages|get_range|last }}</a>

			{% if all_posts.has_next %}
		    	<a class="pagination__arrow" href="?page={{ all_posts.next_page_number }}">
		    		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
						<polygon points="33.312,94.812 77.832,50.002 33.312,5.188 22.17,16.405 55.035,49.49 22.168,83.595 "/>
					</svg>
				</a>
			{% endif %}
		</div>
	</div>
{% endblock %}