<div class='panel'>

	<h1>Our Story</h1>
	<p>Founded in 1999, New America is a think tank and civic enterprise committed to renewing American politics, prosperity, and purpose in the Digital Age. We generate big ideas, bridge the gap between technology and policy, and curate broad public conversation.</p>

	<div class='panel__link'>
		<a href='' class='button'>Read our story</a>
	</div>

</div>

<div class='row'>
	<div class='column small-4 large-4'>
		<h1>Hi</h1>
	</div>
	<div class='column small-4 large-4'>
		<h1>I'm</h1>
	</div>
	<div class='column small-4 large-4'>
		<h1>here</h1>
	</div>
</div>