<div class='row'>

	<div class='small-12 large-4 columns'>

		<div class='picture-link'>
			<div class='picture-link__picture'>
				<img src='https://images.unsplash.com/photo-1449157291145-7efd050a4d0e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1ef93eb805f94751678a846c6707e470' alt=''>
			</div>
			<div class='picture-link__content'>
				<h1>Reinventing the Think Tank</h1>
				<p>Why we're building a new model of nationwide civic engagement.</p>
			</div>
		</div>

	</div>

	<div class='small-12 large-4 columns'>

		<div class='picture-link'>
			<div class='picture-link__picture'>
				<img src='https://images.unsplash.com/photo-1449157291145-7efd050a4d0e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1ef93eb805f94751678a846c6707e470' alt=''>
			</div>
			<div class='picture-link__content'>
				<h1>Reinventing the Think Tank</h1>
				<p>Why we're building a new model of nationwide civic engagement.</p>
			</div>
		</div>

	</div>

	<div class='small-12 large-4 columns'>

		<div class='picture-link'>
			<div class='picture-link__picture'>
				<img src='https://images.unsplash.com/photo-1449157291145-7efd050a4d0e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1ef93eb805f94751678a846c6707e470' alt=''>
			</div>
			<div class='picture-link__content'>
				<h1>Reinventing the Think Tank</h1>
				<p>Why we're building a new model of nationwide civic engagement.</p>
			</div>
		</div>

	</div>

</div>



<div class='row'>

	<div class='small-12 large-6 columns'>
		<div class='border-panel'>
			<div class='border-panel__content'>
				<h1>Hi!</h1>
			</div>
		</div>
	</div>

	<div class='small-12 large-6 columns'>
		<div class='border-panel small-12 large-6 columns'>
			<div class='border-panel__content'>
				<h1>Bye!</h1>
			</div>
		</div>
	</div>

</div>


<div class='panel'>

	<h1>Our Story</h1>
	<p>Founded in 1999, New America is a think tank and civic enterprise committed to renewing American politics, prosperity, and purpose in the Digital Age. We generate big ideas, bridge the gap between technology and policy, and curate broad public conversation.</p>

	<div class='panel__link'>
		<a href='' class='button'>Read our story</a>
	</div>

</div>