

<footer class='footer'>

	<div class='footer__info'>
		<p>New America® is a registered trademark</p>
	</div>

	<div class='footer__main-nav'>
		<ul>
			<li>
				<a href="https://newamerica.org">Contact</a>
			</li>
			<li>
				<a href="https://newamerica.org">Jobs</a>
			</li>
			<li>
				<a href="https://newamerica.org">Policies and Procedures</a>
			</li>
			<li>
				<a href="https://newamerica.org">Creative Commons</a>
			</li>
		</ul>
	</div>

	<div class='footer__social-nav'>
		<ul>
			<li>
				<a href="https://newamerica.org">Facebook</a>
			</li>
			<li>
				<a href="https://newamerica.org">Twitter</a>
			</li>
			<li>
				<a href="https://newamerica.org">LinkedIn</a>
			</li>
		</ul>
	</div>

</footer>