

<footer class='footer'>
	<div class='footer__content'>
		<div class="row">
			<div class="large-4 columns">
				<div class='footer__info'>
					<p>New America® is a registered trademark</p>
				</div>
			</div>
			<div class="large-4 columns">
				<div class='footer__main-nav'>
					<ul>
						<li>
							<a href="/contact/">Contact</a>
						</li>
						<li>
							<a href="/jobs/">Jobs</a>
						</li>
						<li>
							<a href="/policies-and-procedures/">Policies and Procedures</a>
						</li>
						<li>
							<a href="/creative-commons/">Creative Commons</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="large-4 columns">
				<div class='footer__social-nav'>
					<ul>
						<li>
							<a href="http://www.facebook.com/NewAmerica">Facebook</a>
						</li>
						<li>
							<a href="http://www.twitter.com/NewAmerica">Twitter</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/company/new-america-foundation">LinkedIn</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>