<div class='panel'>
	<h1>Our Story</h1>
	<p>Founded in 1999, New America is a think tank and civic enterprise committed to renewing American politics, prosperity, and purpose in the Digital Age. We generate big ideas, bridge the gap between technology and policy, and curate broad public conversation.</p>
</div>

<footer class='footer clearfix'>
	<div class='float-left'>
		<p>New America® is a registered trademark</p>
	</div>
	<div style='position: absolute;'>
		<ul>
			<li>Contact</li>
			<li>Jobs</li>
			<li>Policies and Procedures</li>
			<li>Creative Commons</li>
		</ul>
	</div>
	<div class='float-right'>
		<ul>
			<li><a>Facebook</a></li>
			<li><a>Twitter</a></li>
			<li><a>LinkedIn</a></li>
		</ul>
	</div>
</footer>