<header class='header'>

	<div class='header__logo'>
		{% include 'ui_elements/svg_icons/naf.html' %}
		<h1>New America</h1>
	</div>

	<div class='header__secondary-nav'>

	</div>

	<nav class='header__main-nav'>
		<ul>
			<li>
				<a class='button'>Programs</a>
			</li>
			<li>
				<a class='button'>Events</a>
			</li>
			<li>
				<a class='button'>Our Work</a>
			</li>
			<li>
				<a class='button'>Experts</a>
			</li>
			<li>
				<a class='button'>About</a>
			</li>
			<li>
				<a class='button'>Donate</a>
			</li>
		</ul>
	</nav>

	<div class='header__search'>
		<form action="" method="get">
			<input type='text' placeholder='Search'></input>
		</form>
	</div>

</header>