{% load wagtailimages_tags %}

{% if value.image %}
  {% image value.image min-800x800 as img %}
{% else %}
  {% image value min-800x800 as img %}
{% endif %}

<div class="block-custom_image__wrapper {% firstof value.align 'no-alignment' %}"
  style="{% if value.width %}max-width:{{value.width}};{% endif %}">
  <img {{ img.attrs }}/>
  {% if value.caption or value.source or value.image.caption or value.image.source %}
    <div class="caption">
      {% firstof value.caption value.image.caption %}
      {% if value.source or value.image.source %}
        ({% firstof value.source value.image.source %})
      {% endif %}
    </div>
  {% endif %}
</div>
