#about {
  .columns{
    margin-top: 20px;
    @include breakpoint($mobile-break){
        margin-top: 0px;
      //  @include grid-column-uncollapse(50);
    }

    p {
      color: palette-get(na-black-70);
      font-size: 1.05em;
      line-height: 2em;
    }
  }

  .block-video{
    margin-bottom: 50px;
  }

  .block-video > div {
    padding-bottom: 56%!important;
    position: relative;
    height: 0;
    overflow: hidden;
  }

  .block-video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
  }
}
