#venue{
  h3 {
    margin-bottom: 10px !important;
  }

  & > .container:first-child {
    margin-bottom: 25px;
  }

  .location-info{
    font-size: 1.2em;
    line-height: 1.7em;
    margin: 15px 0;
    position: relative;
  }

  .location-info:before{
    position: absolute;
    height: 100%;
    left: -13px;
    display: block;
    content: '';
    width: 5px;
    background: #2ebcb3;
  }

  p {
    line-height: 2em;
    color: palette-get(na-light-black);
  }

  .columns{
    padding: 0 1rem;
  }
}
