{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-policypaper{% endblock %}

{% block content %}
    <h1> {{ page.title }} </h1>
    <h3> {{ page.date }} </h3>

    {% if page.post_author.all %}
			{% for author in page.post_author.all %}
				<a href="{{ author.url }}">{{ author }}</a>
				<br>
			{% endfor %}
		{% endif %}
		<br>
    {{ page.body }}
    {{ page.paper_url }}
    {{ page.attachment }}

{% endblock %}
