.issue-grid {
	p {
		margin-bottom: 0px;
		color: palette-get(na-black-70);
	}

	&__entry {
		margin-bottom: $desktop-padding;
		margin-top: $desktop-padding/2;


		@include breakpoint(medium) {
			padding-left: 40px;
			padding-right: 40px;

			&:first-child {
			padding-left:10px;
			}

			&:last-child {
				padding-right:10px;
			}
		}

		&__title {
			font-weight: bold;
			font-size: 22px;
		}
		&__text {
			font-weight: normal;
			color: palette-get(na-black-70);
			padding-bottom: 15px;
		}
		&__child-list {
			list-style-type:disc;
		}
		&__child {
			display: list-item;
			float: left;
			font-weight: bold;
			font-size: 16px;

			&__link {
				margin-left: 5px;
				margin-right: 5px;
			}
		}
	}
}
