<section id="about" class="section align-center">
  <div class="container">
    <span class="icon section-icon icon-multimedia-12"></span>
    <h3>Business meets Innovation</h3>
    <p class="text-alt">Starting your own IT business and picking right niche in less then <span class="highlight">30 days</span></p>
    <br />
    <br />

    <div class="tabs-wrapper tabs-horizontal">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#horizontal_tab1" data-toggle="tab">
          <h6 class="heading-alt"><span class="fa fa-code"></span> General info</h6>
        </a></li>
        <li><a href="#horizontal_tab2" data-toggle="tab">
          <h6 class="heading-alt"><span class="fa fa-rocket"></span> Workshops</h6>
        </a></li>
        <li><a href="#horizontal_tab3" data-toggle="tab">
          <h6 class="heading-alt"><span class="fa fa-external-link"></span> Sponsor info</h6>
        </a></li>
      </ul>

      <div class="tab-content">
        <div id="horizontal_tab1" class="tab-pane fade active in">
          <div class="col-sm-5 img-column">
            <img src="assets/img/imac-371x412.png" alt="" class="img-responsive" />
          </div>
          <div class="col-sm-7 align-left">
            <h6>About event</h6>
            <p>Faucibus sed pretium. Ridiculus <strong>consectetuer</strong> et. In arcu enim sit in libero scelerisque mauris sed. Nullam eleifend in varius arcu vitae feugiat magna id ut morbi consectetuer. In vivamus arcu. Id ut dui. Sed massa in. Scelerisque suscipit quisque maecenas aliquet in. Wisi mi ipsum. Elit et mauris. Duis in magni praesent <a href="#">content</a> massa.</p>
            <p>Consectetuer amet wisi felis sem <strong>tincidunt</strong>. Ultricies blandit id euismod inceptos mauris pulvinar nec nullam quisque consequat nulla eleifend elementum vivamus aliquam placerat nec. Vehicula leo praesent vitae leo mauris ullamcorper lectus sed mollis id turpis dui cras suspendisse. Porta diam <a href="#">eleifend</a>. Praesent magnis sit. Enim ligula vel justo urna.</p>
            <ul>
              <li>Nisl cras vitae wisi odio amet.</li>
              <li>Lacus amet vestibulum belas</li>
              <li>Quis nunc curabitur assumenda</li>
            </ul>
          </div>
        </div>

        <div id="horizontal_tab2" class="tab-pane fade">
          <div class="col-sm-7 align-right">
            <h6>Workshops</h6>
            <p>Faucibus sed pretium. Ridiculus <strong>consectetuer</strong> et. In arcu enim sit in libero scelerisque mauris sed. Nullam eleifend in varius arcu vitae feugiat magna id ut morbi consectetuer. In vivamus arcu. Id ut dui. Sed massa in. Scelerisque suscipit quisque maecenas aliquet in. Wisi mi ipsum. Elit et mauris. Duis in magni praesent <a href="#">content</a> massa.</p>
            <p>Consectetuer amet wisi felis sem <strong>tincidunt</strong>. Ultricies blandit id euismod inceptos mauris pulvinar nec nullam quisque consequat nulla eleifend elementum vivamus aliquam placerat nec. Vehicula leo praesent vitae leo mauris ullamcorper lectus sed mollis id turpis dui cras suspendisse. Porta diam <a href="#">eleifend</a>. Praesent magnis sit. Enim ligula vel justo urna.</p>
            <ul>
              <li>Nisl cras vitae wisi odio amet.</li>
              <li>Lacus amet vestibulum belas</li>
              <li>Quis nunc curabitur assumenda</li>
            </ul>
          </div>

          <div class="col-sm-5 img-column">
            <img src="assets/img/imac-371x412.png" alt="" class="img-responsive" />
          </div>
        </div>

        <div id="horizontal_tab3" class="tab-pane fade">
          <div class="col-sm-5 img-column">
            <img src="assets/img/imac-371x412.png" alt="" class="img-responsive" />
          </div>
          <div class="col-sm-7 align-left">
            <h6>Sponsors apply</h6>
            <p>Faucibus sed pretium. Ridiculus <strong>consectetuer</strong> et. In arcu enim sit in libero scelerisque mauris sed. Nullam eleifend in varius arcu vitae feugiat magna id ut morbi consectetuer. In vivamus arcu. Id ut dui. Sed massa in. Scelerisque suscipit quisque maecenas aliquet in. Wisi mi ipsum. Elit et mauris. Duis in magni praesent <a href="#">content</a> massa.</p>
            <ul>
              <li>Nisl cras vitae wisi odio amet.</li>
              <li>Lacus amet vestibulum belas</li>
              <li>Quis nunc curabitur assumenda</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
