{% load wagtailimages_tags %}

<div class="container">
  <div class="sponsors">
    <div class="sponsor-row">
      <h4>Premier Sponsors</h4>
      {% for partner in value %}
      {% with partner.value as p %}
        {% if p.type == "premier_sponsor" %}
        {% image p.logo width-400 as logo %}
          <div class="sponsor big"><img src="{{logo.url}}" alt=""></div>
        {% endif %}
      {% endwith %}
      {% endfor %}
    </div>

      <div class="sponsor-row">
        <h4>Conference Sponsors</h4>
        {% for partner in value %}
        {% with partner.value as p %}
          {% if p.type == "sponsor" %}
          {% image p.logo width-400 as logo %}
            <div class="sponsor"><img src="{{logo.url}}" alt=""></div>
          {% endif %}
        {% endwith %}
        {% endfor %}
      </div>

      <div class="sponsor-row">
        <h4>Media Partners</h4>
        {% for partner in value %}
        {% with partner.value as p %}
          {% if p.type == "media_partner" %}
          {% image p.logo width-400 as logo %}
            <div class="sponsor"><img src="{{logo.url}}" alt=""></div>
          {% endif %}
        {% endwith %}
        {% endfor %}
      </div>

      <div class="sponsor-row">
        <p><i>With special recognition and gratitude to the foundations supporting New America's vision to reinvent the think tank:</i></p>
        {% for partner in value %}
        {% with partner.value as p %}
          {% if p.type == "recognized_partner" %}
          {% image p.logo width-400 as logo %}
            <div class="sponsor"><img src="{{logo.url}}" alt=""></div>
          {% endif %}
        {% endwith %}
        {% endfor %}
      </div>
  </div>
</div>
