{% load wagtailimages_tags %}

<div class="container">
  <div class="sponsors">
  {% for partner in value %}
  {% with partner.value as p %}
    {% if p.type == "premier_sponsor" %}
    {% image p.logo width-400 as logo %}
      <div class="sponsor big"><img src="{{logo.url}}" alt=""></div>
    {% endif %}
  {% endwith %}
  {% endfor %}
  </div>

  <div class="sponsors">
  {% for partner in value %}
  {% with partner.value as p %}
    {% if p.type == "sponsor" %}
    {% image p.logo width-400 as logo %}
      <div class="sponsor inline"><img src="{{logo.url}}" alt=""></div>
    {% endif %}
  {% endwith %}
  {% endfor %}
  </div>

  <div class="sponsors">
  {% for partner in value %}
  {% with partner.value as p %}
    {% if p.type == "media_partner" %}
    {% image p.logo width-400 as logo %}
      <div class="sponsor inline"><img src="{{logo.url}}" alt=""></div>
    {% endif %}
  {% endwith %}
  {% endfor %}
  </div>

  <div class="sponsors">
  {% for partner in value %}
  {% with partner.value as p %}
    {% if p.type == "partner" %}
    {% image p.logo width-400 as logo %}
      <div class="sponsor inline"><img src="{{logo.url}}" alt=""></div>
    {% endif %}
  {% endwith %}
  {% endfor %}
  </div>

</div>
