<div class="container">
    <!-- Schedule start -->
    <div class="schedule">

      {% if value|length > 1 %}
      <ul class="nav nav-schedule" data-toggle="tab">
        {% for day in value %}
          <li data-target="#day{{forloop.counter}}">
            <span>
              <h5 class="highlight">Day {{forloop.counter}}</h5>
              {% comment %}
                we do not have access to main template's context in this template
                to use / format conference dates
                ...when we upgrade to wagtail 1.7 we can use 'include_block' tag which will
                give us access to parent template's context
              {% endcomment %}
              <!--<p class="text-alt">08/10/2016</p>-->
            </span>
          </li>
        {% endfor %}
      </ul>
      {% endif %}

      <div class="tab-content">
        {% for day in value %}
        {% with day.value as d %}
        {% with forloop.counter as i %}

        <div id="day{{i}}" class="tab-pane">
          <div class="tab-content tab-content-schedule">
            <div class="tab-pane fade active in">
              <div class="panel-group" data-toggle="collapse" data-toggle-child=".schedule-item-toggle-active">

                {% for session in d.sessions %}
                {% with s=session.value desc=session.value.description.source %}

                <div class="panel schedule-item">
                  <span class="schedule-item-toggle {% if desc|length > 12 or s.speakers|length > 0 %}schedule-item-toggle-active{% endif %}" data-target="#day-{{i}}_session-{{forloop.counter}}">
                    <div class="lecture-icon-wrapper">
                      <span class="fa fa-microphone"></span>
                    </div>
                    <strong class="time highlight"><span class="line-icon line-icon-office-24"></span>{{s.start_time|date:"g:i A"}} &ndash; {{s.end_time|date:"g:i A"}}</strong>
                    <h5 class="title">
                      {{s.name}}
                      {% if desc|length > 12 or s.speakers|length > 0 %}
                      <!-- <i class="line-icon line-icon-arrows-06"></i> -->
                        <i class="fa fa-chevron-circle-down"></i>
                      {% endif %}
                    </h5>
                  </span>
                  <div id="day-{{i}}_session-{{forloop.counter}}" class="panel-collapse collapse schedule-item-body">
                    {% if desc|length > 12 or s.speakers|length > 0 %}
                    <article>

                      {% if desc|length > 12 %}
                      <div class="description">{{s.description}}</div>
                      {% endif %}

                      {% if s.speakers|length > 0 %}
                      <div class="session-speakers">

                        {% for speaker in s.speakers %}
                          <div class="text-alt speaker-wrapper">
                            <strong class="highlight speaker-name">{{speaker.value.name}}</strong>
                            <span>{{speaker.value.title}}</span>
                          </div>
                        {% endfor %}

                      </div>
                      {% endif %}
                    </article>
                    {% endif %}
                  </div>
                </div>
                {% endwith %}
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
        {% endwith %}
        {% endwith %}
        {% endfor %}
      </div>

    </div>
    <!-- Schedule end -->
</div>
