<div class="container">
    <!-- Schedule start -->
    <div class="schedule">

      {% if value|length > 1 %}
      <ul class="nav nav-schedule">
        {% for day in value %}
          <li class="active">
            <a href="#day{{forloop.counter}}" data-toggle="tab">
              <h5 class="highlight">Day {{forloop.counter}}</h5>
              <!-- <p class="text-alt">08/10/2016</p> -->
            </a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}

      <div class="tab-content">
        {% for day in value %}
        {% with day.value as d %}

        <div id="day{{forloop.counter}}" class="tab-pane fade active in">
          <div class="tab-content tab-content-schedule">
            <div id="day1_auditorium1" class="tab-pane fade active in">
              <div class="panel-group" id="day1_auditorium1_timeline">

                {% for session in d.sessions %}
                {% with session.value as s %}
                <div class="panel schedule-item">
                  <div class="lecture-icon-wrapper">
                    <span class="fa fa-{{s.session_type}}"></span>
                  </div>
                  <a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time1" class="schedule-item-toggle">
                    <strong class="time highlight"><span class="icon icon-office-24"></span>{{s.start_time}} - {{s.end_time}}</strong>
                    <h6 class="title">{{s.name}}<i class="icon icon-arrows-06"></i></h6>
                  </a>
                  <div id="day1_auditorium1_time1" class="panel-collapse collapse in schedule-item-body">
                    <article>
                      <div class="description">{{s.description}}</div>
                      <div class="session-speakers">

                        {% for speaker in s.speakers %}
                          <div class="text-alt speaker-wrapper">
                            <strong class="highlight speaker-name">{{speaker.value.name}}</strong>
                            <span>{{speaker.value.title}}</span>
                          <div>
                        {% endfor %}

                      </div>
                    </article>
                  </div>
                </div>
                {% endwith %}
                {% endfor %}

              </div>
            </div>
          </div>
        </div>

        {% endwith %}
        {% endfor %}
      </div>

    </div>
    <!-- Schedule end -->
</div>
