<section id="sponsors" class="section align-center">
  <div class="container">
    <span class="icon section-icon icon-documents-bookmarks-12"></span>
    <h3>General sponsors</h3>
    <p class="text-alt">companies that <span class="highlight">support</span> us</p>
    <br/>
    <br/>

    <div class="sponsors">
      <div class="sponsor big"><img src="assets/img/sponsors/sponsor-big-1.png" alt=""></div>
      <div class="sponsor big"><img src="assets/img/sponsors/sponsor-big-2.png" alt=""></div>
      <div class="sponsor big"><img src="assets/img/sponsors/sponsor-big-3.png" alt=""></div>
      <div class="sponsor big"><img src="assets/img/sponsors/sponsor-big-4.png" alt=""></div>
    </div>

    <div class="sponsors">
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor1.png" alt=""></div>
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor2.png" alt=""></div>
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor3.png" alt=""></div>
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor4.png" alt=""></div>
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor5.png" alt=""></div>
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor6.png" alt=""></div>
    </div>
    <div class="sponsors">
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor9.png" alt=""></div>
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor10.png" alt=""></div>
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor1.png" alt=""></div>
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor2.png" alt=""></div>
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor3.png" alt=""></div>
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor4.png" alt=""></div>
    </div>
    <div class="sponsors">
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor5.png" alt=""></div>
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor6.png" alt=""></div>
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor7.png" alt=""></div>
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor3.png" alt=""></div>
    </div>

    <div class="sponsors">
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor2.png" alt=""></div>
      <div class="sponsor inline"><img src="assets/img/sponsors/sponsor1.png" alt=""></div>
    </div>

  </div>
</section>
