.weekly__article {
	.weekly__header {
		display: table;
		padding: $desktop-padding;

		@include desktop-header {
			display: none;
		}
	}

	.border-panel {
		margin-top: $desktop-padding + 10px;
		margin-left: $desktop-padding;
		margin-right: $desktop-padding;
		
		@include desktop-header {
			margin-left: 0px;
			margin-right: 0px;
			max-width: $max-body-width;
		}
	}

	.post-container {
		padding-bottom: 0px;
	}
}