.weekly__article {
	.weekly__header {
		display: table;
		padding: $desktop-padding;

		@include desktop-header {
			display: none;
		}
	}

	.border-panel {
		margin-top: 2*$desktop-padding;
	}

	.post-container {
		padding-bottom: 0px;
	}
}