.weekly__edition {
	max-width: $max-site-width - $max-sidemenu-width - 2*$desktop-padding;
	margin: auto;
	padding: 0px;
	@include breakpoint(medium) {
		padding: 0px $desktop-padding;
	}

	@include desktop-header {
		padding: 0px;
	}

}