.weekly__header {
	display: table;
	padding: $desktop-padding $mobile-padding;
	width: 100%;

	@include breakpoint(medium) {
		padding: $desktop-padding 0px 0px 0px;
	}
	@include desktop-header {
		padding: 0px;
	}

	&__left {
		padding-right: $desktop-padding;
		margin-bottom: 0px;
		display: table-cell;
		border-right: 2px solid palette-get(na-black-10);
		width: 150px;

		@include breakpoint(medium) {
			width: 200px;
		}

		&__text {
			font-family:"Platform";
			color:palette-get(na-black);
			line-height: 90%;
			margin-bottom: 0px;
			font-size: 30px;

			@include breakpoint(medium) {
				font-size: 40px;
			}
		}
	}

	&__middle {
		max-width: $max-body-width;
		vertical-align: middle;
		display: table-cell;
		padding: 0px $desktop-padding;
		

		&__text {
			height: 100%;
			top: 50%;
			font-family:"Simplon";
			color:palette-get(na-black-40);
			margin-bottom: 0px;
			display: none;

			@include breakpoint(medium) {
				display: table-cell;
			}
			a {
				font-weight: bold;
			}
		}
		&__title,  &__title > a{
			font-size: 25px;
			margin-bottom: 0px;
			font-family:"Simplon";
			color:palette-get(na-black-40);
			line-height: 110%;

			@include breakpoint(medium) {
				font-size: 35px;
			}
		}
	}

}