
.weekly__lead {
	$lead-text-width-med: 100%/2 + #{$picture-grid-padding};
	$lead-text-width-lrg: 100%/3 + #{20px};
	$lead-text-width: 320px;
	width: 100%;
	height: 504px;
	border: 2px solid palette-get(na-black-10);
	margin: $desktop-padding 0px;
	-webkit-box-shadow: 0px 0px 20px 0px palette-get(na-black-10);
		-moz-box-shadow: 0px 0px 20px 0px palette-get(na-black-10);
		box-shadow: 0px 0px 20px 0px palette-get(na-black-10);

	display: none;


	@include breakpoint(medium) {
		display: block;
	}
	

	&__image {
		width: calc(100% - #{$lead-text-width});
		height: 500px;
		float: left;

		.hero-grid.has-1-children .hero-grid__main .hero-grid__element {
			height: 500px;
		}
	}

	&__text {
		width: $lead-text-width;
		float: left;
		padding: $desktop-padding;
		text-align: center;

		&__title {
			font-size: 16px;
			color: palette-get(na-turquoise);
			font-weight: bold;
			margin-bottom: 15px;
		}

		&__item {
			margin-bottom: 10px;
			&__name, &__name > a  {
				font-size: 16px;
				font-family: "Platform";
				color: palette-get(na-black);
				font-weight: bold;
				margin-bottom: 0px;
			}

			&__description, &__description > a {
				font-size: 15px;
				font-family: "Simplon";
				color: palette-get(na-black-40);
				font-weight: bold;
				margin-bottom: 0px;
			}
		}
	}

}