.weekly__sidemenu {
	$picture-size: 60px;
	$local-gutter: 15px;
	$active-link-border-width: 5px;
	padding-left: $desktop-padding;
	padding-right: $desktop-padding;

	&__title-block {
		margin-bottom: $desktop-padding;
	}

	&__title, &__subtitle {
		line-height: 100%;
		font-weight: bold;
		
	}

	&__title, &__title > a {
		color: palette-get(na-black);
		line-height: 40px;
		font-family: "Platform";
	}

	&__subtitle, &__subtitle > a {
		color: palette-get(na-black-40);
		font-family: "Simplon";
		font-size: 1.7rem;
	}

	&__subheading {
		font-weight: bold;
		color: palette-get(na-black);
	}

	&__sibling-list {
		padding: 15px 0px;

		&__entry {
    		padding-left: 5px;

			overflow: auto;
			margin-bottom: $local-gutter;
			&__picture {
				height: $picture-size;
				width: $picture-size;
				background-size: cover;
    			background-position: 50% 50%;
    			float:left;
    			margin-right: $local-gutter;

    			&__label {
					width: 15px;
					z-index: 500;
					color: white;
					font-weight: bold;
					font-size: 35px;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform:translateY(-50%);
    				-ms-transform:translateY(-50%);
					margin: auto;
					text-align: center;
					text-shadow: 1px 0 30px rgba(0,0,0,0.7); 

					&.no-image {
						color: palette-get(na-black);
						text-shadow: none; 
					}
				}
			    			
			}

			&__text {
				width: calc(100% - #{$picture-size + $local-gutter + 5px});
			    float:left;
			    color:palette-get(na-black-40);
			    overflow-wrap: break-word;
				word-wrap: break-word;

				/* for hyphenation in safari, and i.e?, but doesn't work in chrome or firefox
				-webkit-hyphens: auto;
				-ms-hyphens: auto;
				-moz-hyphens: auto;
				hyphens: auto;*/

			    h1 {
			      font-weight: bold;
			      margin: 0px;
			      font-size: rem-calc(17);
			      line-height: 120%;
			    }
			    
			}
		}

		&__link {
			&.active {
				.weekly__sidemenu__sibling-list__entry {

					&__picture {
						margin-left: -5px;
						width: $picture-size + 5px;
						border-left: 5px solid;
   							@include set-color(border-color);
					}
					h1 {
						color: palette-get(na-black);
					}
				}		
			}

			:hover {
				h1 {
					color: palette-get(na-black);
				}
			}
		}
		
	}

	select {
		background-color: white;
	}
}