$header-font-family: 'Platform';
$paragraph-font-family: 'Circular';
$header-height: 65px;
$header-expanded-height: 165px;
$subheader-height: 70px;


$border-radius: 4px;
$transition-function: 0.15s ease-in-out;
$border: 1px solid color(gray, light);
$border-light: 1px solid #eee;

$max-site-width: 1200px;
$max-body-width: 800px;

$max-sidemenu-width: 250px;

$thick-border-width: 4px;

$mobile-header-height: 70px;
$desktop-header-height: 78px;
$expanded-header-height: 155px;

$mobile-padding: 25px;
$mobile-menu-item-padding: 20px;
$mobile-menu-item-height: 60px;

$mini-mobile-logo-width: 47px;
$mobile-logo-width: 135px;
$desktop-logo-width: 140px;
$expanded-logo-width: 155px;

$desktop-padding: 25px;

$standard-border: 2px solid palette-get(na-black-10);

/*breakpoints*/

$desktop-header-foldup: 965px;
$expanded-header-foldup: 775px;

$desktop-show-support: 1062px;
$expanded-show-support: 867px;

$home-border-panel-foldup: 400px;

$mini-logo-breakpoint: 385px;

/*posts*/

$std-post-header-height: 250px;

/* misc */

$program-logo-width: 165px;
$program-logo-height: 68px;

/*content-grid*/

$pagination-width: 200px;
$default-input-height: 46px;
