.comiseo-daterangepicker {
	$small-width: 325px;
	$medium-width: 515px;
	$large-width: 800px;
	padding: 15px;
	position: absolute !important;
	width: $small-width !important;
	left: calc(50% - #{$small-width}/2) !important;
	border: none;
	@include standard-shadow;

	@include breakpoint(medium) {
		width: $medium-width !important;
		top: calc(50% - 100px) !important;
		left: calc(50% - #{$medium-width}/2) !important;
	}
}

.comiseo-daterangepicker-main {
	border-bottom: $standard-border !important;

}

.comiseo-daterangepicker-presets {
	display: none;

	@include breakpoint(medium) {
		display: table-cell;
	}
}

.comiseo-daterangepicker-calendar {
	border: none !important;
	@include breakpoint(medium) {
		border-bottom: none !important;
		border-left: $standard-border !important;
	}	
}

.comiseo-daterangepicker-mask {
	background-color: palette-get(na-black) !important;
	opacity: .7 !important;
}

.ui-front {
	z-index: 10001;
}

/*input box styles*/

.ui-state-default {
	color: palette-get(na-black-40);
	font-weight: normal;
	background-color: white;
}

.ui-corner-all {
	border-radius: 0px;
	
}


.ui-widget {
	font-family: Circular;
}

.ui-button {
	display: block;
	min-width: 0px !important;
	width: 100%;
	height: $default-input-height;
}

.ui-button-text {
	height: $default-input-height;
	padding: 12px 15px !important;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


/* popup picker styles */


.ui-widget-content, .ui-widget-header {
	background-color: white;
}

.ui-widget-header {
	border: none;
	* { 
		color: palette-get(na-black);
	}
}

.ui-menu-item {
	background-color: white !important;
	margin: 0px !important;
}

a.ui-state-default {
	border: none !important;
	background: none !important;
	/*background-color: palette-get(na-black-10) !important;*/
	color: palette-get(na-black-40) !important;
	text-align: center !important;

	&:hover {
		background-color: palette-get(na-turquoise) !important;
		color: white !important;
	}
}


.ui-datepicker td {
	padding: 0px;
	margin: 1px;
}

.ui-state-focus, .ui-widget-content .ui-state-focus {
	border: none !important;
	background: none !important;
	background-color: white !important;
	color: palette-get(na-black-40) !important;

	a {
		font-weight: normal !important;
		color: palette-get(na-turquoise) !important;
	}
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
	border: none;
	background: none;
	background-color: palette-get(na-turquoise);
	a {
		color: white !important;
	}
}

.comiseo-daterangepicker-buttonpanel {
	button {
		border: none !important;
		background: none !important;
		background-color: palette-get(na-turquoise) !important;
		color: white !important;
		display: inline-block !important;
		width: 100px;
		opacity: 1 !important;
		height: 46px !important;
		margin-top: 15px !important;

		&:hover {
			background-color: palette-get(na-light-turquoise) !important;
		}

		.ui-button-text {
			font-weight: bold !important;
			font-family: Circular !important;
		}
	}
}

.ui-widget-header .ui-state-hover {
	background-color: white !important;
	border: none !important;
	color: palette-get(na-black) !important;
}

.ui-datepicker-prev, .ui-datepicker-next {
	background-size: contain !important;
	border: none;
	width: 15px !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	top: 2px !important;
}

.ui-datepicker-prev {
	background-image: url(shape-urls-get(left-arrow-na-black)) !important;
	left: 2px !important;
}

.ui-datepicker-next {
	background-image: url(shape-urls-get(right-arrow-na-black)) !important;
	right: 2px !important;
}

.comiseo-daterangepicker-triggerbutton {
	border: 2px solid palette-get(na-black-10) !important;
}

.comiseo-daterangepicker-presets {
	li {
		display: block;
	}
}