// @import 'date-box';
// @import 'date-picker';
// @import 'search-box';

.search{
  position: fixed;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background: color(turquoise, base, 0.25);
}
