.global-feedback{
  padding: 25px;
  background: color(white);
  @include box-shadow( 0px 0px 20px 1px color(black, base, 0.15) );
  border-radius: 4px;
  overflow: hidden;
  @include transition(all 0.3s cubic-bezier(.33,0,.2,1));
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 110px;
  height: 40px;
  z-index: 1000;

  @include media-breakpoint(tablet){
    bottom: 25px;
    left: 25px;
  }


  &__type, &__level {
    padding-top: 10px;
    padding-bottom: 10px;
    a {
      padding-right: 15px;
      cursor: pointer;
      &.selected, &:hover {
        color: color(turquoise);
      }
    }
  }

  &__type {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }


  &__level .button--text{
    margin-right: 15px;
    cursor: pointer;
    &.selected {
      color: color(turquoise);
    }
  }
  form {
    display: none;
  }

  &.open{
    border-radius: 0px;
    height: 480px;
    width: calc(100vw - 30px);
    @include media-breakpoint(tablet){
      width: 500px;
    }

    overflow-y: scroll;
  }

  &.open form {
    display: block;
  }

  &:not(.open) .open-close{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;

    h5 {
      position: absolute;
      @include center;
    }
  }

  &.open .open-close{
    cursor: pointer;
    width: auto;
    height: auto;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
