.event-list{
  &__past-events{
    min-height: 50vh;
  }
  &__show-past-button-wrapper{
    text-align: center;
    margin: 15px 0;
  }

  &__item{
    position: relative;

    &.with-image{
      .dummy-image{
        position: relative;
        z-index: 0;
        svg{
          position: absolute;
        }
        .fa{
          display: none;
        }
      }
    }
    &__text{
      &__date{
        &__wrap{
          display: inline-block;
          white-space: nowrap;
        }
      }
    }
  }
}
