.event-lists{
  padding-bottom: 75px;

  .content-filters{
    margin-bottom: 25px;
  }

  &__show-past-button-wrapper{
    text-align: center;
    margin: 15px 0;
  }

  &__past-events, &__upcoming-events{
    min-height: 50vh;
  }
}

.event-list{
  min-height: 50px;

  &__item{
    position: relative;
    &__rsvp{
      position: absolute;
      bottom: 0px;
      padding: 25px 0 15px 0;
      @include linear-gradient-vertical(color(black,base,0), color(black,base,1));
      text-align: center;
      width: 100%;
      display: block;
      &__text, .fa{
        color: color(turquoise, light) !important;
      }
      &__text{
        font-size: 0.8rem;
      }
      .fa {
        font-size: 1.2rem;
        padding-right: 5px;
      }
    }
    &:hover{
      .event-list__item__rsvp{
        &__text, .fa{
          color: color(turquoise) !important;
        }
      }
    }
    &__text{
      &__date{
        &__wrap{
          display: inline-block;
          white-space: nowrap;
        }
      }
    }
  }
}
