.topic{
  &__details{
    border-bottom: 1px solid color(black, base, 0.15);

    &__author-list{
      margin-top: 25px;
    }
    &__text-wrapper{
      @extend %clearfix;
      padding-bottom: 25px;
    }

    &__body{
      max-height: 425px;
      overflow: hidden;
      margin-bottom: 25px;
      @include fade-out(25%);
      @include transition(max-height 0.35s ease);
      &.expanded{
        @include fade-out(0px);
        max-height: 1000px;
      }
    }
  }

  &__content{
    margin-top: 50px;
    min-height: 25vh;
  }
}
