	<div class="dataviz">
		<div class="dataviz__title-container">
			{% if self.show_download_link %}
				<a class="dataviz__print-link" id="{{ self.container_id }}__print-link">{% include 'ui_elements/svg/print.html' %}</a>
				<a class="dataviz__download-link" id="{{ self.container_id }}__download-link">{% include 'ui_elements/svg/download.html' %}</a>
			{% endif %}
			{% if self.title %}
				<h3 class="dataviz__title">{{ self.title }}</h3>
			{% endif %}
			{% if self.subheading %}
				<div class="dataviz__subheading">{{ self.subheading }}</div>
			{% endif %}
		</div>
		<div class="dataviz__chart-area" id="{{ self.container_id }}" style="max-width: {{ self.max_width }}px"></div>
	</div>