.person-heading{
  padding-bottom: 25px;

  @include media-breakpoint(tablet){
    padding-bottom: 75px;
  }

  &__image{
    margin-bottom: 25px;
    img {
      display: block;
      margin: 0 auto;
      width: 175px;
      height: 175px;
      border-radius: 175px;
    }
  }
}
