{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_id %}na-post{% endblock %}
{% block header %}
    {% if page.include_header_footer %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block footer %}
    {% if page.include_header_footer %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block content %}
    {% if page.include_header_footer %}
    <div class="container margin-35">
        {% include 'components/post_heading_text.html' %}
    </div>
    {% endif %}
    <iframe src="{{ page.embed_url }}" style="width: 100vw; height: 100vh;"></iframe>
{% endblock %}
