@font-face {
    font-family: 'Icomoon';
    src: url('/static/fonts/icomoon/icomoon.eot');
    src: url('/static/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/icomoon/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}