@font-face {
    font-family: 'Meta Serif';
    src: url('/static/fonts/metaserifot/MetaSerifWeb-Book.eot');
    src: url('/static/fonts/metaserifot/MetaSerifWeb-Book.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/metaserifot/MetaSerifWeb-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Meta Serif';
    src: url('/static/fonts/metaserifot/MetaSerifWeb-BookItalic.eot');
    src: url('/static/fonts/metaserifot/MetaSerifWeb-BookItalic.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/metaserifot/MetaSerifWeb-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Meta Serif';
    src: url('/static/fonts/metaserifot/MetaSerifWeb-Bold.eot');
    src: url('/static/fonts/metaserifot/MetaSerifWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/metaserifot/MetaSerifWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Meta Serif';
    src: url('/static/fonts/metaserifot/MetaSerifWeb-BoldItalic.eot');
    src: url('/static/fonts/metaserifot/MetaSerifWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/metaserifot/MetaSerifWeb-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}