@font-face {
  font-family: 'Platform';
  src: url('#{$font-url}/fonts/platform/Platform-Bold-Web.eot');
  src: url('#{$font-url}/fonts/platform/Platform-Bold-Web.eot?#iefix') format('embedded-opentype'),
       url('#{$font-url}/fonts/platform/Platform-Bold-Web.woff') format('woff'),
       url('#{$font-url}/fonts/platform/Platform-Bold-Web.ttf') format('truetype'),
       url('#{$font-url}/fonts/platform/Platform-Bold-Web.svg') format('svg');
  font-style:   normal;
  font-weight: bold;
  font-stretch: normal;
}