@font-face {
  font-family: 'Platform';
  src: url('/static/fonts/platform/Platform-Bold-Web.eot');
  src: url('/static/fonts/platform/Platform-Bold-Web.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/platform/Platform-Bold-Web.woff') format('woff'),
       url('/static/fonts/platform/Platform-Bold-Web.ttf') format('truetype'),
       url('/static/fonts/platform/Platform-Bold-Web.svg') format('svg');
  font-style:   normal;
  font-weight: bold;
  font-stretch: normal;
}

@font-face {
  font-family: 'Platform Hairline';
  src: url('/static/fonts/platform_hairline/Platform-Hairline.eot');
  src: url('/static/fonts/platform_hairline/Platform-Hairline.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/platform_hairline/Platform-Hairline.woff') format('woff'),
       url('/static/fonts/platform_hairline/Platform-Hairline.ttf') format('truetype'),
       url('/static/fonts/platform_hairline/Platform-Hairline.svg') format('svg');
  font-style:   normal;
  font-weight: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Platform';
  src: url('/static/fonts/platform_light/Platform-Light.otf');
  font-style:   normal;
  font-weight: lighter;
  font-stretch: normal;
}