@font-face {
    font-family: 'Simplon';
    src: url('/assets/fonts/simplon/SimplonNorm-Regular-WebS.eot');
    src: url('/assets/fonts/simplon/SimplonNorm-Regular-WebS.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/simplon/SimplonNorm-Regular-WebS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Simplon';
    src: url('/assets/fonts/simplon/SimplonNorm-Bold-WebS.eot');
    src: url('/assets/fonts/simplon/SimplonNorm-Bold-WebS.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/simplon/SimplonNorm-Bold-WebS.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}