.program__about {
  background-color: color(white);
  padding: 35px;

  @include media-breakpoint(desktop){
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 80px;

    &.with-menu{
      padding-top: 50px;
    }
  }

  .program__about__menu span {
    display: block;
  }

  &:not(.with-menu) .figure.left{
    margin-left: 0 !important;
    max-width: 40% !important;
  }
}
