.promo__people-carousel{
  .slick-list {
    width: 100%;
    @include media-breakpoint(desktop){
      width: 80%;
    }
  }

  .slick-arrow {
    cursor: pointer;
    position: absolute;
    @include vertical-center;
    @include media-breakpoint(desktop){
      position: static;
    }
  }
}

.promo__people-carousel__person{
  white-space: nowrap;
  text-align: center;
  overflow: hidden;

  @include media-breakpoint(desktop){
    width: 80%;
  }

  &__image, &__text{
    white-space: normal;
    position: relative;
    @include media-breakpoint(desktop){
      left: 50px;
      text-align: left;
      vertical-align: middle;
      display: inline-block;
    }
  }
  &__image{
      width: 100px;
      height: 100px;
      margin: 0 auto 15px auto;
      @include media-breakpoint(desktop){
        width: 200px;
        height: 200px;
        margin: 0;
      }
      &__background{
        width: 100%;
        height: 100%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
  }

  &__text{
    @include media-breakpoint(desktop){
      padding-left: 35px;
      padding-right: 35px;
      width: 300px;

    }
  }
}
