.homepage{
  section:not(:last-child) {
    margin-bottom: 10px;
  }
  &__story-grid-section{
    max-height: 700px;
    position: relative;
    z-index: 1;
  }

  &__mission-statement-section {
    padding-top: 155px;
    padding-bottom: 105px;
  }

  &__events-section, &__publications-section {
    padding-top: 55px;
    padding-bottom: 55px;
    &__view-all{
      text-align: right;
    }
  }

  &__weekly-promo-section, &__subscribe-section{
    padding-top: 105px;
    padding-bottom: 105px;
  }
}

.homepage__mission-statement-section,
.homepage__weekly-promo-section,
.homepage__subscribe-section{
  .promo span, h3, .input{
    @include transition(opacity 1.35s ease, transform 1.35s ease);
    opacity: 0;
    @include transform(translateY(50px));
  }

  .promo span:nth-child(2){
    @include transition-delay(0.25s);
  }

  h3{
    @include transition-delay(0.5s);
  }

  .input{
    @include transition-delay(0.75s);
  }


  &.scroll-triggered{
    .promo span, h3, .input{
      @include transform(translateY(0px));
      opacity: 1;
    }
  }
}

.homepage__subscribe-section__email-input{

  .input {
    max-width: 750px;
  }

  input{
    width: 100%;
  }
}

.homepage__events-section{
  .col-4{
    position: relative;
    opacity: 0;
    @include transition(opacity 1s ease, transform 1s ease);
    @include transform(translateY(50px));

    &:nth-child(2){
      @include transition-delay(0.25s);
    }

    &:nth-child(3){
      @include transition-delay(0.5s);
    }
  }

  &.scroll-triggered {
    .col-4{
      @include transform(translateY(0px));
      opacity: 1;
    }
  }
}

.homepage__publications-section{
  .card-wrapper{
    position: relative;
    @include transform(translateY(50px));
    opacity: 0;
    @include transition(opacity 1s ease, transform 1s ease);

    &:nth-child(2){
      @include transition-delay(0.25s);
    }

    &:nth-child(3){
      @include transition-delay(0.5s);
    }

    &:nth-child(4){
      @include transition-delay(0.75s);
    }
  }

  &.scroll-triggered{
    .card-wrapper{
      @include transform(translateY(0px));
      opacity: 1;
    }
  }
}
