.home__panels{
  section:not(.home__panel__promo):not(.home__panel__subscribe){
    padding-top: 110px;
    padding-bottom: 110px;
  }
}

.home__panels {
  section.scroll-target > div {
    opacity: 0;
    @include transition(opacity 1s ease);
  }

  section.scroll-target.scroll-triggered > div {
    opacity: 1;
  }
}

.home__panels__search {
  margin-bottom: 115px;
}

.home__heading {
  padding-top: 115px;
  padding-bottom: 115px;
  background-color: color(beige);

  p {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
}

.home__panel__our-people, .home__panel__programs {
  padding-top: 0 !important;
  padding-bottom: 115px !important;
}


.home__panel__promo {
  background-color: color(beige);
  position: relative;
  padding-top: 110px;
  padding-bottom: 110px;

  @include media-breakpoint(tablet){
    padding-top: 0;
    padding-bottom: 0;
  }

  &__text {
    @include media-breakpoint(tablet){
      position: absolute;
      @include vertical-center;
    }
  }
}

.home__panel__body__aside {
  .aside__item{
    margin-bottom: 25px;
  }
}

.home__reel {
  > *:nth-child(2) {
    height: 90px;
  }

  @include media-breakpoint(tablet){
    height: 475px;
    overflow: hidden;
    > * {
      height: 475px !important;
    }
  }
}

.home__reel__frames{
  @include media-breakpoint(tablet){
    @include transition(top 1.2s ease);
    max-height: none;
    position: relative;
  }

  &.pause {
    @include transition(none);
  }
}

.home__reel__frame {
  position: relative;
  display: none;
  opacity: 0;
  max-width: 600px;
  @include transition(opacity 0.55s ease, visibility 0.55s ease);
  @include media-breakpoint(tablet){
    display: block;
    height: 475px;
  }

  &.active {
    display: block;;
    opacity: 1;
  }
  h1, &__wrapper{
    @include media-breakpoint(tablet){
      position: absolute;
      @include vertical-center;
    }
  }

  h3 {
    margin-bottom: 40px;
  }
}

.pause .home__reel__frame{
  @include transition(none);
}

.home__panel__image-aside__text {
  &__wrapper{
    display: inline-block;
    vertical-align: middle;
  }

  &:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.home__panel__image-aside__image{
    position: relative;
    white-space: nowrap;
    img {
      vertical-align: middle;
      display: inline-block;
      width: 100vw;
      margin-left: -15px;
      max-width: 800px;
      height: auto;

      @include media-breakpoint(tablet){
        width: calc(100% + 15px);
      }

      @media (min-width: 1080px) {
        width: calc(50vw - 10px);
        margin-left: calc(-50vw + 525px);
      }

      @media (min-width:1600px) {
        margin-left: calc(-800px + 515px);
      }


    }

    &:after{
      display: inline-block;
      vertical-align: middle;
      content: '';
      height: 100%;
    }
}

.our-funding__nav a, .our-people__nav a{
  color: color(black, base, 0.3);
  @include transition(color 0.15s ease);
  &.active, &:hover {
    color: color(black, base, 1);
  }
}

.home__fellowship{
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  position: relative;

  h2 {
    cursor: pointer;
  }

  &__more {
    max-height: 0;
    overflow: hidden;
    @include transition(all 0.3s ease);
    opacity: 0;

    u {
      text-decoration: none;
    }

    &__description{
      margin-top: 25px !important;
      margin-bottom: 25px !important;
    }

    &__button{
      padding-bottom: 25px;
    }

    &__label{
      .bold {
        padding-right: 5px;
      }
      display: inline-block;
      margin-right: 25px;
    }
  }

  &.expanded {
    .home__fellowship__more{
      max-height: none;
      opacity: 1;
    }
  }

  .icon-plus {
    top: 35px;
    display: inline-block;
    position: absolute;
    right: 0;
  }
}
