.personpage{
  background: color(beige);
}

.person {
  padding-bottom: 115px;
}

.person__card{
  padding: 35px;
  @include media-breakpoint(desktop){
    padding: 80px;
    margin-bottom: 10px;
  }
}

.person__image img{
  max-width: 100%;
  height: auto;
}


.person__social a {
  margin-right: 15px;
}
