.home-about-description{
  padding: 75px 0;
  text-align: center;
  &__heading{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  &__description{
    max-width: 66.666%;
    margin: 35px auto;
  }
}
