&__button-and-icons{
  padding-left: 15px;
  white-space: nowrap;
  & > div {
    display: inline-block;
  }

  i {
    padding-left: 10px;
    padding-right: 10px;
  }
}
&__donate{
  line-height: $header-height;
  padding-left: 5px;
  padding-right: 5px;
  &__button{
    display: initial !important;
  }
}
