&__button-and-icons{
  white-space: nowrap;
  & > div {
    display: inline-block;
  }
}
&__donate{
  line-height: $header-height;
  padding-right: 10px;
  &__button{
    display: initial !important;
  }
}
