.header-dropdown-links{
  &__link{
    cursor: pointer;
    border-bottom: 1px solid $link-border-color;
    label{
      margin-top: 0px;
      margin-bottom: 0px;
    }
    label a{
      padding: 7.5px;
    }
    &:hover{
      background: $link-border-color;
    }
    li {
      display: block;
    }
  }
}
