&__dropdown{
  float: left;
  position: relative;

  &__main-link{
    display: block;
    position: relative;
    line-height: $header-height;
    border-bottom: none !important;
    padding: 0 0.75em;

    cursor: pointer;
    text-decoration: none;

    &:not(.no-drop):after{
      // down arrow
      display: inline-block;
      content: '';
      position: relative;
      @include transform(rotate(45deg) translateY(-3.5px));
      border-right: 1px solid color(gray, dark);
      border-bottom: 1px solid color(gray, dark);
      height: 4px;
      width: 4px;
      margin: 0 5px 0 5px;
    }
  }

  &__links{
    position: absolute;
    z-index: 200;
    top: $header-height;
    display: none;
    background: color(black);

    .header-dropdown-content{
      display: none;
    }

    &.wide{
      width: 800px;
      @include horizontal-center;
    }

    &:not(.wide){
      width: 150px;
      left: 0;
    }
  }

  &:hover, &.active{
    // dropdown hover/active state
    .header__nav__dropdown-list__dropdown__links{
      display: block;
    }

    label {
      color: color(white) !important;
    }

    .header__nav__dropdown-list__dropdown__main-link{
      color: color(black);
      position: relative;
      z-index: 201;

      &:before{
        position: absolute;
        content: '';
        display: block;
        background: color(black);
      }

      label {
        position: relative;
        z-index: 1;
      }

      &:before{
        // box around main link on hover
        top: 0;
        left: 0;
        height: 100%;
        right: 0;
        z-index: 0;
        // border-top: 1px solid color(gray, light);
        // border-left: 1px solid color(gray, light);
        // border-right: 1px solid color(gray, light);
        background: color(black);
        //box-shadow: 0px -6px 10px 0px color(black,base,0.2),
        // 0px -4px 2px -3px color(black,base,0.2),
        // -4px 0px 2px -3px color(black,base,0.2),
        // 4px 0px 2px -3px color(black,base,0.2);
      }
    }
  }
}
