&__dropdown{
  float: left;
  // position: relative;

  &__main-link{
    display: block;
    position: relative;
    line-height: $header-height;
    border-bottom: none !important;
    padding: 0 0.85em;

    cursor: pointer;
    text-decoration: none;
  }

  &__main-link.drop {
      &:after{
        // down arrow
        display: inline-block;
        content: '';
        position: relative;
        @include transform(rotate(45deg) translateY(-3.5px));
        border-right: 1px solid color(gray, dark);
        border-bottom: 1px solid color(gray, dark);
        height: 4px;
        width: 4px;
        margin: 0 5px 0 5px;
      }

      &:before{
        // caret
        content: '';
        display: block;
        height: 12px;
        width: 12px;
        background: color(white);
        left: 50%;
        bottom: -2px;
        visibility: hidden;
        opacity: 0;
        border-top: 1px solid color(black, base, 0.1);
        border-right: 1px solid color(black, base, 0.1);
        position: absolute;
        z-index: 300;
        @include transform(rotate(-45deg) translate(-40%, 0px));
        @include transition-delay(0.3s);
        @include transition(opacity 0.9s ease);
      }
  }

  &:hover, &.active{
    // dropdown hover/active state
    .header__nav__dropdown-list__dropdown__links{
      visibility: visible;
      opacity: 1;
      @include transform(translateY(0px));
    }

    .header__nav__dropdown-list__dropdown__main-link.drop:before{
      opacity: 1;
      visibility: visible;
      @include transform(rotate(-45deg) translate(-50%, 0px));
    }
  }

  &__links{
    position: absolute;
    z-index: 200;
    top: $header-height;
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    left: calc(-100vw + 1236px);
    padding: 25px;
    border-top: 1px solid color(black, base, 0.075);
    box-shadow: 0px 20px 40px 0px color(black, base, 0.15);
    background: $dropdown-background-color;
    @include transform(translateY(-10px));
    @include transition(transform 0.3s ease, opacity 0.3s ease, visibilty 0.3s ease);

    a {
      display: block;
    }
  }
}
