.header-dropdown-links{

  &__link{
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 15px;
    border-bottom: 1px solid $link-border-color;
    label{
      margin-top: 0px;
      margin-bottom: 0px;
    }
    label a{
      position: relative;
      span {
        position: relative;
        display: inline-block;
        &:after{
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1.5px;
          content: '';
          display: block;
          @include transform(translateX(-100%));
          box-shadow: 0px 1px 0px 0px color(turquoise);
          @include transition(transform 0.15s ease);
        }
      }
    }
    &:hover{
      label a span:after {
        @include transform(translateX(0%));
      }
    }
    li {
      display: block;
    }
  }
}

.programs-dropdown, .about-dropdown{
  text-align: center;
}

.programs-dropdown-wrapper.container{
  text-align: left;
  padding-left: 15px !important;
  padding-right: 15px !important;
  // max-width: 1200px;
  margin: 0 auto;
}

.about-dropdown-wrapper.container{
  text-align: left;
  margin: 0 auto;
  padding-left: 15px !important;
  padding-right: 15px !important;
  // max-width: 1200px;

  .about-text, .about-image{
    display: inline-block;
    vertical-align: middle;
  }

  .about-text{
    width: 350px;
    label {
      line-height: 1.125rem;
    }
  }

  .about-image{
    width: 210px;
    img {
      width: 170px;
      height: auto;
    }
  }
}
