.header--expanded{
  .header{
    height: 100px;
    padding-top: 25px;
    margin-bottom: 15px;
    z-index: 500;
    background: color(white);
    @include media-breakpoint(desktop){
      margin-bottom: 25px;
      padding-top: 0;
      height: $header-expanded-height;
    }

    &__logo-wrapper {
      @extend .col-lg-12;
      padding-left: 0;
      padding-right: 0;
      @include media-breakpoint(desktop){
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }

    &__wrapper{
      position: relative;
      border-bottom: none;
      box-shadow: none;
      height: 100%;
      margin: 0 auto;
    }

    &__logo{
      width: 150px;
      height: 38px;
    }

    &__nav{
      padding: 0 !important;
      & > * {
        float: left;
      }

      &__button-and-icons{
        position: absolute;
        right: 15px;
      }

      &__donate{
        line-height: normal;
      }

      &__dropdown-list{
        margin-left: -5px;
        &__dropdown{
          &__links{
            top: #{$header-expanded-height + 15px};
            &.box{
              border-top: 1px solid color(gray, base, 0.65);
              border-top-right-radius: $border-radius;

              &.wide{
                border-top-left-radius: $border-radius;
                width: calc(100% + 20px);
                left: -14px;
              }

              &:not(.wide){
                margin-left: -9px;
              }
            }
          }

          &__main-link{
            &:before{
              top: -0.5em !important;
              height: auto !important;
              bottom: -15px !important;
            }
            line-height: normal;
            top: 1px;
            left: -5px;
          }
        }
      }
    }
  }
}
