.header-dropdown-links__image{
  .about-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //filter: grayscale(100%);
    width: 100%;
    height: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .subtitle{
    padding-top: 15px;
    padding-bottom: 10px;
  }
}
