

.header__loading{
  position: absolute;
  height: 2px;
  overflow: hidden;
  width: 100vw;
  left: 0;
  right: 0;
  opacity: 0;
  bottom: -2px;
  visibility: hidden;
  background: color(turquoise, base, 0.3);
  @include transition(visibility 0.5s ease, opacity 0.5s);
}

body.is-loading {
  .header__loading{
    opacity: 1;
    visibility: visible;
  }
}

.header__loading div {
  width: 150px;
  height: 2px;
  border-radius: 15px;
  position: absolute;
  display: inline-block;
  left: -150px;
  bottom: 0;
  background-color: #ABEAD5;
  background-color: color(turquoise);
  //box-shadow: 0px 0px 2px 1px #ABEAD5;
  @include animation(a 3s infinite cubic-bezier(.2,.64,.81,.23));
}
.header__loading div:nth-child(2) {
  animation-delay: 100ms;
}
.header__loading div:nth-child(3) {
  animation-delay: 200ms;
}
.header__loading div:nth-child(4) {
  animation-delay: 300ms;
}

@include keyframes(a) {
  0% {
    left: -125px
  }
  85% {
    left: 100%

  }
  100% {
    left:100%
  }
}
