.header__nav{
  display: none;
  @include media-breakpoint(desktop){
    display: block;
  }
  position: static;
  @extend %clearfix;

  & > * {
    float: right;
  }

  @import 'button-and-icons';

  &__dropdown-list{
    padding-right: 10px;
    @extend %clearfix;
    @import 'dropdown';
  }

  &__mobile-menu-icon {
    text-align: center;
  }
}
