.header {
  position: relative;
  height: $header-height;
  z-index: 175;

  &__wrapper{
    position: relative;
    height: $header-height;
    background: color(white);
    @include border-bottom(gray, ultra-light);
    box-shadow: inset 0px -3px 1px -3px color(black,base,0.35);
    color: color(gray);
    display: block;
    width: 100%;
    margin: 0 !important;
    z-index: 175;
    @include transform(translateZ(0));
    @include transition(top 0.35s ease-in-out);

    & > .row{
      width: 100%;
      max-width: $max-site-width;
      margin: 0 auto;
    }
  }

  @include media-breakpoint(large-desktop){
    padding: 0 0 0 0;
  }

  &__logo-wrapper{
    height: $header-height;
    position: relative;
  }

  &__logo{
    position: absolute;
    @include vertical-center;
    line-height: $header-height;
    width: 115px;
    height: 29px;
  }
}

body:not(.header--expanded){
  .scroll-entered{
    .header__wrapper{
      position: fixed;
      top: -$header-height;
    }
  }
}

body.scroll-reverse:not(.header--expanded), body.mobile-menu-open:not(.header--expanded){
  .scroll-left{
    .header__wrapper{
      top: 0;
    }
  }
}

@import 'dropdown-links';
@import 'expanded';
@import 'nav';
