.header {
  position: relative;
  height: $header-height;

  &__wrapper{
    height: $header-height;
    background: color(white);
    @include border-bottom(gray, base, 0.45);
    color: color(gray);
    display: block;
    width: 100%;
    margin: 0 !important;
    padding: 0 25px 0 25px;
    z-index: 1000;
    @include transition(top 0.35s ease-in-out);

    & > .row{
      width: 100%;
      max-width: $max-site-width;
      margin: 0 auto;
    }
  }

  @include media-breakpoint(large-desktop){
    padding: 0 0 0 0;
  }

  &__logo-wrapper{
    height: $header-height;
    position: relative;
  }

  &__logo{
    position: absolute;
    @include vertical-center;
    line-height: $header-height;
    width: 134px;
    height: 34px;
  }
}

body:not(.header--expanded){
  .scroll-entered{
    .header__wrapper{
      position: fixed;
      top: -$header-height;
    }
  }
}

body.scroll-reverse:not(.header--expanded){
  .scroll-left{
    .header__wrapper{
      top: 0;
    }
  }
}

@import 'dropdown-links';
@import 'expanded';
@import 'nav';
@import 'panel-subheader';
