$dropdown-background-color: color(white, base);
$dropdown-border-color: color(white, base, 0.075);
$link-border-color: color(white, base, 0);
$link-text-color: color(black);

body:not(.homepage):not(.programpage):not(.homepostpage) .header__wrapper > div{
  box-shadow: 0px 1px 0px 0px color(black, base, 0.075);
}

.header {
  position: relative;
  height: $header-height;
  z-index: 175;

  &__wrapper{
    position: relative;
    height: $header-height;
    background: color(white);
    display: block;
    width: 100%;
    margin: 0 !important;
    z-index: 175;
    @include transition(transform 0.35s ease);
    & > .row{
      width: 100%;
      max-width: $max-site-width;
      margin: 0 auto;
    }
  }

  @include media-breakpoint(large-desktop){
    padding: 0 0 0 0;
  }

  &__logo-wrapper{
    height: $header-height;
    position: relative;
  }

  &__logo{
    position: absolute;
    @include vertical-center;
    line-height: $header-height;
    width: 94px;
    height: 24px;
  }
}

body:not(.header--expanded){
  .scroll-entered{
    .header__wrapper{
      position: fixed;
      top: -$header-height;
      @include transform(translateY(0));

      & > div {
        box-shadow: 0px 1px 0px 0px color(black, base, 0.075);
      }
    }
  }
}

body.scroll-reverse:not(.header--expanded):not(.scroll-disabled), body.mobile-menu-open:not(.header--expanded){
  .scroll-left{
    .header__wrapper{
      @include transform(translateY(#{$header-height}));
    }
  }
}

@import 'dropdown-links';
@import 'nav';
@import 'search-box';
@import 'image';
@import 'transparent';
