.checkbox {
  $root: &;
  $indicator-size: 12px;

  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 22px;
  margin-top: 15px;
  margin-bottom: 15px;

  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -10px;
    top: -10px;
    opacity: 0;
    z-index: 5;
  }

  &__indicator {
    position: absolute;
    top: 5px;
    left: 0;
    width: $indicator-size;
    height: $indicator-size;
    background: color(black, base, 0.3);

    #{$root}--radio-button & {
      border-radius: 50%;
    }

    #{$root}__input:disabled ~ & {
      pointer-events: none;
      opacity: .6;
      background: #e6e6e6;
    }

    &::after {
      position: absolute;
      display: none;
      content: '';
      top: 0.5 * $indicator-size;
      left: 0.5 * $indicator-size;
      width: 0px;
      height: 0px;
      @include transition(all 0.15s linear);
      background: color(black, base, 0);
      display: block;

      #{$root}__input:checked ~ & {
        top: 0px;
        left: 0px;
        width: $indicator-size;
        height: $indicator-size;
        background: color(black, base, 1);

        #{$root}--radio-button & {
          border-radius: 50%;
        }
      }

      #{$root}:hover #{$root}__input:not([disabled]):checked ~ &,
      #{$root}__input:checked:focus ~ & {
        background: #0e647d;
      }

      #{$root}__input:disabled ~ & {
        background: #7b7b7b;
      }
    }
  }
}

/* Hover and focus states */
// .radio-button:hover input ~ .radio-button__indicator,
// .radio-button input:focus ~ .radio-button__indicator {
//   background: color(black, base, 0.6);
// }

/* Checked state */
// .radio-button input:checked ~ .radio-button__indicator {
//   background: color(black, base, 1);
// }
