{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="author {% firstof class 'short-bio' %} {{ author.profile_image|yesno:"with-image," }}">
  <div class="row no-gutters">
    {% if author.profile_image %}
      {% image author.profile_image fill-300x300 as author_image %}
      <div class="author__image-wrapper">
        <div class="author__image" style="background-image: url({{ author_image.url }})"></div>
      </div>
    {% endif %}
    <div class="author__text">
      <a href="{{author.url}}" class="author__link-wrapper">
        {% if author.short_bio %}
          <div class="author__text__short-bio">
            {{ author.short_bio | richtext }}
          </div>
        {% endif %}
        <p class="author__text__name">
          {{ author.first_name }} {{ author.last_name }}
        </p>
        <h6 class="author__text__position inline">
          {{ author.position_at_new_america }}
        </h6>
      </a>
    </div>
  </div>
  <div class="author__contact"></div>
</div>
