{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% image post.story_image min-1350x500 as post_image %}

<div class="card lg">
  <a href="{{post.url}}" class="row no-gutters">
    <div class="col-8" style="padding-right: 3px;">
      <div class="card__image">
        <div class="card__image__background" style="background-image: url({{post_image.url}})"></div>
      </div>
    </div>
    <div class="col-4">
      <div class="card__text">
        <h2 class="card__text__title margin-top-0 block">{{post.title}}</h2>
        <label class="card__text__subtitle subtitle block">{{post.story_excerpt}}</label>
        <label class="card__text__program caption margin-bottom-0 block">{{post.parent_programs.all.0.title}} {{post.content_type}}</label>
      </div>
    </div>
    </a>
</div>
