{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% image post.story_image fill-925x430 as post_image_lg %}
{% image post.story_image fill-32x15 as post_image_thumb %}

<div class="card lg">
  <a href="{{post.url}}" class="row no-gutters">
    <div class="col-md-6 col-lg-8">
      <div class="card__image">
        <div class="card__image__background" style="background-image: url({{post_image_thumb.url}});"></div>
        <img src="{{post_image_lg.url}}" class="fade-in-image" onload="this.classList.add('loaded');">
      </div>
    </div>
    <div class="col-md-5 col-lg-4">
      <div class="card__text">
        <h2 class="card__text__title margin-top-0 block">
          <span><u>{% firstof post.seo_title post.title %}</u></span>
        </h2>
        {% if post.story_excerpt or post.search_description or post.subheading %}<h6 class="card__text__subtitle margin-10">{% firstof post.story_excerpt post.search_description post.subheading %}</h6>{% endif %}
        <h6 class="card__text__program caption margin-top-10 margin-bottom-0">{{post.parent_programs.all.0.title}} {% firstof post.other_content_type post.content_type %}</h6>
      </div>
    </div>
    </a>
</div>
