{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% image post.story_image max-300x240 as post_image %}

<div class="card list">
  <a href="{{post.url}}">
    <div class="card__image">
      <div class="card__image__background" style="background-image: url({{post_image.url}})"></div>
    </div>
    <div class="card__text">
      <label class="button--text block border-0 margin-0">{{post.date|date:"m-d-y"}}</label>
      <label class="bold margin-25">{{post.title}}</label>
      <label class="block margin-0">{{post.parent_programs.all.0.title}} {{post.content_type}}</label>
    </div>
  </a>
</div>
