{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% image post.story_image fill-600x460 as post_image_lg %}
{% image post.story_image fill-30x23 as post_image_thumb %}

<div class="card md">
  <a href="{{post.url}}" class="row gutter-0">
    <div class="col-6 col-md-12">
      <div class="card__image">
        <div class="card__image__background" style="background-image: url({{post_image_thumb.url}});"></div>
        <img src="{{post_image_lg.url}}" class="fade-in-image" onload="this.classList.add('loaded');"/>
      </div>
    </div>
    <div class="col-6 col-md-12">
      <div class="card__text">
        <!-- <h3 class="card__text__title bold margin-top-0 block">{{post.title}}</h3> -->
        <h4 class="card__text__title margin-0">
          <span><u>{{post.title}}</u></span>
        </h4>
        <h6 class="card__text__program caption margin-top-10 margin-bottom-0">{{post.parent_programs.all.0.title}} {{post.content_type}}</h6>
      </div>
    </div>
  </a>
</div>
