{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% image post.story_image fill-300x240 as post_image %}

<div class="card list">
  <a href="{{post.url}}">
    <div class="card__image{% if not post.story_image %} no-image{%endif%}">
      <img src="{{post_image.url}}" class="fade-in-image"/>
    </div>
    </a>
  <div class="card__text">
    <a href="{{post.url}}">
      <label class="card__text__date margin-top-0 block">{{post.date|date:"M. jS, Y"}}</label>
      <label class="card__text__title bold block">{{post.title}}</label>
    </a>
    <label class="card__text__description subtitle block">
      {% for author in post.post_author.all %}<a href="{{author.url}}" class="inline">{{author.first_name}} {{author.last_name}}</a>{% if forloop.counter != post.authors.all|length %} + {% endif %}{% endfor %}
    </label>
    <a href="{{post.url}}">
      <label class="card__text__program caption margin-bottom-0 block">{{post.parent_programs.all.0.title}} {{post.content_type}}</label>
    </a>
  </div>

</div>
