{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% image event.story_image fill-700x510 as event_image_lg %}
{% image event.story_image fill-150x110 as event_image_thumb %}

<div class="card event-card">
  <a href="{{event.url}}">
    <div class="card__image{% if not event.story_image %} no-image{%endif%}">
      <img src="{{event_image_lg.url}}" class="fade-in-image" onload="this.classList.add('loaded');"/>
    </div>
  </a>
  <div class="card__text">
    <a href="{{event.url}}">
      <h6 class="margin-0">{{event.date|date:"M. jS, Y"}}</h6>
      <!-- <h3 class="card__text__title bold block">{{event.title}}</h3> -->
      <h4 class="card__text__title link margin-10">
        <span><u>{% firstof event.seo_title event.title %}</u></span>
      </h4>
      <h6 class="margin-10">{{event.story_excerpt}}</h6>
      <h6 class="caption margin-0">
        {% include 'components/_address_text.html' with address_text=event city_state_only=True %}
      </h6>
    </a>
    <div class="event__rsvp">
      <a href="{{event.rsvp_link}}" target="_blank" className="link">
        <h5 class="with-caret--right margin-0"><u>RSVP</u></h5>
      </a>
    </div>
  </div>
</div>
