<form class="content-list-filters container" action="{{ pageurl }}" method="get">

{% if subprograms %}
  <div class="content-list-filters__subprogram">
    <select name="subprogram_id">
      <option value="">All Initiatives</option>
      {% for subprogram in subprograms %}
      <option value="{{subprogram.id}}">{{subprogram.title}}</option>
      {% endfor %}
    </select>
  </div>
{% endif %}
  <div class="content-list-filters__date">
    <input class="date-picker" name="date">
  </div>
  <div class="content-list-filters__buttons">
    <a class="button content-list-filters__buttons__search" value="Search" disabled>
      Update Search
    </a>
    <a class="content-list-filters__buttons__reset" href="{{ self.url }}">Reset</a>
  </div>

</form>
