{% load wagtailcore_tags %}

<div class='small-12 large-6 columns'>
  <div class='border-panel'>
    <ul class='border-panel__list has-{{ items|length }}-children'>
      {% for item in items %}
        {% if item.value.post %}
          {% with item.value.post as item %}
            {% include 'components/feature_carousel_item.html' with item=item page_context=page_context %}
          {% endwith %}
        {% else %}
          {% include 'components/feature_carousel_item.html' with item=item page_context=page_context %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
