{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

<li class='border-panel__item'>
  <div class='border-panel__content'>
    <div class='border-panel__text'>
      <div class='border-panel__info'>
        <h5 class='border-panel__info__content-type'>
          {% if page_context == 'homepage' %}
            {% if item.parent_programs %}
              {% for program in item.parent_programs.all %}
                {{ program }}
                {% list_separator forloop.revcounter0 %}
              {% endfor %}
            {% endif %}
          {% generate_content_type_line item.content_type %}
          {% endif %}
        </h5>
        {% if item.date %}
          <h5 class='border-panel__info__date'>{{ item.date }}</h5>
        {% endif %}
      </div>
      <div class='border-panel__title'><a href="{{ item.url }}">{{ item.title }}</a></div>
      <p class='border-panel__description'>{{ item.story_excerpt }}</p>
      <a href="{{ item.url }}"><div class='button black'>Read More</div></a>
    </div>
  </div>
</li>
