{% load wagtailimages_tags utilities %}

<section class='container featured-stories side-image'>
  <div class="row">
    {% for story in stories %}
    <div class='col-md-4 featured-story'>
      <a class="featured-story__link-wrapper row no-gutters" href="{{ story.url }}">
        {% if story.specific.story_image %}
          {% image story.specific.story_image fill-350x175 as story_image %}
          <div class="featured-story__image-wrapper col-4 col-sm-6">
            <div class='featured-story__image'
              style="background-image: url({{story_image.url}})">
            </div>
          </div>
          <div class='featured-story__text col-8 col-sm-6'>
        {% else %}
          <div class='featured-story__text no-image'>
        {% endif %}
          {% generate_content_type_line story.content_type as label %}
            {% if label %}
            <label class="featured-story__text__label">
              {{ label }}
            </label>
            {% endif %}
            <h4 class="featured-story__text__heading">
                {% if story.seo_title %}{{ story.seo_title }}{% else %}{{ story.title }}{% endif %}
            </h4>
            {% if story.specific.story_excerpt %}
              <!-- <p class="featured-story__text__description">
                {{ story.specific.story_excerpt }}
              </p> -->
            {% endif %}
          </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
