<footer class="footer mobile container--full-width">
	<section class='footer__wrapper container--wide'>
		<div class="row">
			<div class="footer__logo-wrapper col-sm-12">
				<a href="/">
					<div class="footer__logo logo md"></div>
				</a>
			</div>
		</div>
		<div class="footer__content">
      <ul class="footer-mobile__content-list">
        <li><a href="/our-story"><label>Our Story</label></a></li>
        <li><a href="/publications"><label>Publications</label></a></li>
        <li><a href="/programs"><label>Programs</label></a></li>
        <li><a href="/events"><label>Events</label></a></li>
        <li><a href="/our-people"><label>Our People</label></a></li>
        <li><a href="/jobs"><label>Jobs</label></a></li>
        <li><a href="/press"><label>Press</label></a></li>
        <li><a href="/contact-us"><label>Contact Us</label></a></li>
      </ul>
		</div>
	</section>
</footer>
