<footer class="footer mobile container--full-width">
	<section class='footer__wrapper container--wide'>
		<h2 class="centered margin-top-15 margin-bottom-15px">New America</h2>
		<div class="footer__content">
      <ul class="footer-mobile__content-list margin-bottom-0">
        <li><a href="/our-story/"><h6 class="inline">Our Story</h6></a></li>
        <li><a href="/publications/"><h6 class="inline">Publications</h6></a></li>
        <li><a href="/programs/"><h6 class="inline">Programs</h6></a></li>
        <li><a href="/events/"><h6 class="inline">Events</h6></a></li>
        <li><a href="/our-people/"><h6 class="inline">Our People</h6></a></li>
        <li><a href="/jobs/"><h6 class="inline">Jobs & Fellowships</h6></a></li>
        <li><a href="/press/"><h6 class="inline">Press</h6></a></li>
        <li><a href="/contact-us/"><h6 class="inline">Contact Us</h6></a></li>
      </ul>
		</div>
	</section>
</footer>
