<footer class="footer container--full-width">
	<section class='footer__wrapper container--wide'>
		<div class="row">
			<div class="footer__logo-wrapper col-sm-12">
				<a href="/">
					<div class="footer__logo logo md"></div>
				</a>
			</div>
		</div>
		<div class="footer__content row">
			<div class="footer__content__programs col-sm-3">
				<h4>Programs</h4>
				<ul class="no-inline">
					{% for d in program_data %}
					<li><a href="{{d.program.url}}"><label>{{d.program.title}}</a></label></li>
					{% endfor %}
				</ul>
			</div>
			<div class="footer__content__network-and-events col-sm-3">
				<div class="footer__content__network-and-events__network">
					<h4>National Network</h4>
					<ul class="no-inline">
						<li><a><label>Washington, DC</label></a></li>
						<li><a><label>New York</label></a></li>
						<li><a><label>San Francisco</label></a></li>
						<li><a><label>Chicago</label></a></li>
					</ul>
				</div>
				<div class="footer__content__network-and-events__events">
					<h4>Events</h4>
					<ul class="no-inline">
						<li><a href="/events"><label>All Events</a></label></li>
						<li><a href="/events"><label>Annual Conference</a></label></li>
					</ul>
				</div>
			</div>
			<div class="footer__content__publications col-sm-3">
				<h4>Publications</h4>
				<ul class="no-inline">
					<li><a><label>Blog Posts</label></a></li>
					<li><a><label>Books</label></a></li>
					<li><a><label>In Depth</label></a></li>
					<li><a><label>In the News</label></a></li>
					<li><a><label>Podcasts</label></a></li>
					<li><a><label>Policy Papers</label></a></li>
					<li><a><label>Press Releases</label></a></li>
					<li><a><label>Testimonies</label></a></li>
					<li><a><label>The Weekly</label></a></li>
				</ul>
			</div>
			<div class="footer__content__about col-sm-3">
				<div class="footer__content__about__pages">
					<h4>About</h4>
					<ul class="no-inline">
						<li><a><label>Our Story</label></a></li>
						<li><a><label>People</label></a></li>
						<li><a><label>Funding</label></a></li>
						<li><a><label>Fellowships</label></a></li>
						<li><a><label>Jobs & Internships</label></a></li>
						<li><a><label>Press</label></a></li>
						<li><a><label>Contact Us</label></a></li>
					</ul>
				</div>
				<div class="footer__content__about__social">
					<h4>Social Media</h4>
					<ul class="no-inline">
						<li><a><label>Facebook</label></a></li>
						<li><a><label>Twitter</label></a></li>
						<li><a><label>LinkedIn</label></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</footer>
