<footer class="footer desktop container--full-width">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h2 class="margin-top-0 margin-bottom-15">New America</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<label class="block margin-top-0 margin-bottom-25">740 15th Street NW, Suite 900<br/>Washington, DC 20005</label>
				<div class="footer__social">
					<a href="https://twitter.com/NewAmerica" target="_blank"><i class="fa fa-twitter circle"></i></a>
					<a href="https://www.facebook.com/NewAmerica" target="_blank"><i class="fa fa-facebook circle"></i></a>
					<a href="https://www.linkedin.com/company/new-america-foundation" target="_blank"><i class="fa fa-linkedin circle"></i></a>
				</div>
			</div>
			<div class="col-6">
				<div class="row">
					<div class="col-4">
						<label class="block link margin-top-0 margin-bottom-25">
							<a href="/programs"><u>Programs</u></a>
						</label>
						<label class="block link margin-bottom-25">
							<a href="/events"><u>Events</u></a>
						</label>
						<label class="block link margin-bottom-25">
							<a href="/publications"><u>Publications</u></a>
						</label>
						<label class="block link margin-bottom-0">
							<a href="/Subscribe"><u>Subscribe</u></a>
						</label>
					</div>
					<div class="col-4">
						<label class="block link margin-top-0 margin-bottom-25">
							<a href="/our-story"><u>Mission</u></a>
						</label>
						<label class="block link margin-bottom-25">
							<a href="/our-people"><u>People</u></a>
						</label>
						<label class="block link margin-bottom-25">
							<a href="/our-funding"><u>Funding</u></a>
						</label>
						<label class="block link margin-bottom-0">
							<a href="/partners-in-residence"><u>Partners in Residence</u></a>
						</label>
					</div>
					<div class="col-4">
						<label class="block link margin-top-0 margin-bottom-25">
							<a href="/contact-us"><u>Contact</u></a>
						</label>
						<label class="block link margin-bottom-25">
							<a href="/jobs"><u>Jobs + Internships</u></a>
						</label>
						<label class="block link margin-bottom-25">
							<a href="/fellowships"><u>Fellowships</u></a>
						</label>
						<label class="block link margin-bottom-0">
							<a href="/Press"><u>Press</u></a>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
