{% load utilities %}

{% split_program_list program_data as program_groups %}
<div class="row">
{% for pg in program_groups %}
  <div class="header-dropdown-links col-md-4">
    {% for p in pg %}
    <div class="header-dropdown-links__link">
      <a href="{{p.program.url}}" class="header-dropdown__link__header">
        <h4>{{p.program.title}}</h4>
      </a>
      <ul>
      {% for subprogram in p.subprograms %}
        <li>
          <a class="header-link-list__item__subprogram-link" href="{{subprogram.url}}">
            <label>
              {{subprogram.title}}
            </label>
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
{% endfor %}
</div>
