<!-- floated right, so this is in opposite order -->
<div class="header__nav__search">
  <div class="header__nav__search__input">
    <div class="input">
      <form action="/search/?query=value" method="get" class="header__nav__search__form">
        <input type="text" autocomplete="off" name="query" id="search-input" placeholder="Search" />
        <input type="submit" value="Search" class="header__nav__search__submit button--text"/>
      </form>
    </div>
  </div>
  <button class="header__nav__search__icon">
    <div class="sr-only">Search</div>
    {% include 'components/search-icon.html' %}
  </button>
</div>
