{% load wagtailimages_tags %}
{% image about_pages.0.value.specific.story_image fill-300x240 as story_image_1 %}
{% image about_pages.1.value.specific.story_image fill-300x240 as story_image_2 %}
<div class="about-dropdown-wrapper">
<div class="row">
    {% for a in about_pages %}
      {% if forloop.counter == 1 %}
      <div class="col-auto">
        <div class="header-dropdown-links__image margin-15">
          <a href="{{a.value.url}}">
            <div class="about-image" style="background-image:url({{story_image_1.url}})"></div>
            <label class="subtitle block margin-0">
              <span>{{a.value.title}}</span>
            </label>
            <label class="block margin-0">
              {{a.value.specific.search_description}}
            </label>
          </a>
        </div>
      </div>
      {% endif %}
       {% if forloop.counter == 2 %}
       <div class="col-auto">
        <div class="header-dropdown-links__image margin-15">
          <a href="{{a.value.url}}">
            <div class="about-image" style="background-image:url({{story_image_2.url}})"></div>
            <label class="subtitle block margin-0">
              <span>{{a.value.title}}</span>
            </label>
            <label class="block margin-0">
              {{a.value.specific.search_description}}
            </label>
          </a>
        </div>
        </div>
       {% endif %}
    {% endfor %}
  <div class="col-auto">
    {% for a in about_pages %}
      {% if forloop.counter > 2 %}
      <div class="header-dropdown-links__link">
        <label class="subtitle block">
          <a href="{{a.value.url}}">
            <span>{{a.value.title}}</span>
          </a>
        </label>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
</div>
