<div class="header__nav__dropdown-list__dropdown">
  <a class="header__nav__dropdown-list__dropdown__main-link drop">
    <label class="bold link"><span><u>Programs</u></span></label></a>
  <div class="header__nav__dropdown-list__dropdown__links programs-dropdown">
    {% include './header_program_dropdown.html' %}
  </div>
</div>
<div class="header__nav__dropdown-list__dropdown">
  <a href="/publications/" class="header__nav__dropdown-list__dropdown__main-link no-drop">
    <label class="bold link"><span><u>Publications</u></span></label></a>
</div>
<div class="header__nav__dropdown-list__dropdown">
  <a href="/events/" class="header__nav__dropdown-list__dropdown__main-link no-drop">
    <label class="bold link"><span><u>Events</u></span></label>
  </a>
</div>
<div class="header__nav__dropdown-list__dropdown">
  <a class="header__nav__dropdown-list__dropdown__main-link drop">
    <label class="bold link"><span><u>About</u></span></label></a>
  <div class="header__nav__dropdown-list__dropdown__links about-dropdown">
    {% include './header_about_dropdown.html' %}
  </div>
</div>
<div class="header__nav__dropdown-list__dropdown">
  <a href="/our-funding/donate/" class="header__nav__dropdown-list__dropdown__main-link no-drop">
    <label class="bold link"><span><u>Donate</u></span></label>
  </a>
</div>
