<div class="header__nav__dropdown-list__dropdown">
  <a class="header__nav__dropdown-list__dropdown__main-link drop">
    <label class="bold">Programs</label></a>
  <div class="header__nav__dropdown-list__dropdown__links programs-dropdown">
    {% include './header_program_dropdown.html' %}
  </div>
</div>
<div class="header__nav__dropdown-list__dropdown">
  <a href="/publications/" class="header__nav__dropdown-list__dropdown__main-link no-drop">
    <label class="bold">Publications</label></a>
</div>
<div class="header__nav__dropdown-list__dropdown">
  <a href="/events/" class="header__nav__dropdown-list__dropdown__main-link no-drop">
    <label class="bold">Events</label>
  </a>
</div>
<div class="header__nav__dropdown-list__dropdown">
  <a class="header__nav__dropdown-list__dropdown__main-link drop">
    <label class="bold">About</label></a>
  <div class="header__nav__dropdown-list__dropdown__links about-dropdown">
    {% include './header_about_dropdown.html' %}
  </div>
</div>
<div class="header__nav__dropdown-list__dropdown">
  <a href="/our-funding/donate/" class="header__nav__dropdown-list__dropdown__main-link no-drop">
    <label class="bold">Donate</label>
  </a>
</div>
