{% load wagtailimages_tags %}
{% image about_pages.0.value.specific.story_image fill-300x240 as story_image_1 %}
{% image about_pages.1.value.specific.story_image fill-300x240 as story_image_2 %}
<div class="container--800">
<div class="row">
    <div class="col-1"></div>
    {% for a in about_pages %}
      {% if forloop.counter == 1 %}
      <div class="col-md-4">
        <div class="header-dropdown-links__image margin-15">
          <a href="{{a.value.url}}">
            <div class="about-image" style="background-image:url({{story_image_1.url}})"></div>
            <label class="subtitle block margin-0">
              {{a.value.title}}
            </label>
            <label class="block margin-0">
              {{a.value.specific.search_description}}
            </label>
          </a>
        </div>
      </div>
      {% endif %}
       {% if forloop.counter == 2 %}
       <div class="col-md-4">
        <div class="header-dropdown-links__image margin-15">
          <a href="{{a.value.url}}">
            <div class="about-image" style="background-image:url({{story_image_2.url}})"></div>
            <label class="subtitle block margin-0">
              {{a.value.title}}
            </label>
            <label class="block margin-0">
              {{a.value.specific.search_description}}
            </label>
          </a>
        </div>
        </div>
       {% endif %}
    {% endfor %}
  <div class="col-md-3">
    {% for a in about_pages %}
      {% if forloop.counter > 2 %}
      <div class="header-dropdown-links__link">
        <label class="subtitle block">
          {{a}}
        </label>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
</div>
