{% load utilities %}
{# find locations/program_data in settings/context_processors.py #}
{% group_programs program_data as program_groups %}
<div class="programs-dropdown-wrapper container">
<div class="row">

  <div class="col-3">
    <h4 class="link column-heading margin-0"><a href="/national-network/"><u>Nat'l Network &mdash;</u></a></h4>
    <div class="header__nav__dropdown__list margin-top-25">
      {% for p in locations %}
        <div class="header__nav__dropdown__list__item">
          <h6 class="link margin-0">
            <a href="{{p.program.url}}">
              <u>{{p.title}}</u>
            </a>
          </h6>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-9">
    <h4 class="link column-heading margin-0">
      <a href="/programs/"><u>Programs &mdash;</u></a>
    </h4>
    <div class="row margin-top-25">
    {% for pg in program_groups %}
      <div class="header__nav__dropdown__list col-4">
        {% for p in pg %}
        <div class="header__nav__dropdown__list__item">
          <h6 class="link margin-0">
            <a href="{{p.program.url}}">
              <u>{{p.program.title}}</u>
            </a>
          </h6>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
    </div>
  </div>
</div>
</div>
