<div class="header__nav__dropdowns-wrapper">
  <div class="header__nav__dropdown">
    <a class="header__nav__dropdown__header drop">
      <h4 class="link inline"><span><u>Programs</u></span></h4>
    </a>
    <div class="header__nav__dropdown__list-wrapper programs-dropdown">
      {% include './header_program_dropdown.html' %}
    </div>
  </div>
  <div class="header__nav__dropdown">
    <a href="/publications/" class="header__nav__dropdown__header no-drop">
      <h4 class="link inline"><span><u>Publications</u></span></h4>
    </a>
  </div>
  <div class="header__nav__dropdown">
    <a href="/events/" class="header__nav__dropdown__header no-drop">
      <h4 class="link inline"><span><u>Events</u></span></h4>
    </a>
  </div>
  <div class="header__nav__dropdown">
    <a class="header__nav__dropdown__header drop">
      <h4 class="link inline"><span><u>About</u></span></h4>
    </a>
    <div class="header__nav__dropdown__list-wrapper about-dropdown">
      {% include './header_about_dropdown.html' %}
    </div>
  </div>
  <div class="header__nav__dropdown">
    <a href="/our-funding/donate/" class="header__nav__dropdown__header no-drop">
      <h4 class="link inline"><span><u>Donate</u></span></h4>
    </a>
  </div>
</div>
