{% load utilities %}
{# find locations/program_data in settings/context_processors.py #}
{% group_programs program_data as program_groups %}
<div class="programs-dropdown-wrapper container">
<div class="row">

  <div class="col-3">
    <label class="bold block link column-heading margin-0"><a href=""><u>Nat'l Network &mdash;</u></a></label>
    <div class="header-dropdown-links">
      {% for p in locations %}
        <div class="header-dropdown-links__link">
          <label class="block link">
            <a href="{{p.program.url}}">
              <u>{{p.program.title}}</u>
            </a>
          </label>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-9">
    <label class="bold block link column-heading margin-0"><a href="/programs/"><u>Programs &mdash;</u></a></label>
    <div class="row">
    {% for pg in program_groups %}
      <div class="header-dropdown-links col-4">
        {% for p in pg %}
        <div class="header-dropdown-links__link">
          <label class="block link">
            <a href="{{p.program.url}}">
              <u>{{p.program.title}}</u>
            </a>
          </label>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
    </div>
  </div>
</div>
</div>
