<div class="row">
  <div class="header-dropdown-content col-md-9">
  </div>
  <div class="header-dropdown-links col-md-3">
    <div class="header-dropdown-links__link">
      <a href="/our-story" class="header-dropdown__link__header">
        <label class="lg">Our Story</label>
      </a>
    </div>
    <div class="header-dropdown-links__link">
      <a href="/our-people" class="header-dropdown__link__header">
        <label class="lg">Our People</label>
      </a>
    </div>
    <div class="header-dropdown-links__link">
      <a href="/our-funding" class="header-dropdown__link__header">
        <label class="lg">Our Funding</label>
      </a>
    </div>
    <div class="header-dropdown-links__link">
      <a href="/press-room" class="header-dropdown__link__header">
        <label class="lg">Press</label>
      </a>
    </div>
    <div class="header-dropdown-links__link">
      <a href="/jobs" class="header-dropdown__link__header">
        <label class="lg">Jobs</label>
      </a>
    </div>
  </div>
</div>
