<div class="mobile-nav">
    <div class="mobile-nav__main">
        <div class="mobile-nav__logo">
            <div class='header__logo mini'>
                {% include 'components/svg/new-america-mini.html' %}
            </div>
            <div class='header__logo'>
                {% include 'components/svg/new-america.html' %}
            </div>
        </div>
        <div class="mobile-nav__toggle">
            <div class="mobile-nav__toggle__main flip-arrow-black rotate"></div>
        </div>
    </div>
    {% block mobile_nav_secondary %}
    {% endblock %}
</div>
