{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% for post in all_content %}
  <div class="picture-grid__entry">
    {% if post.story_image %}
      {% image post.story_image min-650x200 as post_image %}
      <a href="{{ post.url }}">
        <div class="picture-grid__entry__image-container" style="background-image: url('{{ post_image.url }}') ">
        </div>
      </a>
        <div class="picture-grid__entry__text-container has-image">
    {% else %}
      <div class="picture-grid__entry__text-container">
    {% endif %}
      {% if post.post_subprogram.all %}
        <h5 class="picture-grid__entry__description">
        {% for subprogram in post.post_subprogram.all %}
          <a href="{{ subprogram.url }}"> {{ subprogram | upper }}</a>{% list_separator forloop.revcounter0 %}
        {% endfor %}
        </h5>
      {% endif %}
      <h5 class="picture-grid__entry__title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h5>
      <h5 class= "picture-grid__entry__date-time">{% generate_dateline post %}</h5>
      <h5 class= "picture-grid__entry__location">{{ post.city }}, {{ post.state }}</h5>

      <hr class="picture-grid__entry__break">
      <p class="picture-grid__entry__body">{{ post.story_excerpt }}</p>
      <a class="picture-grid__entry__button button" href="{{ post.url }}">Read More</a>
      <div class="picture-grid__entry__text-fadeout"></div>
    </div>

  </div>
  <hr class="picture-grid__divider">
{% endfor %}
