{% load wagtailcore_tags %}
{% load utilities %}
{% if page.authors.all|length > 0 and page|model_name != 'event.Event' and page|model_name != 'press_release.PressRelease' and page|model_name != 'report.Report' %}
  <div class="post__byline margin-bottom-15"><span>By&nbsp;</span>
    {% generate_byline page|model_name page.authors.all %}
  </div>
{% endif %}
{% if page.date and page|model_name != 'event.Event' %}
  <h6 class="post-body__date margin-10">{{ page.date }}</h6>
{% endif %}
{% if page.soundcloud %}
  <div class="margin-35">
    {{ page.soundcloud }}
  </div>
{% endif %}
{% for block in page.body %}
  {% if block.block_type == "inline_image" %}
    {% include_block block %}
  {% else %}
    <div class="block-{{ block.block_type }}">
       {% include_block block %}
    </div>
  {% endif %}

{% endfor %}

{% if page.attachment|length > 1 %}
  <div class="section-separator margin-bottom-15 margin-top-60"><div class="section-separator__text"><h6 class="inline margin-0">Downloads</h6></div><div class="section-separator__line"></div></div>
  {% for rel in page.attachment %}
    <a href="{{rel.value.url}}" style="margin-right: 25px;"><i class="fa fa-download"></i>&nbsp;{{rel.value.title}}</a>
  {% endfor %}
{% endif %}

{% if page.topics.all %}
  <div class="section-separator margin-bottom-15 margin-top-60"><div class="section-separator__text"><h6 class="inline margin-0">Related Topics</h6></div><div class="section-separator__line"></div></div>
  {% for rel in page.topics.all %}
    <a href="{{rel.topic.url}}" class="tag">{{rel.topic.title}}</a>
  {% endfor %}
{% endif %}
