<main class="post container margin-80">
	<div class="row gutter-30">
		 <aside class="post__social col-md-6 col-lg-2 margin-bottom-15">
			 {% block post_left_aside %}
			 	{% include 'components/post_share.html' %}
			 {% endblock %}
		 </aside>

		{% block post-body %}
			 <div class="col-lg-8 margin-bottom-25">
				 <div class="post-body-wrapper">
					{% include 'components/post_heading_text.html' %}
					{% include 'components/post_heading_image.html' %}

					<article class="post-body">
						{% include 'components/post_body.html' %}
						{% block post_extra_body_content %}{% endblock %}
					</article>
				</div>
			 </div>
		{% endblock %}
		<aside class="col-md-6 col-lg-2 ">
			{% block post_right_aside %}
			{% endblock %}
		</aside>
	</div>
</main>
