<div class="post-heading__text margin-bottom-35">
  <h1 class="margin-top-0">
    {% firstof custom_title page.title %}
  </h1>
  {% if page.subheading %}
    <label class="pullquote">{{ page.subheading }}</label>
  {% endif %}
  {% if page.content_type.name != 'New America Post' %}
  <label class="block button--text">{% firstof page.other_content_type.singular_title page.content_type %}{% if page.source %} in {{ page.source }}{% endif %}</label>
  {% endif %}
  {% if page.source %}
    <div class="margin-top-35">
      <a href="{{page.source_url}}" class="button" target="_blank">Read Full Article</a>
    </div>
  {% endif %}
</div>
