<div class="menu-list--padding-15 post-aside-wrapper post__social__wrapper">

  <div class="report__social__item margin-bottom-15">
    <a href="" target="_blank" >
      <i class="fa fa-facebook"></i>
      <label>Share</label>
    </a>
  </div>

  <div class="report__social__item margin-bottom-15">
    <a href="" target="_blank" >
      <i class="fa fa-twitter"></i>
      <label>Tweet</label>
    </a>
  </div>
  {% if page.attachment|length > 0 %}
  <div class="report__social__item margin-bottom-15">
    <a href="{% if page.attachment.0.value.url|make_list|first == '/' %}https://newamerica.org{{page.attachment.0.value.url}}{% else %}{{page.attachment.0.value.url}}{% endif %}" target="_blank" >
      <i class="fa fa-download"></i>
      <label>Download</label>
    </a>
  </div>
  {% endif %}
</div>
