{% load utilities %}

{% if page|model_name != 'home.ProjectRequests' %}
<div class="post-aside-wrapper post__social__wrapper">
  <h4>Share on</h4>
  <div class="margin-bottom-lg-25">
    <a class="social--inline block" href="https://www.facebook.com/dialog/share?app_id=1650004735115559&display=popup&href=https://newamerica.org{{page.url}}" target="_blank" rel="noopener noreferrer" >
      <i class="fa circle fa-brands fa-facebook-f"></i>
      <h6>Facebook</h6>
    </a>
  </div>
  <div class="margin-bottom-lg-25">
    <a class="social--inline block" href="https://twitter.com/intent/tweet/?url=https://newamerica.org{{page.url}}&text={{page.title}}&via=newamerica" target="_blank" rel="noopener noreferrer" >
      <i class="fa fa-brands circle fa-x-twitter"></i>
      <h6>X</h6>
    </a>
  </div>
  <div class="margin-bottom-lg-25">
    <a class="social--inline block" href="https://www.linkedin.com/shareArticle?url=https://newamerica.org{{page.url}}" target="_blank" rel="noopener noreferrer" >
      <i class="fa fa-brands circle fa-linkedin"></i>
      <h6>LinkedIn</h6>
    </a>
  </div>
  {% if page.attachment|length > 0 %}
  <div>
    <a class="social--inline block" href="{% if page.attachment.0.value.url|make_list|first == '/' %}https://newamerica.org{{page.attachment.0.value.url}}{% else %}{{page.attachment.0.value.url}}{% endif %}" target="_blank" rel="noopener noreferrer" >
      <i class="fa circle fa-download"></i>
      <h6>Download</h6>
    </a>
  </div>
  {% endif %}
</div>

{% else %}
<div class="post-aside-wrapper post__social__wrapper quick-links">
  <h4>Quick Links</h4>
  <!-- <h4>{{page.body}}</h4> -->
  {% for block in page.body %}
    {% if block.block_type == "heading" %}
      <div class="margin-bottom-lg-25">
        <a class="social--inline block" href="#{{ block.value|slugify }}">
          <h6 style="margin-left: 0;">{{ block.value }}</h6>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endif %}

