{% load wagtailcore_tags %}
{% load utilities %}
{% if page.authors.all|length > 0 and page.content_type.name != 'Event' and page.content_type.name != "Press Release" and page.content_type.name != "Report" %}
  <div class="post__byline margin-bottom-15"><span>By&nbsp;</span>
    {% generate_byline page.content_type page.authors.all %}
  </div>
{% endif %}
{% if page.date and page.content_type.name != 'Event' %}
  <h6 class="post-body__date">{{ page.date }}</h6>
{% endif %}
{% if page.soundcloud %}
  <div class="margin-35">
    {{ page.soundcloud }}
  </div>
{% endif %}
{% for block in page.body %}
  {% if block.block_type == "inline_image" %}
    {% include_block block %}
  {% else %}
    <div class="block-{{ block.block_type }}">
       {% include_block block %}
    </div>
  {% endif %}

{% endfor %}
