{% load wagtailcore_tags wagtailimages_tags utilities %}

<!-- BLOG -->
{% image page.story_image width-800 as story_image %}
<section class="post-heading margin-bottom-60">
  <div class="post-heading__text margin-bottom-35">
    <label class="margin-top-0">{{page.content_type}}{% if page.source %} in {{ page.source }}{% endif %}</label>
    <h1>
      {% firstof custom_title page.title %}
    </h1>
    {% if page.subheading %}
      <label class="pullquote">{{ page.subheading }}</label>
    {% endif %}
  </div>
  {% if page.publication_cover_image %}
    {% include './post_book_heading.html' %}
  {% elif story_image and not page.publication_cover_image %}
    <div class="post-heading__image">
      <img src="{{story_image.url}}" />
      {% if story_image.image.source %}
        <label class="block caption">{{story_image.image.source}}</label>
      {% endif %}
    </div>
  {% endif %}
</section>
