{% load wagtailcore_tags wagtailimages_tags utilities %}

<!-- BLOG -->
{% image page.story_image width-800 as story_image %}
{% image page.story_image width-30 as thumbnail %}
{% if page.publication_cover_image %}
  {% include './post_book_heading.html' %}
{% elif story_image and not page.publication_cover_image %}
  <div class="post-heading__image margin-bottom-60">
    <div class="post-heading__image__wrapper">
      <div src="{{thumbnail.url}}" class="temp-image"
        style="padding-bottom:calc({% widthratio story_image.image.height story_image.image.width 100 %}% - 5px);
        background-image: url({{ thumbnail.url }})"></div>
      <img src="{{story_image.url}}" class="fade-in-image" onload="this.classList.add('loaded');"/>
    </div>
    {% if story_image.image.source %}
      <label class="block caption">{{story_image.image.source}}</label>
    {% endif %}
    {% if page.content_type.name == 'Event' %}
      <div class="post-authors__list event__mobile-date-time row gutter-0 margin-top-25">
        <div class="event-details col-6 margin-bottom-lg-25">
            <label class="block bold margin-0">When</label>
            <label class="paragraph">{% generate_dateline page %}</label>
        </div>
        <div class="event-details col-6">
          <label class="block bold margin-0">Where</label>
          <label class="block paragraph">
            {{ page.host_organization }}<br/>{{ page.street_address }} {{ page.city }}, {{ page.state }} {{ page.zipcode }}
          </label>
        </div>
        {% if page.rsvp_link %}
          {% if not page.is_past %}
            <div class="post-authors__rsvp margin-top-15">
              <a class="button block" href="{{page.rsvp_link}}" target="blank">RSVP</a>
            </div>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}
