{% load wagtailcore_tags wagtailimages_tags utilities %}
<!-- EVERYTHING ELSE -->
{% image page.story_image min-1100x300 as story_image %}
<!-- BLOG -->
{% image page.story_image min-1100x650 as story_image %}
<section class="container container--wide sm-no-padding">
  <div class="post-heading {% if story_image and not page.publication_cover_image %}with-image{% endif %}">
    {% if page.publication_cover_image %}
      {% include './post_book_heading.html' %}
    {% elif story_image and not page.publication_cover_image %}
      <div class="post-heading__image" style="background-image: url({{story_image.url}})"></div>
    {% endif %}
    <div class="post-heading__text container--wide">
      <h1 class="post-heading__text__heading centered{% if story_image and not page.publication_cover_image %} narrow-margin{% endif %}{% if page.subheading %} narrow-bottom-margin{% endif %}">
        {% firstof custom_title page.title %}
      </h1>
      {% if page.subheading %}
        <p class="post-heading__text__subheading subheading--h2 centered">{{ page.subheading }}</p>
      {% endif %}
      {% if page.source_url %}
        <a class="post-heading__text__button button" href='{{ page.source_url }}'>Read Original Article</a>
      {% endif %}
      {% if page.rsvp_link %}
        {% if page|is_future %}
          <a class="post-heading__text__button button" href='{{page.rsvp_link}}'>RSVP</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</section>
