<div class="container margin-top-80" id="featured">
    <h3 class="margin-top-0 margin-bottom-25">In the News</h3>
    <div class="media-mention-wrapper">
        <div class="row gutter-30">
            {% for link in page.media_links %}
            <div class="col-md-6 col-12">
                <div class="media-mention">
                    <a href="{{ link.value.url }}" class="ga-track-click">
                        <h4 class="margin-top-0 margin-bottom-10">{{ link.value.label }}</h4>
                        <h6 class="paragraph margin-0">{{ link.value.description }}</h6>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
