{% load utilities %}

<main class="post container margin-35 margin-lg-80">
  <div class="row gutter-30">
     <aside class="post__social col-md-6 col-lg-2 margin-bottom-15">
       {% block post_left_aside %}
        {% include 'components/post_share.html' %}
       {% endblock %}
     </aside>

    {% block post-body %}
       <div class="col-lg-8 margin-bottom-25">
         <div class="post-body-wrapper">
          {% include 'components/post_heading_text.html' %}
          {% include 'components/post_heading_image.html' %}
          <article class="post-body">
            {% include 'components/post_body.html' %}
            {% block post_extra_body_content %}{% endblock %}
          </article>
        </div>
       </div>
    {% endblock %}
    <aside class="col-lg-2 ">
      {% block post_right_aside %}
        {% if page.content_type.name == 'Event' %}
          <div class="post-aside-wrapper post__social__wrapper event__desktop-date-time">
            <div class="post-authors__list row gutter-0">
              <div class="event-details col-lg-12 col-6 margin-bottom-lg-25">
                  <h4 class="margin-0">When</h4>
                  <h6 class="paragraph margin-top-5 margin-bottom-0">{% generate_dateline page %}</h6>
              </div>
              <div class="event-details col-lg-12 col-6">
                <h4 class="margin-0">Where</h4>
                <h6 class="paragraph margin-top-5 margin-bottom-0">
                  <div>{{ page.host_organization }}</div>
                  <div>
                    {% include 'components/_address_text.html' with address_text=page %}
                  </div>
                  {% if page.webcast_url %}
                    <a class="button--text with-caret--right" href="{{page.webcast_url}}" target="_blank" rel="noopener noreferrer">
                      {{page.webcast_link_text|default:'Webcast link'}}
                    </a>
                  {% endif %}
                </h6>
              </div>
              {% if page.rsvp_link %}
                {% if not page.is_past %}
                  <div class="post-authors__rsvp margin-top-15">
                    <a class="button block" href="{{page.rsvp_link}}" target="_blank" rel="noopener noreferrer">RSVP</a>
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endblock %}
    </aside>
  </div>
</main>
