{% load wagtailcore_tags %}
{% load cited_html anchorize_headings %}
{% for block in value.body %}
    {% if block.block_type == 'paragraph' %}
        <div class="block-{{ block.block_type }}">
            {% filter anchorize_headings %}
                {{ block.value|cited_html|safe }}
            {% endfilter %}
        </div>
    {% elif block.block_type == 'inline_image' or block.block_type == 'box' %}
        {% filter anchorize_headings %}
            {% include_block block %}
        {% endfilter %}
    {% else %}
      <div class="block-{{ block.block_type }}">
        {% include_block block %}
      </div>
    {% endif %}
{% endfor %}
