{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

<div class='hero-grid__element'>
  <a href="{{ story.url }}">
    <div class='hero-grid__element__wrapper'>
      {% if story.specific.story_image %}
        {% image story.specific.story_image min-1350x500 as story_image %}
        <div class='hero-grid__element__background' style='background-image: url({{ story_image.url }})'></div>
      {% else %}
        <div class='hero-grid__element__background'></div>
      {% endif %}
      <div class='hero-grid__element__overlay'></div>
      <div class='hero-grid__element__text-bar'>
        {% if story.specific.rsvp_link %}
          {% if story.specific|is_future %}
            <a class="hero-grid__element__text-bar__button button" href='{{ story.specific.rsvp_link }}'>RSVP</a>
          {% endif %}
        {% endif %}
        <p class='hero-grid__element__text-bar__subheading'>
            {% comment %}grid_type passed from include tag{% endcomment %}
            {% if page_context == 'homepage' %}
              {% if story.specific.parent_programs %}
                {% for program in story.specific.parent_programs.all %}
                  {{ program }}
                  {% list_separator forloop.revcounter0 %}
                {% endfor %}
              {% endif %}
            {% endif %}
            {% generate_content_type_line story.content_type %}
        </p>
        <h1 class='hero-grid__element__text-bar__heading'>
          {% if story.seo_title %}
            {{ story.seo_title }}
          {% else %}
            {{ story.title }}
          {% endif %}
        </h1>
      </div>
    </div>
  </a>
</div>
