{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<section class="story-grid has-{{ other_lead_stories|length|add:"1" }}-children">
  <div class="row no-gutters">
    <div class="story-grid__main">
      <div class="row">
        {% include 'components/story_grid_item.html' with which="main" story=page.lead_1 page_context=page_context %}
      </div>
    </div>
    {% if other_lead_stories %}
    <div class="story-grid__secondary">
      <div class="row">
        {% for other_lead_story in other_lead_stories %}
            {% include 'components/story_grid_item.html' with which="secondary" story=other_lead_story page_context=page_context %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</section>
