<div class='border-panel'>
  <ul class='border-panel__list has-1-children'>
    <li class='border-panel__item'>
      <div class='border-panel__content'>
        <div class='border-panel__text'>
          <div class='border-panel__info'>STAY CONNECTED</div>
          <div class='border-panel__title'><a href='/subscribe/'>Subscribe to New America Weekly</a></div>
          <p>Get our weekly digital magazine, program newsletters, and events lineups in your inbox.</p>
          <form class="subscribe-form" action="/subscribe/">
            <input type='text' placeholder='Your Email' name='email' id='border-panel__content__email-field'></input>
            <button class='button black' id='border-panel__content__link' type="submit" value="Submit">Sign Up</button>
          </form>
        </div>
      </div>
    </li>
  </ul>
</div>
