.sidemenu {
  $sidemenu-link-margin-left: 15px;
  $sidemenu-link-padding-left: 10px;

  position: relative;
  height: calc(100% - #{$desktop-padding});
  top: 0px;
  display:block;
  margin-top: $desktop-padding;
  background-color: palette-get(na-white);
  border-right: $standard-border;
  width: $max-sidemenu-width;
  @include handle-text-overflow;

  ul > li > a {
    padding: 10px $desktop-padding 10px $sidemenu-link-padding-left;
    margin-left: $sidemenu-link-margin-left;
    color: palette-get(na-black-70);
  }

  &__logo {
    width: auto;
    height: $program-logo-height;
    margin-left: $desktop-padding;
  }

  &__logo-fallback {
    padding: $desktop-padding $desktop-padding 0px;
    font-family: Simplon;
    font-size: 26px;
  }

  &__link-group {
    padding-top: 10px;
    color: palette-get(na-black);

    &__title, &__link {
      height: auto;
      border: none;
    }

    &__title {
      padding: $desktop-padding $desktop-padding 10px $desktop-padding;

      .simple & {
        padding: 0px $desktop-padding 10px $desktop-padding;
      }
    }
  }

  &__sub-link-group {
    display: none;
    &__sub-link {
      padding-left: 15px;
      & > a {
        padding-left: 25px !important;
      }
    }
  }

  &__link-group__link, &__sub-link-group__sub-link {
      padding: 0px;

      & > .active {
        @include set-color(color);
        border-left: 2px solid;
        @include set-color(border-color);
        margin-left: $sidemenu-link-margin-left - 2px;
      }
    }
}
