<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Internal server error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div class="post-header-container">
            <div class="post-header">
                <div class="post-header__text">
                    <h1 class="post-header__text__heading">Internal Server Error</h1>
                    <h2 class="post-header__text__subheading">We have logged this issue and are working to resolve it as soon as possible.<br>Thank you for your patience and please try again soon.</h2>
                </div>
            </div>
        </div>
    </body>
</html>
