{% load static from staticfiles %}
{% load wagtailuserbar  %}
{% load top_menu %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="icon" type="image/png" href="/../static/favicon.png">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <meta property="og:site_name" content="New America" />

  <link rel="canonical" href="{{ self.url }}" />
  <meta property="og:url" content="{{ self.url }}">
  <meta name="twitter:url" content="{{ self.url }}">

  <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
  <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
  <meta name="twitter:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />

  <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% elif self.story_excerpt %}{{ self.story_excerpt }}{% endif %}" />
  <meta property="og:description" content="{% if self.search_description %}{{ self.search_description }}{% elif self.story_excerpt %}{{ self.story_excerpt }}{% endif %}" />
  <meta name="twitter:description" content="{% if self.search_description %}{{ self.search_description }}{% elif self.story_excerpt %}{{ self.story_excerpt }}{% endif %}" />

  {% if self.story_image %}
    {% image self.story_image original as story_image %}
    <meta property="og:image" content='{{ story_image.url }}' />
    <meta name="twitter:image" content='{{ story_image.url }}' />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@NewAmerica">
  {% endif %}

  {# Global javascript #}

  {% if DEBUG %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/newamericadotorg.css' %}"></link>
    {# development dependencies that will bundled with production #}
    <!-- for convenience, but you should add whatever polyfills you need to dependencies -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.min.js"></script>
    <script src="https://unpkg.com/prop-types/prop-types.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.6.0/redux.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-redux/5.0.5/react-redux.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/redux-thunk/2.2.0/redux-thunk.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router/4.1.1/react-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/4.1.1/react-router-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.28.5/date_fns.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/7.2.2/lazyload.min.js"></script>

    <script type="text/javascript" src="{% static 'js/newamericadotorg.js' %}"></script>
  {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/newamericadotorg.min.css' %}"></link>
    <script type="text/javascript" src="{% static 'js/newamericadotorg.min.js' %}"></script>
  {% endif %}

  {% block extra_scripts %}
      {# Override this in templates to add extra scripts and stylesheets #}
  {% endblock %}

  {% if not DEBUG %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MMGT6BG');</script>
    <!-- End Google Tag Manager -->
  {% endif %}
</head>

<body class="{% block body_class %}{% endblock %}">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMGT6BG" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% wagtailuserbar %}
  {% block header %}
    {% include 'components/header.html' %}
  {% endblock %}
  <main>
      {% block content %}{% endblock %}
  </main>
  {% include 'components/footer.html' %}

  {% block extra_js %}
      {# Override this in templates to add extra javascript #}
  {% endblock %}
</body>
</html>
