{% load static from staticfiles %}
{% load wagtailuserbar  %}
{% load top_menu %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="icon" type="image/png" href="/static/favicon.png">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <meta property="og:site_name" content="New America" />

  <link rel="canonical" href="https://www.newamerica.org{{ page.url }}" />
  <meta property="og:url" content="https://www.newamerica.org{{ page.url }}">
  <meta name="twitter:url" content="https://www.newamerica.org{{ page.url }}">

  <title>{% block title %}{% firstof page.seo_title page.title %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
  <meta property="og:title" content="{% firstof page.seo_title page.title %}" />
  <meta name="twitter:title" content="{% firstof page.seo_title page.title %}" />

  <meta name="description" content="{% firstof page.search_description page.story_excerpt %}" />
  <meta property="og:description" content="{% firstof page.search_description page.story_excerpt %}" />
  <meta name="twitter:description" content="{% firstof page.search_description page.story_excerpt %}" />

  {% if page.story_image %}
    <meta property="og:image" content='https://s3.amazonaws.com/newamericadotorg/{{ page.story_image.file.name }}' />
    <meta name="twitter:image" content='https://s3.amazonaws.com/newamericadotorg/{{ page.story_image.file.name }}' />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@NewAmerica">
  {% endif %}

  
    <link href="/static/css/newamericadotorg.css" rel="stylesheet">
    

  <script>
    window.user = {};
    {% if user.is_authenticated %}
      window.user.isAuthenticated = true;
    {% endif %}
    {% if username %}
      window.user.username = "{{ username }}";
    {% endif %}
    window.meta = {{ meta|safe }};
    var newamericadotorg = null;
  </script>
    {% block extra_scripts %}
        {# Override this in templates to add extra scripts and stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %} {% if self.get_ancestors.2.slug == 'oti' or page.slug == 'oti'%}oti{% endif %}" id="{% block body_id %}{% endblock %}">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MMGT6BG');</script>
  <!-- End Google Tag Manager -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMGT6BG" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>

  {% wagtailuserbar %}
  {% if is_under_maintenance and not user.is_authenticated %}

    {% include 'maintenance.html' %}

  {% else %}

    {% block header %}
      {% include 'components/header.html' %}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
      {% include 'components/footer_mobile.html' %}
      {% include 'components/footer.html' %}
    {% endblock %}
    {% if user.is_authenticated %}
      <div id="na-react__feedback"></div>
    {% endif %}

    <div id="na-react__cookies-notification"></div>

  {% endif %}

  
    <!-- Conditionally load polyfills -->
    <script>
      (function browserSupport() {
        var modernBrowser = (
          window.Promise &&
          window.fetch &&
          window.Symbol &&
          window.URL &&
          window.URLSearchParams
        );
        if (!modernBrowser) {
          var scriptElement = document.createElement('script');
          scriptElement.async = false;
          scriptElement.src = "/static/js/polyfills.js";
          document.head.appendChild(scriptElement);
        }
      }())
    </script>
  

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/static/js/sw.js');
      });
    }
  </script>

  
    <script type="text/javascript" src="/static/js/vendors~newamericadotorg.js"></script>
  
    <script type="text/javascript" src="/static/js/newamericadotorg.js"></script>
  
  
  {% block extra_js %}
      {# Override this in templates to add extra javascript #}
  {% endblock %}

</body>
</html>
