{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block extra_js %}
	{% if page.data_project_external_script %}
		<script type="text/javascript" src="https://na-data-projects.s3.amazonaws.com/projects/{{ page.data_project_external_script }}"></script>
	{% endif %}
{% endblock %}

{% block body_class %}template-postpage{% endblock %}


{% block header %}
	{% if panels %}
		{% include './blocks/panels_subheader.html' with value=panels %}
	{% else %}
		{% include 'components/header.html' %}
	{% endif %}
{% endblock %}


{% block content %}
	<main>
	{% block breadcrumbs %}
    {% include 'components/breadcrumbs.html' %}
  {% endblock %}
	{% block post-heading %}
		{% include 'components/post_heading.html' %}
	{% endblock %}

	<section class="{% block post_container_class %}container--wide{% endblock %}">
		<div class="row">
			 {% block post_left_aside %}
				 	<aside class="post-authors col-md-12 col-lg-3">
						{% if authors %}
							{% with authors|length as authors_len %}
								<label class="lg">
									{% pluralize authors_len "Author" %}
								</label>
							{% endwith %}
							<div class="post-authors__list">
								{% for author in authors %}
										{% include 'components/author.html' with author=author.author class='short-bio sm-compact'%}
								{% endfor %}
							</div>
						{% endif %}
					</aside>
			 {% endblock %}

 			{% block post_right_aside %}
 				<aside class="post-social col-md-3 scroll-target" {% if panels %}data-scroll-top-offset="-70"{% endif %}>
 					<div class="post-social__sticky-wrapper">
 						{% include 'components/post_share.html' %}
 						{% if page.topics.all %}
 							{% include 'components/post_topics.html' %}
 						{% endif %}
 						{% if page.attachment %}
 						  {% include 'components/post_attachments.html' %}
 						{% endif %}
 					</div>
 				</aside>
 			{% endblock %}

			{% block post-body %}
				<article class="post-body with-dropcap col-md-9 col-lg-6">
					{% include 'components/post_body.html' %}
					{% block post_extra_body_content %}{% endblock %}
				</article>
			{% endblock %}

		</div>
	</section>
	</main>
{% endblock %}
