{% extends "program_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block extra_js %}
	{% if page.data_project_external_script %}
		<script type="text/javascript" src="https://na-data-projects.s3.amazonaws.com/projects/{{ page.data_project_external_script }}"></script>
	{% endif %}
{% endblock %}

{% block body_class %}template-postpage{% endblock %}

{% block content %}

	{% block post-heading %}
		{% include 'components/post_heading.html' %}
	{% endblock %}

	<section class="container container--wide">
		<div class="row">
			 {% block post_left_aside %}
				 	<aside class="post-authors col-md-3">
						{% if authors %}
							{% for author in authors %}
									{% include 'components/post_person.html' with author=author %}
							{% endfor %}
						{% endif %}
					</aside>
			 {% endblock %}

			{% block post-body %}
				<article class="post-body with-dropcap col-md-6">
					{% include 'components/post_body.html' %}
					{% block post_extra_body_content %}{% endblock %}
				</article>
			{% endblock %}

			{% block post_right_aside %}
				<aside class="post-social col-md-3">
					<div class="post-social__sticky-wrapper">
						{% include 'components/social_share.html' %}
						{% if page.attachment %}
						  {% include 'components/post_attachments.html' %}
						{% endif %}
					</div>
				</aside>
			{% endblock %}

		</div>
	</section>>
{% endblock %}
