{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-postpage{% endblock %}

{% block content %}
	<section class="container {% block container_class %}container--medium{% endblock %}">
		<section class="content-list-heading">
			<h1 class="content-list-heading__heading">{{ page.title }}</h1>
			<p class="content-list-heading__subheading subheading subheading--h1">
				Bringing to the table win-win survival strategies to ensure proactive domination.
			</p>
		</section>
		{% include 'components/react/content-list.html' %}

	</section>
{% endblock %}
