{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-postpage{% endblock %}

{% block content %}
	<section class="container {% block container_class %}container--medium{% endblock %}">
		<section class="content-list-heading">
			<h1 class="content-list-heading__heading">{{ page.title }}</h1>
			<p class="content-list-heading__subheading subheading subheading--h1">
				Bringing to the table win-win survival strategies to ensure proactive domination.
			</p>
		</section>
		{% block publication_filters %}
			<section class="content-list-filters">
				{% include 'components/content_controls.html' %}
			</section>
		{% endblock %}
		{% block publication_list %}
			{% if all_posts %}
				{% block lead_story %}{% endblock %}
			{% endif %}

			{% include 'components/content_list.html' with all_content=all_posts %}
			{% if not all_posts %}
				<h4 class="content-list-no-results">No results found</h4>
			{% endif %}
			<section class="content-list-footer">
				{% include 'components/pagination.html' with all_content=all_posts %}
			</section>
		{% endblock %}
	</section>
{% endblock %}
