$std-post-header-padding-with-image: 70px;
$std-post-header-padding-without-image: 25px;

.post-header {
	width: 100%;
	position:static;
	margin-top: $desktop-padding;

	&__text {
		line-height: 100%;
		max-width: $max-body-width;
		color: palette-get(na-black);

		padding: 0px $mobile-padding;

		@include desktop-header {
			padding: 0px;
		}

		@include expanded-header {
			padding: 0px;
		}

		&__heading {
			font-size: 35px;
			margin-bottom: 0px;
			line-height: 110%;
			@include breakpoint(medium) {
			    font-size: 40px;
			}
		}

		&__subheading {
			@include page-subheading-text(white);
		}

		&__button {
			margin-top: 45px;
		}

		.with-image & {
			color:palette-get(na-white);
			padding: 50px $desktop-padding;
			position: relative;
			top: 50%;
			transform: translateY(-50%);

			&__button {
				margin-top: 15px;
			}
		}
	}

	&.with-image {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		margin-top: 0px;
		height: 300px;
	}

}

.post-header.with-image.large {
	@include desktop-header {
		height: 600px;

		.post-header__text {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	@include expanded-header {
		height: 600px;

		.post-header__text {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}