$std-post-header-padding-with-image: 70px;
$std-post-header-padding-without-image: 25px;

.post-header {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	position:static;

	&__text {
		position: relative;
		top:50%;
		max-width: $max-body-width;
		padding: $std-post-header-padding-without-image $mobile-padding;
		color:palette-get(na-black);

		@include desktop-header {
			padding: $std-post-header-padding-without-image 0px;
		}

		@include expanded-header {
			padding: $std-post-header-padding-without-image 0px;
		}

		

		&__headline {
			font-size: 30px;
			@include breakpoint(medium) {
			    font-size: 40px;
			}
		}

		&__sub-headline {
			font-size: 20px;
			color: palette-get(na-black-40);
			margin-bottom: 0px;
			@include breakpoint(medium) {
			    font-size: 30px;
			}
		}

		&__button {
			margin-top: 35px;
			background-color: palette-get(na-turquoise);

			&:hover {
				background-color: palette-get(na-black);
			}
		}

		.with-image & {
			min-height: $std-post-header-height;
			padding: $std-post-header-padding-with-image $desktop-padding;
			color:palette-get(na-white);

			&__button {
				margin-top: 15px;
			}
		}
	}

}