.mobile-nav {

	$height: 58px;
	$padding: 10px;

	width: 100%;

	ul, li { display: inline-block; }
	ul {
		width: 100%;
		text-align: justify;
	}

	&__button {
		width: 14.2857142857%;
		text-align: center;
		height: $height;
		padding: $padding;

		cursor: pointer;

		border-bottom: 1px solid;
		border-right: 1px solid;

		border-color: palette-get(na-black-10);
		background-color: palette-get(na-white);
		svg { fill: palette-get(na-black); }

		&:hover, &--active {
			border-color: palette-get(na-turquoise);
			background-color: palette-get(na-turquoise);
			svg { fill: palette-get(na-white); }
		}
	}

	svg {
		width: $height - 2 * $padding;
		height: $height - 2 * $padding;
	}

}