$mobile-nav-side-padding: 17px;
$mobile-nav-logo-width: 145px;
$mobile-nav-toggle-offset: 35px;

.mobile-nav {
  top: 0;
  width: 100%;
  z-index: 10000;
  position: fixed;
  border-bottom: $thick-border-width solid;
  @include set-color(border-color);
  height: $mobile-header-height;


  @include desktop-header {
    display: none;
  }

  @include expanded-header {
    display: none;
  }

  &__main {
    background-color: palette-get(na-white);
    width:100%;
    height:100%;
    position: relative;

    @include has-sidemenu {
      width: 50%;
      float:left;
    }

    @include show-mini-logo {
      width: 35% !important;
    }
    
  }

  &__secondary {
    background-color: palette-get(na-black);
    width:50%;
    height:100%;
    position: relative;
    display:none;
    float:right;

    @include has-sidemenu {
      display:block;
    }

    @include show-mini-logo {
      width: 65%;
    }

    &__logo-fallback {
      color: white;
      font-weight: bold;
      font-size: 17px;
      line-height: 100%;
      font-family: Platform;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform:translateY(-50%);
      -ms-transform:translateY(-50%);
      padding-left: 15px;
      display: block;
      max-width: $mobile-logo-width;
    }
  }

  &__logo, &__secondary__logo {
    float:left;
    position:absolute;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
  }

  &__logo {
    width: calc(100% - #{$mobile-nav-toggle-offset} - #{$mobile-nav-side-padding} * 2);
    left: $mobile-nav-side-padding;
  }

  &__secondary__logo {
    min-width: 159px;
    height: 66px;

    img {
      height: 100%;
      width: auto;
    }
  }

  &__toggle {
    position:absolute;
    right: $mobile-nav-side-padding;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    z-index: 1000;

    .flip-arrow-black , .flip-arrow-white {
      width: 20px;
      height: 20px;
      @include has-sidemenu {

        @include mobile-header {
          width:20px;
          height:20px;
        }
      }
    }
  }

}