$mobile-nav-side-padding: 10px;
$mobile-nav-logo-width: 145px;

.mobile-nav {
  top: 0;
  width: 100%;
  z-index: 10000;
  position: fixed;
  border-bottom: $thick-border-width solid;
  @include set-color(border-color);
  height: $mobile-header-height;


  @include desktop-header {
    display: none;
  }

  @include expanded-header {
    display: none;
  }

  &__main {
    background-color: palette-get(na-white);
    width:100%;
    height:100%;
    position: relative;

    @include has-sidemenu {
      width: 50%;
      float:left;
    }
  }

  &__secondary {
    background-color: palette-get(na-black);
    width:50%;
    height:100%;
    position: relative;
    display:none;
    float:right;

    @include has-sidemenu {
      display:block;
    }

  }

  &__logo, &__secondary__logo {
    width: $mobile-nav-logo-width;
    float:left;
    position:absolute;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
    left: $mobile-nav-side-padding;
    background-color: white;
  }

  &__secondary__logo {
    width: 159px;

    @include desktop-header {
      width: $mobile-nav-logo-width;
    }
  }

  &__toggle {
    position:absolute;
    right: $mobile-nav-side-padding;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);

    .flip-arrow-black , .flip-arrow-white {
      width: 20px;
      height: 20px;
      @include has-sidemenu {
        /*width:15px;
        height:15px;*/

        @include mobile-header {
          width:20px;
          height:20px;
        }
      }
    }
  }

}