.content-list__filters{
  margin: 25px 0;
  text-align: center;
  position: relative;
  z-index: 3;

  & > * {
    text-align: left;
  }

  & > *:not(:last-child), &__filter:not(:last-child) {
    @include media-breakpoint(tablet){
      margin-right: 15px;
    }
  }
}
