.content-list__results__item, .content-list__item{
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: $border-light;
  @include media-breakpoint(desktop){
    border-bottom: 0;
  }

  &__details{
    @include media-breakpoint(tablet){
      @include flex-order(1);
    }

    label{
      max-width: 90%;
      display: block;
      margin: 0 0 5px 0;
      a {
        font-weight: bold;
        color: color(gray, dark);
      }
    }
  }

  &__heading{
    @include media-breakpoint(tablet){
      @include flex-order(2);
    }

    &__heading, &__excerpt{
      max-width: 95%;
    }
    &__heading{
      margin: 0;
    }
    &__excerpt{
      margin: 10px 0 5px 0;
    }
    &__authors{
      margin-top: 10px;
      padding-left: 0;
      padding-right: 0;
      max-width: 150px;
      @include media-breakpoint(tablet){
        max-width: none;
      }

      .author {
        display: none !important;
        &:first-child{
          display: block !important;
        }
        @include media-breakpoint(tablet){
          display: block !important;
        }
      }
    }
  }

  &__image-wrapper {
    margin-top: 5px;
    margin-bottom: 15px;

    @include media-breakpoint(tablet){
      margin-top: 0;
      margin-bottom: 0;
      @include flex-order(3);
    }
  }

  &__image{
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: color(gray, light);

    @include media-breakpoint(tablet){
      height: auto;
      padding-bottom: 65%;
      width: 100%;
    }

    &.book{
      background-position: center;
      background-size: contain;
      background-color: color(white);
    }

    &__image{
      width: 100%;
      height: 100%;

    }
  }
}
