.content-list{
  margin-top: 50px;
  min-height: 50vh;
  position: relative;

  .compose__lazyload-images-wrapper {
    display: block;
    opacity: 1;
    @include transition(opacity 0.3s ease-in-out);
  }

  &.is-fetching:not(.is-loading){
    .compose__lazyload-images-wrapper {
      opacity: 0.15;
    }

    .content-list__loading-icon-wrapper{
      position: absolute;
      width: 100%;
      top: 50px;
    }
  }

  &__loading-icon-wrapper{
    text-align: center;
    z-index: 10;
  }

  &__load-more{
    text-align: center;
    margin-top: 25px;
  }

  &__no-results{
    text-align: center;
  }

  &__item{
    padding-top: 25px;
    padding-bottom: 25px;
    &__details{
      label{
        max-width: 90%;
        display: block;
        margin: 0 0 5px 0;
        a {
          color: color(gray);
          font-weight: normal;
        }
      }
    }
    &__heading{
      &__heading, &__excerpt{
        max-width: 95%;
      }
      &__heading{
        margin: 0;
      }
      &__excerpt{
        margin: 10px 0 5px 0;
      }
      &__authors{
        margin-top: 10px;
        padding-left: 0;
        padding-right: 0;
      }
    }

    &__image{
      height: 125px;
      &:not(.book){
        background: color(gray, light);
      }
      &__image{
        width: 100%;
        height: auto;
      }
    }
  }
}
