.content-list__results{
  min-height: 50vh;
  padding-top: 25px;
  position: relative;

  @include media-breakpoint-down(desktop){
    padding-left: 0;
    padding-right: 0;

    .content-list__results__item__details,
    .content-list__results__item__heading{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @include media-breakpoint(desktop){
    padding-top: 75px;
  }
}
