.card.lg {

  @include media-breakpoint(tablet){
    height: 375px;
  }

  @include media-breakpoint(large-desktop){
    height: 430px;
  }
  .card__text{
    height: 100%;
    padding-bottom: 50px;
    @include media-breakpoint(tablet){
      padding-bottom: 0px;
    }
  }

  .card__image{
    position: relative;
    height: 375px;

    @include media-breakpoint(large-desktop){
      height: 430px;
    }
  }

  img {
    width: 125%;
    height: auto;
    position: absolute;
    @include center;
  }
}
