.card.list {
  padding: 15px;
  height: auto;
  white-space: nowrap;

  @include media-breakpoint(tablet){
    height: 150px;
  }

  .card__image {
    white-space: normal;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    width: 100px;
    height: 75px;

    @include media-breakpoint(tablet){
      width: 150px;
      height: 120px;
    }

    &.no-image {
      background-color: color(black, base, 0.15);
      &:after {
        content: '\f1ea';
        @include center;
        font-size: 3rem;
        font-weight: normal;
        position: absolute;
        color: color(black, base, 0.075);
        font-family: 'fontawesome';

      }
    }

    img {
      height: 125%;
      width: auto;
      position: absolute;
      @include center;
    }
  }

  &.book img {
    height: 100%;
  }

  .card__text{
    white-space: normal;
    vertical-align: middle;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    height: 100%;
    max-width: calc(100% - 100px);

    @include media-breakpoint(tablet){
      max-width: calc(100% - 150px);
    }
  }
}
