.card.md {
  .card__image{
    width: 100%;
    padding-bottom: 77.143%;
    position: relative;
  }
  img {
    position: absolute;
    @include center;
  }

  .card__text{
    max-width: 300px;
    padding-bottom: 50px;
  }

  &.square .card__image{
    padding-bottom: 100%;
  }

  &.landscape .card__image{
    padding-bottom: 70%;

    img {
      width: 100%;
      height: auto;
    }
  }
}
