.card.promo {
  .promo__heading{
    width: 170px;
    background: color(black);
    label {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%) rotate(-90deg));
    }
  }
  .card__text{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    width: calc(100% - 170px);
  }

  .promo__subscribe{
    max-width: 500px;
  }
}
