.card {
  background: color(white);
  margin-top: 10px;

  & > a {
    width: 100%;
    height: 100%;
  }

  &__image{
    width: 100%;
    height: 100%;
    overflow: hidden;


    &__background{
      width: auto;
      height: 100%;
    }
  }

  &__text{
    padding: 25px;
    position: relative;
    //border-bottom: 1.5px solid color(turquoise);
    &:after{
      //content: '';
      bottom: 0px;
      position: absolute;
      width: 105px;
      border: 1.5px solid color(turquoise);
    }
  }

  &:not(.highlights) {
    position: relative;
    top: 0;

    .card__text__title {
      @include transition(color 0.15s ease);
    }

    &:hover{
      cursor: pointer;
      .card__text__title {
        color: color(turquoise);
      }
    }
  }
}

@import 'event';
@import 'highlight';
@import 'list';
@import 'lg';
@import 'md';
@import 'sm';
@import 'person';
@import 'promo';
