.header__read-progress-bar {
  position: absolute;
  bottom: -4px;
  height: 4px;
  width: 0%; // manipulated by JS
  content: '';
  @include set-color(background-color);
  display: block;
  @include desktop-header {
    display: block;
  }
  @include expanded-header {
    display: none;
  }
}
