.cta-card {
  background: white;
  padding: 25px 15px;
  h4 {
    font-family: $paragraph-font-family;
    font-size: 21px;
  }
  p,
  a {
    font-size: 15px;
    font-weight: 100;
    line-height: 19px;
    color: color(black);
    font-family: $label-font-family;
  }
  &--email a {
    text-decoration: underline;
    font-family: $label-font-family;
  }
  &--link {
    min-height: 130px;
    @include media-breakpoint(tablet) {
      display: flex;
      justify-content: center;
      align-items: center;
      .col--1 {
        width: 50%;
      }
      .col--2 {
        width: 30%;
        margin-left: 20%;
      }
    }

    a {
      width: 100%;
      max-width: 220px;
      display: block;
      margin: 25px auto 0 auto;
      padding: 20px;
      text-align: center;
      font-weight: 700;
      font-family: $paragraph-font-family;
      font-size: 18px;
      background: color(turquoise);
      @include media-breakpoint(tablet) {
        max-width: none;
        margin-top: 0;
      }
    }
    p {
      margin-bottom: 0;
    }
  }
}
