.border-panel {

	border: 5px solid palette-get(grey);
	height: 250px;
	width: 100%;

	overflow: hidden;

	position: relative;

	&__item {
		z-index: 1;
		position: absolute;
		width: 100%;
		height: 100%;
		display: table;
		text-align: center;

		opacity: 0;
		&--active {
			opacity: 1;
		}

		transition: all 0.75s;
	}

	&__nav {
		z-index: 2;
		position: absolute;
		width: 100%;
		bottom: 10px;
		ul { text-align: center; }
	}

	&__button {
		cursor: pointer;
		content: '';
		width: 12px;
		height: 12px;
		border-radius: 100%;
		margin: 0 3px;
		background-color: palette-get(black);
		opacity: 0.4;

		&:hover, &--active { opacity: 1; }
	}

	&__content {
		width: 100%;
		max-width: 400px;
		padding: 20px;
		display: table-cell;
		vertical-align: middle;

		h1, p { padding: 2 }

		h1 {
			font-size: rem-calc(22px);
			font-weight: bold;
		}

		p {
			font-size: rem-calc(16px);
		}

	}

}