.header {

	$pad: 20px;

	padding: $pad ($pad + 10px) 0px;

	position: relative;

	border-bottom: 5px solid palette-get(turquoise);

	.button {
		background: none;
		color: palette-get(black);
		&:after { color: palette-get(black); }
		&:hover {
			background-color: palette-get(turquoise);
			color: palette-get(white);
		}
	}

	&__link-group {

		display: none;
		.header__main-nav__item:hover & {
			display: block;
		}

		padding-top: 5px;
		
		position: absolute;

		top: 40px;
		left: -15px;

		width: calc(100% + 60px);
		
		&__heading {
			font-weight: bold;
			opacity: 0.4;
			font-size: 22px;
		}

		&__main-element {
			font-weight: bold;
		}

		&__sub-element {

		}

		&__content {
			padding: 17px;
			background-color: palette-get(grey);
		}

	}

	&__logo {

		& > * {
			display: inline-block;
			vertical-align: top;
			margin: 0 0;
		}

		svg {
			width: 60px;
		}

		h1 {
			line-height: 100%;
			font-family: 'Platform';
			font-weight: bold;
			text-transform: uppercase;
			font-size:26px;
			width: 80px;
			padding-top: 6px;
			padding-left: 5px;
		}
	}

	&__main-nav {
		position: relative;
		left: -16px;
		margin-top: 5px;
		width: auto;
	}

	&__secondary-nav {
		position: absolute;
		top: 30px; 
		right: $pad + 10px;
		a {
			padding: 0 8px;
		}
	}

	&__search {
		margin: 0;
		padding: 0;
		position: absolute;
		right: $pad + 10px;
		bottom: 15px;
		width: 200px;
		input {
			margin: 0;
		}
	}

}