.header {

	$pad: 20px;
	
	border-bottom: 5px solid palette-get(turquoise);

	&__content {
		padding: $pad ($pad - 10px + 1px) 0px;
		position: relative;
		display: block;
		width: 100%;
		margin: auto;
		max-width: $max-site-width;
	}

	// &__dropdown-button {
	// 	width: 10px;
	// 	height: 10px;
	// }

	&__button {

		background: none;
		color: palette-get(black);

		&:hover, .header__main-nav__item:hover & {
			background-color: palette-get(turquoise);
			color: palette-get(white);
		}

		&--dropdown {
			@include button-dropdown(0.4rem, palette-get(black), down);
			&:after { top: 3px; }
			&:hover, .header__main-nav__item:hover & {
				@include button-dropdown(0.4rem, palette-get(white), down);
				&:after { top: 3px; }
			}

			// position: relative;
			// &:after {
			// 	position: absolute;
			// 	right: 0;
			// 	top: 15px;
			// 	content: '';
			// 	display: block;
			// 	width: 15px;
			// 	height: 15px;
			// 	background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwMCAxMDAwIj4KPHJlY3QgeD0iMjg2LjI0OSIgeT0iMjI0LjI5OCIgdHJhbnNmb3JtPSJtYXRyaXgoMC43MDcxIC0wLjcwNzEgMC43MDcxIDAuNzA3MSAtMjU5LjUwNTggMzg1LjQ2ODYpIiB3aWR0aD0iOTguNTkiIGhlaWdodD0iNTYzLjM3IiBmaWxsPScjMDAwJyAvPgo8cmVjdCB4PSI2MTQuODQ0IiB5PSIyMjQuMzA0IiB0cmFuc2Zvcm09Im1hdHJpeCgwLjcwNzEgMC43MDcxIC0wLjcwNzEgMC43MDcxIDU1Mi4zMDk4IC0zMjEuNDE3MSkiIHdpZHRoPSI5OC41OSIgaGVpZ2h0PSI1NjMuMzY5IiBmaWxsPScjMDAwJyAvPgo8L3N2Zz4=');
			// 	background-size: contain;
			// }
		}

	}

	&__link-group {

		z-index: 2;

		display: none;
		.header__main-nav__item:hover & {
			display: block;
		}

		a, p, h1, li { 
			color: palette-get(white); 
			width: 100%; 
		}

		ul { margin: 0; width: 100%; }

		padding-top: 5px;
		
		position: absolute;

		top: 40px;
		left: 0px;

		width: calc(100% + 36px);
		
		&__heading {
			margin-bottom: 0;
			font-weight: bold;
			font-size: rem-calc(22);
		}

		&__main-element, &__sub-element {
			display: block;
			font-weight: bold;
			&:hover { opacity: 1; }
		}

		&__main-element {
			margin-top: 16px;
			font-size: rem-calc(18);
			opacity: 0.9;
		}

		&__sub-element {
			margin-top: 3px;
			font-size: rem-calc(16px);
			opacity: 0.7;
		}

		&__content {
			padding: 30px 7px;
			background-color: palette-get(turquoise);
		}

	}

	&__logo {

		& > * {
			display: inline-block;
			vertical-align: top;
			margin: 0 0;
		}

		svg {
			width: 55px;
		}

		h1 {
			line-height: 100%;
			font-family: 'Platform';
			font-weight: bold;
			text-transform: uppercase;
			font-size: rem-calc(23);
			width: 80px;
			padding-top: 5px;
			padding-left: 5px;
		}
	}

	&__main-nav {
		position: relative;
		left: -18px;
		margin-top: 5px;
		width: auto;
	}

	&__secondary-nav, &__search {
		right: 10px;
	}

	&__secondary-nav {
		position: absolute;
		top: 30px; 
		a {
			padding: 0 8px;
			&:last-of-type {
				padding-right: 0;
			}
		}
	}

	&__search {
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 0;
		width: 200px;
		input {
			margin: 0;
		}
	}

}