.picture-link {

	$size: 75px;
	$gutter: 15px;

	@include clearfix;

	width: auto;
	height: $size;

	margin: $gutter/2 0;
	@include breakpoint(small) {
		margin: 0;
	}

	&__picture, &__content {
		float: left;
	}

	&__picture {
		width: $size;
		img {
			width: $size;
			height: $size;
		}
	}

	&__content {

		padding-top: 4px;

		width: calc(100% - #{$size + $gutter});
		display: inline-block;
		margin-left: $gutter;

		h1, p {
			width: 100%;
			margin: 0;
			line-height: 120%;
		}

		h1 {
			font-weight: bold;
			font-size: rem-calc(24);
		}

		p {
			margin-top: 3px;
			font-size: rem-calc(16);
		}

	}

}