{% load static from staticfiles %}
{% load side_menu wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="mobile-nav__secondary">
	{% if mobile_logo %}
	    <div class="mobile-nav__secondary__logo">
	        {% image mobile_logo min-200x100 class="mobile-nav__secondary__logo__image" %}
	    </div>
    {% else %}
    	<div class="mobile-nav__secondary__logo-fallback">{{ program_name | upper }}</div>
    {% endif %}
    <div class="mobile-nav__toggle">
        <div class="mobile-nav__toggle__secondary flip-arrow-white rotate"></div>
    </div>
</div>
