{% load side_menu wagtailcore_tags static %}
{% get_site_root as site_root %}

<div class="mobile-sidemenu">
  

</div>



<div class="sidemenu" >
  <a href= "#">
    <div class="sidemenu__program-title">
      <h1 class="sidemenu__program-title__title">INTERNATIONAL SECURITY</h1>
    </div>
  </a>
  <div class="sidemenu__link-group">
    <ul class="menu vertical sidemenu__link-group__content" id="example-menu">
      <li class="menu-text sidemenu__link-group__title">Initiatives & Projects</li>
      <li class="sidemenu__link-group__link"><a href="#">Future of War</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Cybersecurity Initiative</a></li>
      <li class="sidemenu__link-group__link"><a href="#">World of Drones</a></li>

      <li class="menu-text sidemenu__link-group__title">Events</li>
      <li class="sidemenu__link-group__link"><a href="#">Current Events</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Past Events</a></li>

      <li class="menu-text sidemenu__link-group__title">Our Work</li>
      <li class="sidemenu__link-group__link"><a href="#">Blog Posts</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Press Releases</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Articles</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Books</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Quoted</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Podcasts</a></li>
    </ul>
  </div>
</div>