{% load side_menu wagtailcore_tags static %}
{% get_site_root as site_root %}

<ul class="menu vertical">
  <li class="menu-text">Initiatives & Programs</li>
  <li><a href="#">Future of War</a></li>
  <li><a href="#">Cybersecurity Initiative</a></li>
  <li><a href="#">World of Drones</a></li>

  <li class="menu-text">Events</li>
  <li><a href="#">Current Events</a></li>
  <li><a href="#">Past Events</a></li>

  <li class="menu-text">Our Work</li>
  <li><a href="#">Blog Posts</a></li>
  <li><a href="#">Three</a></li>
  <li><a href="#">Four</a></li>
</ul>