{% load top_menu wagtailcore_tags static %}

<div class="mobile-header">
    <ul class="menu vertical" id="example-menu">
      <li class="menu-text sidemenu__link-group__title">Programs</li>
      <li class="sidemenu__link-group__link"><a href="#">Future of War</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Cybersecurity Initiative</a></li>
      <li class="sidemenu__link-group__link"><a href="#">World of Drones</a></li>

      <li class="menu-text sidemenu__link-group__title">Events</li>

      <li class="menu-text sidemenu__link-group__title">Our Work</li>
      <li class="sidemenu__link-group__link"><a href="#">Blog Posts</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Press Releases</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Articles</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Books</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Quoted</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Podcasts</a></li>

      <li class="menu-text sidemenu__link-group__title">Experts</li>

      <li class="menu-text sidemenu__link-group__title">About</li>
      <li class="sidemenu__link-group__link"><a href="#">Blog Posts</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Press Releases</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Articles</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Books</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Quoted</a></li>
      <li class="sidemenu__link-group__link"><a href="#">Podcasts</a></li>

      <li class="menu-text sidemenu__link-group__title">Support</li>

      <li class="menu-text sidemenu__link-group__title">Search</li>
    </ul>

</div>

<header class='header'>

    <div class='header__content'>

        <a class='header__logo' href='/'>
            {% include 'ui_elements/svg/new-america.html' %}
            <h1>New America</h1>
        </a>

        <div class="header__mobile-toggle">
            <button class="header__mobile-toggle__button">Menu</button>
        </div>

        <div class='header__secondary-nav'>
            <ul>
                <li>
                    <a href="">Jobs</a>
                </li>
                <li>
                    <a href="">Subscribe</a>
                </li>
                <li>
                    <a href="">Press</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
        </div>

        <nav class='header__main-nav'>
            <ul class='header__main-nav__left'>
                <li class='header__main-nav__item header__has-link-group'>

                    <a class='header__button header__button--dropdown button'>Programs</a>

                    <div class='header__cover-bottom-shadow'></div>

                    <div class='header__link-group'>

                        <div class='header__link-group__content'>

                            <div class='row'>

                                <div class='small-12 large-9 columns'>

                                    <div class='row'>

                                        <div class='small-12 large-12 columns'>
                                            <h1 class='header__link-group__heading'>Programs and Initiatives</h1>
                                        </div>

                                    </div>

                                    <div class='row'>

                                        <div class='small-12 large-4 columns'>

                                            {% for program in programs|slice:":5" %}
                                                {% if program %}
                                                    <a class="header__link-group__main-element" href="{{ program.url }}">{{ program.title }}</a>
                                                    {% top_menu_children parent=program %}
                                                {% else %}
                                                    <a href="{% pageurl program %}" class="header__link-group__main-element">{{ program.title }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                        <div class='small-12 large-4 columns'>

                                            {% for program in programs|slice:"5:10" %}
                                                {% if program %}
                                                    <a class="header__link-group__main-element" href="{{ program.url }}">{{ program.title }}</a>
                                                    {% top_menu_children parent=program %}
                                                {% else %}
                                                    <a href="{% pageurl program %}" class="header__link-group__main-element">{{ program.title }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                        <div class='small-12 large-4 columns'>

                                            {% for program in programs|slice:"10:" %}
                                                {% if program %}
                                                    <a class="header__link-group__main-element" href="{{ program.url }}">{{ program.title }}</a>
                                                    {% top_menu_children parent=program %}
                                                {% else %}
                                                    <a href="{% pageurl program %}" class="header__link-group__main-element">{{ program.title }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                    </div>

                                </div>

                                <div class='small-12 large-3 columns'>

                                    <div class='row'>
                                        <div class='small-12 large-12 columns'>
                                            <h1 class='header__link-group__heading'>By Location</h1>
                                            {% for program in location_programs %}
                                                {% if program %}
                                                        <a class="header__link-group__main-element" href="{{ program.url }}">{{ program.title }}</a>
                                                        {% top_menu_children parent=program %}
                                                    {% else %}
                                                        <a href="{% pageurl program %}" class="header__link-group__main-element">{{ program.title }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </li>

                <li class='header__main-nav__item'>
                    <a class='header__button button' href="/events/">Events</a>
                </li>
                <li class='header__main-nav__simple-link-group-item header__has-link-group'>
                    <a class='header__button header__button--dropdown button'>Our Work</a>
                    <div class='header__cover-bottom-shadow'></div>
                    <div class='header__simple-link-group'>
                        <div class='header__simple-link-group__content'>
                            <ul>
                                <li ><a class='header__simple-link-group__element' href="#">Articles</a></li>
                                <li ><a class='header__simple-link-group__element' href="#">Blog Posts</a></li>
                                <li ><a class='header__simple-link-group__element' href="#">Books</a></li>
                                <li ><a class='header__simple-link-group__element' href="#">Policy Papers</a></li>
                                <li ><a class='header__simple-link-group__element' href="#">Podcasts</a></li> 
                                <li ><a class='header__simple-link-group__element' href="#">Press Releases</a></li>
                                <li ><a class='header__simple-link-group__element' href="#">Quoted</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </li>
                <li class='header__main-nav__item'>
                    <a class='header__button button' href="/experts/">Experts</a>
                </li>

                <li class="header__main-nav__simple-link-group-item header__has-link-group">
                    <a class="header__button header__button--dropdown button">About</a>
                    <div class='header__cover-bottom-shadow'></div>
                    <div class='header__simple-link-group'>
                        <div class='header__simple-link-group__content'>
                            <ul>
                                <li ><a class='header__simple-link-group__element' href="#">Our Story</a></li>
                                <li ><a class='header__simple-link-group__element' href="#">Our People</a></li>
                                <li ><a class='header__simple-link-group__element' href="#">Press</a></li>
                                <li ><a class='header__simple-link-group__element' href="#">Jobs</a></li>
                                <li ><a class='header__simple-link-group__element' href="#">Funders</a></li>
                                <li ><a class='header__simple-link-group__element' href="#">Councils</a></li>  
                            </ul>
                        </div>
                    </div>
                </li>

            </ul>

            <ul class='header__main-nav__right'>
                <li class='header__main-nav__right__item'>
                    <a class='header__button button' href="#">Support</a>
                </li>
                <li class='header__main-nav__right__search'>
                    <form action="" method="get">
                        <input type='text' placeholder='Search'></input>
                    </form>
                </li>
            </ul>

        </nav>

    </div>

</header>
