{% load top_menu wagtailcore_tags static %}

<header class='header'>

    <div class='header__content'>

        <a class='header__logo' href='/'>
            {% include 'ui_elements/svg/new-america.html' %}
            <h1>New America</h1>
        </a>

        <div class='header__secondary-nav'>
            <ul>
                <li>
                    <a href="">Jobs</a>
                </li>
                <li>
                    <a href="">Subscribe</a>
                </li>
                <li>
                    <a href="">Press</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
        </div>

        <div class="mobile-nav">
            <ul>
                <li class="mobile-nav__button mobile-nav__button--active">
                    {% include 'ui_elements/svg/new-america.html' %}
                </li>
                <li class="mobile-nav__button">
                    {% include 'ui_elements/svg/calendar.html' %}
                </li>
                <li class="mobile-nav__button">
                    {% include 'ui_elements/svg/book.html' %}
                </li>
                <li class="mobile-nav__button">
                    {% include 'ui_elements/svg/people.html' %}
                </li>
                <li class="mobile-nav__button">
                    {% include 'ui_elements/svg/award.html' %}
                </li>
                <li class="mobile-nav__button">
                    {% include 'ui_elements/svg/magnifying-glass.html' %}
                </li>
            </ul>
        </div>

        <nav class='header__main-nav'>
            <ul>
                <li class='header__main-nav__item header__has-link-group'>

                    <a class='header__button header__button--dropdown button'>Programs</a>

                    <div class='header__cover-bottom-shadow'></div>

                    <div class='header__link-group'>

                        <div class='header__link-group__content'>

                            <div class='row'>

                                <div class='small-12 large-9 columns'>

                                    <div class='row'>

                                        <div class='small-12 large-12 columns'>
                                            <h1 class='header__link-group__heading'>Programs and Initiatives</h1>
                                        </div>

                                    </div>

                                    <div class='row'>

                                        <div class='small-12 large-4 columns'>

                                            {% for program in programs|slice:":5" %}
                                                {% if program %}
                                                    <a class="header__link-group__main-element" href="{{ program.url }}">{{ program.title }}</a>
                                                    {% top_menu_children parent=program %}
                                                {% else %}
                                                    <a href="{% pageurl program %}" class="header__link-group__main-element">{{ program.title }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                        <div class='small-12 large-4 columns'>

                                            {% for program in programs|slice:"5:10" %}
                                                {% if program %}
                                                    <a class="header__link-group__main-element" href="{{ program.url }}">{{ program.title }}</a>
                                                    {% top_menu_children parent=program %}
                                                {% else %}
                                                    <a href="{% pageurl program %}" class="header__link-group__main-element">{{ program.title }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                        <div class='small-12 large-4 columns'>

                                            {% for program in programs|slice:"10:" %}
                                                {% if program %}
                                                    <a class="header__link-group__main-element" href="{{ program.url }}">{{ program.title }}</a>
                                                    {% top_menu_children parent=program %}
                                                {% else %}
                                                    <a href="{% pageurl program %}" class="header__link-group__main-element">{{ program.title }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                    </div>

                                </div>

                                <div class='small-12 large-3 columns'>

                                    <div class='row'>
                                        <div class='small-12 large-12 columns'>
                                            <h1 class='header__link-group__heading'>By Location</h1>
                                            {% for program in location_programs %}
                                                {% if program %}
                                                        <a class="header__link-group__main-element" href="{{ program.url }}">{{ program.title }}</a>
                                                        {% top_menu_children parent=program %}
                                                    {% else %}
                                                        <a href="{% pageurl program %}" class="header__link-group__main-element">{{ program.title }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </li>

                <li class='header__main-nav__item'>
                    <a class='header__button button' href="/events">Events</a>
                </li>
                <li class='header__main-nav__item'>
                    <a class='header__button button'>Our Work</a>
                </li>
                <li class='header__main-nav__item'>
                    <a class='header__button button' href="/experts">Experts</a>
                </li>

                <li class="header__main-nav__simple-link-group-item header__has-link-group">
                    <a class="header__button header__button--dropdown button">About</a>
                    <div class='header__cover-bottom-shadow'></div>
                    <div class='header__simple-link-group'>
                        <div class='header__simple-link-group__content'>
                            <ul>
                                <li class='header__simple-link-group__main-element'><a href="#">About Us</a></li>
                                <li class='header__simple-link-group__main-element'><a href="#">Issues</a></li>
                                <li class='header__simple-link-group__main-element'><a href="#">Our People</a></li>
                                <li class='header__simple-link-group__main-element'><a href="#">Funders</a></li>
                                <li class='header__simple-link-group__main-element'><a href="#">Advisory Council</a></li>
                            </ul>
                        </div>
                    </div>
                </li>

            </ul>

        </nav>

        <div class='header__search'>
            <form action="" method="get">
                <input type='text' placeholder='Search'></input>
            </form>
        </div>

    </div>

</header>
