{% load static from staticfiles %}
{% load top_menu wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

<div class="mobile-header mobile-menu">
    <ul class="vertical menu" data-accordion-menu>
        <li class="mobile-menu__link__main"><a href="/">Home Page</a></li>
        <li class="mobile-menu__link__main"><a href="#">Programs</a>
            <div class="mobile-menu__toggle flip-arrow-black rotate"></div>
            <ul class="vertical menu">
            {% for program in programs %}
                {% if program.url == "/opportunity-at-work/" %}
                    <li class="mobile-menu__link__secondary"><a href="http://www.opportunityatwork.org/">{{ program.title }}</a></li>
                {% elif program.url == "/international-reporting-project/" %}
                    <li class="mobile-menu__link__secondary"><a href="https://internationalreportingproject.org">{{ program.title }}</a></li>
                {% else %}
                    <li class="mobile-menu__link__secondary"><a href="{{ program.url }}">{{ program.title }}</a></li>
                {% endif %}
            {% endfor %}
            {% for location in location_programs %}
                <li class="mobile-menu__link__secondary"><a href="{{ location.url }}">{{ location.title }}</a></li>
            {% endfor %}
            </ul>
        </li>
        <li class="mobile-menu__link__main"><a href="#">Channels</a>
            <div class="mobile-menu__toggle flip-arrow-black rotate"></div>
            <ul class="vertical menu">
                <li class="mobile-menu__link__secondary"><a href="/weekly/">New America Weekly</a></li>
                <li class="mobile-menu__link__secondary"><a href="https://context.newamerica.org/">Context on Medium</a></li>
                <li class="mobile-menu__link__secondary"><a href="http://www.slate.com/articles/technology/future_tense.html">Future Tense on Slate</a></li>
            </ul>
        </li>
        <li class="mobile-menu__link__main"><a href="#">Events</a>
            <div class="mobile-menu__toggle flip-arrow-black rotate"></div>
            <ul class="vertical menu">
                <li class="mobile-menu__link__secondary"><a href="/events/">Future Events</a></li>
                <li class="mobile-menu__link__secondary"><a href="/events/past/">Past Events</a></li>
            </ul>
        </li>
        <li class="mobile-menu__link__main"><a href="#">Publications</a>
            <div class="mobile-menu__toggle flip-arrow-black rotate"></div>
            <ul class="vertical menu">
                <li class="mobile-menu__link__secondary"><a href="/articles/">Articles & Op-Eds</a></li>
                <li class="mobile-menu__link__secondary"><a href="/blogs/">Blog Posts</a></li>
                <li class="mobile-menu__link__secondary"><a href="/books/">Books</a></li>
                <li class="mobile-menu__link__secondary"><a href="/in-depth/">In Depth</a></li>
                <li class="mobile-menu__link__secondary"><a href="/in-the-news/">In the News</a></li>
                <li class="mobile-menu__link__secondary"><a href="/weekly/">New America Weekly</a></li>
                <li class="mobile-menu__link__secondary"><a href="/podcasts/">Podcasts</a></li>
                <li class="mobile-menu__link__secondary"><a href="/policy-papers/">Policy Papers</a></li>
                <li class="mobile-menu__link__secondary"><a href="/press-releases/">Press Releases</a></li>
            </ul>
        </li>
        <li class="mobile-menu__link__main"><a href="/our-people/">Experts</a></li>
        <li class="mobile-menu__link__main"><a href="#">About</a>
            <div class="mobile-menu__toggle flip-arrow-black rotate"></div>
            <ul class="vertical menu">
                <li class="mobile-menu__link__secondary"><a href="/our-story/">Our Story</a></li>
                <li class="mobile-menu__link__secondary"><a href="/our-people/">Our People</a></li>
                <li class="mobile-menu__link__secondary"><a href="/our-funding/">Our Funding</a></li>
                <li class="mobile-menu__link__secondary"><a href="/press-room/">Press</a></li>
                <li class="mobile-menu__link__secondary"><a href="/jobs/">Jobs</a></li>
                <li class="mobile-menu__link__secondary"><a href="/fellowships/">Fellowships</a></li>
            </ul>
        </li>
        <li class="mobile-menu__link__main"><a href="/our-funding/donate/">Donate</a></li>
        <li class="mobile-menu__link__main">
            <form class="search-box" action="/search/?query=value" method="get">
                <input class="search-box__input" type='text' name='query' placeholder='Search' autocomplete="off"></input>
                <button class="search-box__submit" type="submit">
                    {% include 'components/svg/magnifying-glass.html' %}
                </button>
            </form>
        </li>
    </ul>

</div>

<header class='header'>

    <div class='header__content'>

        <a class='header__logo' href='/'>
            {% include 'components/svg/new-america.html' %}
        </a>

        <div class='header__secondary-nav'>
            <ul>
                <li>
                    <a href="/jobs/">Jobs</a>
                </li>
                <li>
                    <a href="/subscribe/">Subscribe</a>
                </li>
                <li>
                    <a href="/press-room/">Press</a>
                </li>
                <li>
                    <a href="/contact/">Contact</a>
                </li>
            </ul>
        </div>

        <nav class='header__main-nav'>
            <ul class='header__main-nav__left'>
                <li class='header__main-nav__item header__has-link-group'>

                    <a class='header__button header__button--dropdown button' id="program-dropdown-toggle">Programs</a>

                    <div class='header__cover-bottom-shadow'></div>

                    <div class='header__link-group'>
                        <div class='header__link-group__fadeout'></div>
                        <div class='header__link-group__content' id="program-dropdown-content">

                            <div class='header__link-group__main'>
                                <div class='header__link-group__heading-container'>
                                    <h1 class='header__link-group__heading'>Programs and Initiatives</h1>
                                </div>
                                <div class='header__link-group__main__entry-group'>
                                    {% for program in programs %}
                                        <div class='header__link-group__main__entry'>
                                            {% if program %}
                                                {% if program.url == "/opportunity-at-work/" %}
                                                    <a class="header__link-group__main-element" href="http://www.opportunityatwork.org/">{{ program.title }}</a>
                                                {% elif program.url == "/international-reporting-project/" %}
                                                    <a class="header__link-group__main-element" href="https://internationalreportingproject.org">{{ program.title }}</a>
                                                {% else %}
                                                    <a class="header__link-group__main-element" href="{{ program.url }}">{{ program.title }}</a>
                                                {% endif %}
                                                {% top_menu_children parent=program %}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class='header__link-group__secondary'>
                                <div class='header__link-group__heading-container'>
                                    <h1 class='header__link-group__heading'>By Location</h1>
                                </div>
                                <div class='header__link-group__secondary__entry-group'>
                                    {% for location in location_programs %}
                                        <a class="header__link-group__main-element" href="{{ location.url }}">{{ location.title }}</a>
                                    {% endfor %}
                                </div>

                                <div class='header__link-group__heading-container'>
                                    <h1 class='header__link-group__heading'>Channels</h1>
                                </div>
                                <div class='header__link-group__secondary__entry-group'>
                                    <a class="header__link-group__main-element" href="/weekly/">New America Weekly</a>
                                    <a class="header__link-group__main-element" href="https://context.newamerica.org/">Context on Medium</a>
                                    <a class="header__link-group__main-element" href="http://www.slate.com/articles/technology/future_tense.html">Future Tense on Slate</a>
                                </div>
                                <div class="header__link-group__social-icons-container">
                                    {% include 'components/org_social_media_icons.html' %}
                                </div>
                            </div>

                        </div>
                    </div>
                </li>

                <li class='header__main-nav__item'>
                    <a class='header__button button' href='/events/'>Events</a>
                </li>
                <li class='header__main-nav__simple-link-group-item header__has-link-group'>
                    <a class='header__button header__button--dropdown button'>Publications</a>
                    <div class='header__cover-bottom-shadow'></div>
                    <div class='header__simple-link-group'>
                        <div class='header__simple-link-group__content'>
                            <ul>
                                <li ><a class='header__simple-link-group__element' href="/articles/">Articles & Op-Eds</a></li>
                                <li ><a class='header__simple-link-group__element' href="/blogs/">Blog Posts</a></li>
                                <li ><a class='header__simple-link-group__element' href="/books/">Books</a></li>
                                <li ><a class='header__simple-link-group__element' href="/in-depth/">In Depth</a></li>
                                <li ><a class='header__simple-link-group__element' href="/in-the-news/">In the News</a></li>
                                <li ><a class='header__simple-link-group__element' href="/weekly/">New America Weekly</a></li>
                                <li ><a class='header__simple-link-group__element' href="/podcasts/">Podcasts</a></li>
                                <li ><a class='header__simple-link-group__element' href="/policy-papers/">Policy Papers</a></li>
                                <li ><a class='header__simple-link-group__element' href="/press-releases/">Press Releases</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class='header__main-nav__item'>
                    <a class='header__button button' href="/our-people/">Experts</a>
                </li>

                <li class="header__main-nav__simple-link-group-item header__has-link-group">
                    <a class="header__button header__button--dropdown button">About</a>
                    <div class='header__cover-bottom-shadow'></div>
                    <div class='header__simple-link-group'>
                        <div class='header__simple-link-group__content'>
                            <ul>
                                <li ><a class='header__simple-link-group__element' href="/our-story/">Our Story</a></li>
                                <li ><a class='header__simple-link-group__element' href="/our-people/">Our People</a></li>
                                <li ><a class='header__simple-link-group__element' href="/our-funding/">Our Funding</a></li>
                                <li ><a class='header__simple-link-group__element' href="/press-room/">Press</a></li>
                                <li ><a class='header__simple-link-group__element' href="/jobs/">Jobs</a></li>
                                <li ><a class='header__simple-link-group__element' href="/fellowships/">Fellowships</a></li>
                            </ul>
                        </div>
                    </div>
                </li>

            </ul>

            <ul class='header__main-nav__right'>
                <li class='header__main-nav__item__right'>
                    <a class='header__button button' href="/our-funding/donate/">Donate</a>
                </li>
                <li class='header__main-nav__item__right'>
                    <form class="search-box" action="/search/?query=value" method="get">
                        <input class="search-box__input" type='text' name='query' placeholder='Search' autocomplete="off"></input>
                        <button class="search-box__submit" type="submit">
                            {% include 'components/svg/magnifying-glass.html' %}
                        </button>
                    </form>
                </li>
            </ul>

        </nav>

    </div>

</header>
