.in-depth__footer {
	background-color: color(black);
	color: white;
	/*border-top: 2px solid color(black);*/


	&__next-prev {

		width: 100%;

		display: table;

		&__wrapper {

			background-repeat: no-repeat;
		    background-size: cover;
		    background-position: 50% 50%;

			@include media-breakpoint(tablet) {
				display: table-cell;
				width: 50%;
			}

			&.no-image {
				border-top: 2px solid color(black);
				border-bottom: 2px solid color(black);
			}
		}

		&__prev, &__next {
			width: 100%;
			max-width: $max-site-width;
			margin: auto;
			padding: 95px 25px;
			.has-both & {
				max-width: $max-site-width/2;
				margin: 0px;
			}
		}

		&__prev {
			.has-both & {
				@media screen and (min-width: 1350px) {
					margin-left: calc(100% - #{$max-site-width}/2);
				}
			}
		}
	}

	&__title-block {
		padding: 0px 25px;

		@include media-breakpoint(tablet) {
			height: 85px;
		}
	}

	&__main {
		padding: 2*25px 0px;

		&__content {
			display: table;
			width: 100%;

			.in-depth__navigation-subheading {
				margin: 25px 0px 15px 0px;
			}
		}

		&__left, &__right {
			padding-left: 25px;
	    	padding-right: 25px;

			@include desktop-header {
				display: table-cell;
				width: 50%;
	    	}
		}

		.post-person {
			&__text {
				b, strong {
					color: white;
				}
			}
		}

		&__directory {
			&__item {
				width: 100%;
				margin-bottom: 3px;
					a.active {
						font-weight: bold;
						color: white;
					}
			}
		}

	}

	&__about {
		color: palette-get(na-black-10);

		b {
			color: white;
		}
		a:not(.button) {
			color: white;
		    font-weight: 800;
		    border-bottom: $standard-border;
		    padding-bottom: 2px;
		    opacity: 1;
		}

		a:not(.button):hover {
			@include set-color(color);
		}
	}

	&__subordinate-text {
		padding-top: 10px;
		color: color(black);
		font-size: 12px;
		width: 60%;
		line-height: 130%;
		margin-bottom: 0px;
	}

	&__download-data-message {
		display: none;
	}
}
