.in-depth__header {
	$section-header-height-medium: 100px;
	$section-header-height: 140px;
    $header-right-width: (
		small: 300px,
		medium: 450px,
		large: 600px,
    );
   
	background-color: color(black);
	color: white;
	padding: 25px;
	z-index: 15;
	position: relative;

    @include desktop-header {
        height: $section-header-height;
        padding-top: 0px;
        padding-bottom: 0px;

        .in-depth__panel__max-width-wrapper {
            height: $section-header-height;
        }
    }

	&__left {
 		display: inline-block;
 		color: white;
		width: 100%;

		@include media-breakpoint(tablet) {
			height: $section-header-height-medium;
		}

	    @include desktop-header {
	        width: calc(100% - #{map-get($header-right-width, small)});
	       	height: $section-header-height;
	    }

	    @include media-breakpoint(desktop) {
	        width:  calc(100% - #{map-get($header-right-width, medium)});
	    }

	    @media screen and (min-width: 1200px) {
	        width:  calc(100% - #{map-get($header-right-width, large)});
	    }

	    .in-depth__title-block {
	    	/*&__logo, &__text {
	    		@include desktop-header {
		           position: relative;
		           top: 50%;
		           transform: translateY(-50%);
		        }
	    	}*/

	    }

	}

	&__right {
		float: right;
		height: $section-header-height;
		overflow: hidden;
		position: relative;
		display: none;
		padding-left: 25px;

        @include desktop-header {
            display: inline-block;
	 		width: map-get($header-right-width, small);
        }
	 	@include media-breakpoint(desktop) {
	 		width: map-get($header-right-width, medium);
	 	}

	 	@media screen and (min-width: 1200px) {
	 		width: map-get($header-right-width, large);
	 	}
	 		
	}

 	&__item-container {
 		height: $section-header-height;
 		width: 100%;
 		padding: 0px 35px;
 		margin: auto;
 	}

 	&__item {
 		height: $section-header-height;
 		&__text {
 			margin-bottom: 0px;
 			padding: 10px 10px;
 			position: relative;
 			top: 50%;
 			transform: translateY(-50%);
        	text-align: center;

 			a {
 				color: color(black);
	 			font-weight: bold;
	 			font-size: 1.1rem;

           		@include line-clamp(5, 1.3);

	 			.active & {
	 				color: white;
	 			}
 			}
 		}
 	}

 	&__arrow__previous, &__arrow__next {
 		height: 20px;
 		width: 20px;
 		position: absolute;
 		cursor: pointer;
 		z-index: 10;
 		svg {
 			fill: white;
 		}
 	}

 	&__arrow__previous {
 		top: 50%;
 		transform: translateY(-50%);
 	}

 	&__arrow__next {
 		right: 0;
 		top: 50%;
 		transform: translateY(-50%);
 	}
}