// Custom variables

$color-palette: (
	grey: #ebebeb,
  darkgrey: #555,
	black: #2c2f35,
	white: #ffffff,
	turquoise: #2dbbb3
);

@function palette-get($key) {
	@return map-get($color-palette, $key);
}

$max-site-width: 1350px;
$max-body-width: 650px;


// Foundation default variable overrides

$global-lineheight: 1.65;

$body-font-family: 'Simplon';

$button-background: palette-get(black);
$button-background-hover: palette-get(turquoise);
$button-margin: 0;

$button-sizes: (
  tiny: rem-calc(12),
  small: rem-calc(14),
  default: rem-calc(16),
  large: rem-calc(18),
);

// $button-padding: 0.65rem;

$grid-column-align-edge: false;

$grid-column-responsive-gutter: (
  small: 20px,
  medium: 20px,
);

// Overrides the maximum width a row can take on.
$grid-row-width: rem-calc($max-site-width);

$input-background: palette-get(grey);
$input-background-focus: palette-get(turquoise);

$input-color: palette-get(black);
$input-color-focus: palette-get(white);

$input-height: 40px;
$input-font-size: rem-calc(16);

$input-border: none;
$input-border-focus: none;
$input-shadow: none;
$input-shadow-focus: none;

$form-spacing: 1.73rem;//1.375rem;

$anchor-color: palette-get(black);
$anchor-color-hover: palette-get(turquoise);

$paragraph-lineheight: 1.65;
$paragraph-color: palette-get(black);

$blockquote-color: palette-get(black);
// $blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 4px solid palette-get(black);

$primary-color: palette-get(black);
$secondary-color: palette-get(turquoise);