{% load utilities %}

<script type="text/javascript">
	if (!window.timelineEventLists) {
		var timelineEventLists = [];
	}
	timelineEventLists.push({{ event_list_json|safe }});

	console.log(timelineEventLists);
</script>


<div class="timeline">
	<div class="timeline__nav"></div>
	<div class="timeline__content">
		{% for event in sorted_event_list %}
			<div class="timeline__event" id="event-{{ forloop.counter0 }}">
				{% if event.image or event.video %}
					<div class="timeline__event__media">
						{% if event.video %}
							{{ event.video }}
						{% else %}
							{{ event.image }}
						{% endif %}
					</div>
					<div class="timeline__event__text has-media">
				{% else %}
					<div class="timeline__event__text">
				{% endif %}
						{% if event.end_date %}
							<div class="timeline__event__date">{{ event.start_date }} - {{ event.end_date }}</div>
						{% else %}
							<div class="timeline__event__date">{{ event.start_date }}</div>
						{% endif %}
						<div class="timeline__event__title">{{ event.title }}</div>
						{% if event.description %}
							<div class="timeline__event__description">{{ event.description }}</div>
						{% endif %}
					</div>
			</div>
		{% endfor %}
	</div>
</div>