$link-group-header-spacing: 30px;

.header__link-group {
  @mixin is-active {
    .header__has-link-group:hover &,
    .header__has-link-group--active & {
      @content;
    }
  }
  display: none;
  @include is-active {
    display: flex;
  }
  .no-flexbox & {
    display: block !important;
  }
  // position: fixed;
  // background-color: rgba(0, 0, 0, 0.2);
  // width: 100vw;
  // left: 0vw;
  // height: 100vh;
  // top: 0vh;
  position: absolute;
  left: 0;

  @include desktop-header {
    width: 100%;
    top: 72px;

  }
  @include expanded-header {
    width: calc(100% + 50px);
    left: -11px;
    top: 45px;
  }
  z-index: 4;
  padding: 5px 11px 0;
 
  &__location {
    padding-top: $link-group-header-spacing;

    @include breakpoint(large) {
       padding-top: 0px;
    }
  }

  &__channels {
    padding-top: $link-group-header-spacing;

    & > .social-icons {
      margin-top: 16px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  a,
  p,
  h1,
  li {
    color: palette-get(na-black);
    width: 100%;
  }
  ul {
    margin: 0;
    width: 100%;
  }
  @mixin local-hover {
    &:hover {
      opacity: 1;
      color: palette-get(na-turquoise);
    }
  }
  &__content {
    width: 100%;

    margin: auto;
    border-bottom: 4px solid palette-get(na-turquoise);
   
    // .no-flexbox & {
    // 	position: absolute;
    // 	height: 90%;
    // 	left: 5%;
    // 	top: 5%;
    // }
    @include standard-shadow;
    padding: 30px 7px;

    /*max-height: 350px;*/
    overflow: scroll;
    @include breakpoint(large) {
      max-height: none;
      overflow: none;
    }

    background-color: palette-get(na-white);
    border-left: 1px solid palette-get(na-black-10);
    border-right: 1px solid palette-get(na-black-10);
    border-top: 1px solid palette-get(na-black-10);
  }
  &__heading {
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid palette-get(na-black-10);
    font-weight: bold;
    font-size: rem-calc(22);
  }
  &__heading,
  &__main-element,
  &__sub-element {
    padding-left: 10px;
    padding-right: 10px;
  }
  &__main-element,
  &__sub-element {
    display: block;
    @include local-hover;
  }
  &__main-element {
    margin-top: 16px;
    font-size: rem-calc(18);
    font-weight: bold;
    opacity: 0.9;
  }
  &__sub-element {
    color: palette-get(na-black-40);
    margin-top: 3px;
    font-size: rem-calc(16px);
    opacity: 0.7;
  }
}
