$link-group-header-spacing: 30px;

.header__link-group {
  @mixin is-active {
    .header__has-link-group:hover &,
    .header__has-link-group--active & {
      @content;
    }
  }
  display: none;
  @include is-active {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  }
  
  .no-flexbox & {
    display: block !important;
  }

  position: absolute;
  left: 0;

  @include desktop-header {
    width: 100%;
    top: 72px;

  }
  @include expanded-header {
    width: calc(100% + 40px);
    left: -11px;
    top: 45px;
  }
  z-index: 4;
  padding: 5px 11px 0;
 
  &__location {
    padding-top: $link-group-header-spacing;

    @include breakpoint(large) {
       padding-top: 0px;
    }
  }

  &__channels {
    padding-top: $link-group-header-spacing;

    & > .social-icons {
      margin-top: 16px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  a,
  p,
  h1,
  li {
    color: palette-get(na-black);
    width: 100%;
  }
  ul {
    margin: 0;
    width: 100%;
  }
  @mixin local-hover {
    &:hover {
      opacity: 1;
      @include set-color(color);
    }
  }
  &__content {
    width: 100%;

    margin: auto;

    border-bottom: 4px solid;
    @include set-color(border-bottom-color);
   
    @include standard-shadow;
    padding: 30px 7px;
    overflow: scroll;

    background-color: palette-get(na-white);
    border-left: 1px solid palette-get(na-black-10);
    border-right: 1px solid palette-get(na-black-10);
    border-top: 1px solid palette-get(na-black-10);
  }

  &__main {
  	float: left;

    @include breakpoint(medium) {
      width: 66.6%;
    }

    @include breakpoint(large) {
      width: 75%;
    }

  	&__entry-group {
  		padding-top: 15px;
      padding-right: 25px;
	  	@include breakpoint(medium) {
		  	-moz-column-count:2; 
  			-webkit-column-count:2; 
  			column-count:2;
		  }
	  	@include breakpoint(large) {
		  	-moz-column-count:3; 
  			-webkit-column-count:3; 
  			column-count:3;
		  }
	}

	&__entry {
		padding-bottom: 15px;
		width: 100%;
		display: inline-block;
	}
  }

  &__secondary {
  	float: left;

    @include breakpoint(medium) {
      width: 33.3%;
    }

    @include breakpoint(large) {
      width: 25%;
    }

  	&__entry-group {
  		padding: 15px 0px;
  	}

  	.header__link-group__main-element {
  		padding-bottom: 15px;
  	}

  }

  &__heading-container {
  	padding-right: 10px;
  	padding-left: 10px;
  }

  &__heading {
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: $standard-border;
    font-weight: bold;
    font-size: rem-calc(22);
    margin-right: 10px;
  }

  &__main-element,
  &__sub-element {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    @include local-hover;
  }
  &__main-element {
    font-size: rem-calc(18);
    font-weight: bold;
    opacity: 0.9;
  }
  &__sub-element {
    color: palette-get(na-black-40);
    margin-top: 3px;
    font-size: rem-calc(16px);
    opacity: 0.7;
  }

  &__social-icons-container {
  	height: 25px;
    width: 100%;
    padding-left: 10px;

    .social-icons {
      float: left;
    }
  }
}
