.header__logo {

	$logo-width: 55px;

	display: none;
	@include desktop-header() {
		display: inline-block;
	}

	& > * {
		display: inline-block;
		vertical-align: top;
		margin: 0 0;
	}

	svg {
		width: $logo-width;
		
		rect, path { fill: palette-get(na-black); }
	}

	h1 {
		line-height: 100%;
		font-family: 'Platform';
		font-weight: bold;
		text-transform: uppercase;
		font-size: rem-calc(23);
		width: 130px;
		padding-top: 5px;
		padding-left: 5px;
		color: palette-get(na-black);
		&:hover {
			color: palette-get(na-black);
		}
	}

}