.header__logo {

  $logo-width: 47px;
  $expanded-logo-width: 53px;
  display: none;

  @include desktop-header() {
    display: inline-block;
  }
  & > * {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
  svg {
    width: $logo-width;
    @include expanded-header {
      width: $expanded-logo-width;
    }
    rect,
    path {
      fill: palette-get(na-black);
    }
  }
  h1 {
    @include header-logo-text;

    width: 110px;
    @include expanded-header {
      width: 120px;
      @include expanded-header-logo-text;
    }

    padding-top: 5px;
    padding-left: 5px;
  }
}
