.header__logo {
  $mini-mobile-logo-width: 35px;
  $mobile-logo-width: 40px;
  $desktop-logo-width: 47px;
  $expanded-logo-width: 53px;
  display: inline-block;
  /*@include desktop-header() {
    display: inline-block;
  }*/
  & > * {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
  svg {
    /*width: $mini-mobile-logo-width;*/

    /*@include mobile-header {*/
      width: $mobile-logo-width;
    
    @include desktop-header {
      width: $desktop-logo-width;
    }
    @include expanded-header {
      width: $expanded-logo-width;
    }
    rect,
    path {
      fill: palette-get(na-black);
    }
  }
  h1 {
    width: 80px;
    @include mobile-header-logo-text;
    
    @include mobile-header {
      
      width: 100px;
      @include mobile-header-logo-text;
    }

    @include desktop-header {
      width: 110px;
      @include desktop-header-logo-text;
    }
    @include expanded-header {
      width: 120px;
      @include expanded-header-logo-text;
    }
    padding-left: 5px;
    padding-top:5px;
    
  }
}
