@mixin show-mini-logo {
  .has_sidemenu & {
    @media screen and (max-width: $mini-logo-breakpoint) {
      @content;
    }
  }
}

.header__logo {
  width: $mobile-logo-width;
  display: inline-block;
  
  @include show-mini-logo {
    display: none;
  }
  @include desktop-header {
    width: $desktop-logo-width + 20px;
  }
  @include expanded-header {
    width: $expanded-logo-width;
  }

  & > * {
    display: inline-block;
    
    vertical-align: top;
    margin: 0;
  }
  svg {
    width: $mobile-logo-width;
    overflow: visible !important;
    
    @include desktop-header {
      width: $desktop-logo-width;
      position: absolute;
      top: 50%;
      transform:translateY(-50%);
      -webkit-transform:translateY(-50%);
      -ms-transform:translateY(-50%);
    }
    @include expanded-header {
      position: static;
      padding-top: 10px;
      top: 0px;
      height: 50px;
      transform: translateY(0);
      -webkit-transform:translateY(0);
      -ms-transform:translateY(0);
      width: $expanded-logo-width;
    }
    rect,
    path {
      fill: palette-get(na-black);
    }
  }

  &.mini {
    display: none;
    width: 42px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    position: relative;

    @include show-mini-logo {
      display: inline-block;
    }

    & > svg {
      width: $mini-mobile-logo-width !important;
    }
  }
}
