@mixin has-sidemenu {
  .has_sidemenu & {
      @content;
  }
}


.header {
  top: 0;
  width: 100%;
  background-color: palette-get(na-white);
  z-index: 1000;
  $pad: 20px;
  padding: 0;
  position: fixed;
  border-bottom: $thick-border-width solid palette-get(na-turquoise);

  @include has-sidemenu {
    width: 50%;
    @include desktop-header {
      width: 100%; 
    }
  }

  @include desktop-header {
    position: fixed;
    width: 100%; 
  }

  @include expanded-header {
    padding-top: 8px;
    position: relative;
    width: 100%;
    border: none;
  }

  &__content {
    padding: $mobile-padding;
    /*padding-right: $mobile-padding;*/
    @include desktop-header() {
      margin-left: auto;
      margin-right: auto;
      max-width: $max-site-width;
      padding: 6px $desktop-padding 14px $desktop-padding;
    }
    @include expanded-header {
     /* @include desktop-header {*/
        padding: $pad $desktop-padding 12px $desktop-padding;
    }
    & > * {
      vertical-align: bottom;
    }
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
  }
  &__secondary-nav,
  &__search {
    right: $desktop-padding;
    a {
      margin-left: 8px;
    }
  }
  &__search {
    display: none;
    @include desktop-header() {
      display: block;
    }
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 13px;
    width: 200px;
    input {
      margin: 0;
    }
  }
  &__cover-bottom-shadow {
    
    width: 100%;
    z-index: 5;
    position: relative;
    bottom: 8px;
    left: 0;
    transition: none;
    display: none;

    @include desktop-header() {
      height: 24px;
    }

    @include expanded-header() {
      height: 16px;
    }
    .header__has-link-group:hover &,
    .header__has-link-group--active & {
      display: block;
    }
    background-color: palette-get(na-white);
    border-left: 1px solid palette-get(na-black-10);
    border-right: 1px solid palette-get(na-black-10);
  }

  &__mobile-toggle {
    position: relative;
    float:right;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-size: 17px; 
    line-height: 18px; 
    top: 16px;
    right: 30px;

    @include desktop-header() {
      display: none;
    }

    @include expanded-header() {
      display: none;
    }
  }

  
}
