.header {
  top: 0;
  background-color: palette-get(na-white);
  width: 100%;
  z-index: 1000;
  $pad: 20px;
  padding: 0;
  position: fixed;
  
  @include desktop-header {
    position: fixed;
    border-bottom: $thick-border-width solid palette-get(na-turquoise);
  }
  @include expanded-header {
    padding-top: 8px;
    position: relative;
    /*border: none;*/
  }

  &__content {
    padding: 0;
    @include desktop-header() {
      padding: 6px ($pad - 10px + 1px) 14px;
    }
    @include expanded-header {
      @include desktop-header {
        padding: $pad ($pad - 10px + 1px) 12px;
      }
    }
    & > * {
      vertical-align: bottom;
    }
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
    max-width: $max-site-width;
  }
  &__secondary-nav,
  &__search {
    right: 10px;
    a {
      margin-left: 8px;
    }
  }
  &__search {
    display: none;
    @include desktop-header() {
      display: block;
    }
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 13px;
    width: 200px;
    input {
      margin: 0;
    }
  }
  &__cover-bottom-shadow {
    
    width: 100%;
    z-index: 5;
    position: relative;
    bottom: 8px;
    left: 0;
    transition: none;
    display: none;

    @include desktop-header() {
      height: 24px;
    }

    @include expanded-header() {
      height: 16px;
    }
    .header__has-link-group:hover &,
    .header__has-link-group--active & {
      display: block;
    }
    background-color: palette-get(na-white);
    border-left: 1px solid palette-get(na-black-10);
    border-right: 1px solid palette-get(na-black-10);
  }
  .mobile-nav {
    display: block;
    @include desktop-header() {
      display: none;
    }
  }
}
