
.header {
  top: 0;
  width: 100%;
  border-bottom: $thick-border-width solid palette-get(na-turquoise);
  display:none;
  z-index: 10000;
  background-color: palette-get(na-white);

  @include desktop-header {
    position: fixed;
    width: 100%; 
    height:$desktop-header-height;
    cursor: auto;
    display: block;
    top: 0px;
  }

  @include expanded-header {
    padding-top: 8px;
    position: relative;
    width: 100%;
    border: none;
    height:$expanded-header-height;
    cursor: auto;
    display: block;
  }

  &__content {

    padding: 13px $mobile-padding;
    
    @include desktop-header() {
      margin-left: auto;
      margin-right: auto;
      max-width: $max-site-width;
      padding: 14px $desktop-padding 14px $desktop-padding;
    }
    @include expanded-header {
     /* @include desktop-header {*/
        padding: 20px $desktop-padding 12px $desktop-padding;
    }
    & > * {
      vertical-align: bottom;
    }
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
  }
  &__secondary-nav,
  &__search {
    right: $desktop-padding;
    a {
      margin-left: 8px;
    }
  }
  &__search {
    display: none;
    @include desktop-header() {
      display: block;
    }
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 13px;
    width: 200px;
    input {
      margin: 0;
    }
  }
  &__cover-bottom-shadow {
    
    width: 100%;
    z-index: 5;
    position: relative;
    bottom: 8px;
    left: 0;
    transition: none;
    display: none;

    @include desktop-header() {
      height: 30px;
    }

    @include expanded-header() {
      height: 15px;
    }
    .header__has-link-group:hover &,
    .header__has-link-group--active & {
      display: block;
    }
    background-color: palette-get(na-white);
    border-left: 1px solid palette-get(na-black-10);
    border-right: 1px solid palette-get(na-black-10);
  }

  
}
