@mixin show-support {
  @include desktop-header() {
    @media screen and (min-width: $desktop-show-support) {
      @content;
    }
  }

  @include expanded-header() {
    @media screen and (min-width: $expanded-show-support) {
      @content;
    }
  }
}

.header__main-nav {
  $header-brand-width : 174.5px;

  display: none;
  @include desktop-header {
    position: static;
    left: 0;
    top: 0;
    margin-left: 10px;
    margin-top: 0px;
    display: inline-block;
    width: -webkit-calc(100% - #{$header-brand-width)};
        width:    -moz-calc(100% - #{$header-brand-width)});
        width:         calc(100% - #{$header-brand-width});
  }
  @include expanded-header {
    position: relative;
    left: -18px;
    top: 0;
    margin-top: 21px;
    margin-left: 0;
    display: block;
    width: -webkit-calc(100% + 19px);
        width:    -moz-calc(100% + 19px);
        width:         calc(100% + 19px);
  }

  overflow: visible;
  &__item {
    height: 46px;
    z-index: 3;
    overflow: visible;

    &__right {

      & > .header__button {
        margin-right: 10px;
        display: none;

        @include show-support {
           display: inline-block;
        }
        
      }

      & > form > input {
        height: 46px;
        margin: 0px;
        display: inline-block;
      }
    }
  }

  &__simple-link-group-item {
    position:relative;
    height: 46px;
    z-index: 3;
    overflow: visible;
  }

  &__left {
    display: inline-block;
    height:46px;
  }

  &__right {
    display: inline-block;
    height:46px;
    float:right;
  }

}
