.header__main-nav {

	position: relative;

	display: none;

	@include desktop-header {
		left: 0;
		top: 0px;
		margin-left: 10px;
		display: inline-block;
	}

	@include expanded-header {
		left: -18px;
		top: 0px;
		margin-top: 15px;
		margin-left: 0;
		display: block;
	}

	width: auto;

	overflow: visible;

	&__item {
		z-index: 3;
		overflow: visible;
	}

}