.mobile-menu {
    display: none;
    top: $mobile-header-height;
    position: relative;
	background-color: palette-get(na-white);
	width: 100%;

	z-index: 500;

	@include desktop-sidemenu {
		display:none;
	}

	.menu > li > a {
		padding: $mobile-menu-item-padding;
	}

	/*.is-accordion-submenu-parent > a::after {
		content: url(shape-urls-get(right-arrow-na-black));
		display: block;
	    width: 100px;
	    height: 100px;
	    position: absolute;
	    top: 50%;
	    margin-top: -4px;
	    right: 1rem;
	}*/

	&__toggle {
		position:absolute;
	    right: 20px;
	    margin-top: -40px;
	    vertical-align: middle;
	    pointer-events: none;
	    /*transform: translateY(-50%);*/
	    z-index: 20;
	    width: 20px;
	    height: 20px;
	}

	&__link {
		&__main, &__secondary {
	    	& > a {
	    		height: 60px;
	    		border: 1px solid palette-get(na-black-10);
	    		&:hover {
		    		background-color: palette-get(na-turquoise);
			    	border-color: palette-get(na-turquoise);
			      	color: white;
			    }
			}
		}

		&__main {
			& > a {
				font-weight: bold;
				font-size: 16px;
				color: palette-get(na-black);
			}
		}

		&__secondary {
			& > a {
				padding-left: 35px !important;
				font-weight: normal;
				font-size: 16px;
				color: palette-get(na-black-70);
			}
		}
	}
	

}
	