.mobile-header {
    display: none;
    top: 0;
	background-color: palette-get(na-white);
	width: 100%;

	z-index: 1000;

	@include desktop-sidemenu {
		display:none;
	}

	& > ul > li > a {
		padding: 8px $desktop-padding;
	}

	&__link-group {
	color: palette-get(na-black);
	margin-top: 15px;

		

		&__title {
		  padding: 10px $desktop-padding;
		  font-size:20px;
		}

		&__link {

		  &:hover {
		    background-color: palette-get(na-turquoise);
		  }

		  & > a {
		    color: grey;

		    &:hover {
		      color: white;
		    }
		  }
		}

	}
  }
