.header__search {
 /* display: none;
  @mixin is-active {
    .header__search--active & {
      @content;
    }
  }
  @include desktop-header() {
    display: block;
  }
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 13px;
  width: 220px;
  &__form {
    visibility: hidden;
    @include is-active {
      visibility: visible;
    }
    input {
      margin: 0;
    }
  }*/
  /*&__icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    fill: palette-get(na-black);
    @include is-active {
      fill: palette-get(na-black-40);
    }*/
  
}
