.header__secondary-nav {

  display: none;
  @include desktop-header {
    display: none;
  }
  @include expanded-header {
    display: inline-block;
  }
  position: absolute;
  top: 30px;
  a {
    color:palette-get(na-black-40);
    padding: 0 8px;
    &:last-of-type {
      padding-right: 0;
    }
  }
}
