{% extends "post_page.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-book{% endblock %}

{% block post-header %}
	{% image page.story_image original as story_image %}

		{% if story_image %}
			<div class="book-container">
				<div class="book">
					<img src="{{ story_image.url }}" />
				</div>
			</div>
		{% endif %}
	<div class="post-header">
		<div class="post-header__text">
	    	<h1 class="post-header__text__heading">{{ page.title }}</h1>
	    	<h2 class="post-header__text__subheading">{{ page.subheading }}</h2>
		</div>
	</div>

{% endblock %}

{% block byline-prefix %}Author{{ authors|pluralize }}:{% endblock %}

{% block post-body %}

    <div class="post-body">
	    {{ page.body }}
	</div>

{% endblock %}