.report__authors__item{
  margin-bottom: 15px;
  .caption {
    display: none;
    @include media-breakpoint(large-desktop){
      display: block;
    }
  }
}

.report__authors__desktop{
  display: none;
  @include media-breakpoint(desktop){
    display: block;
  }
}

.report__authors__mobile{
  @include media-breakpoint(desktop){
    display: none;
  }
}
