.report__authors__item{
  padding: 17.5px 0;
}

.report__authors__desktop{
  display: none;
  @include media-breakpoint(desktop){
    display: block;
  }
}

.report__authors__mobile{
  max-width: 50%;
  @include media-breakpoint(desktop){
    display: none;
  }
}
