.report__bottom-nav{
  margin-top: 100px;
  height: 65px;
  background: #525252;
  @extend %clearfix;

  &__button {
    height: 65px;
    cursor: pointer;
    &.previous{
      float: left;
    }
    &.next{
      float: right;
    }

    a {
      display: block;
      padding: 0 25px;
      line-height: 65px;
      height: 100%;
      width: 100%;
    }
  }
}
