.report__citation{
  color: #37D0AE;
  font-weight: bold;
  font-size: 0.7em;
  position: relative;
  top: -.6em;
  border-radius: 1.5em;
  min-width: 18px;
  height: 18px;
  text-align: center;
  line-height: 17px;
  display: inline-block;
  padding: 0 2px;
  cursor: pointer;
  font-variant-numeric: lining-nums;
  font-family: $label-font-family;

  &:before{
    content: 'x';
    font-size: 1.2em;
    padding-bottom: 2px;
    font-weight: normal;
    display: none;
    position: absolute;
    color: color(white);
    @include center;
  }

  &:hover {
    background: #37D0AE;
    color: color(white);
  }

  &.active {
    background: #37D0AE;
    color: #37D0AE;
    &:before{
      display: block;
    }
  }
}
