.report__citation{
  color: color(turquoise);
  font-weight: bold;
  font-size: 0.7em;
  position: relative;
  top: -.6em;
  border-radius: 1.5em;
  min-width: 18px;
  height: 18px;
  text-align: center;
  line-height: 17px;
  display: inline-block;
  padding: 0 2px;
  cursor: pointer;
  font-variant-numeric: lining-nums;
  font-family: $label-font-family;

  &:before{
    font-family: 'FontAwesome';
    content: '\f00d';
    font-size: 0.8em;
    display: none;
    position: absolute;
    color: color(white);
    @include center;
  }

  &:hover {
    background: color(turquoise);
    color: color(white);
  }

  &.active {
    background: color(turquoise);
    color: color(turquoise);
    &:before{
      display: block;
    }
  }
}
