.report__content-menu{
  min-width: 280px;
  margin-left: -22.5px;
  padding: 12.5px 0;
  background: #7A7A7A;
  z-index: 0;
  max-height: calc(100vh - 65px);
  overflow-x: hidden;
  overflow-y: scroll;
  opacity: 0;

  &.open {
    opacity: 1;
  }

  &__item{

    * {
      cursor: pointer;
    }
    border-top: 1px solid #979797;
    padding: 0 22.5px;
    a {
      display: inline-block;
      padding-top: 12.5px;
      padding-bottom: 12.5px;
    }
    &__toggle{
      position: relative;
      top: 0.1em;
      left: 15px;
      display: inline-block;
    }
  }
}

.report__content-menu__item__subsections{
  display: none;
  &.expanded{
    display: initial;
  }
  &__label{
    color: #C1C1C1;
    padding-left: 15px;
  }
}

.scroll-reverse .report__top-nav.scroll-left .report__content-menu,
.report__top-nav:not(.scroll-entered) .report_content-menu{
  max-height: calc(100vh - 130px);
}
