.report__body__endnote{
  @include transition(opacity 0.5s ease, transform 0.5s ease);
  position: absolute;
  opacity: 0;
  background: color(white);
  @include transform(translateY(-40%));
  padding: 35px;
  width: calc(100vw - 45px);
  z-index: 1;
  box-shadow: 0px 0px 20px 0px color(black, base, 0.15);
  border: 1px solid color(black, base, 0.15);

  @include media-breakpoint(tablet){
    width: calc(83.333vw - 45px);
    left: -95%;
  }

  @include media-breakpoint(desktop){
    width: auto;
    box-shadow: none;
    border: 0px;
    padding: 0;
    padding-left: 22.5px;
    left: 0;
  }

  @include media-breakpoint(large-desktop){
    padding-left: 0;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 25px;
    height: 25px;
    border: 1px solid color(black);
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    span {
      line-height: 20px;
    }

    &:hover{
      color: color(white);
      background: color(black);
    }

    @include media-breakpoint(desktop){
      display: none;
      top: 0px;
      left: -35px;
    }
  }
}

.endnote-active{
  .report__body__endnote{
    @include transform(translateY(-50%));
    opacity: 1;
  }

  .report__social{
    opacity: 0;
  }
}
