  .expand-toggle {
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 1px;
  }

  .report__content-menu__section{
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
  }
