.report__heading__title{
  padding: 100px 0;
  background: #00DABB;

  h1{
    max-width: 350px;
    margin: 20px auto;
    @include media-breakpoint(desktop){
      max-width: 475px;
    }
  }

  label{
    max-width: 350px;
    @include media-breakpoint(desktop){
      max-width: 475px;
    }
  }
}

.report__heading__image {
  width: 100%;
  padding-bottom: 80%;
  background-size: cover;
  background-position: center;

  @include media-breakpoint(tablet){
    padding-bottom: 47%;
  }

  &__caption{
    padding-left: 5px;
    @include media-breakpoint(tablet){
      padding-left: 0;
    }
  }

}

.report__heading__logo {
  text-align: center;
  &__program, .logo{
    vertical-align:middle;
  }

  &__program{
    margin-left: 1px;
    display: inline-block;
    height: 32px;
    max-width: 125px;
    padding: 5px 10px;
    background: color(white);
    text-align: left;

    label {
      color: #00DABB;
      line-height: 1.2em;
      font-size: 0.6rem;
    }
  }
}

.report__heading{
  margin-left: -22.5px;
  margin-right: -22.5px;

  @include media-breakpoint(tablet){
    margin-right: 0;
    margin-left: 0;
  }
}
