.report__heading__title{
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  @include media-breakpoint(desktop){
    max-width: 475px;
  }
}

.report__heading__image {
  width: 100%;
  padding-bottom: 80%;
  background-size: cover;
  background-position: center;

  @include media-breakpoint(tablet){
    padding-bottom: 47%;
  }

  &__caption{
    padding-left: 5px;
    @include media-breakpoint(tablet){
      padding-left: 0;
    }
  }

}

.report__heading{
  margin-left: -22.5px;
  margin-right: -22.5px;

  @include media-breakpoint(tablet){
    margin-right: 0;
    margin-left: 0;
  }
}
