.report__social__item{
   display: inline-block;
   position: relative;

   .fa, label{
     display: inline-block;
     vertical-align: middle;
   }

   label{
     display: none;
   }

   @include media-breakpoint(desktop){
     display: block;
     label{
       display: inline-block;;
     }
   }

   @include media-breakpoint(large-desktop){
     label {
       display: inline-block;
     }
   }

  .fa{
    //color: color(turquoise);
    color: color(black);
    //width: 32px;
    height: 20px;
    //height: 32px;
    padding: 0;
    //border: 1px solid color(turquoise);
    border-radius: 16px;
    position: relative;
    margin-right: 25px;
    &:before{
      //position: absolute;
      font-size: 0.9rem;
      //@include center;
    }

    &:hover{
      color: color(turquoise);
      //background: color(black);
    }
  }
}

.report__social{
  display: none;
  @include transition(opacity 0.35s ease);
  text-align: right;
  height: 0px;
  top: 0px;
  right: 22.5px;
  @include media-breakpoint(tablet){
    display: block;
  }
  @include media-breakpoint(desktop){
    height: auto;
    text-align: left;
  }
}

.social__print, .social__download{
  display: none;
  @include media-breakpoint(desktop){
    display: block;
  }
}
