.report__social__item{
   margin-bottom: 15px;
   display: inline-block;
   @include media-breakpoint(desktop){
     display: block;
   }

  .fa{
    background: #7A7A7A;
    color: color(white);
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 16px;
    position: relative;
    margin-right: 15px;
    &:before{
      position: absolute;
      font-size: 0.7em;
      @include center;
    }
  }

  .fa, label{
    display: inline-block;
    vertical-align: middle;
  }

  label{
    display: none;
    @include media-breakpoint(large-desktop){
      display: inline-block;
    }
  }
}

.report__social{
  @include transition(opacity 0.35s ease);
  text-align: right;
  position: absolute;
  top: 0px;
  right: 22.5px;
  @include media-breakpoint(desktop){
    position: static;
    text-align: left;
  }
}

.social__print, .social__download{
  display: none;
  @include media-breakpoint(desktop){
    display: block;
  }
}
