.report__top-nav{
  height: 65px;

  &__contents, &__arrows, &__title{
    height: 65px;
  }

  &__contents, &__arrows{
    position: relative;
    z-index: 2;
    background: #7A7A7A;
    flex: 0 0 calc(8.333333% + 22px);
    max-width: calc(8.333333% + 22px);
  }

  &__sticky-wrapper{
    width: 100vw;
    height: 65px;
    color: color(white);
    background: #525252;
    @include transition(top 0.35s ease-in-out);
  }

  &.scroll-entered{
    .report__top-nav__sticky-wrapper{
      z-index: 2;
      position: fixed;
      top: -65px;
    }
  }

  &.scroll-left{
    .report__top-nav__sticky-wrapper{
      top: 0px;
    }
  }
}

.scroll-reverse {
  .report__top-nav.scroll-left .report__top-nav__sticky-wrapper{
    z-index: 100;
    position: fixed;
    top: 65px;
  }
}
