.report__top-nav{
  height: 65px;
  
  &__contents, &__arrows, &__title{
    height: 65px;
  }

  &__contents, &__arrows{
    background: #7A7A7A;
    flex: 0 0 calc(8.333333% + 22px);
    max-width: calc(8.333333% + 22px);
  }

  &__title{
    label{
      line-height: 65px;
      display: inline-block;
      vertical-align: middle;
      padding-left: 5px;
      &:first-child{
        padding-left: 20px;
      }
    }

    flex: 0 0 calc(83.333333% - 44px);
    max-width: calc(83.333333% - 44px);
  }

  &__contents__button{
    text-align: center;
    height: 65px;
    border-bottom: 4px solid #C1C1C1;
    white-space: nowrap;

    &:hover{
      border-bottom: 0px solid #C1C1C1;
      background: color(white, base, 0.05);
      cursor: pointer;
    }

    .fa, label{
      cursor: pointer;
      line-height: 65px;
      color: color(white) !important;
    }
  }

  &__sticky-wrapper{
    width: 100vw;
    height: 65px;
    color: color(white);
    background: #525252;
  }

  &.scroll-entered{
    .report__top-nav__sticky-wrapper{
      z-index: 100;
      position: fixed;
      top: 0px;
    }
  }
}

.report__top-nav__arrows{
  .fa {
    position: absolute;
    display: inline-block;
    padding: 0;
    color: color(white) !important;
    @include center;
  }

  .previous {
    border-right: 1px solid #C1C1C1;
  }
  .next, .previous{
    position: relative;
    height: 100%;
    display: inline-block;
    width: 50%;
    border-bottom: 4px solid #C1C1C1;
    background: color(white, base, 0);
    cursor: pointer;
    &:not(.inactive):hover{
      border-bottom: 0px solid #C1C1C1;
      background: color(white, base, 0.05);
    }

    &.inactive {
      cursor: default;
      background: #C1C1C1;

      .fa {
        color: rgba(#7A7A7A,0.5) !important;
      }
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
