.report__top-nav__contents{
  position: relative;
  min-width: 280px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  &__button .button--text{
    line-height: 65px;
  }
}

.report__top-nav__contents__menu-wrapper{
  max-height: 65px;
  width: 280px;
  padding-left: 22.5px;
  padding-right: 22.5px;
  &.open{
    max-height: 100vh;
    box-shadow: 0px 2px 8px 0px rgba(#000, 0.5);
  }
}

.report__top-nav__contents__button{
  height: 65px;
  width: 280px;
  white-space: nowrap;
  position: relative;
  z-index: 3;
  padding-right: 22.5px;
  padding-left: 22.5px;
  margin-left: -22.5px;

  &:hover{
    cursor: pointer;
  }

  .fa, label{
    cursor: pointer;
    line-height: 65px;
    color: color(white) !important;
  }
}

.open .report__top-nav__contents__button{
  background: #7A7A7A;
}
