.report__top-nav{
  height: 65px;

  &__contents, &__title{
    height: 65px;
  }

  &__contents{
    position: relative;
    z-index: 2;
  }

  &__sticky-wrapper{
    width: 100vw;
    height: 65px;
    color: color(white);
    background: color(black);
    @include transition(top 0.35s ease-in-out);
  }

  &.scroll-entered{
    .report__top-nav__sticky-wrapper{
      z-index: 2;
      position: fixed;
      top: -65px;
    }
  }

  &.scroll-left{
    .report__top-nav__sticky-wrapper{
      top: 0px;
    }
  }
}

.scroll-reverse:not(.scroll-disabled) {
  .report__top-nav.scroll-left .report__top-nav__sticky-wrapper{
    z-index: 100;
    position: fixed;
    top: $header-height;
  }
}
