.report__top-nav__title{
  white-space: nowrap;
  position: relative;
  z-index: 3;
  overflow: hidden;
  background: #525252;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100% - 280px);;
  -ms-flex: 0 0 calc(100% - 280px);;
  flex: 0 0 calc(100% - 280px);;
  max-width: calc(100% - 280px);
  label{
    line-height: 65px;
    vertical-align: middle;
    padding-left: 5px;
    &:first-child{
      padding-left: 20px;
    }
  }

  &__chapter{
    display: none;
    @include media-breakpoint(desktop){
      display: inline;
    }
  }
}
