$default-item-height: 250px;
$default-item-padding: 25px;
.story-grid{

	@include media-breakpoint(tablet){
		height: 100vh;
		min-height: 500px;
	}

	&:last-child{
		margin-bottom: 75px;
	}
	@include media-breakpoint(tablet){
		height: 450px;
		min-height: 0;
	}

	.row {
		height: 100%;
	}

	&__main{
		@include media-breakpoint(tablet){
			height: 100%;
			padding-bottom: 0;
		}

		&__item{
			width: 100%;
			height: $default-item-height;

			@include media-breakpoint(mobile){
				height: 350px;
			}

			@include media-breakpoint(tablet){
				height: 100%;
			}
		}
	}

	&__secondary{
		@include media-breakpoint(tablet){
			height: 100%;
		}

		&__item{
			height: $default-item-height;

			@include media-breakpoint(mobile){
				height: 300px;
			}

			@include media-breakpoint(tablet){
				height: 50%;
			}
		}
	}

	&.has-1-children{
		.story-grid__main{
			@extend .col-md-12;

			@include media-breakpoint(tablet){
				height: 100%;
			}

			&__item:first-child{
				@extend .col-md-12;
				@include media-breakpoint(tablet){
					height: 100%;
				}
			}
		}
	}

	&.has-2-children, &.has-3-children{
		.story-grid__main{
			@extend .col-md-6;

			&__item:first-child {
				@extend .col-md-12;
			}
		}

		.story-grid__secondary{
			@extend .col-md-6;
			&__item:first-child, &__item:nth-child(2){
				@extend .col-md-12;
			}
		}
	}

	&.has-2-children {
		.story-grid__secondary{
			&__item {
				@include media-breakpoint(tablet){
					height: 100%;
				}
			}
		}
	}

	&.has-3-children {
		.story-grid__secondary{
			&__item {
				@include media-breakpoint(tablet){
					height: 50%;
				}
			}
		}
	}

	&.has-4-children{
		@include media-breakpoint(tablet){
			height: auto;
		}

		@include media-breakpoint(large-desktop){
			height: 500px;
		}

		.story-grid__main{
			@include media-breakpoint(tablet){
				height: 350px;
			}
			@include media-breakpoint(large-desktop){
				height: 100%;
			}
			@extend .col-xl-6;
		}

		.story-grid__secondary{
			@extend .col-xl-6;
			@include media-breakpoint(tablet){
				height: 350px;;
			}

			@include media-breakpoint(large-desktop){
				height: 100%;
			}

			&__item{
				@extend .col-md-4;
			}
			&__item:first-child{
				@extend .col-xl-12;
			}
			&__item:nth-child(2), &__item:nth-child(3){
				@extend .col-xl-6;
			}
		}
	}
}

.has-2-children{
	.story-grid-item__text__heading.secondary{
		@extend h3;
	}
}
