.page-header {

  $height: 250px;
  $input-width: 200px;

  position: relative;

  display: flex;
  .no-flexbox & {
    display: table;
  }

  width: 100%;
  height: $height;

  h1, a {
    color: palette-get(na-white);
  }

  h1 {
    font-weight: bold;
    margin-bottom: 0;
  }

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .section {
    position: relative;
    margin: 0 auto;
  }

  &__content {
    position: relative;
    width: 100%;
    max-width: $max-site-width;
    margin: auto;
    .no-flexbox & {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &__form {
    position: absolute;
    right: 0;
    bottom: 20px;
    input, select {
      display: inline-block;
      width: $input-width;
      margin: 0 0 0 10px;
    }
    select {
      border: 2px solid palette-get(na-white);
      background: none;
      color: palette-get(na-white);
    }
  }

}
