.conference-template {
  footer {
    margin-top: 150px;
  }
  .panel {
    margin-left: 0;
    margin-right: 0;
    background-color: initial;
    padding: 0;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    max-width: 100%;
    height: auto;
    display: block;

    > h3 {
      font-family: "Platform", Arial, Helvetica, sans-serif;
      font-size: 3em;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      margin: 5px 0 60px 0;
    }

    .section-icon{
      color: palette-get(na-turquoise);
      font-weight: 600;
      text-align: center;
      font-size: 4em;
      margin-bottom: 0;
      line-height: 0.75em;
    }

    @include breakpoint(large) {
      width: 970px;
    }

    @include breakpoint(xlarge) {
      width: 1170px;
    }
  }

  #about {
    .columns{
      margin-top: 20px;
      @include breakpoint(640px){
          margin-top: 0px;
      }

      @include grid-column-uncollapse(50);
      p {
        color: palette-get(na-black-70);
        font-size: 1.05em;
        line-height: 2em;
      }
    }

  }

  #venue{
    h3 {
      margin-bottom: 10px !important;
    }

    .location-info{
      text-align: center;
      font-size: 1.2em;
      line-height: 2em;
      margin-bottom: 50px;
    }

    p {
      line-height: 2em;
      color: palette-get(na-light-black);
    }
  }
// INTRO
  #hero {
    min-height: 100vh;
    padding-top: 150px;
    position: relative;

    .heading-block{
      position: absolute;
      left: 50%;
      top: 50%;
      width: 80%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);

      @include breakpoint(small){
        width: 95%;
      }
    }

    h1,h2,h3,h4,h5,h6{
      color: palette-get(na-white);
      text-align: center;
    }

    h1,h2{
      font-family: "Platform", Arial, Helvetica, sans-serif;
      line-height: 0.95em;
      text-transform: uppercase;
      white-space: nowrap;
    }

    h1 {

      margin-bottom: 0;
      margin-top: 22px;

      font-size: 2em;

      @include breakpoint(medium){
        font-size: 3.8em;
      }

      @include breakpoint(large){
        font-size: 5em;
      }

      @include breakpoint(xlarge){
        font-size: 6em;
      }
    }

    h2 {
      margin-bottom: 22px;
      font-size: 1.8em;

      @include breakpoint(medium){
        font-size: 3.2em;
      }
      @include breakpoint(large){
        font-size: 4em;
      }

      @include breakpoint(xlarge){
        font-size: 5em;
      }
    }

    h5.heading-alt{
      text-transform: uppercase;
      font-size: 0.8em;
      line-height: 1.7;
      letter-spacing: 0.5em;
      font-weight: 700;

      @include breakpoint(large){
        font-size: 19px;
      }
    }

    .base-font{
      font-size: 1em;

        @include breakpoint(medium){
          font-size: 1.2em;
        }

        @include breakpoint(large){
          font-size: 19px;
        }

    }

    h6{
      font-size: 1.2em;
    }

    .na-logo{
      width: 160px;
      margin: 0 auto 50px auto;
    }

    .btns-container{
      width: 250px;
      margin: 44px auto;

      .button {
        width: 100%;
      }
    }
  }
}
