
#hero {
  position: relative;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;

  @include breakpoint($mobile-break){
    background-attachment: fixed;
  }

  .heading-block{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);

    @include breakpoint(small){
      width: 95%;
    }
  }

  h1,h2,h3,h4,h5,h6{
    color: palette-get(na-white);
    text-align: center;
  }

  h1,h2{
    font-family: "Platform", Arial, Helvetica, sans-serif;
    line-height: 0.95em;
    text-transform: uppercase;
  }

  h1 {

    margin-bottom: 0;
    margin-top: 22px;

    font-size: 2em;


    @include breakpoint($mobile-break){
      font-size: 3.8em;
    }

    @include breakpoint(large){
      font-size: 5em;
    }

    @include breakpoint(xlarge){
      font-size: 6em;
    }
  }

  h2 {
    margin-bottom: 22px;
    font-size: 1.8em;

    @include breakpoint($mobile-break){
      font-size: 3.2em;
    }
    @include breakpoint(large){
      font-size: 4em;
    }

    @include breakpoint(xlarge){
      font-size: 5em;
    }
  }

  h5.heading-alt{
    text-transform: uppercase;
    font-size: 0.6em !important;
    line-height: 1.7;
    letter-spacing: 0.5em;
    font-weight: 700;

    @include breakpoint(350px){
      font-size: 0.8em;
    }

    @include breakpoint(large){
      font-size: 19px !important;
    }

    > span {
      display: block;
      margin-bottom: 5px;
      text-align: center;
      @include breakpoint($mobile-break){
        display: inline;
        width: auto;
      }
    }

    .fa {
      font-size: 14px;
      @include breakpoint(350px){
        font-size: 18px;
      }
    }
  }

  .base-font{
    font-size: 1em;

      @include breakpoint($mobile-break){
        font-size: 1.2em;
      }

      @include breakpoint(large){
        font-size: 19px;
      }

  }

  h6{
    font-size: 1.2em;
  }

  .na-logo{
    width: 90px;
    margin: 0 auto 25px auto;


    @include breakpoint(350px){
      width: 120px;
      margin: 0 auto 35px auto;
    }

    @include breakpoint($mobile-break){
      width: 160px;
      margin: 0 auto 50px auto;
    }
  }

  .btns-container{
    width: 250px;
    margin: 44px auto;

    &.invite-only{
      .columns{
        height: 62px;
        display: table;

        .button {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    .button {
      width: 100%;
      height: 100%;
      min-width: 105px;

    }
  }
}
