$left-pad: 20px;
$right-pad: 25px;
$program-title-width: 163px;

.sidemenu {
/*  top: $mobile-header-height;*/
  position: relative;
  background-color: palette-get(na-black);
  width: 100%;

 /* height:100%;*/
  /*padding-top: 15px;
  padding-bottom: 15px;*/
  display:none;
  /*overflow:scroll;*/
  /*background-color: palette-get(na-black);*/
  /*padding-left: 20px;*/

  @include desktop-header {
    top: 0px;
    display:block;
    margin-top: $desktop-padding;
    background-color: palette-get(na-white);
    border-right: 2px solid palette-get(na-black-10);
    /*display:table-cell;*/
    /*margin-top: 20px;*/
  }

  &__program-title {
    margin-left: $desktop-padding;
    width: $program-title-width;
    background-color: palette-get(na-black);
    padding: 9px;
    line-height: 105%;
    height:60px;
    max-height:60px;
    display:none;
    color:palette-get(na-white);

    @include desktop-header {
      display:block;
    }

    &__title {
      position: relative;
      font-family: "Platform"; 
      font-style: normal;
      font-size: 1.2rem; 
      line-height: 100%;   
      top: 50%; 
      transform: translateY(-50%);
      word-spacing: $program-title-width;
    }
  }

  &__link-group {
    color: palette-get(na-white);

    @include desktop-header {
      padding-top: 10px;
      color: palette-get(na-black);
    }


    & > ul > li > a {
      padding: $mobile-menu-item-padding;
      color: grey;

      @include desktop-header {
        padding: 10px $desktop-padding;
      }

    } 

    &__title, &__link {
      height: $mobile-menu-item-height;
      border-top: 1px solid palette-get(na-off-black);
      border-bottom: 1px solid palette-get(na-off-black);

      @include desktop-header {
        height:auto;
        border: none;
      }
    }

    &__title {
      padding: $mobile-menu-item-padding;

      @include desktop-header {
        padding: $desktop-padding $desktop-padding 10px $desktop-padding;
      }
    }

    &__link {
      padding: 0px;

      &:hover {
        background-color: palette-get(na-turquoise);
        border-color: palette-get(na-turquoise);

        & > a {
          color: white;
        }

        @include desktop-header {
          background-color: palette-get(na-white);
          border-color: palette-get(na-white);

          & > a {
            color: palette-get(na-turquoise);
          }
        }
        
      }

      .home-link {
          display: block;
          @include desktop-header {
            display: none;
          }
      }
    } 
   
  }
}