.sidemenu {
  $sidemenu-link-margin-left: 15px;
  $sidemenu-link-padding-left: 10px;

  position: relative;
  height: calc(100% - #{$desktop-padding});
  top: 0px;
  display:block;
  margin-top: $desktop-padding;
  background-color: palette-get(na-white);
  border-right: $standard-border;
  width: $max-sidemenu-width;

  &__logo {
    width: $program-logo-width;
    height: $program-logo-height;
    margin-left: $desktop-padding;
  }

  &__link-group {
    padding-top: 10px;
    color: palette-get(na-black);

    & > ul > li > a {
      padding: 10px $desktop-padding 10px $sidemenu-link-padding-left;
      margin-left: $sidemenu-link-margin-left;
      color: palette-get(na-black-70);
    } 

    &__title, &__link {
      height: auto;
      border: none;
    }

    &__title {
      padding: $desktop-padding $desktop-padding 10px $desktop-padding;

      .simple & {
        padding: 0px $desktop-padding 10px $desktop-padding;
      }
    }

    &__link, &__sub-link {
      padding: 0px;

      &:hover {
        background-color: palette-get(na-white);
        border-color: palette-get(na-white);

        & > a {
          @include set-color(color);
        }        
      }

      & > .active {
        @include set-color(color);
        border-left: 2px solid;
        @include set-color(border-color);
        margin-left: $sidemenu-link-margin-left - 2px;
      }
    }

    &__sub-link {
      padding-left: 15px;
    } 
   
  }
}