$left-pad: 20px;
$right-pad: 25px;

.mobile-sidemenu {
  background-color: palette-get(na-black);
  width: 50%;
  /*float:right;*/
  right:0px;
  top:0px;
  position: fixed;
  height:$mobile-header-height;
  z-index: 1000;
  border-bottom: $thick-border-width solid palette-get(na-turquoise);
  /*font-color:palette-get(na-white);*/

  @include desktop-sidemenu {
    display:none;
  }

  &__program-title {
    margin-left: $mobile-padding;
    margin-top: 10px;
    width: 145px;
    padding: 9px;
    height:50px;
    max-height:60px;
    float:left;
    color:palette-get(na-white);

    &__title {
      position: relative;
      font-family: "Platform"; 
      
      font-weight: bold;
      font-size: 17px; 
      line-height: 18px; 
      /*padding-top: 1px;  */
      top: 50%; 
      transform: translateY(-50%);
    }
  }

  &__toggle {
    position:relative;
    float:right;
   
    font-weight:bold;
    top: 24px;
    right: 40px;

    &__button {
      z-index: 1100;

      & > .flip-arrow {
        fill: palette-get(na-white);
        /*stroke: palette-get(na-white);*/
      }
    }
  }
}


.sidemenu {
  top: $mobile-header-height;
  position: relative;
  background-color: palette-get(na-black);
  width: 100%;
  

 /* height:100%;*/
  /*padding-top: 15px;
  padding-bottom: 15px;*/
  display:none;
  /*overflow:scroll;*/
  /*background-color: palette-get(na-black);*/
  /*padding-left: 20px;*/

  @include desktop-sidemenu {
    top: 0px;
    display:block;
    margin-top: $desktop-padding;
    background-color: palette-get(na-white);
    border-right: 2px solid palette-get(na-black-10);
    /*display:table-cell;*/
    /*margin-top: 20px;*/
  }

  &__program-title {
    margin-left: $desktop-padding;
    width: 150px;
    background-color: palette-get(na-black);
    padding: 9px;
    height:60px;
    max-height:60px;
    display:none;
    color:palette-get(na-white);

    @include desktop-sidemenu {
      display:block;
    }

    &__title {
      position: relative;
      font-family: "Platform"; 
      font-style: normal;
      font-size: 19px; 
      line-height: 100%;   
      top: 50%; 
      transform: translateY(-50%);
    }
  }

  &__link-group {
    color: palette-get(na-white);

    @include desktop-sidemenu {
      color: palette-get(na-black);
    }

    &__content > li > a {
      padding: $mobile-menu-item-padding;
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;

      @include desktop-sidemenu {
        padding: 8px $desktop-padding;
        border: none;
      }
    }

    &__title {
      padding: 10px $desktop-padding;
      font-size:16px;
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;

      @include desktop-sidemenu {
        padding: 10px $desktop-padding;
        border: none;
      }

    }

    &__link {
      font-size:15px;

      &:hover {
        background-color: palette-get(na-turquoise);
      }

      & > a {
        color: grey;

        &:hover {
          color: white;
        }
      }
    }
   
  }
}