.conference__intro{
  height: 100vh;
  position: relative;
  margin-top:#{-$header-height};
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.conference__title{
  padding-top: $header-height;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  @include center;

  .na-logo img{
    max-width: calc(100vw - 30px);
    display: block;
    left: 50%;
    @include transform(translateX(-50%));
    position: absolute;
    top: -45px;

    @media (min-width: 430px){
      max-width: 400px;
    }
  }
}
