.conference__intro{
  height: calc(100vh - #{$header-height});
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}


.conference__title{
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  @include center;

  .na-logo img{
    max-width: 350px;
    display: block;
    left: 50%;
    @include transform(translateX(-50%));
    position: absolute;
    top: -80px;
  }
}
