.conference__section{
  padding-top: 80px;
  padding-bottom: 80px;

  .subtitle {
    margin: 0 auto;
    margin-top: 24px;
    text-align: center;
    max-width: 650px;
  }
}

.conference__section-title {
  margin-bottom: 60px;
}