$colors: (
  turquoise: (
    base: #52BDBF,
    light: #46ccc3,
    dark: #2a8e88
  ),
  oti-blue: (
    base: #5ba4da,
    light: #75bef4,
    dark: #477da3
  ),
  red: (
    base: #e75c64,
    light: #e75c64,
    dark: #692025
  ),
  black: (
    base: #282830,
    light: #5f6268,
    70: rgba(44,47,53,0.7),
    40: #6b6d71,
    30: #c0c1c3,
    10: #e0e0e1
  ),
  gray: (
    base: #A9A9AC
  ),
  white: (
    base: #ffffff
  )
);

$shadow: rgba(0, 0, 0, 0.25);
$overlay: rgba(0, 0, 0, 0.2);

// @function color($color, $tone: 'base') {
//     @return map-get(map-get($colors, $color), $tone);
// }

$_color-palette: (
	na-turquoise: #2ebcb3,
	na-light-turquoise: #46ccc3,
	na-dark-turquoise: #2a8e88,
	oti-blue: #5ba4da,
	oti-light-blue: #75bef4,
	dark-oti-blue: #477da3,
	cinnabar-red: #e75c64,
	dark-cinnabar-red: #692025,
	na-black: #2c2f35,
	na-light-black: #5f6268,
	na-black-70: rgba(44,47,53,0.7),
	na-black-40: #6b6d71,
	na-black-30: #c0c1c3,
	na-black-10: #e0e0e1,
	na-white: #ffffff,
	shadow: rgba(0, 0, 0, 0.25),
	overlay: rgba(0, 0, 0, 0.2)
);

/*
 * Color palette usage:
 * background-color: palette-get(cinnabar-red);
 *
 *
 */

@function palette-get($key) {
	@return map-get($_color-palette, $key);
}


/*
 * Sets css property passed in to approproate color based on oti exception class
 * usage:
 * @include set-color(background-color);
 *
 */
@mixin set-color ($prop) {
	#{$prop}: palette-get(na-turquoise);
	.oti & {
		#{$prop}: palette-get(oti-blue);
	}
}

@mixin set-light-color ($prop) {
	#{$prop}: palette-get(na-light-turquoise);
	.oti & {
		#{$prop}: palette-get(oti-light-blue);
	}
}
