.container {
	/*min-height:100%;*/
	padding-top:$mobile-header-height;
	display: table;
	width:100%;
	height:100%;
	@include desktop-header {
		padding-top:0px;
	}

	@include expanded-header {
		padding-top:0px;
	}
	
}

.sidemenu-container {
	background-color: palette-get(na-white);
	width:100%;
	vertical-align:top;
	/*padding-top:$mobile-header-height;*/

	@include desktop-header {
		height:100%;
		display: table-cell;
		width: $max-sidemenu-width;
		top:0;
		bottom:0;
		left:0;
	}
}

.content-container {
	height:100%;
	vertical-align:top;
	display: table-cell;
	background-color: palette-get(na-white);
	/*padding-top:$mobile-header-height;*/
	/*padding: $desktop-padding;*/
	/*background-color: palette-get(na-white);*/

	@include desktop-header {
		padding: $desktop-padding;
		padding-bottom: 0px;
	}
	@include expanded-header {
		padding: 0px $desktop-padding;
	}


	&.has-sidemenu {
		@include desktop-header {
			padding-top: $desktop-padding;
			display:table-cell;
			width: -webkit-calc(100% - #{$max-sidemenu-width});
		  	width:    -moz-calc(100% - #{$max-sidemenu-width});
		 	width:         calc(100% - #{$max-sidemenu-width});
			
		}
	}
}

.breadcrumb-social-media-container {
	$container-height: 25px;
	$local-gutter: calc((#{$program-logo-height} - #{$container-height})/2) ;
	height: $container-height;
	margin-bottom: $local-gutter;
	margin-top: $local-gutter;
	display: none;
	max-width: $max-site-width - $max-sidemenu-width - 2*$desktop-padding;

	@include desktop-header {
		display: block;
	}
	@include expanded-header {
		display: block;
	}

	.columns {
		padding: 0px;
		height: 25px;
	}

	.social-icons {
		float:right;
	}
}

.breadcrumb-container {
  height: 100%;
  width: calc(100% - 220px);
  max-width: $max-site-width - $max-sidemenu-width - 2*$desktop-padding - 220px;
  float: left;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
}

.hero-grid-container {
	padding-left: 0px;
	padding-right: 0px;
}

.picture-link-container {
	height: 100%;
	& > .columns {
		padding: $mobile-padding;
		padding-bottom: 0px;
		&:first-child {
			padding-top: 0px;
		}

		&:last-child {
			padding-bottom: 0px;
		}
	}

	@include desktop-header {
		& > .columns {
			padding-left: 0px;
			padding-right: 0px;

			@include breakpoint(large) {
				padding: 10px;

				&:first-child {
					padding-left: 0px;
				}

				&:last-child {
					padding-right: 0px;
				}
			}
		}
	}

	@include expanded-header {
		& > .columns {
			padding-left: 0px;
			padding-right: 0px;

			@include breakpoint(large) {
				padding: 10px;

				&:first-child {
					padding-left: 0px;
				}

				&:last-child {
					padding-right: 0px;
				}
			}
		}
	}
}

.border-panel-container {
	& > .columns {
		padding: $desktop-padding/2 $mobile-padding;

		&:first-child {
			padding-top: 0px;
		}

		&:last-child {
			padding-bottom: 0px;
		}
	}

	@include desktop-header {
		& > .columns {
			padding-left: 0px;
			padding-right: 0px;

			@include breakpoint(large) {
				padding: 0px $desktop-padding/2;

				&:first-child {
					padding-left: 0px;
				}

				&:last-child {
					padding-right: 0px;
				}
			}
		}
	}

	@include expanded-header {
		& > .columns {
			padding-left: 0px;
			padding-right: 0px;
	
			@include breakpoint(large) {
				padding: 0px $desktop-padding/2;

				&:first-child {
					padding-left: 0px;
				}

				&:last-child {
					padding-right: 0px;
				}
			}
		}
	}
}
	
.hero-grid-container {
	padding-left: 0px;
	padding-right: 0px;
}

.post-header-container {
	margin-bottom: $desktop-padding;
	.caption {
		padding-left: 5px;

		@include desktop-header {
			padding-left: 0px;
		}
		
		@include expanded-header {
			padding-left: 0px;
		}
	}
}

.post-container {
  	padding-top: 0px;
  	padding-left: $mobile-padding;
  	padding-right: $mobile-padding;
  	padding-bottom: $mobile-padding;

  	@include breakpoint(medium) {
  		padding: 0px $desktop-padding;
  	}

  	@include desktop-header {
  		padding: 0px 0px $desktop-padding 0px;
  		max-width: $max-body-width;
  	}
  	@include expanded-header {
  		padding: 0px 0px $desktop-padding 0px;
  		max-width: $max-body-width;
  	}
}

.book-container {
	width: 100%;
	padding-top: 30px;
	padding-left: $mobile-padding;
	padding-bottom: $desktop-padding;

	@include desktop-header {
		padding-top: 15px;
		padding-left: 0px;
	}

	@include expanded-header {
		padding-top: 10px;
		padding-left: 0px;
	}
}

.tags-container {
	margin-bottom: $desktop-padding;
}

