.sidemenu-container {
	width:100%;
	height:100%;
	position:absolute;
	float:left;

	@include desktop-sidemenu {
		width: $max-sidemenu-width;
	}
}

.content-container {
	width: 100%;
	height: 100%;

	&.has-sidemenu {
		padding-top:$mobile-header-height;

		@include desktop-sidemenu {
			padding-left: $max-sidemenu-width;
			padding-top: 0px;
		}
	}
}
