.container {
	/*min-height:100%;*/
	
	/*position: relative;*/
	width:100%;
	height:100%;
	@include desktop-header {
		display:table;
		
	}
	
}

.sidemenu-container {
	background-color: palette-get(na-white);
	width:100%;

	@include desktop-header {
		height:100%;
		display: table-cell;
		width: $max-sidemenu-width;
		top:0;
		bottom:0;
		left:0;
	}
}

.content-container {
	
	height:100%;
	padding-top:$mobile-header-height;
	/*padding: $desktop-padding;*/
	/*background-color: palette-get(na-white);*/

	@include desktop-header {
		padding: $desktop-padding;
	}
	@include expanded-header {
		padding: 0px $desktop-padding;
	}


	&.has-sidemenu {
		@include desktop-header {
			padding-top: $desktop-padding;
			display:table-cell;
			width: -webkit-calc(100% - #{$max-sidemenu-width)};
			  width:    -moz-calc(100% - #{$max-sidemenu-width)});
			  width:         calc(100% - #{$max-sidemenu-width});
			
			/*position:relative; */
			/*margin-left: $max-sidemenu-width;*/
			/*float:right;*/
			/*padding-top: 0px;*/
		}
	}
}

.breadcrumb-social-media-container {
	/*@include desktop-sidemenu {
		padding: 30px 0px;
	}*/
	&__content {
		height: 48px;
		position: relative;
		top: 10px;

		@include desktop-header {
			height: 60px;
		}

		& > .breadcrumb > li , & > .breadcrumb > li > a {
			color: grey;
		}
	}
}

.border-panel-container {
	@include breakpoint(medium) {
		padding: 10px 0px 10px 0px;
		
	}
	@include breakpoint(large) {
		padding: 0px 10px 0px 10px;
	}
}

.hero-grid-container {
	padding-left: 0px;
	padding-right: 0px;
}

.post-container {
	max-width: $max-body-width;
  	padding-top: $desktop-padding;
  	padding-left: $mobile-padding;
  	padding-right: $mobile-padding;

  	@include desktop-header {
  		padding-left:0px;
  		padding-right:0px;
  	}
}