// A section within the wrapper, providing standard spacing between UI elements on the page.
.section {

	margin-top: $desktop-padding;

	@include clearfix;

	&:first-of-type { margin-top: 0; }
	/*&:last-of-type { margin-bottom: $pad; }*/

	// Modifier class that produces a centered section with a maximum width.
	&--fixed-width {
		width: 100%;
		max-width: $max-site-width;
		margin-left: auto;
		margin-right: auto;
	}

	.columns {
		margin: $gutter 0;
		&:first-of-type { margin-top: 0; }
		&:last-of-type { margin-bottom: 0; }

		padding-left:0px;
		padding-right: 0px;
		@include breakpoint(small) {
			margin: 0;
		}
	}

}
