.timeline__split-button {
	color: $sub-color;
	font-size: 14px;
	border-left: 2px solid palette-get(na-black-10);
	border-top: 2px solid palette-get(na-black-10);
	border-bottom: 2px solid palette-get(na-black-10);
	border-right: none;
	padding: 5px 10px;
	cursor: pointer;

	&:last-child {
		border-right: 2px solid palette-get(na-black-10);
	}

	&.active {
		color: palette-get(na-black) !important;
		border: 2px solid palette-get(na-black) !important;
		border-right: none;
		background-color: white !important;
		cursor: auto !important;
		pointer-events: none !important;
	}

	&:hover {
		color: palette-get(na-white);
		background-color: palette-get(na-black);
		border: 2px solid palette-get(na-black);
		border-right: none;
	}
}

.timeline__split-button-container {
	max-width: $max-body-width + 2*$desktop-padding;
	margin-left: auto;
	margin-right: auto;
	padding: 0px $desktop-padding 15px;

	.list-view & {
		padding-bottom: 0px;
	}
}