$subtext-size: .9rem;
$sub-color: #b1b1b4;
$desktop-next-prev-width: 120px;
@mixin timeline-subtext {
	color: $sub-color;
	font-size: $subtext-size;
}

.timeline{
		border-top: 1px solid color(black);
		border-bottom: 1px solid color(black);
}

.block-timeline {
	position: relative;
	z-index: 1;
	margin-top: 60px;
	margin-bottom: 60px;

	padding-bottom: 40px !important;

	@include media-breakpoint(desktop){
		width: 150%;
		margin-left: -25%;
	}
}



@import 'main';
@import 'event';
@import 'nav';
@import 'next-prev';
@import 'title-block';
@import 'see-all-button';
@import 'category-legend';
@import 'split-button';
