$max-site-width: 1350px;
$max-body-width: 750px;
$max-sidemenu-width: 300px;

$thick-border-width: 4px;

$mobile-header-height: 70px;
$desktop-header-height: 78px;

$mobile-padding: 10px;

$desktop-padding: 25px;
