$max-site-width: 1350px;
$max-body-width: 750px;
$max-sidemenu-width: 250px;

$thick-border-width: 4px;

$mobile-header-height: 70px;
$desktop-header-height: 78px;
$expanded-header-height: 155px;

$mobile-padding: 10px;
$mobile-menu-item-padding: 20px;
$mobile-menu-item-height: 60px;

$desktop-padding: 25px;


/*breakpoints*/

$desktop-header-foldup: 945px;
$expanded-header-foldup: 750px;

$desktop-show-support: 1045px;
$expanded-show-support: 850px;