$max-site-width: 1350px;

$max-body-width: 800px;
$max-sidemenu-width: 250px;

$thick-border-width: 4px;

$mobile-header-height: 70px;
$desktop-header-height: 78px;
$expanded-header-height: 155px;

$mobile-padding: 25px;
$mobile-menu-item-padding: 20px;
$mobile-menu-item-height: 60px;

$desktop-padding: 25px;

$standard-border: 2px solid palette-get(na-black-10);

/*breakpoints*/

$desktop-header-foldup: 965px;
$expanded-header-foldup: 775px;

$desktop-show-support: 1062px;
$expanded-show-support: 867px;

$home-border-panel-foldup: 400px;

$mini-logo-breakpoint: 350px;

/*posts*/

$std-post-header-height: 250px;

/* misc */

$program-logo-width: 165px;
$program-logo-height: 62px;

/*content-grid*/

$pagination-width: 200px;
$default-input-height: 46px;
