$global-lineheight: 1.65;

$body-font-family: 'Simplon';

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1320px,
  xxlarge: 1440px,
);

$button-background: palette-get(na-black);
/*$button-background-hover: palette-get(na-turquoise);*/
$button-margin: 0;

$button-sizes: (
  tiny: rem-calc(12),
  small: rem-calc(14),
  default: rem-calc(16),
  large: rem-calc(18),
);

// $button-padding: 0.65rem;

$grid-column-align-edge: false;

$gutter: 20px;

$grid-column-responsive-gutter: (
  small: $gutter,
  medium: $gutter,
);

// Overrides the maximum width a row can take on.
$grid-row-width: rem-calc($max-site-width);

$breadcrumbs-margin: 0;
$breadcrumbs-item-font-size: rem-calc(16);
$breadcrumbs-item-color: palette-get(na-black);
// $breadcrumbs-item-color-current: $black !default;
// $breadcrumbs-item-color-disabled: $medium-gray !default;
// $breadcrumbs-item-margin: 0.75rem !default;
$breadcrumbs-item-uppercase: false;
$breadcrumbs-item-slash: true !default;

$input-background: #fff;
$input-background-focus: #fff;

/*$input-color: palette-get(na-black-10);*/
$input-color-focus: palette-get(na-black);

$input-height: 35px;
$input-font-size: rem-calc(16);

/*$input-border: 2px solid palette-get(na-black-10);*/
/*$input-border-focus: 2px solid palette-get(na-black-10);*/
$input-border: none;
$input-border-focus: none;

$input-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
$input-shadow-focus: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

$form-spacing: 1.73rem;//1.375rem;

$anchor-color: palette-get(na-black);
/*$anchor-color-hover: palette-get(na-turquoise);*/

$paragraph-lineheight: 1.65;
$paragraph-color: palette-get(na-black);

$blockquote-color: palette-get(na-black);
// $blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 4px solid palette-get(na-black);

$primary-color: palette-get(na-black);
$secondary-color: palette-get(na-turquoise);

$menu-margin: 0px;
$menu-item-padding: 0px 0px;

$accordionmenu-arrows: false;

$tab-background-active: palette-get(na-black-10);
$tab-content-background: white;
$tab-content-border: none;
$tab-item-background-hover: white;
$tab-content-padding: 0px;
$tab-item-font-size: 16px;
