<section class='container container--wide sm-no-padding'>
	<div class="program-heading scroll-target">
		<div class="program-heading__heading-wrapper">
			<h1 class="program-heading__heading">{{ page.name }}<i class="program-heading__mobile-menu-toggle"></i></h1>
			<div class="program-heading__mobile-menu">
				{% include 'components/react/program-mobile-menu.html' %}
				{% include 'components/js/program-mobile-menu.html' %}
			</div>
		</div>
		<p class="subheading--h1">
			{% firstof page.short_description 'Bringing to the table win-win survival strategies to ensure proactive domination.' %}
			<span class="program-heading__button-wrapper">
				<a class="program-heading__button button transparent gray" href="{{page.about_us_page.url}}">
				Read More
				</a>
			</span>
		</p>
	</div>
	<header class="program-header">
		<nav class="header__nav">
			<div class="header__nav__dropdown-list">
				{% include './program_header_dropdown_list.html' %}
			</div>
		</nav>
	</header>
	{% include 'components/story_grid.html' %}

	{% if featured_stories %}
		{% include 'components/featured_stories.html' with stories=featured_stories %}
	{% endif %}
</section>
