{% extends "program_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load utilities %}

{% block body_class %}template-programhomepage{% endblock %}
{% block sidemenu_status %}has_sidemenu{% endblock %}

{% block content %}
<section class='container container--wide'>
	<div class="program-heading">
		<h1 class="program-heading__heading">{{ page.name }}</h1>
		<p class="program-heading__subheading subheading--h1">
			{% firstof page.short_description 'Bringing to the table win-win survival strategies to ensure proactive domination.' %}
			<a class="program-heading__button button transparent gray" href="{{page.about_us_page.url}}">
				Read More
			</a>
		</p>
	</div>
	<header class="program-header">
		<nav class="header__nav">
			<div class="header__nav__dropdown-list">
				{% include './program_header_dropdown_list.html' %}
			</div>
		</nav>
	</header>
	{% include 'components/story_grid.html' %}

	{% if featured_stories %}
		{% include 'components/featured_stories.html' with stories=featured_stories %}
	{% endif %}
</section>


	<!-- <div class='row border-panel-container'>
	{% if page.feature_carousel %}
		{% include 'components/feature_carousel.html' with items=page.feature_carousel %}
		<div class='col-sm-12 col-lg-6'>
	{% else %}
		<div class='small-12 large-12 columns'>
	{% endif %}

		</div>
	</div> -->

<section class="container container--full-width">

	<div class='panel'>
		<h1>About {{ page.name }}</h1>
		<p>{{ page.description }}</p>
		{% if page.about_us_page %}
			<div class='panel__link'>
				<a href='{{ page.about_us_page.url }}' class='button black'>Read our Story</a>
			</div>
		{% endif %}
	</div>
</div>

{% endblock %}
