<div class="header__nav__dropdown-list__dropdown">
  <a class="header__nav__dropdown-list__dropdown__main-link box">Projects</a>
  <div class="header__nav__dropdown-list__dropdown__links box">
  </div>
</div>
<div class="header__nav__dropdown-list__dropdown">
  <a class="header__nav__dropdown-list__dropdown__main-link box">Topics</a>
  <div class="header__nav__dropdown-list__dropdown__links box">
  </div>
</div>
<div class="header__nav__dropdown-list__dropdown">
  <a href="/events" class="header__nav__dropdown-list__dropdown__main-link no-drop">Publications</a>
</div>
<div class="header__nav__dropdown-list__dropdown">
  <a href="" class="header__nav__dropdown-list__dropdown__main-link no-drop">Events</a>
</div>
<div class="header__nav__dropdown-list__dropdown">
  <a href="" class="header__nav__dropdown-list__dropdown__main-link no-drop">Fellowships</a>
</div>
<div class="header__nav__dropdown-list__dropdown">
  <a href="" class="header__nav__dropdown-list__dropdown__main-link no-drop">About</a>
</div>
<div class="header__nav__dropdown-list__dropdown">
  <a href="" class="header__nav__dropdown-list__dropdown__main-link no-drop">Subscribe</a>
</div>
