.footer {
  $pad: 20px;
  $link-pad: 16px;
  max-width: $max-site-width - $desktop-padding*2;
  margin: auto;
  padding: $pad;
  @include clearfix;
  background-color: white;
  position:relative;
  border-top: $standard-border;
  margin-top: $desktop-padding;

  p,
  a {
    color: palette-get(na-black-70);
  }
  a {
    margin: 0 $link-pad;
    &:first-of-type {
      margin-left: 0;
    }
    
    &:hover {
      opacity: 1;
    }
  }
  &__main-nav,
  &__info,
  &__social-nav {
    ul {
      margin: 12px 0;
    }
    text-align: center;
  }

  &__info {
    padding-left: $pad;
  }
  @include expand-footer {
    padding: $pad 0px;
    ul {
      margin: 0;
    }
    &__main-nav {
      $w: 500px;
      width: $w;
      position: absolute;
      text-align: center;
      left: calc(50% - #{$w / 2} + 45px);
      top: $pad + 0;
    }
    &__info {
      float: left;
      p,
      a {
        margin: 0;
      }
    }
    &__social-nav {
      float: right;
    }
  }
}
