.footer {
  $pad: 20px;
  $link-pad: 16px;
  width: 100%;
  
  
  padding: $pad;
  @include clearfix;
  background-color: white;
  position:relative;
  border-top: $standard-border;
  margin-top: $desktop-padding;

  &__content {
    width: 100%;
    height: 100%;
    max-width: $max-site-width;
    margin: auto;
    padding: 0px $desktop-padding;
  }

  .columns {
    padding: 0px;
  }

  p,
  a {
    color: palette-get(na-black-70);
  }
  a {
    margin: 0 $link-pad;
    &:first-of-type {
      margin-left: 0;
    }
    
    &:hover {
      opacity: 1;
    }
  }
  &__main-nav,
  &__info,
  &__social-nav {
    ul {
      margin: 12px 0;
    }
    text-align: center;
  }

  &__info {
  }
  @include expand-footer {
    padding: $pad 0px;
    ul {
      margin: 0;
    }
    &__main-nav {
      $w: 500px;
      width: $w;
      text-align: center;
    }
    &__info {
      float: left;
      p,
      a {
        margin: 0;
      }
    }
    &__social-nav {
      float: right;

      li:last-child {
        a {
          margin-right: 0;
        }
      }
    }
  }
}
